<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{${message}})}"></head>
<body class="theme-default">
<div id="main" class="main">
  <!-- GNB -->
  <div th:replace="~{site/layout :: gnb}"></div>

  <!-- Breadcrumb -->
  <div th:replace="~{site/layout :: breadcrumb}"></div>

  <div class="page-wrap-outer">
    <div class="site-setting-wrap">
      <div class="row-fluid">
        <!-- Sidebar -->
        <div th:replace="~{site/layout :: sidebar('mail')}"></div>

        <!-- Content Area -->
        <div class="span10">
          <div class="title_area">
            <h2 class="pull-left" th:text="#{${message}}">메일 발송</h2>
          </div>
          
          <div th:if="${errorMessage}" class="alert alert-error">
            <p th:text="#{site.mail.fail}"></p>
            <p th:utext="${#messages.msgOrNull(errorMessage) ?: errorMessage}"></p>
          </div>
          
          <div th:if="${sended}" class="alert alert-success" th:text="#{site.mail.sended}">
          </div>
          
          <div th:if="${notConfiguredItems != null and notConfiguredItems.size() > 0}" class="alert alert-error">
            <p th:utext="#{site.mail.notConfigured('/admin/mailconf')}"></p>
            <ul>
              <li th:each="item : ${notConfiguredItems}" th:text="${item}"></li>
            </ul>
          </div>
          
          <form id="mailForm" method="post" th:action="@{/sites/mail}" class="form-horizontal">
            <div class="control-group">
              <label name="from" class="control-label span3" th:text="#{site.mail.from}">보내는 메일 주소</label>
              <div class="controls">
                <input type="text" name="from" th:value="${sender}" required="" th:placeholder="#{site.mail.fromPlaceholder}" class="span4">
              </div>
            </div>
            
            <div class="control-group">
              <label name="to" class="control-label" th:text="#{site.mail.to}">받는 사람</label>
              <div class="controls">
                <input type="text" class="span4" name="to" required="" th:placeholder="#{site.mail.toPlaceholder}">
              </div>
            </div>
            
            <div class="control-group mr10">
              <label name="subject" class="control-label" th:text="#{site.mail.subject}">제목</label>
              <div class="controls">
                <input type="text" name="subject" class="span12">
              </div>
            </div>
            
            <div class="control-group mr10">
              <label name="body" class="control-label" th:text="#{site.mail.body}">본문</label>
              <div class="controls">
                <textarea id="body" name="body" rows="16" class="span12 input-xlarge textbody"></textarea>
              </div>
            </div>
            
            <div class="span12 mail-btn-wrap">
              <button type="submit" class="ybtn ybtn-primary">
                <strong th:text="#{site.mail.send}">발송</strong>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{site/layout :: footer}"></footer>
<th:block th:replace="~{site/layout :: scripts}"></th:block>
</body>
</html>
