@(title:String, project:Project, targetType:String)

@getMenuType(target:String) = @{
    target match {
        case "issue_post" => utils.MenuType.ISSUE
        case "board_post" => utils.MenuType.BOARD
        case "milestone" => utils.MenuType.MILESTONE
        case _ => utils.MenuType.PROJECT_HOME
    }
}

@getReturnURL(target:String) = @{
    target match {
        case "issue_post" => routes.IssueApp.issues(project.owner, project.name, "all")
        case "board_post" => routes.BoardApp.posts(project.owner, project.name)
        case "milestone" => routes.MilestoneApp.milestones(project.owner, project.name)
        case _ => "javascript:history.back();"
    }
}

@getMessage(target:String) = @{
    if(target){
        Messages("error.notfound." + target)
    } else {
        Messages("error.notfound")
    }
}

@projectLayout(title, project, utils.MenuType.NONE) {
@projectMenu(project, getMenuType(targetType), "")
<div class="project-page-wrap">
    <div class="error-wrap">
        <i class="ico ico-err2"></i>
        <p>@getMessage(targetType)</p>
        <a href="@getReturnURL(targetType)" class="ybtn ybtn-primary">@Messages("button.list")</a>
    </div>
</div>
}
