@(title:String, project:Project, targetType:String)

@getMenuType(target:String) = @{
    target match {
        case "issues" => utils.MenuType.ISSUE
        case "post" => utils.MenuType.BOARD
        case _ => utils.MenuType.PROJECT_HOME
    }
}

@getReturnURL(target:String) = @{
    target match {
        case "issues" => routes.IssueApp.issues(project.owner, project.name, "all")
        case "post" => routes.BoardApp.posts(project.owner, project.name)
        case _ => "javascript:history.back();"
    }
}

@getMessage(target:String) = @{
    if(target){
        Messages("error.notfound." + target)
    } else {
        Messages("error.notfound")
    }
}

@projectLayout(title, project, utils.MenuType.NONE) {
<div class="page">
    @projectMenu(project, getMenuType(targetType), "")
    <div class="error-wrap">
        <i class="ico ico-err2"></i>
        <p>@getMessage(targetType)</p>       
        <a href="@getReturnURL(targetType)" class="ybtn ybtn-primary">@Messages("button.list")</a>
    </div>
</div>
}