@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@import play.data.Form
@import org.apache.commons.lang3.StringUtils
@(title:String, form: Form[Posting], project:Project, isAllowedToNotice:Boolean, preparedPostBody:String = "")

@import utils.AccessControl._
@import utils.TemplateHelper._
@import utils.HtmlUtil._
@import utils.LineEnding._
@import models.enumeration._

    @implicitField = @{
        helper.FieldConstructor(simpleForm)
    }

    @issueTemplate = @{
        requestHeader.getQueryString("issueTemplate")
    }

    @titleMessage = @{
        if(!requestHeader.getQueryString("readme").equals(None)) {
            "Update README.md"
        } else if(!issueTemplate.equals(None)) {
            "ISSUE_TEMPLATE.md: Project Issue Template"
        }
    }

    @path = @{
        requestHeader.getQueryString("path")
    }

    @branch = @{
        requestHeader.getQueryString("branch")
    }

    @isEdit = @{
        !requestHeader.getQueryString("edit").equals(None)
    }

@projectLayout(title, project, utils.MenuType.BOARD) {
@projectMenu(project, utils.MenuType.BOARD, "main-menu-only")
<div class="page-wrap-outer">
  <div class="project-page-wrap">
    <form action="@routes.BoardApp.newPost(project.owner, project.name)" method="post" enctype="multipart/form-data" class="nm">
      <div class="content-wrap frm-wrap">
        <dl>
          <dd>
            @defining(form.errors().get("title")) { errors =>
              <input type="text" id="title" autocomplete="off" name="title" class="zen-mode text title @if(errors != null) {error}" maxlength="250" tabindex="1" value="@titleMessage" placeholder="@if(path.equals(None)){@Messages("title")}else{@Messages("code.commitMsg")}"/>
              @if(errors != null) {
                <div class="message">
                @for(error <- errors) {
                  <div>@Messages(error.message)</div>
                }
                </div>
              }
            }
          </dd>
            <dd>
            @if(!issueTemplate.equals(None)){
              <div class="attach-wrap">
                <span class="help help-droppable">@Messages("issue.template.no.attachment.allow")</span>
              </div>
            }
              @if(!path.equals(None)){
                <div class="file-path-wrap">
                  <span class="help file-path">@branch: /@path @if(!isEdit){<input type="text" name="new-file-name" class="new-file-name" value="" placeholder="filename.." tabindex="2">}</span>
                </div>
              }
            </dd>
          <dd style="position: relative;">
            @common.editor("body", preparedPostBody, "tabindex=3")
          </dd>
        </dl>
          @** fileUploader **@
        @if(issueTemplate.equals(None) && path.equals(None)) {
          @if(!UserApp.currentUser.isAnonymous) {
            @common.fileUploader(ResourceType.BOARD_POST, null)
          }
        }
        @** end of fileUploader **@

        <div class="right-txt mt10 mb10">
          @if(isAllowedToNotice && issueTemplate.equals(None) && path.equals(None)){
          <label class="checkbox">
            <input type="checkbox" id="notice" name="notice">
            @Messages("post.notice.label")
          </label>
          }

          <input type="hidden" id="issueTemplate" name="issueTemplate" value="@issueTemplate">
          <input type="hidden" id="branch" name="branch" value="@branch">
          <input type="hidden" id="path" name="path" value="@path">
          <input type="hidden" id="lineEnding" name="lineEnding" value="@findLineEnding(preparedPostBody)">
          @if(isProjectResourceCreatable(UserApp.currentUser(), project, ResourceType.COMMIT)){
            @if(project.isGit && !requestHeader.getQueryString("readme").equals(None)){
            <label class="checkbox">
              <input type="checkbox" id="readme" name="readme" @boolToCheckedString(!requestHeader.getQueryString("readme").equals(None))>
              @Messages("post.readmefy")
            </label>
            }
          }
        </div>

        <div class="actions">
          <button class="ybtn ybtn-success" tabindex="3">@Messages("button.save")</button><!--
         --><a href="javascript:history.back();" class="ybtn" tabindex="4">@Messages("button.cancel")</a>
        </div>
      </div>
    </form>
  </div>
</div>

@common.markdown(project)

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/atjs/jquery.atwho.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/atjs/jquery.caret.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/atjs/jquery.atwho.js")"></script>
<script type="text/jAvascript" src="@routes.Assets.at("javascripts/common/yona.TitleHeadAutoCompletion.js")"></script>
<script type="text/javascript">
$(function(){
    $yobi.loadModule("board.Write", {
        "sMode"     : "new",
        "elTextarea": 'textarea[data-editor-mode="content-body"]'
    });

    yobi.Mention({
        "target": 'textarea[id^=editor-]',
        "url"   : "@Html(routes.ProjectApp.mentionList(project.owner, project.name).toString())"
    });

    // Followings are used for online commit
  @if(!path.equals(None)) {
    var textarea = $(".textarea-box > textarea");
    if (textarea.val() !== "") {
        textarea.css("overflow", "hidden");
        textarea.css("height", "1px");
        var newHeight = (25 + textarea.prop('scrollHeight'));
        var minHeight = 300;
        console.log(newHeight);
        textarea.css("height", (minHeight > newHeight ? minHeight: newHeight) + "px");
        textarea.css("overflow", "auto");
    }

    $(".new-file-name").on("keyup", function () {
        $("#path").val("@path" + $(this).val());
    });

    $(".project-menu-gruop > li").removeClass("active");
    $(".code-menu").addClass("active");
  }

    yonaTitleHeadModule({
        "target": 'input[id=title]',
        "url"   : "@api.routes.ProjectApi.titleHeads(project.owner, project.name)"
    });
});
</script>
}
