@(title:String, form:Form[Posting], project:Project, isAllowedToNotice:Boolean)

@import scala.collection.Map
@import utils.TemplateHelper._
@import models.enumeration._
@implicitField = @{ helper.FieldConstructor(simpleForm) }

@projectLayout(title, project, utils.MenuType.BOARD) {
@projectMenu(project, utils.MenuType.BOARD, "main-menu-only")
<div class="page-wrap-outer">
    <div class="project-page-wrap">
    	<form action="@routes.BoardApp.newPost(project.owner, project.name)" method="post" enctype="multipart/form-data" class="nm">
    	<div class="content-wrap frm-wrap">
    		<dl>
    			<dt>
    				<label for="title">@Messages("title")</label>
    			</dt>
    			<dd>
    				@defining(form.errors().get("title")) { errors =>
    				<input type="text" id="title" name="title" class="zen-mode text title @if(errors != null) {error}" maxlength="250" tabindex="1" />
    					@if(errors != null) {
    						<div class="message">
    						@for(error <- errors) {
    							<div>@Messages(error.message)</div>
    						}
    						</div>
    					}
    				}
    			</dd>

                <dd style="position: relative;">
                    @common.editor("body", "", Map("tabindex"->"2", "id"->"body"))
    			</dd>

    			@if(isAllowedToNotice){
    			<dd class="right-txt">
    				<input type="checkbox" id="notice" name="notice" class="checkbox" /><!--
    			 --><label for="notice" class="label-public">@Messages("post.notice.label")</label>
    			</dd>
    			}
    		</dl>

            @** fileUploader **@
            @if(!UserApp.currentUser.isAnonymous) {
                @common.fileUploader(ResourceType.BOARD_POST, null)
            }
            @** end of fileUploader **@

    		<div class="actions">
    			<button class="ybtn ybtn-success" tabindex="3">@Messages("button.save")</button><!--
    		 --><a href="javascript:history.back();" class="ybtn" tabindex="4">@Messages("button.cancel")</a>
    		</div>

    	</div>
    	</form>
    </div>
</div>

@common.markdown(project)

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mentionjs/mention.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/mentionjs/mention.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
	$yobi.loadModule("board.Write", {
		"sMode"			 : "new",
		"elTextarea"	 : $("#body"),
		"sUploaderAction": "@routes.AttachmentApp.uploadFile()"
	});

    yobi.Mention({
        target:'body',
        url : "@Html(routes.ProjectApp.mentionList(project.owner, project.name).toString())"
    });
});
</script>
}
