@(title:String, form:Form[Posting], project:Project, isAllowedToNotice:Boolean)

@import utils.TemplateHelper._
@import models.enumeration._
@implicitField = @{ helper.FieldConstructor(simpleForm) }

@main(title, project, utils.MenuType.BOARD) {
<div class="page">
	@prjmenu(project, utils.MenuType.BOARD, "main-menu-only")

	<form action="@routes.BoardApp.newPost(project.owner, project.name)" method="post" enctype="multipart/form-data" class="nm">
	<div class="content-wrap frm-wrap">
		<dl>
			<dt>
				<label for="title">@Messages("post.new.title")</label>
			</dt>
			<dd>
				<input type="text" id="title" name="title" class="zen-mode text title" maxlength="250" tabindex="1" />
			</dd>

            <dd style="position: relative;">
                <a href="#" class="go-zen"><i class="s s--zen" style="position: absolute; right: 8px; margin-top: 32px;">Edit in Zen Mode</i></a>
				<textarea id="body" name="body" class="zen-mode text content" markdown="true" tabindex="2" data-label="@Messages("post.error.emptyBody")"></textarea>
			</dd>

			@if(isAllowedToNotice){
			<dd class="right-txt">
				<input type="checkbox" id="notice" name="notice" class="checkbox" /><!--
			 --><label for="notice" class="label-public">@Messages("post.notice.label")</label>
			</dd>
			}
		</dl>

        @** fileUploader **@
        @if(!UserApp.currentUser.isAnonymous) {
            @fileUploader(ResourceType.BOARD_POST, null)
        }
        @** end of fileUploader **@

		<div class="actions">
			<button class="nbtn medium orange" tabindex="3">@Messages("button.save")</button><!--
		 --><a href="javascript:history.back();" class="nbtn medium last" tabindex="4">@Messages("button.cancel")</a>
		</div>

	</div>
	</form>
</div>

@markdown(project)

<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("mention")">
<script type="text/javascript" src="@getJSLink("lib/mentionjs/mention")"></script>
<script type="text/javascript">
$(document).ready(function(){
	$yobi.loadModule("board.Write", {
		"sMode"			 : "new",
		"elTextarea"	 : $("#body"),
		"sUploaderAction": "@routes.AttachmentApp.uploadFile"
	});
	
	$("#title").focus();
    $('.zen-mode').zenForm({theme: 'light'});
    $('.s--zen').tooltip({delay: { show: 500, hide: 100 }, title: '@Messages("title.zenmode")', placement: 'left'});

    yobi.Mention({
        target:'body',
        url : "@Html(routes.ProjectApp.mentionList(project.owner, project.name).toString())"
    });
});
</script>
}
