@(article : models.Article)(replys : List[models.Reply])(replyForm : Form[models.Reply])

@main("상세보기"){
<div id="board_btn_panel">
	<a class="btn" href="">수정</a>
	<a class="btn" href="@routes.BoardApp.delete(article.articleNum)">삭제</a>
	<a class="btn" href="@routes.BoardApp.boardList(1)">목록</a>
</div>
<!-- 메인 글 -->
<div>
	<div class="row">
		<div class="span2"><span class="badge">#@article.articleNum</span></div>
		<div class="span10">
			<h1>@article.title</h1>
			<div>
				<span>@article.writer가 @article.calcPassTime()에 작성함<span> |
				<span>@article.date</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2"><img src="tmp.jpg" width="100" height="100"/></div>
		<div class="span10">
			<p class="well">@article.contents</p>
		</div>
	</div>
	<div>
		<a class="btn" href=""><i class="icon-ok"></i>자동알림</a>
	</div>
</div>
<!-- 여기서 부터 덧글 -->
<div>
	@for(reply <-replys){
	<div class="row">
		<div class="span2"><img src="tmp.jpg" width="100" height="100"/></div>
		<div class="span10">
			<div>
				<span>@reply.writer가 @reply.calcPassTime()에 작성함</span>
				<span>@reply.date</span>
			</div>
			<p>@reply.contents<p>
		</div>
	</div>
	}
</div>
<!-- 댓글 입력 폼 -->
<div>
	@helper.form(routes.BoardApp.saveReply(article.articleNum)){
		@helper.textarea(replyForm("contents"))
		@helper.inputText(replyForm("writer"))
		<input type="submit" class="btn" value="댓글입력"/>
	}
</div>
}
            