@(title:String, project:Project, page:com.avaje.ebean.Page[Posting], param:BoardApp.SearchCondition, notices:List[models.Posting])

@import utils.TemplateHelper._
@import utils.AccessControl._
@import scala.collection.immutable.Map

@urlToList = {@routes.BoardApp.posts(project.owner, project.name, page.getPageIndex + 1)}

@makeFilterLink(fieldName:String, orderBy:String, orderDir:String, fieldText:String) = {
	@if(orderBy.equals(fieldName)) {
		<a href="@urlToList?orderBy=@fieldName&orderDir=@if(orderDir.equals("desc")){asc}else{desc}" class="filter active"><i class="ico btn-gray-arrow @if(orderDir.equals("desc")){ down }"></i>@fieldText</a>
	} else {
	    <a href="@urlToList?orderBy=@fieldName&orderDir=asc" class="filter"><i class="ico btn-gray-arrow"></i>@fieldText</a>
	}
}

@main(title, project, utils.MenuType.BOARD) {
<div class="page">
	@prjmenu(project, utils.MenuType.BOARD, "main-menu-only")

	<div class="header-wrap">
	    <div class="search-wrap board">
	      <div class="inner">
	        <form method="get" id="option_form">
	          <input type="hidden" name="orderBy"  value="@param.orderBy">
	          <input type="hidden" name="orderDir" value="@param.orderDir">
	          <input name="filter" class="text" type="text" placeholder="@Messages("project.searchPlaceholder")" value="@param.filter"><!--
	         --><button type="submit" class="btn search-btn underConstruction">@Messages("post.menu.search")</button>
	      </form>
	    </div>
	  </div>
	</div>

	@if(page.getTotalRowCount == 0){

	<div class="error-wrap">
		<i class="ico ico-err1"></i>
		<p>@Messages("post.is.empty")</p>
	</div>

	} else {

	@if(page.getTotalRowCount > 1){
	<div class="filter-wrap board">
	    <div class="filters">
			@makeFilterLink("createdDate", param.orderBy, param.orderDir, Messages("order.date"))
			@makeFilterLink("numOfComments", param.orderBy, param.orderDir, Messages("order.comments"))
	    </div>
	</div>
	}

	@if(notices != null && notices.size > 0) {
    <div class="notice-wrap bubble-wrap gray">
		<ul class="board-list unstyled">
		@for(post <- notices) {
			<li class="board">
				<div class="num">
					<a href="@routes.BoardApp.post(project.owner, project.name, post.id)">@post.getNumber</a>
				</div>
                <div class="attach-wrap">
                    @if(Attachment.findByContainer(post.asResource).size > 0) {
                        <i class="ico ico-clip"></i>
                    }
                </div>
                <div class="contents">
			<p class="title">
				<a href="@routes.BoardApp.post(project.owner, project.name, post.id)">@post.title</a>
			</p>
			<p class="infos nm">
				by <a href="@routes.UserApp.userInfo(post.authorLoginId)" class="author">@post.authorLoginId</a><!--
					-->&nbsp;<span class="date">@utils.TemplateHelper.agoString(post.ago())</span>
					</p>
                </div>
                <div class="right-panel">
			<div class="comment-wrap">
				<i class="ico ico-comment-bubble"></i> <span class="num">@post.numOfComments</span>
			</div>
			<a href="@routes.UserApp.userInfo(post.authorLoginId)" class="avatar-wrap pull-right"><!--
			--><img src="@User.findByLoginId(post.authorLoginId).avatarUrl" alt="@post.authorName" width="32" height="32">
			</a>
				</div>
			</li>
		}
        </ul>
	</div>
	}

	<ul class="board-list unstyled">
	@for(post <- page.getList()){
		<li class="board">
			<div class="num">
				<a href="@routes.BoardApp.post(project.owner, project.name, post.id)">@post.getNumber</a>
			</div>
			<div class="attach-wrap">
				@if(Attachment.findByContainer(post.asResource).size > 0){
					<i class="ico ico-clip"></i>
				}
			</div>
			<div class="contents">
				<p class="title">
					<a href="@routes.BoardApp.post(project.owner, project.name, post.id)">@post.title</a>
				</p>
				<p class="infos nm">
					by <a href="@routes.UserApp.userInfo(post.authorLoginId)" class="author">@post.authorLoginId</a><!--
				 -->&nbsp;<span class="date">@utils.TemplateHelper.agoString(post.ago())</span>
				</p>
			</div>
			<div class="right-panel">
				<div class="comment-wrap">
					<i class="ico ico-comment-bubble"></i><span class="num">@post.numOfComments</span>
				</div>
				<a href="@routes.UserApp.userInfo(post.authorLoginId)" class="avatar-wrap pull-right"><!--
				 --><img src="@User.findByLoginId(post.authorLoginId).avatarUrl" alt="@post.authorName" width="32" height="32">
				</a>
			</div>
		</li>
		}
	</ul>
  }

	<div class="write-btn-wrap">
		<a href="@routes.BoardApp.newPostForm(project.owner, project.name)" class="nbtn orange medium">@Messages("post.write")</a>
	</div>

	<div id="pagination">
		<!-- pagination.js will fill here. -->
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$hive.loadModule("board.List", {
			"elPagination": $('#pagination'),
			"nTotalPages" : @page.getTotalPageCount
		});
	});
</script>
}
