@(title:String, form:Form[Post], project:Project)

@import utils.TemplateHelper._
@implicitField = @{ helper.FieldConstructor(simpleForm) }

@main(title, project, utils.MenuType.BOARD) {
<div class="page">
  @views.html.prjmenu(project, utils.MenuType.BOARD, "main-menu-only")
  
  <div class="content-wrap">
    
    @helper.form(action=routes.BoardApp.newPost(project.owner, project.name), 'enctype -> "multipart/form-data", 'class->"nm"){
      <div id="warning" class="n-alert hide">
        <div class="n-inner">
          <span class="msg">제목과 본문에 빈칸이 있습니다.</span>
          <a href="#" class="ico btn-delete"></a>
        </div>
      </div>
      <label for="title">
        @helper.inputText(form("title"), 'class->"text title", 'placeholder -> Messages("post.new.title"), 'maxlength -> "250", 'tabindex -> 1)
      </label>
      <label for="content">
        @helper.textarea(form("contents"), 'markdown -> true, 'class->"text content", 'tabindex -> 2)
      </label>
      @if(UserApp.currentUser() != UserApp.anonymous) {
      <div id="upload" resourceType=@ResourceType.BOARD_POST></div>
      }
      <!--
      <div class="content-footer">
        <div class="attach-wrap">
          <div class="thumb-wrap">
            <img src="/images/default-avatar-34.png" class="img-rounded" width="32" height="32" alt="avatar">
          </div>
          <div class="attach-info-wrap">
            <div>
              <span class="progress-num">15%</span>
              <span class="sp-line">&nbsp;</span>
              <strong>total</strong>
              <span class="total-num">50MB</span>
            </div>
            <div class="progress-wrap">
              <div class="progress n4">
                <div class="bar orange" style="width: 40%;"></div>
              </div>
            </div>
            <a href="#!/cancel"><i class="ico btn-cancel"></i></a>
          </div>
          <div class="btn-wrap">
            <div class="ns-btn fake-file-wrap"><i class="ico ico-plus-blue"></i>UPLOAD
              <input type="file" class="file">
            </div>
          </div>
        </div>
        <div class="attached-files-wrap">
          <ul class="attached-files">
            <li class="attached-file"><strong>test-image.jpg(15MB)</strong><a href="#!/delete-attached-file" class="attached-delete"><i class="ico btn-delete"></i></a></li>
            <li class="attached-file"><strong>test-image.jpg(15MB)</strong><a href="#!/delete-attached-file" class="attached-delete"><i class="ico btn-delete"></i></a></li>
            <li class="attached-file"><strong>test-image.jpg(15MB)</strong><a href="#!/delete-attached-file" class="attached-delete"><i class="ico btn-delete"></i></a></li>
          </ul>
        </div>
      </div>-->
      <div class="actions">
        <button class="btn-transparent n-btn orange med">SAVE</button>
        <a href="javascript:history.back();return false;" class="n-btn gray med cancel">CANCEL</a>
      </div>
    }
  </div>
</div>
<script>nforge.require("board.vaildate");</script>

@views.html.markdown()
<script type="text/javascript">
nforge.require('shortcut.submit');
nforge.require('board.new', "@routes.AttachmentApp.newFile");
</script>
}
