@(title:String, form:Form[Post])

@import helper.twitterBootstrap._

@main(title) {
    @helper.form(action=routes.BoardApp.savePost(), 'enctype -> "multipart/form-data"){
    	@helper.inputText(form("title"), '_showConstraints -> false, '_label-> "제목")
    	@helper.textarea(form("contents"), '_showConstraints -> false, '_label->"내용")
    	@helper.inputFile(form("filePath"))
    	<input type="submit" class="btn" value="저장"/>
    	<input type="reset" class="btn" value="다시쓰기"/>
    }
}

            