@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(post:models.Posting, project:Project)

@import utils.JodaDateUtil
@import utils.TemplateHelper._
@defining(User.findByLoginId(post.authorLoginId)){ user =>
<li class="post-item title" href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)">
    <a href="@routes.UserApp.userInfo(user.loginId)" class="avatar-wrap mlarge hide-in-mobile" data-toggle="tooltip" data-placement="bottom" title="@user.loginId">
        <img src="@user.avatarUrl(64)" alt="@user.name" width="32" height="32"/>
    </a>
    <div class="title-wrap">
        @if(post.notice){
            <span class="label label-notice">@Messages("post.notice")</span>&nbsp;
        }
        @if(post.readme){
            <span class="label label-important">README</span>&nbsp;
        } else {
            <span class="post-id">@post.getNumber</span>
        }
        @showHeaderWordsInBracketsIfExist(post.title)
        <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)" class="title">
            @removeHeaderWords(post.title)
        </a>
    </div>
    <div class="infos">
        @if(user.name){
            <a href="@routes.UserApp.userInfo(user.loginId)" class="infos-item infos-link-item" data-toggle="tooltip" data-placement="bottom" title="@user.loginId">
                @user.getDisplayName
            </a>
        } else {
            <span class="infos-item">@Messages("issue.noAuthor")</span>
        }

        <span class="infos-item" data-toggle="tooltip" data-placement="bottom" title="@JodaDateUtil.getDateString(post.createdDate)">
            @agoOrDateString(post.createdDate)
        </span>

        @if(post.numOfComments >0){
        <span class="infos-item item-count-groups">
            @views.html.common.commentCount(routes.BoardApp.post(project.owner, project.name, post.getNumber).toString()+"#comments", post.numOfComments, true)
        </span>
        }
        @for(label <- post.labels) {
            <a href="#" class="label issue-label list-label active" data-category-id="@label.category.id" data-label-id="@label.id">@label.name</a>
        }
    </div>
</li>
}
