@(post:models.Posting, project:Project)
<li class="board">
    <div class="board-id">
        <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)">@post.getNumber</a>
    </div>
    <div class="author-avatar-space">
        <a href="@routes.UserApp.userInfo(post.authorLoginId)" class="avatar-wrap img-rounded"><!--
        --><img src="@User.findByLoginId(post.authorLoginId).avatarUrl" alt="@post.authorName"></a>
    </div>
    <div class="contents">
        <p class="title">
            <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)">
                @if(post.notice == true){<span class="label label-notice">@Messages("post.notice")</span>&nbsp;}
                @post.title
            </a>
        </p>
        <p class="infos nm">
            <a href="@routes.UserApp.userInfo(post.authorLoginId)" class="author">@post.authorName</a><!--
            -->&nbsp;<span class="date">@utils.TemplateHelper.agoString(post.ago())</span>
            @if(post.numOfComments > 0){
             <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)#comments" class="comment-wrap">
                <i class="yobicon-comments"></i> <span class="num">@post.numOfComments</span>
            </a>
            }
            @if(Attachment.findByContainer(post.asResource).size > 0){
            <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)#attachments" class="comment-wrap">
                <i class="yobicon-paperclip vmiddle"></i> <span class="num">@Attachment.findByContainer(post.asResource).size</span>
            </a>
            }
        </p>
    </div>
</li>
