@(post:Post, comments:List[Comment], commentForm:Form[Comment])

@main("상세보기"){
<div class="row">
    <div class="span2 offset10">
	    <div id="board_btn_panel">
	        <a class="btn btn-primary" href="@routes.BoardApp.editPost(post.id)">수정</a>
	        <a data-toggle="modal" href="#deleteConfirm" class="btn">삭제</a>
	        <a class="btn" href="@routes.BoardApp.boardList(1)">목록</a>
	    </div>
	</div>
</div>
<!-- 메인 글 -->
<div>
	<div class="row">
		<div class="span1"><span class="badge">#@post.id</span></div>
		<div class="span11">
			<h1>@post.title</h1>
			<div>
				<span>@post.findWriter()가 @post.calcPassTime()에 작성함<span> |
				<span>@post.date</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span1"><img class="pull-right" src="http://placehold.it/50x50"/></div>
		<div class="span11">
			<div class="well">
				<p>@post.contents</p>
				@if(post.filePath != null){
				<p><a href='@routes.Assets.at("uploadFiles/" + post.filePath)'><i class="icon-download"></i>@post.filePath</a></p>
				}
			</div>
		</div>
        <a class="btn pull-right" href=""><i class="icon-ok"></i>자동알림</a>
	</div>
</div>
<!-- 여기서 부터 덧글 -->
@for(comment <-comments){
<hr/>
<div class="row">
	<div class="span1"><img class="pull-right" src="http://placehold.it/50x50"/></div>
	<div class="span11">
		<div>
			<span>@comment.findWriter()가 @comment.calcPassTime()에 작성함</span> | 
			<span>@comment.date</span>
		</div>
		<p>@comment.contents<p>
		@if(comment.filePath != null){
		<p><a href='@routes.Assets.at("uploadFiles/" + comment.filePath)'><i class="icon-download"></i>@comment.filePath</a></p>
		}
	</div>
</div>
}
<!-- 댓글 입력 폼 -->
<hr/>
<div class="row">
	@helper.form(routes.BoardApp.saveComment(post.id), 'enctype -> "multipart/form-data"){
		<div class="span12">@helper.textarea(commentForm("contents"), '_showConstraints -> false, 'label-> "덧글내용")</div>
		<div class="span6">@helper.inputFile(commentForm("filePath"), '_showConstraints -> false, 'label->"파일첨부")</div>		
		<div class="span6"><input class="btn pull-right" type="submit" value="댓글입력"/></div>
	}
	</div>
</div>


<!--삭제확인상자-->
<div class="modal hide fade" id="deleteConfirm">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>확인</h3>
  </div>
  <div class="modal-body">
    <p>게시글이 삭제되며 영원히 복구할수 없습니다.</p>
    <p>그래도 삭제하시겠습니까?</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="@routes.BoardApp.delete(post.id)">예</a>
    <a href="#" class="btn" data-dismiss="modal">아니오</a>
  </div>
</div>
}
            