@(title:String, project:Project, page:Page[Post], param:Post.Param)

@header(label:String, key:String) = {
    <th>
        <a key="@key" href="@routes.BoardApp.boardList(project.name)">@label</a>
        @if(key == param.key){
        @if(param.order == "desc"){
        <i class="icon-chevron-down"></i>
        } else {
        <i class="icon-chevron-up"></i>
        }
        }
    </th>
}

@main(title, project) {
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <form id="search-form" class="form-search form-inline" method="get">
          <input type="hidden" name="key" value="@param.key">
          <input type="hidden" name="order" value="@param.order">
          <input type="hidden" name="pageNum" value="@param.pageNum">
          <input type="text" name="filter" class="search-query">
          <button type="submit" class="btn"><i class="icon-search"></i></button>
          <a class="btn btn-primary" href="@routes.BoardApp.newPost(project.name)" >새글</a>
        </form>
      </div>    
    </div>  
  </div>

  <div class="row">  
    <div class="span12">
	    <ul class="nav nav-tabs" id="board_list">
	    	<li class="active"><a href="">전체</a></li>
	    </ul>
	    @if(page.getTotalRowCount == 0){
	    <div class="well">
	    	<p>등록된 글이 없습니다.</p>
	    </div>
	    }else{
	    <table class="table table-striped">
	    	<thead>
	    		<tr id="board_header">
	    		    @header("#", "id")
	    		    @header("제목", "title")
	    		    @header("글쓴이", "userId")
	    		    @header("나이", "date")
	    		</tr>
	    	</thead>
	    	<tbody>
	    		@for(post <- page.getList()){
	    		<tr>
	    			<td>@post.id</td>
	    			<td><a href="@routes.BoardApp.post(project.name, post.id)">@post.title [@post.commentCount]</a></td>
	    			<td>@post.authorName</td>
	    			<td>@post.calcPassTime()</td>
	    		</tr>
	    		}
	    	</tbody>
	    </table>
	    }
    </div>
  </div>

  <div class="row">  
    <div class="span6 offset4">
        @pagination(page, 5, "pagination");
    </div>
    <div class="span2">
        <a class="btn pull-right" href=""><i class="icon-ok"></i>자동알림</a>
    </div>
  </div>
  <script>
  
  $("th a").click(function(){
    var key = $(this).attr("key");
    var $input = $("#search-form input[name=key]");
    if(key !== $input.val())
    {
        $input.val(key)
    }
    else
    {
        $input = $("#search-form input[name=order]");
        if($input.val() === "desc")
            $input.val("asc");
        else if($input.val() === "asc")
            $input.val("desc");
    }    
    $("#search-form").submit();
    return false;
  });
  
  $("pagination a").onclick(function(){
	  var $input = $("#search-form input[name=pageNum]");
	  $input.val($(this).attr("pageNum"));
	  $("#search-form").submit();
	  return false;
  });
  </script>
  
}
