@(post:Post, commentForm:Form[Comment],  project:Project)

@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration.ResourceType
@implicitField = @{ helper.FieldConstructor(simpleForm) }

@main("상세보기", project, utils.MenuType.BOARD){
<div class="page board-view">
  @views.html.prjmenu(project, utils.MenuType.BOARD, "main-menu-only")
  
  <div class="board-header">
    <div class="board-id div">@post.id</div>
    <h1 class="title div">@post.title</h1>
    <div class="date div">@utils.TemplateHelper.agoString(post.ago())</div>
  </div>
  <div class="board-body">
    <div class="author-info">
      <a href="@routes.UserApp.userInfo(post.authorLoginId)" class="pull-left img-rounded">
      <img class="user-picture" src="@User.findByLoginId(post.authorLoginId).avatarUrl" width="34" height="34" alt="@post.authorName"></a>
      <div class="media-body">
        <p>
          <a href="@routes.UserApp.userInfo(post.authorLoginId)"><strong>@post.authorLoginId</strong></a> <!--<span class="name">(Loren Brichter)</span>-->
        </p>
        <p class="status">
          <!--Hit <strong class="num">777</strong> -->Comment <strong class="num">@post.commentCount</strong><!-- Like <i class="ico ico-like-small"></i> <strong class="num">522</strong>-->
        </p>
          </div>
      </div>
      <div class="content" markdown>@post.contents</div>
      <div class="attachments" resourceType=@ResourceType.BOARD_POST resourceId=@post.id></div>
      <!--
      <ul class="attaches wm">
        <li class="attach"><i class="ico ico-clip"></i>K23.png (11KB)</li>
        <li class="attach"><i class="ico ico-clip"></i>K23.png (11KB)</li>
        <li class="attach"><i class="ico ico-clip"></i>K23.png (11KB)</li>
      </ul>-->
  </div>
  <div class="board-comment-wrap">
    <div class="comment-header"><strong>Comment</strong> <strong class="num">@post.comments.size()</strong></div>
    <ul class="comments">
      @for(comment <-post.comments){
      <li class="comment">
        <a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="pull-left img-rounded">
        <img class="user-picture" src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="34" height="34" alt="@comment.authorLoginId">
        <div class="media-body">
          @if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
          <a class="pull-right close" href="@routes.BoardApp.deleteComment(project.owner, project.name, post.id, comment.id)">&times;</a>
          }
            <p class="commenter">
                <a href="@routes.UserApp.userInfo(comment.authorLoginId)"><strong>@comment.authorLoginId</strong></a>
                <span class="date"> @utils.TemplateHelper.agoString(comment.ago())</span>
            </p>
            <div class="comment-body" markdown>@comment.contents</div>
            <div class="attachments" resourceType=@ResourceType.BOARD_COMMENT resourceId=@comment.id></div>
            <!--
            <ul class="attaches">
                <li class="attach"><i class="ico ico-clip"></i><a href="/file-down">첨부파일(iabcde-test.exe) <i class="ico ico-blue-dot"></i> Donwload</a></li>
            </ul>-->
        </div>
      </li>
      }
    </ul>
      @if(isCreatable(User.findByLoginId(session.get("loginId")), project, models.enumeration.ResourceType.BOARD_POST)){
      <div class="write-comment-box">
        @helper.form(routes.BoardApp.newComment(project.owner, project.name, post.id), 'class->"nm", 'enctype -> "multipart/form-data"){
          <div class="write-comment-wrap">
            <!-- when the user signed in..
            <textarea class="text comment" name="comment></textarea>
            -->
            <style>
            .write-comment-wrap div[div=preview] {
              font-size: 12px;
               width : 729px; 
               min-height: 80px; 
               margin:0px; 
               display: inline-block;
               vertical-align : middle;
             }
            .write-comment-wrap div{font-size: 10px;}
            </style>
            @helper.textarea(commentForm("contents"), 'class->"text comment", 'markdown->true)
            <button class="comment-btn">COMMENT</button>
            @if(UserApp.currentUser() != UserApp.anonymous) {
            <div id="upload" resourceType=@ResourceType.BOARD_COMMENT></div>
            }
          </div>
        }
      </div>
    }
  </div>
  <div class="board-footer">
      <!--<a href="/add-notification" class="add-btn"><i class="ico ico-plus-blue"></i>자동알림추가</a>-->
      <a href="@routes.BoardApp.posts(project.owner, project.name)" class="n-btn orange small">@Messages("button.list")</a>
      @isAllowed(UserApp.currentUser(), post.asResource(), Operation.DELETE)){
      <a data-toggle="modal" href="#deleteConfirm" class="n-btn black small">@Messages("button.delete")</a>
      }
      @isAllowed(UserApp.currentUser(), post.asResource(), Operation.UPDATE)){
      <a href="@routes.BoardApp.editPostForm(project.owner, project.name, post.id)" class="n-btn blue small">@Messages("button.edit")</a>
      }
  </div>

  <!--삭제확인상자-->
  <div class="modal hide fade" id="deleteConfirm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>확인</h3>
    </div>
    <div class="modal-body">
      <p>게시글이 삭제되며 영원히 복구할수 없습니다.</p>
      <p>그래도 삭제하시겠습니까?</p>
    </div>
    <div class="modal-footer">
      <a class="n-btn red small" href="@routes.BoardApp.deletePost(project.owner, project.name, post.id)">예</a>
      <a href="#" class="n-btn blue small" data-dismiss="modal">아니오</a>
    </div>
  </div>
</div>
@views.html.markdown()
<script type="text/javascript">
  nforge.require('shortcut.submit');
  nforge.require('board.view', "@routes.AttachmentApp.newFile");
</script>
}
