@(title:String, project:Project, page:Page[Post], param:BoardApp.SearchCondition)

@import utils.TemplateHelper._

@header(label:String, key:String) = {
  <th>
    <a key="@key" href="@routes.BoardApp.posts(project.owner, project.name)">@label</a>
    @if(key == param.key){
      @if(param.order == "desc"){
        <i class="icon-chevron-down"></i>
      } else {
        <i class="icon-chevron-up"></i>
      }
    }
  </th>
}

@main(title, project) {
  @pageTitle(project,"Board")
  <div class="header-wrap">
    <div class="search-wrap board">
      <div class="inner">
        <form method="get" id="option_form">
          <input type="hidden" name="key" value="@param.key">
          <input type="hidden" name="order" value="@param.order">
          <input type="hidden" name="pageNum" value="@param.pageNum">
          <input name="filter" class="text" type="text" placeholder="현재 게시글에서 검색" value="@param.filter"><button type="submit" class="btn-transparent search-btn">SEARCH</button>
        </form>
      </div>
    </div>
  </div>
  <div class="filter-wrap board">
    <div class="filters" id="order">
      <a href="#" key="date" class="filter">
        @if(param.key == "date"){
        <i class="ico btn-gray-arrow @if(param.order == "desc"){down}"></i>
        }
        날짜순
      </a>
      <a href="#" key="commentCount" class="filter active">
        @if(param.key == "commentCount"){
        <i class="ico btn-gray-arrow @if(param.order == "desc"){down}"></i>
        }
        댓글순
      </a>
    </div>
  </div>

  @if(page.getTotalRowCount == 0){
    <div class="well">
      <p>등록된 글이 없습니다.</p>
    </div>
  } else {
  <ul class="board-list">
    @for(post <- page.getList()){
    <li class="board">
      <div class="num"><a href="@routes.BoardApp.post(project.owner, project.name, post.id)">@post.id</a></div>
      <div class="attach-wrap"></div>
      <div class="contents">
        <p class="title"><a href="@routes.BoardApp.post(project.owner, project.name, post.id)">@post.title</a></p>
        <p class="infos nm">by <a href="@routes.UserApp.userInfo(post.authorName)" class="author">@post.authorName</a> <span class="date">@utils.TemplateHelper.agoString(post.ago())</span></p>
      </div>
      <div class="right-panel">
        <div class="comment-wrap">
            <i class="ico ico-comment-bubble"></i><span class="num">@post.commentCount</span>
        </div>
        <a href="@routes.UserApp.userInfo(post.authorName)" class="author-avatar img-rounded pull-right"><img src="/assets/images/default-avatar-34.png" width="32" height="32" alt="@post.authorName"></a>
      </div>
    </li>
    }
  </ul>
  }
  @roleCheck(session.get("userId"), project.id, models.enumeration.Resource.BOARD_POST, models.enumeration.Operation.WRITE){
  <div class="write-btn-wrap">
    <a href="@routes.BoardApp.newPost(project.owner, project.name)" class="n-btn blue small">WRITE</a>
  </div>
  }
  @pagination(page, 5, "pagination")
  <script type="text/javascript">
  nforge.require('board.list');
  </script>
}
