<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{title.newProject})}">
</head>
<body class="theme-default">
<div id="main" class="main">
  <div th:replace="~{site/layout :: gnb}"></div>

  <div class="page-wrap-outer">
    <div class="project-page-wrap">
      <div class="form-wrap new-project">
        <form id="newProjectForm" th:action="@{/projectform}" method="POST" class="frm-wrap">
          <legend>
            <span th:text="#{title.newProject}">프로젝트 생성</span>
            <span>
              <small th:text="#{project.import.or} + ' '">또는 </small>
              <a th:href="@{/importform(owner=${currentUser.loginId})}" class="ybtn ybtn-small nm">
                <strong th:text="#{project.import.from.git}">Git 저장소로부터 가져오기</strong>
              </a>
            </span>
          </legend>

          <!-- 에러 메시지 상단 출력 -->
          <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

          <dl>
            <!-- ProjectOwner -->
            <dt>
              <label for="project-owner">
                <span th:text="#{project.owner}">소유자</span>
                <strong class="orange-txt">*</strong>
              </label>
            </dt>
            <dd>
              <select id="project-owner" name="owner" data-toggle="select2" data-format="user" class="mb10" style="min-width: 220px;">
                  <option data-type="user"
                          th:data-avatar-url="${currentUser.avatarUrl ?: '/images/default-avatar-128.png'}"
                          th:value="${currentUser.loginId}"
                          th:text="${currentUser.loginId}"
                          th:selected="${form.owner == currentUser.loginId}">
                    admin
                  </option>
                  <!-- 만약 조직(Group)이 있다면 추가해 줍니다 -->
                  <option th:each="org : ${organizations}"
                          data-type="group"
                          th:data-avatar-url="@{/organizations/{orgId}/logo(orgId=${org.id})}"
                          th:value="${org.name}"
                          th:text="${org.name}"
                          th:selected="${form.owner == org.name}">
                    group
                  </option>
              </select>
            </dd>
            <!-- // -->

            <!-- ProjectName -->
            <dt>
              <label for="project-name">
                <span th:text="#{project.name}">프로젝트 이름</span>
                <strong class="orange-txt">*</strong>
              </label>
            </dt>
            <dd>
              <input id="project-name" type="text" name="name" class="text" maxlength="250"
                     th:value="${form.name}" th:placeholder="#{project.name.placeholder}" required>
            </dd>
            <!-- // -->

            <!-- Description -->
            <dt>
              <label for="description" th:text="#{project.description}">설명</label>
            </dt>
            <dd>
              <textarea id="description" name="overview" class="text textarea.span4" th:text="${form.overview}"></textarea>
            </dd>
            <!-- // -->
          </dl>

          <div class="advanced-options">
            <!-- Access Scope -->
            <div class="row-fluid">
              <div class="span2 right-txt mt10" th:text="#{project.shareOption}">
                공개 설정
              </div>
              <div class="span10">
                <ul class="unstyled project-scopes mt10">
                  <li>
                    <input type="radio" id="public" name="projectScope" value="PUBLIC" class="radio-btn pull-left" th:checked="${form.projectScope.name() == 'PUBLIC'}">
                    <label for="public">
                      <strong class="ml5" th:text="#{project.public}">PUBLIC (공개)</strong>
                      <p class="note" th:text="#{project.public.notice}">
                        로그인하지 않은 사용자도 프로젝트를 볼 수 있습니다.
                      </p>
                    </label>
                  </li>

                  <li id="opt-protected" class="mt10" th:style="${isOwnerOrganization} ? 'display:block;' : 'display:none;'">
                    <input type="radio" id="protected" name="projectScope" value="PROTECTED" class="radio-btn pull-left" th:checked="${form.projectScope.name() == 'PROTECTED'}">
                    <label for="protected">
                      <strong class="ml5" th:text="#{project.protected}">PROTECTED (그룹 공개)</strong>
                      <p class="note" th:text="#{project.protected.notice}">
                        같은 그룹(조직)에 속한 사용자에게만 공개됩니다.
                      </p>
                    </label>
                  </li>

                  <li class="mt10">
                    <input type="radio" id="private" name="projectScope" value="PRIVATE" class="radio-btn pull-left" th:checked="${form.projectScope.name() == 'PRIVATE'}">
                    <label for="private">
                      <strong class="ml5" th:text="#{project.private}">PRIVATE (비공개)</strong>
                      <p class="note" th:text="#{project.private.notice}">
                        지정한 프로젝트 멤버에게만 노출되며 기본 정보만 공개될 수 있습니다.
                      </p>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <!-- // -->
            <hr>
            <!-- VCS -->
            <div class="row-fluid">
              <div class="span2 right-txt mt10">
                <label for="vcs" th:text="#{project.vcs}">
                  저장소 종류
                </label>
              </div>
              <div class="span10 cu-desc">
                <select id="vcs" name="vcs" data-toggle="select2" data-dropdown-css-class="select2-without-searchbox" class="mb10 mt5" style="min-width: 220px;">
                  <option value="GIT" th:selected="${form.vcs == 'GIT'}" th:text="#{project.new.vcsType.git}">Git</option>
                  <option value="SUBVERSION" th:selected="${form.vcs == 'SUBVERSION'}" th:text="#{project.new.vcsType.subversion}">Subversion</option>
                </select>
                <span id="svn" class="ml10 notice" th:style="${form.vcs == 'SUBVERSION'} ? 'display:inline;' : 'display:none;'" th:text="#{project.svn.warning}">
                  Subversion은 pull request 기능을 사용할 수 없습니다.
                </span>
              </div>
            </div>
            <hr>
            <!-- Menu Setting -->
            <div class="row-fluid">
              <div class="span2 right-txt" th:text="#{project.menu.setting}">
                메뉴 설정
              </div>
              <div class="span10">
                  <label for="menuSettingCode" class="bg-radiobtn label-public inline-list">
                    <input type="checkbox" class="radio-btn" id="menuSettingCode" name="code" value="true" th:checked="${form.code}">
                    <span th:text="#{menu.code}">코드</span>
                  </label>
                  <label for="menuSettingIssue" class="bg-radiobtn label-public inline-list">
                    <input type="checkbox" class="radio-btn" id="menuSettingIssue" name="issue" value="true" th:checked="${form.issue}">
                    <span th:text="#{menu.issue}">이슈</span>
                  </label>
                  <label for="menuSettingPullRequest" class="bg-radiobtn label-public inline-list">
                    <input type="checkbox" class="radio-btn" id="menuSettingPullRequest" name="pullRequest" value="true" th:checked="${form.pullRequest}">
                    <span th:text="#{menu.pullRequest}">코드 주고받기</span>
                  </label>
                  <label for="menuSettingReview" class="bg-radiobtn label-public inline-list">
                    <input type="checkbox" class="radio-btn" id="menuSettingReview" name="review" value="true" th:checked="${form.review}">
                    <span th:text="#{menu.review}">리뷰</span>
                  </label>
                  <label for="menuSettingMilestone" class="bg-radiobtn label-public inline-list">
                    <input type="checkbox" class="radio-btn" id="menuSettingMilestone" name="milestone" value="true" th:checked="${form.milestone}">
                    <span th:text="#{milestone}">마일스톤</span>
                  </label>
                  <label for="menuSettingBoard" class="bg-radiobtn label-public inline-list">
                    <input type="checkbox" class="radio-btn" id="menuSettingBoard" name="board" value="true" th:checked="${form.board}">
                    <span th:text="#{menu.board}">게시판</span>
                  </label>
              </div>
            </div>
            <!-- // -->
          </div>

          <div class="actions mt20">
            <button class="ybtn ybtn-success" th:text="#{project.create}">
              프로젝트 생성
            </button>
            <a href="/" class="ybtn" th:text="#{button.cancel}">취소</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer th:replace="~{site/layout :: footer}"></footer>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
<th:block th:replace="~{common/select2 :: select2}"></th:block>
<script type="text/javascript">
    $(function() {
        $yobi.loadModule("project.New", {
            "sFormId": "#newProjectForm",
            "htError": {}
        });
    });
</script>
</body>
</html>
