<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(title=${project.name} + ' - Statistics')}">
</head>
<body class="theme-default prj" id="html-body">
<div id="main" class="main">
    <div th:replace="~{site/layout :: gnb}"></div>
    <div th:replace="~{project/header :: header(${project})}"></div>
    <div th:replace="~{project/menu :: menu(${project}, 'issue')}"></div>

    <div class="page-wrap-outer">
        <div class="project-page-wrap">
            <h1>Under Construction</h1>
        </div>
    </div>

    <footer th:replace="~{site/layout :: footer}"></footer>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
</body>
</html>
