<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(${project.name} + ' - ' + #{project.transfer})}">
</head>
<body class="prj" id="html-body">
<div id="main" class="main">
    <div th:replace="~{site/layout :: gnb}"></div>

    <div th:replace="~{project/header :: header(${project})}"></div>
    <div th:replace="~{project/menu :: menu(${project}, 'setting')}"></div>

    <div class="page-wrap-outer">
        <div class="project-page-wrap">
          <div th:replace="~{project/setting_menu :: menu(${project}, 'transfer')}"></div>
          <h3 style="margin-top: 0; margin-bottom: 20px;" th:text="#{project.transfer}">프로젝트 이관</h3>
          
          <div class="bubble-wrap gray wp">
              <div class="row-fluid" style="margin-bottom: 15px;">
                  <div class="cu-label" style="font-weight: bold; margin-bottom: 5px;" th:text="#{project.transfer.new.owner}">이관받을 사용자 또는 그룹</div>
                  <div class="cu-desc">
                      <p>
                          <input type="text" id="owner" name="owner" class="form-control" placeholder="사용자 ID 또는 그룹 이름을 입력하세요" />
                      </p>
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="cu-label" style="font-weight: bold; margin-bottom: 5px;" th:text="#{project.transfer}">프로젝트 이관 안내</div>
                  <div class="cu-desc">
                      <ul style="padding-left: 20px; margin-bottom: 15px; line-height: 1.6;">
                          <li class="notice"><strong th:text="#{project.transfer.description1}">이관받을 사용자 또는 이관받을 그룹의 관리자가 프로젝트 이관을 수락해야 완료 됩니다.</strong></li>
                          <li class="notice"><strong th:text="#{project.transfer.description2}">프로젝트 소유권이 이관받은 사용자 또는 그룹으로 변경됩니다.</strong></li>
                          <li class="notice"><strong th:text="#{project.transfer.description3}">이관이 완료되면 현재 프로젝트 소유자는 프로젝트 멤버로 변경됩니다.</strong></li>
                          <li class="notice"><strong th:text="#{project.transfer.description4}">프로젝트의 이슈, 게시물 등의 URL이 변경됩니다.</strong></li>
                          <li class="notice"><strong th:text="#{project.transfer.description5}">프로젝트의 저장소 URL이 변경됩니다.</strong></li>
                      </ul>
                      <p>
                          <input type="checkbox" class="checkbox" autocomplete="off" id="accept" style="display: inline-block; vertical-align: middle; margin-right: 5px;"><!--
                       --><label for="accept" class="bg-checkbox label-agreement" style="display: inline-block; vertical-align: middle;" th:text="#{project.transfer.accept}">프로젝트를 이관하는데 동의합니다.</label>
                      </p>
                  </div>
              </div>
          </div>
          <div class="box-wrap bottom" style="margin-top: 20px;">
              <a id="btnTransfer" href="#alertTransfer" class="ybtn ybtn-danger" data-toggle="modal" ><!--
               --><i class="yobicon-database"></i> <span th:text="#{project.transfer.this}">프로젝트를 이관합니다.</span></a>
          </div>

          <div id="alertTransfer" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3 th:text="#{project.transfer.requestion}">프로젝트를 이관하시겠습니까?</h3>
              </div>
              <div class="modal-body">
                  <p th:text="#{project.transfer.description}">프로젝트를 이관하면 이 프로젝트 소유자가 변경되거나 속한 그룹이 변경됩니다.</p>
                  <p th:text="#{project.transfer.reaccept}">정말로 이관하시겠습니까?</p>
              </div>
              <div class="modal-footer">
                  <button id="btnTransferExec" type="button" class="ybtn ybtn-danger" th:text="#{button.yes}">예</button>
                  <button type="button" class="ybtn" data-dismiss="modal" th:text="#{button.no}">아니오</button>
              </div>
          </div>

        </div>
    </div>

    <footer th:replace="~{site/layout :: footer}"></footer>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
<script type="text/javascript" src="/javascripts/service/yobi.project.Transfer.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        $yobi.loadModule("project.Transfer", {
            "sTransferURL": /*[[ @{/{owner}/{name}/transfer(owner=${project.owner}, name=${project.name})} ]]*/ ''
        });
    });
</script>
</body>
</html>
