logs
project/project
project/target
target
tmp
.history
.classpath
.project
.settings
.target
.idea*
*.iml
dist
uploads
repo/
RUNNING_PID
db
*.db
.DS_Store
*.DS_Store
bin
.svn
nohup.out
tags
Thumbs.db
Thumbs.db\:encryptable
conf/application.user.conf
conf/application.conf
*.log
conf/generated.keystore
conf/application-logger.xml
