@(title:String, form: Form[PullRequest], project: Project, fromBranches: List[String], toBranches: List[String])

@import utils.TemplateHelper._
@implicitField = @{ helper.FieldConstructor(simpleForm) }

@main(title, project, utils.MenuType.PULL_REQUEST) {
<div class="page">
    @prjmenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")
    <div class="content-wrap frm-wrap">
        @helper.form(action=routes.PullRequestApp.newPullRequest(project.owner, project.name), 'enctype -> "multipart/form-data", 'class->"nm"){
            <div class="pull-request-wrap">
	            <div class="option request-from">
	                <div class="option-label">@Messages("pullRequest.from"): <strong class="repo">@project.owner/@project.name</strong></div>
	                <div class="option-desc">
	                    <div class="btn-group" data-name="fromBranch">
	                        <button class="btn dropdown-toggle large" data-toggle="dropdown">
	                            <span class="d-label">@Messages("pullRequest.select.branch")</span>
	                            <span class="d-caret"><span class="caret"></span></span>
	                        </button>
	                        <ul class="dropdown-menu">
	                            @for(branch <- fromBranches) {
	                                @if(!branch.equals("HEAD") && !branch.contains("refs/remotes/")) {
	                                    <li data-value="@branch"><a href="javascript:void(0)">@branch</a></li>
	                                }
	                            }
	                        </ul>
	                    </div>
	                </div>
	            </div>

                <div class="arrow">
	               <i class="icon-arrow-right"></i>
                </div>
                
	            <div class="option request-to">
	                <div class="option-label">@Messages("pullRequest.to"): <strong class="repo">@project.originalProject.owner/@project.originalProject.name</strong></div>
	                <div class="option-desc">
	                    <div class="btn-group" data-name="toBranch">
	                        <button class="btn dropdown-toggle large" data-toggle="dropdown">
	                            <span class="d-label">@Messages("pullRequest.select.branch")</span>
	                            <span class="d-caret"><span class="caret"></span></span>
	                        </button>
	                        <ul class="dropdown-menu">
	                            @for(branch <- toBranches) {
	                                @if(!branch.equals("HEAD") && !branch.contains("refs/remotes/")) {
	                                    <li data-value="@branch"><a href="javascript:void(0)">@branch</a></li>
	                                }
	                            }
	                        </ul>
	                    </div>
	                </div>
	            </div>
            </div>

            @helper.inputText(form("title"), 'class->"text title", 'maxlength -> "250", 'tabindex -> 1, 'placeholder->"Title")
            @helper.textarea(form("body"), 'markdown -> true, 'class->"text content", 'tabindex -> 2)

            <div class="actions">
                <button type="submit" class="nbtn orange medium">@Messages("button.save")</button>
                <a href="javascript:history.back();" class="nbtn medium last">@Messages("button.cancel")</a>
            </div>
        }
    </div>
</div>

@views.html.markdown()

<script type="text/javascript">
	$(document).ready(function() {
//		$hive.loadModule("milestone.Write", {
//			"elDueDate"   : $("#dueDate"),
//			"elDatePicker": $("#datepicker")
//		});
	});
</script>
}