@(pull: PullRequest, commit:playRepository.Commit, parentCommit:playRepository.Commit, patch: String, comments:List[CodeComment])

@import playRepository.RepositoryService
@import java.net.URLEncoder
@import utils.TemplateHelper._
@import utils.JodaDateUtil._
@import utils.AccessControl._

@branchItemType(itemType:String) = @{
    if(itemType == "heads"){
        "branch"
    } else {
        itemType
    }
}

@makeBranchItem(project:Project, branch:String) = {
    @defining(branch.split('/')){ names =>
        @if(names(0).equals("refs") && names.length == 3){
            <li data-value="@branch"><a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(names(2), "UTF-8"), null)"><!--
             --><span class="label @branchItemType(names(1))">@branchItemType(names(1))</span><!--
             -->@names(2)
            </a></li>
        } else {
            <li data-value="@branch"><a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), null)">@branch</a></li>
        }
    }
}

@projectLayout(Messages("menu.pullRequest"), pull.toProject, utils.MenuType.PULL_REQUEST) {
<div class="page">
    <div class="code-browse-wrap">
        <div class="actrow">
            <a href="@routes.PullRequestApp.pullRequest(pull.toProject.owner, pull.toProject.name, pull.number)?activeTab=commits" class="ybtn">
                <i class="yobicon-arrow-right"></i> @Messages("pullRequest.back.to.the.pullrequest")
            </a>
            
            <div class="pull-right">
                <button id="watch-button" type="button" class="ybtn ybtn-info @if(commit.getWatchers(pull.fromProject).contains(UserApp.currentUser())) { active }" data-toggle="button">@Messages("notification.watch")</button>
            </div>
        </div>
        <hr>
        <p class="commitInfo">
            @(commit.getAuthor, commit.getAuthorEmail, commit.getAuthorName) match {
            case (user: User, _, _) if !user.isAnonymous => {
                <a href="@routes.UserApp.userInfo(commit.getAuthor.loginId)" class="avatar-wrap">
                    <img src="@commit.getAuthor.avatarUrl" alt="@commit.getAuthor.name" width="32" height="32"/>
                </a>
                <strong>@commit.getAuthor.name</strong>
            }
            case (_, email, name) if email != null => {
                <span class="avatar-wrap">
                    <img src="@urlToPicture(commit.getAuthorEmail, 32)" width="32" height="32">
                </span>
                @if(name != null) {
                <strong>@name</strong>
                }
            }
            case (_, _, name) if name != null => {
                <strong>@name</strong>
            }
            case (_, _, _) => {
                <strong>@User.anonymous.name</strong>
            }
            }
            <span class="ago">@agoString(ago(commit.getAuthorDate))</span>
            <strong class="commitId pull-right">@{"@"}@commit.getId</strong>
            @if(comments.size > 0) {
            <span class="pull-right mt5 mr10">
                <input id="toggle-comments" type="checkbox" checked="checked" class="checkbox">
                <label for="toggle-comments" class="form-label">@Messages("code.showcomments")</label>
            </span>
            }
        </p>
        <pre class="commitMsg">@commit.getMessage</pre>

        <div class="diff-wrap">
            <div id="commit" class="diff-body show-comments">@patch</div>
        </div>
        <div id="compare" class="modal hide compare-wrap" tabindex="-1" role="dialog">
            <h4 class="path">
                <span></span>
                <button type="button" class="ybtn pull-right" data-dismiss="modal" style="margin-right:20px;">@Messages("button.confirm")</button>
            </h4>
            <div class="row-fluid">
                <div class="span6 compare-from"></div>
                <div class="span6 compare-to"></div>
            </div>
            <div id="mergely" class="mergely-wrap"></div>
        </div>
    </div>

    @** Comment **@
    <div class="board-comment-wrap">
        @if(comments.size > 0) {
        <ul class="comments">
            @for(comment <- comments){
            <li id="comment-@comment.id" data-path="@comment.path" data-side="@comment.side" data-line="@comment.line" class="comment">
                <div class="comment-avatar">
                    <a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap" data-toggle="tooltip" data-placement="top" title="@comment.authorName">
                        <img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
                    </a>
                </div>    
                <div class="media-body">
                    <div class="meta-info">
                        <span class="comment_author pull-left">
                            <i class="yobicon-comment"></i> 
                            <a href="@routes.UserApp.userInfo(comment.authorLoginId)" data-toggle="tooltip" data-placement="top" title="@comment.authorName">
                                <strong>@comment.authorLoginId </strong>
                            </a>
                        </span>
                        <span class="ago"><a href="#comment-@comment.id">@utils.TemplateHelper.agoString(ago(comment.createdDate))</a></span>
                        @if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
                        <span class="edit pull-right">
                            <button class="btn-transparent pull-right close" data-request-method="delete" data-request-uri="@routes.CodeHistoryApp.deleteComment(pull.fromProject.owner, pull.fromProject.name, commit.getId, comment.id)"><i class="yobicon-trash"></i></button>
                        </span>
                        }
                    </div>
                    
                    <div class="comment-body markdown-wrap markdown-before" markdown="true">@comment.contents</div>
                    
                    <div class="attachments" data-resourceType="@ResourceType.CODE_COMMENT" data-resourceId="@comment.id"></div>
                </div>
            </li>
            }
        </ul>
        }
        
        @common.commentForm(pull.fromProject, ResourceType.CODE_COMMENT, routes.CodeHistoryApp.newComment(pull.fromProject.owner, pull.fromProject.name, commit.getId).toString())
    </div>
    @** // Comment **@
    
    <div id="minimap" class="minimap-outer">
        <div class="minimap-wrap">
            <div class="minimap-curr"></div>
            <div class="minimap-links"></div>
        </div>
    </div>
</div>

@common.markdown(pull.fromProject)

<script type="text/x-jquery-tmpl" id="comment-icon-template">
    <i class="yobicon-comments"></i>
</script>
<script type="text/x-jquery-tmpl" id="linenum-column-template">
    <td class="linenum"></td>
</script>
<script type="text/x-jquery-tmpl" id="comment-button-template">
    <button class="ybtn btn-thread"></button>
</script>

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mergely/codemirror.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mergely/mergely.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("mention")">
<script type="text/javascript" src="@getJSLink("lib/mentionjs/mention")"></script>
<script type="text/javascript" src="@getJSLink("lib/diff")"></script>
<script type="text/javascript" src="@getJSLink("lib/mergely/codemirror.min")"></script>
<script type="text/javascript" src="@getJSLink("lib/mergely/mergely")"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $yobi.loadModule("code.Diff", {
            "bCommentable"   : @if(isProjectResourceCreatable(UserApp.currentUser, pull.fromProject, ResourceType.CODE_COMMENT)){true}else{false},
            "sWatchUrl"      : "@routes.WatchApp.watch(commit.asResource(pull.fromProject).asParameter)",
            "sUnwatchUrl"    : "@routes.WatchApp.unwatch(commit.asResource(pull.fromProject).asParameter)",
            "sParentCommitId": "@if(parentCommit != null){@parentCommit.getId}",
            "sCommitId"      : "@commit.getId",
            "sTplFileURL"    : "@routes.CodeApp.codeBrowserWithBranch(pull.fromProject.owner, pull.fromProject.name, "${commitId}", "${path}")",
            "sTplRawURL"     : "@routes.CodeApp.showRawFile(pull.fromProject.owner, pull.fromProject.name, "${commitId}", "${path}")"
        });

        yobi.Mention({
            target:'comment-editor',
            url : "@Html(routes.ProjectApp.mentionListAtCommitDiff(pull.toProject.owner, pull.toProject.name, commit.getId, pull.id).toString)"
        });
    });
</script>
}
