@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(project: Project, page: com.avaje.ebean.Page[PullRequest],
    condition: controllers.PullRequestApp.SearchCondition, requestType: String)

@projectLayout(project.name + " - " + Messages("menu.pullRequest"), project, utils.MenuType.PULL_REQUEST) {
@projectMenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")
<div class="page-wrap-outer">
    <div class="project-page-wrap">
    @views.html.git.partial_search(project, page, condition, requestType)
    </div>
</div>

@common.select2()

<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.pageslide.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.twoColumnMode.js")"></script>
<script type="text/javascript">
    $(document).ready(function(){
        _initTwoColumnMode();

        var isFirefox = navigator.userAgent.toLowerCase().indexOf('firefox') > -1;
        var isSafari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
        // Workaround for pjax bug result from bfcache
        // https://developer.mozilla.org/en-US/docs/Using_Firefox_1.5_caching
        if(isFirefox || isSafari){
            return;
        }

        var htPjaxOptions = {
            "fragment": "div[pjax-container]",
            "timeout" : 3000
        };

        if($.support.pjax) {
            $.pjax.defaults.maxCacheLength = 0;
        }

        // on click pagination
        $(document).on("click", "a[pjax-page]", function(weEvt) {
            $.pjax.click(weEvt, "div[pjax-container]", htPjaxOptions);
        });

        // on submit search form
        $(document).on("submit", "form[name='search']", function(weEvt) {
            $.pjax.submit(weEvt, "div[pjax-container]", htPjaxOptions);
        });

        // show spinners
        $(document).on({
            "pjax:send": function(){
                NProgress.start();
            },
            "pjax:complete": function(){
                NProgress.done();
            }
        });
    });
</script>
}
