@(project: Project, pullRequests: List[PullRequest])
@import utils.TemplateHelper._

@branchName(branch:String) = @{
    branch.replace("refs/heads/", "")
}

@if(pullRequests.length > 0){
    @for(req <- pullRequests.iterator()) {
        <div class="row-fluid issue-item">
            <div class="span10">
                <div class="num pull-left">
                    <a href="@routes.PullRequestApp.pullRequest(project.owner, project.name, req.id)">@req.id</a>
                </div>
                <a href="@routes.UserApp.userInfo(req.contributor.loginId)" class="avatar-wrap mlarge pull-left">
                    <img src="@req.contributor.avatarUrl" alt="@req.contributor.name">
                </a>
                <label>
                    <div class="title">
                        <a href="@routes.PullRequestApp.pullRequest(project.owner, project.name, req.id)" class="title-link">@req.title</a>
                    </div>
                    <div class="infos nm">
                        <a href="@routes.UserApp.userInfo(req.contributor.loginId)" class="author">@req.contributor.name</a>
                        <span class="date"><i class="icon-calendar"></i> @agoString(req.createdAgo())</span>
                        <span data-toggle="tooltip" data-original-title="@Messages("pullRequest.from")">
                            <code>
                                @if(!project.owner.equals(req.fromProject.owner) || !project.name.equals(req.fromProject.name)) {
                                <a href="@routes.UserApp.userInfo(req.fromProject.owner)">@req.fromProject.owner</a> /
                                <a href="@routes.ProjectApp.project(req.fromProject.owner, req.fromProject.name)">@req.fromProject.name</a> :
                                }
                                <i class="icon-code-fork"></i> @branchName(req.fromBranch)
                            </code>
                        </span>
                        <span style="margin-left: 3px;">
                            <i class="icon-long-arrow-right icon-large"></i>
                        </span>
                        <span data-toggle="tooltip" data-original-title="@Messages("pullRequest.to")">
                            <code>
                                @if(!project.owner.equals(req.toProject.owner) || !project.name.equals(req.toProject.name)) {
                                <a href="@routes.UserApp.userInfo(req.toProject.owner)">@req.toProject.owner</a> /
                                <a href="@routes.ProjectApp.project(req.toProject.owner, req.toProject.name)">@req.toProject.name</a> :
                                }
                                <i class="icon-code-fork"></i> @branchName(req.toBranch)
                            </code>
                        </span>
                    </div>
                </label>
            </div>
            <div class="span2">
                <div class="empty-avatar-space pull-right">
                    @if(req.receiver != null) {
                        <a href="@routes.UserApp.userInfo(req.receiver.loginId)" class="avatar-wrap img-rounded">
                            <img src="@req.receiver.avatarUrl" width="32" height="32" alt="@req.receiver.name">
                        </a>
                    } else {
                        &nbsp;
                    }
                </div>
                <div class="state @req.state.toString.toLowerCase pull-right">@Messages("issue.state." + req.state.toString.toLowerCase)</div>
            </div>
        </div>
    }
} else {
<div class="row-fluid error-wrap">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img style="width: 300px; height: 200px;" src="@routes.Assets.at("images/fork-pull/fork.jpg")">
                <div class="caption">
                    <h3>@Messages("fork")</h3>
                    <p>@Messages("fork.help.message.1")</p>
                    <p>
                        <a href="@routes.PullRequestApp.newFork(project.owner, project.name)" class="nbtn medium orange last">
                            <i class="icon-code-fork icon-large"></i>
                            @Messages("fork")
                        </a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img style="width: 300px; height: 228px;" src="@routes.Assets.at("images/fork-pull/pull-request.jpg")">
                <div class="caption">
                    <h3>@Messages("pullRequest")</h3>
                    <p>@Messages("pullRequest.help.message.2")</p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img style="width: 300px; height: 248px;" src="@routes.Assets.at("images/fork-pull/merge.jpg")">
                <div class="caption">
                    <h3>@Messages("pullRequest.accept")</h3>
                    <p>@Messages("merge.help.2")</p>
                </div>
            </div>
        </li>
    </ul>
</div>
}

<script type="text/javascript">
    $(function(){
        $('span[data-toggle="tooltip"]').tooltip({
            placement : "bottom"
        });
    });
</script>