@(pull: PullRequest, comments: scala.collection.immutable.List[TimelineItem])

@import utils.JodaDateUtil._
@import utils.AccessControl._
@import scala.collection.immutable
@import utils.TemplateHelper.DiffRenderer._
@import playRepository.FileDiff
@import java.lang.Math

@isAuthorComment(commentId: String) = @{
  if(commentId == UserApp.currentUser().loginId) {"author"}
}

@showComment(comment: PullRequestComment) = {
  <div class="comment-body markdown-wrap markdown-before" markdown="true">@comment.contents</div>
}

@shortId(commitId: String) = {
  @commitId.substring(0, Math.min(7, commitId.size))
}

@renderPullRequestComment(comment: PullRequestComment, thread: immutable.List[PullRequestComment] = Nil) = {
<li id="comment-@comment.id" class="comment @isAuthorComment(comment.authorLoginId)" data-commit-a="@comment.commitA" data-commit-b="@comment.commitB" data-path="@comment.path" data-line="@comment.line" data-side="@comment.side" @if(comment.hasValidCommitId){data-outdated="@comment.isOutdated"}>
    <div class="comment-avatar">
      <a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap" data-toggle="tooltip" data-placement="top" title="@comment.authorName">
        <img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
      </a>
    </div>
    <div class="media-body">

      <div class="meta-info">
        <span class="comment_author pull-left">
          <i class="yobicon-comment"></i>
          <a href="@routes.UserApp.userInfo(comment.authorLoginId)" data-toggle="tooltip" data-placement="top" title="@comment.authorName">
            <strong>@comment.authorLoginId </strong>
          </a>
        </span>
        <a href="#comment-@comment.id" class="ago">@utils.TemplateHelper.agoString(comment.ago())</a>

        @if(isLineComment(comment)) {
          <span>on @comment.line in @comment.path at
            @if(comment.isCommitLost) {
              <span style="text-decoration: line-through">@shortId(comment.commitId)</span>
            } else {
              @shortId(comment.commitId)
            }
            from @shortId(comment.commitA)..@shortId(comment.commitB)
          </span>
        }

        @if(comment.hasValidCommitId && comment.isOutdated) {
          <span class="outdated-message" style="color: red">@Messages("code.outdatedDiff")</span>
        }

        @if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE) && (!comment.hasValidCommitId || !hasDiff(comment))){
          <span class="edit pull-right">
            <button type="button" class="btn-transparent close" data-request-method="delete" data-request-uri="@routes.PullRequestCommentApp.deleteComment(comment.id)"><i class="yobicon-trash"></i></button>
          </span>
        }
      </div>

      @if(comment.hasValidCommitId && hasDiff(comment)) {
        <div class="diff-body" data-commit-a="@comment.commitA" data-commit-b="@comment.commitB" data-outdated="true">
          @views.html.partial_filediff(comment.getDiff, thread)
        </div>
      } else {
        @showComment(comment)
      }
      <div class="attachments pull-right" data-resourceType="@ResourceType.NONISSUE_COMMENT" data-resourceId="@comment.id"></div>
    </div>
  </li>
}

@renderPullRequestEvent(event: PullRequestEvent) = {
	@event.eventType match {
		case EventType.PULL_REQUEST_STATE_CHANGED => {
	<li class="event" id="comment-@event.id">
		<span class="state @event.newValue">@Messages("pullRequest.event." + event.newValue)</span>
              <span class="date"><a href="#event-@event.id">@Messages("pullRequest.event.message." + event.newValue, event.senderLoginId) - @utils.TemplateHelper.agoString(ago(event.getDate()))</a></span>
	</li>
		}
		case EventType.PULL_REQUEST_MERGED => {
	<li class="event" id="comment-@event.id">
		<span class="state @event.newValue">@Messages("pullRequest.event." + event.newValue)</span>
              <span class="date"><a href="#event-@event.id">@Messages("pullRequest.event.message." + event.newValue, event.senderLoginId) - @utils.TemplateHelper.agoString(ago(event.getDate()))</a></span>
	</li>
		}
		case EventType.PULL_REQUEST_COMMIT_CHANGED => {
		<li class="comment @isAuthorComment(event.senderLoginId)" id="comment-@event.id">
          <div class="comment-avatar">
              <a href="@routes.UserApp.userInfo(event.senderLoginId)" class="avatar-wrap" data-toggle="tooltip" data-placement="top" title="@User.findByLoginId(event.senderLoginId).name">
                  <img src="@User.findByLoginId(event.senderLoginId).avatarUrl" width="32" height="32" alt="@User.findByLoginId(event.senderLoginId).name">
              </a>
          </div>
          <div class="media-body">
              <div class="meta-info">
                  <span class="comment_author pull-left">
                      <i class="yobicon-comment"></i>
                      <a href="@routes.UserApp.userInfo(event.senderLoginId)" data-toggle="tooltip" data-placement="top" title="@User.findByLoginId(event.senderLoginId).name">
                          <strong>@event.senderLoginId @Messages("pullRequest.event.commit")</strong>
                      </a>
                  </span>
                  <span class="ago">@utils.TemplateHelper.agoString(ago(event.created))</span>
              </div>
			@for(commit <- event.getPullRequestCommits) {
              <div class="comment-body" style="margin:10px 0;">
		@if(commit.state == PullRequestCommit.State.PRIOR) {
					<strike>@commit.commitMessage - <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, commit.commitId)">@commit.commitShortId</a></strike>
				} else {
					@commit.commitMessage - <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, commit.commitId)">@commit.commitShortId</a>
				}
			</div>
			}
		</div>
		</li>
		}
		case _ => {
		}
  }
}


@renderCommitComment(comment: CommitComment) = {
  @defining(PullRequestCommit.getStateByCommitId(pull, comment.commitId)) { state =>
    @if(state != null) {
        <li class="comment @isAuthorComment(comment.authorLoginId)" id="comment-@comment.id">
            <div class="comment-avatar">
                <a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap" data-toggle="tooltip" data-placement="top" title="@comment.authorName">
                    <img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
                </a>
            </div>
            <div class="media-body">
                <div class="meta-info">
                    <span class="comment_author pull-left">
                        <i class="yobicon-comment"></i>
                        <a href="@routes.UserApp.userInfo(comment.authorLoginId)" data-toggle="tooltip" data-placement="top" title="@comment.authorName">
                            <strong>@comment.authorLoginId </strong>
                        </a>
                    </span>
                    <span class="ago">
                        @if(PullRequestCommit.State.PRIOR == state) {
                            @utils.TemplateHelper.agoString(ago(comment.createdDate)) - <strike><a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, comment.commitId)?#comment-@comment.id">@Messages("pullRequest.code.commented", comment.commitId)</a></strike>
                        } else {
                            @utils.TemplateHelper.agoString(ago(comment.createdDate)) - <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, comment.commitId)?#comment-@comment.id">@Messages("pullRequest.code.commented", comment.commitId)</a>
                        }
                    </span>
                    @if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
                    <span class="edit pull-right">
                        <button type="button" class="btn-transparent close" data-request-method="delete" data-request-uri="@routes.CodeHistoryApp.deleteComment(pull.fromProject.owner, pull.fromProject.name, comment.commitId, comment.id)"><i class="yobicon-trash"></i></button>
                    </span>
                    }
                </div>

                <div class="comment-body markdown-wrap markdown-before" markdown="true">@comment.contents</div>

                <div class="attachments pull-right" data-resourceType="@ResourceType.COMMIT_COMMENT" data-resourceId="@comment.id"></div>
            </div>
        </li>
    }
  }
}

@isLineComment(comment: PullRequestComment) = @{ comment.hasValidCommitId && comment.line != null }

@hasDiff(comment: PullRequestComment) = @{ isLineComment(comment) && !comment.isCommitLost && comment.getDiff != null }

@if(!comments.isEmpty) {
  @comments.head match {
    case (comment: PullRequestComment) if comment.hasValidCommitId && comment.isOutdated => {
      @threadAndRemains(comment, comments.tail) match {
        case (outdatedThread, remains) => {
          @renderPullRequestComment(comment, outdatedThread)
          @partial_comments(pull, remains)
        }
      }
    }
    case (comment: PullRequestComment) if isLineComment(comment) => {
      @partial_comments(pull, comments.tail)
    }
    case (comment: PullRequestComment) => {
      @renderPullRequestComment(comment)
      @partial_comments(pull, comments.tail)
    }
    case (comment: CommitComment) => {
      @renderCommitComment(comment)
      @partial_comments(pull, comments.tail)
    }
    case (event: PullRequestEvent) => {
      @renderPullRequestEvent(event)
      @partial_comments(pull, comments.tail)
    }
  }
}
