@(project: Project, pull: PullRequest, comments: List[PullRequestComment], canDeleteBranch: Boolean, canRestoreBranch: Boolean)

@import utils.JodaDateUtil
@import utils.TemplateHelper._
@import utils.TemplateHelper.DiffRenderer._
@import utils.AccessControl._
@import models.enumeration
@import scala.collection.JavaConversions._

@projectLayout(Messages("menu.pullRequest"), project, utils.MenuType.PULL_REQUEST) {
    @projectMenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")
<div class="page-wrap-outer">
    <div class="project-page-wrap">
        @partial_info(project, pull)
        <ul class="nav nav-tabs nm">
            <li class="active"><a href="@routes.PullRequestApp.pullRequest(project.owner, project.name, pull.number)">@Messages("pullRequest.menu.overview")</a></li>
            <li><a href="@routes.PullRequestApp.pullRequestCommits(project.owner, project.name, pull.number)">@Messages("pullRequest.menu.commit")</a></li>
            <li><a href="@routes.PullRequestApp.pullRequestChanges(project.owner, project.name, pull.number)">@Messages("pullRequest.menu.changes")</a></li>
        </ul>

        <div id="__info" class="mt20">
            @**<!-- Pull Request Info -->**@
            <div class="board-header issue" style="border-top:none;">
                <div class="pull-right mr10 mt10">
                    <div class="date" title="@JodaDateUtil.getDateString(pull.created)">
                        @agoString(pull.createdAgo)
                    </div>
                    <span class="badge @if(pull.isConflict == true) {badge-issue-conflict} else {badge-issue-@pull.state.state.toLowerCase}">@if(pull.isConflict == true) {@Messages("pullRequest.state.conflict")} else {@Messages("pullRequest.state." + pull.state.state)}</span>
                </div>
                <div class="title">
                    <strong class="board-id">#@pull.number</strong> @pull.title
                </div>
            </div>

            <div class="board-body">
                <div class="content markdown-wrap markdown-before" markdown="true">@pull.body</div>
                <div class="attachments" data-resourceType="@ResourceType.PULL_REQUEST" data-resourceId="@pull.id"></div>
            </div>

            <div id="state">
                @partial_state(project, pull, canDeleteBranch, canRestoreBranch)
            </div>

            <div class="board-footer board-actrow">
                @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.WATCH)) {
                <button id="watch-button" type="button" class="pull-right ybtn @if(pull.getWatchers.contains(UserApp.currentUser())) { ybtn-watching }" data-toggle="button">
                    @if(pull.getWatchers.contains(UserApp.currentUser())) {
                        @Messages("project.unwatch")
                    } else {
                        @Messages("project.watch")
                    }
                </button>
                }
                <div id="actOnOpen" class="mr5 pull-right" style="@if(pull.isMerging == false && pull.isOpen()){display:block;}else{display:none;}">
                    @if(project.isUsingReviewerCount && isAllowed(UserApp.currentUser(), pull.asResource(), Operation.ACCEPT)) {
                        @if(pull.isReviewedBy(UserApp.currentUser())) {
                            <a data-request-method="post" class="ybtn" href="@routes.ReviewApp.unreview(project.owner, project.name, pull.number)">
                            @Messages("pullRequest.unreviewed")
                            </a>
                        } else {
                            <a data-request-method="post" class="ybtn ybtn-success" href="@routes.ReviewApp.review(project.owner, project.name, pull.number)">
                            @Messages("pullRequest.reviewed")
                            </a>
                        }
                    }
                    @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.ACCEPT)) {
                        @if(pull.isReviewed || !project.isUsingReviewerCount) {
                            <a data-request-method="post" id="btnAccept" href="@routes.PullRequestApp.accept(project.owner, project.name, pull.number)" class="ybtn ybtn-success" @if(pull.isConflict == true){style="display:none;"}>@Messages("pullRequest.accept")</a>
                        } else {
                            <button class="ybtn ybtn-disabled" data-toggle="tooltip" data-placement="top" title="@Messages("pullRequest.not.enough.review.point", pull.getLackingReviewerCount())">@Messages("pullRequest.accept")</button>
                        }

                    }
                    @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.CLOSE)) {
                        <a data-request-method="post" href="@routes.PullRequestApp.close(project.owner, project.name, pull.number)" class="ybtn">@Messages("pullRequest.close")</a>
                    }
                    @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.UPDATE)) {
                        <a href="@routes.PullRequestApp.editPullRequestForm(pull.toProject.owner, pull.toProject.name, pull.number)" class="ybtn">@Messages("button.edit")</a>
                    }
                </div>

                <div id="actOnClosed" class="mr5 pull-right" style="@if(pull.isMerging == false && pull.isClosed()) {display:block;}else{display:none;}">
                    @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.REOPEN)) {
                        <a data-request-method="post" href="@routes.PullRequestApp.open(project.owner, project.name, pull.number)" class="ybtn">@Messages("pullRequest.reopen")</a>
                    }
                </div>
            </div>
            <div class="board-comment-wrap">
                <div class="comment-header"><i class="yobicon-comments"></i><strong>@Messages("common.comment")</strong> <strong class="num">@{pull.comments.size() + pull.getCommitComments.size()}</strong></div>
                <hr class="nm">
                @if(pull.getTimelineComments.size > 0) {
                <ul class="comments" id="comments">
                @renderCommentsOnPullRequest(pull, Html(""), pull.getTimelineComments.toList)
                </ul>
                }
                @common.commentForm(project, ResourceType.PULL_REQUEST_COMMENT, routes.PullRequestCommentApp.newComment(project.owner, project.name, pull.id).toString())
            </div>
        </div>
    </div>
</div>
@common.markdown(project)
@common.mergely()
@common.commentDeleteModal()

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mergely/codemirror.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mergely/mergely.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mentionjs/mention.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/mentionjs/mention.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/diff.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/mergely/codemirror.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/mergely/mergely.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.Interval.js")"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $yobi.loadModule("git.View", {
            "sWatchUrl"  : "@routes.WatchApp.watch(pull.asResource.asParameter)",
            "sUnwatchUrl": "@routes.WatchApp.unwatch(pull.asResource.asParameter)",
            "sStateUrl"  : "@routes.PullRequestApp.pullRequestState(pull.toProject.owner, pull.toProject.name, pull.number)",
            "bCommentable" : "@isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.PULL_REQUEST_COMMENT)"
        });

        yobi.Mention({
            target:'comment-editor',
            @if(pull.getCurrentCommits.isEmpty()) {
                url : "@Html(routes.ProjectApp.mentionListAtPullRequest(pull.toProject.owner, pull.toProject.name, "", pull.id).toString)"
            } else {
                url : "@Html(routes.ProjectApp.mentionListAtPullRequest(pull.toProject.owner, pull.toProject.name, pull.getCurrentCommits.get(0).getCommitId, pull.id).toString)"
            }
        });

        $("button.moreBtn").on("click", function(){
            $(this).next("pre.commitMsg.desc").toggleClass("hidden");
        });
    });
</script>
}
