@(project: Project, pull: PullRequest)

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration
@import scala.collection.JavaConversions._

@projectLayout(Messages("menu.pullRequest"), project, utils.MenuType.PULL_REQUEST) {
    <div class="page">
        @projectMenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")

        @partial_info(project, pull)

        <ul class="nav nav-tabs nm">
            <li><a href="@routes.PullRequestApp.pullRequest(project.owner, project.name, pull.number)">@Messages("pullRequest.menu.overview")</a></li>
            <li class="active"><a href="@routes.PullRequestApp.pullRequestCommits(project.owner, project.name, pull.number)">@Messages("pullRequest.menu.commit")</a></li>
            <li><a href="@routes.PullRequestApp.pullRequestChanges(project.owner, project.name, pull.number)">@Messages("pullRequest.menu.changes")</a></li>
        </ul>

        <div id="__commits" class="code-browse-wrap">
            <div id="history" class="commit-wrap mt20">
                <table class="code-table commits">
                    <thead class="thead">
                    <tr>
                        <td class="commit-id"><strong>@{"@"}</strong></td>
                        <td class="messages"><strong>@Messages("code.commitMsg")</strong></td>
                        <td class="date"><strong>@Messages("code.commitDate")</strong></td>
                        <td class="author"><strong>@Messages("code.author")</strong></td>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    @for(commit <- pull.getCurrentCommits) {
                    <tr>
                        <td class="commit-id">
                            <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, commit.getCommitId())">
                                @commit.getCommitShortId()
                                <i class="yobicon-right"></i>
                            </a>
                        </td>

                        <td class="messages">

                            @defining(CommitComment.count(pull.fromProject, commit.getCommitId, null)){ numOfComment =>
                                @if(numOfComment > 0) {
                                <span class="number-of-comments"><i class="yobicon-comments"></i> @numOfComment</span>
                                }
                            }

                            @defining(commit.getCommitMessage()){ commitMsg =>
                                <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, commit.getCommitId())">
                                    @commitMsg.split("\n")(0)
                                </a>

                                @if(commitMsg.split("\n").length > 1){
                                <button type="button" class="more">&hellip;</button>
                                <pre class="hidden">@commitMsg.replace(commitMsg.split("\n")(0)+"\n", "")</pre>
                                }
                            }
                        </td>
                        <td class="date">@agoString(ago(commit.getAuthorDate()))</td>
                        <td class="author @commit.getAuthorEmail">
                            @defining(User.find.where.eq("email", commit.getAuthorEmail).findUnique) { user =>
                            @if(user != null) {
                            <a href="@routes.UserApp.userInfo(user.loginId)" class="avatar-wrap">
                                <img src="@user.avatarUrl" alt="@user.name" width="32" height="32"/>
                            </a>
                            } else {
                            <div class="avatar-wrap">
                                <img src="@urlToPicture(commit.getAuthorEmail(), 32)" width="32" height="32"/>
                            </div>
                            }
                            }
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@common.markdown(project)

}