@(project: Project, pull: PullRequest, isSafe: Boolean, commits: List[playRepository.GitCommit], comments: List[SimpleComment])

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration

@branchName(branch:String) = @{
    branch.replace("refs/heads/", "")
}

@main(Messages("menu.pullRequest"), project, utils.MenuType.PULL_REQUEST) {
    <div class="page">
        @prjmenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")
        <legend>
            <span data-toggle="tooltip" data-original-title="@Messages("pullRequest.from")">
                <code>
                    <a href="@routes.UserApp.userInfo(pull.fromProject.owner)">@pull.fromProject.owner</a> /
                    <a href="@routes.ProjectApp.project(pull.fromProject.owner, pull.fromProject.name)">@pull.fromProject.name</a> :
                    @branchName(pull.fromBranch)
                </code>
            </span>
            <span style="margin-left: 3px;">
                <i class="icon-long-arrow-right"></i>
            </span>
            <span data-toggle="tooltip" data-original-title="@Messages("pullRequest.to")">
                <code>
                    <a href="@routes.UserApp.userInfo(pull.toProject.owner)">@pull.toProject.owner</a> /
                    <a href="@routes.ProjectApp.project(pull.toProject.owner, pull.toProject.name)">@pull.toProject.name</a> :
                    @branchName(pull.toBranch)
                </code>
            </span>
            <span class="pull-right">
                <button id="helpBtn" class="nbtn small gray">
                <i class="icon-question-sign icon-large"></i> @Messages("title.help")
                </button>
            </span>
        </legend>
        <div class="well" id="helpMessage">
            <div class="row-fluid">
                <div class="pull-left">
                    <img class="img-polaroid" src="@routes.Assets.at("images/fork-pull/merge.jpg")"><br>
                </div>
                <div class="pull-left help-messages">
                    <p class="lead">@Messages("merge.help.1")</p>
                    <p>@Messages("merge.help.2")</p>
                    <p>@Messages("merge.help.3")</p>
                    <p>@Messages("merge.help.4")</p>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs hive-tabs">
            <li class="active">
                <a href="#info" data-toggle="tab">개요</a>
            </li>
            <li>
                <a href="#commits" data-toggle="tab">커밋</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="info" class="tab-pane active">
                @** Pull Request Info **@
                <div class="board-header issue">
                    <div class="board-id div"><strong class="secondary-txt">@pull.id</strong></div>
                    <h1 class="title div">@pull.title</h1>
                    <div class="date div">@utils.TemplateHelper.agoString(pull.createdAgo())</div>
                    <div class="div">
                        <span class="badge badge-issue-@pull.state.state.toLowerCase">@Messages("issue.state." + pull.state.state)</span>
                    </div>
                </div>

                <div class="board-body">
                    <div class="content" markdown="true">@pull.body</div>
                </div>

                @if(pull.isOpen()){
                    @if(isSafe){
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Messages("pullRequest.is.safe")
                    </div>
                    } else {
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Messages("pullRequest.is.not.safe")
                    </div>
                    }
                }
            </div>

            <div id="commits" class="code-browse-wrap tab-pane">
                <div id="history" class="commit-wrap">
                    <table class="code-table commits">
                        <thead class="thead">
                        <tr>
                            <td class="commit-id"><strong>@@</strong></td>
                            <td class="messages"><strong>@Messages("code.commitMsg")</strong></td>
                            <td class="date"><strong>@Messages("code.commitDate")</strong></td>
                            <td class="author"><strong>@Messages("code.author")</strong></td>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        @for(commit <- commits.iterator()) {
                        <tr>
                            <td class="commit-id">
                                <a href="@routes.CodeHistoryApp.show(pull.fromProject.owner, pull.fromProject.name, commit.getId())">
                                    @commit.getShortId()
                                    <i class="ico ico-gray-arrow-right"></i>
                                </a>
                            </td>
                            <td class="messages">@commit.getMessage()</td>
                            <td class="date">@agoString(ago(commit.getAuthorDate()))</td>
                            <td class="author @commit.getAuthorEmail">
                                @defining(User.find.where.eq("email", commit.getAuthorEmail).findUnique) { user =>
                                @if(user != null) {
                                <a href="@routes.UserApp.userInfo(user.loginId)" class="avatar-wrap">
                                    <img src="@user.avatarUrl" alt="@user.name" width="32" height="32"/>
                                </a>
                                } else {
                                <div class="avatar-wrap">
                                    <img src="@urlToPicture(commit.getAuthorEmail(), 32)" width="32" height="32"/>
                                </div>
                                }
                                }
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="board-footer board-actrow">
            @if(pull.isOpen()){
                @if(isSafe){
                <a href="@routes.PullRequestApp.accept(project.owner, project.name, pull.id)" class="nbtn orange medium">@Messages("pullRequest.accept")</a>
                }
                <a href="@routes.PullRequestApp.reject(project.owner, project.name, pull.id)" class="nbtn orange medium">@Messages("pullRequest.reject")</a>
                <a href="@routes.PullRequestApp.cancel(project.owner, project.name, pull.id)" class="nbtn gray medium">@Messages("pullRequest.cancel")</a>
            }
            @if(pull.isRejected()){
                <a href="@routes.PullRequestApp.open(project.owner, project.name, pull.id)" class="nbtn orange medium">@Messages("pullRequest.reopen")</a>
                <a href="@routes.PullRequestApp.cancel(project.owner, project.name, pull.id)" class="nbtn gray medium">@Messages("pullRequest.cancel")</a>
            }
        </div>

        <div class="board-comment-wrap">
            <div class="comment-header"><strong>@Messages("comment")</strong> <strong class="num">@comments.size</strong></div>
            @if(comments.size > 0) {
            <ul class="comments">
                @for(comment <- comments){
                <li class="comment" id="comment-@comment.id">
                    <a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap pull-left">
                        <img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
                    </a>
                    <div class="media-body">
                        @if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
                        <a class="pull-right close" href="#">&times;</a>
                        }
                        <div class="comment-body" markdown="true">@comment.contents</div>
                        <p class="commenter">
                            <a href="@routes.UserApp.userInfo(comment.authorLoginId)"><strong>@comment.authorLoginId</strong></a>
                            <span class="date"><a href="#comment-@comment.id">@utils.TemplateHelper.agoString(comment.ago())</a></span>
                        </p>
                        <div class="attachments" resourceType="@ResourceType.ISSUE_COMMENT" resourceId="@comment.id"></div>
                    </div>
                </li>
                }
            </ul>
            }
            <form id="comment-form" action="@routes.SimpleCommentApp.newComment(ResourceType.PULL_REQUEST.resource() + "_" + pull.id)" method="post" enctype="multipart/form-data">
            <div class="write-comment-box">
                <div class="write-comment-wrap">
                    <textarea id="comment-editor" name="contents" class="text comment" markdown="true"></textarea>
                    <div class="right-txt">
                        <button class="nbtn medium orange">@Messages("button.comment.new")</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

@views.html.markdown(project)

<script type="text/javascript">
    $(document).ready(function() {
        $('#helpMessage').hide();
        $('#helpBtn').click(function(e){
            e.preventDefault();
            $('#helpMessage').toggle();
        });

        $('span[data-toggle="tooltip"]').tooltip({
            placement : "bottom"
        });
    });
</script>
}
