@(project: Project, pull: PullRequest, isSafe: Boolean, commits: List[playRepository.GitCommit], comments: List[SimpleComment], canDeleteBranch: Boolean, canRestoreBranch: Boolean, conflicts: playRepository.GitConflicts, patch: String, activeTab: String)

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration

@branchName(branch:String) = @{
    branch.replace("refs/heads/", "")
}

@getCodeURL(project: Project) = @{
    if(session == null){
        CodeApp.getURL(project.owner, project.name)
    } else {
        defining(ProjectUser.roleOf(session.get("loginId"), project)) { role =>
            if(role == "manager" || role == "member"){
                CodeApp.getURL(project.owner, project.name).replace("://", "://" + session.get("loginId") + "@")
            } else {
                CodeApp.getURL(project.owner, project.name)
            }
        }
    }
}


@main(Messages("menu.pullRequest"), project, utils.MenuType.PULL_REQUEST) {
    <div class="page">
        @prjmenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")

        <div class="pullreq-info">
            <div class="pull-right">
                <button id="helpBtn" class="nbtn small gray mt5">
                    <i class="icon-question-sign icon-large"></i> @Messages("title.help")
                </button>
            </div>
            <div>
                <a href="@routes.UserApp.userInfo(pull.contributor.loginId)" class="avatar-wrap">
                    <img src="@pull.contributor.avatarUrl" width="32" height="32">
                </a>
                <a href="@routes.UserApp.userInfo(pull.contributor.loginId)">
                    <strong>@pull.contributor.name (@pull.contributor.loginId)</strong>
                </a>
                @Messages("merge.requested")

                <div class="pullRequest-branch ml10">
                    <span data-toggle="tooltip" data-original-title="@Messages("pullRequest.from")">
                        <code class="from">
                            <i class="icon-code-fork"></i>
                            <a href="@routes.UserApp.userInfo(pull.fromProject.owner)">@pull.fromProject.owner</a>/<!--
                         --><a href="@routes.ProjectApp.project(pull.fromProject.owner, pull.fromProject.name)">@pull.fromProject.name</a>:
                            @branchName(pull.fromBranch)
                        </code>
                    </span>
                    <i class="icon-arrow-right"></i>
                    <span data-toggle="tooltip" data-original-title="@Messages("pullRequest.to")">
                        <code class="to">
                            <i class="icon-code-fork"></i>
                            <a href="@routes.UserApp.userInfo(pull.toProject.owner)">@pull.toProject.owner</a>/<!--
                         --><a href="@routes.ProjectApp.project(pull.toProject.owner, pull.toProject.name)">@pull.toProject.name</a>:
                            @branchName(pull.toBranch)
                        </code>
                    </span>
                </div>
            </div>
            <div id="helpMessage" class="well" style="display:none;">
                <div class="row-fluid">
                <div class="pull-left">
                    <img class="img-polaroid" src="@routes.Assets.at("images/fork-pull/merge.jpg")"><br>
                </div>
                <div class="pull-left help-messages">
                    <p class="lead">@Messages("merge.help.1")</p>
                    <p>@Messages("merge.help.2")</p>
                    <p>@Messages("merge.help.3")</p>
                    <p>@Messages("merge.help.4")</p>
                </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs nm">
            <li @if(activeTab == "info"){ class="active" }><a href="#__info" data-toggle="tab">@Messages("pullRequest.menu.overview")</a></li>
            <li @if(activeTab == "commits"){ class="active" }><a href="#__commits" data-toggle="tab">@Messages("pullRequest.menu.commit")</a></li>
            <li @if(activeTab == "changes"){ class="active" }><a href="#__changes" data-toggle="tab">@Messages("pullRequest.menu.changes")</a></li>
        </ul>
        <div class="tab-content">
            <div id="__info" class="tab-pane @if(activeTab == "info"){ active }">
                @**<!-- Pull Request Info -->**@
                <div class="board-header issue" style="border-top:none;">
                    <div class="title pull-left">
                        <strong class="board-id">#@pull.number</strong> @pull.title
                    </div>
                    <div class="pull-right">
                        <div class="date">@agoString(pull.createdAgo)</div>
                        <span class="date badge badge-issue-@pull.state.state.toLowerCase">@Messages("issue.state." + pull.state.state)</span>
                    </div>
                </div>

                <div class="board-body">
                    <div class="content markdown-wrap markdown-before" markdown="true">@pull.body</div>
                </div>

                @if(pull.isOpen()){
                    @if(isSafe){
                    <div class="alert alert-success">
                        <h5>@Messages("pullRequest.is.safe")</h5>
                    </div>
                    } else {
                    <div class="alert alert-error">
                        <h5>@Messages("pullRequest.is.not.safe")</h5>
                        @if(conflicts != null) {
                        <div>
                            <h5>@Messages("pullRequest.conflict.files")</h5>
                            <ul class="unstyled conflict-files">
                                @for(file <- conflicts.conflictFiles) {
                                <li><i class="icon-file"></i> @file</li>
                                }
                            </ul>
                        </div>
                        <div>
                            <h5>@Messages("pullRequest.resolve.conflict")</h5>
                            <ol>
                                <li>@Messages("pullRequest.resolver.step1") <code>git checkout @branchName(pull.fromBranch)</code></li>
                                <li>@Messages("pullRequest.resolver.step2") <code>git remote add upstream @getCodeURL(pull.toProject)</code></li>
                                <li>@Messages("pullRequest.resolver.step3") <code>git fetch upstream</code></li>
                                <li>@Messages("pullRequest.resolver.step4") <code>git rebase upstream/@branchName(pull.toBranch)</code></li>
                                <li>@Messages("pullRequest.resolver.step5") </li>
                                <li>@Messages("pullRequest.resolver.step6") <code>git add 충돌을_해결한_파일</code></li>
                                <li>@Messages("pullRequest.resolver.step7") <code>git rebase --continue</code></li>
                                <li>@Messages("pullRequest.resolver.step8") </li>
                                <li>@Messages("pullRequest.resolver.step9") <code>git push -f origin @branchName(pull.fromBranch)</code></li>
                                <li>@Messages("pullRequest.resolver.step10") <a href="@routes.PullRequestApp.pullRequest(project.owner, project.name, pull.number)" class="nbtn orange small">@Messages("page.refresh")</a>@Messages("pullRequest.resolver.step11")</li>
                            </ol>
                        </div>
                        }
                    </div>
                    }
                }

                <div id="attachments" class="attachments" resourceType="@ResourceType.PULL_REQUEST" resourceId="@pull.id"></div>
            </div>

            <div id="__commits" class="code-browse-wrap tab-pane @if(activeTab == "commits"){ active }">
                <div id="history" class="commit-wrap mt20">
                    <table class="code-table commits">
                        <thead class="thead">
                        <tr>
                            <td class="commit-id"><strong>@{"@"}</strong></td>
                            <td class="messages"><strong>@Messages("code.commitMsg")</strong></td>
                            <td class="date"><strong>@Messages("code.commitDate")</strong></td>
                            <td class="author"><strong>@Messages("code.author")</strong></td>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        @for(commit <- commits.iterator()) {
                        <tr>
                            <td class="commit-id">
                                <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, commit.getId())">
                                    @commit.getShortId()
                                    <i class="ico ico-gray-arrow-right"></i>
                                </a>
                            </td>
                            <td class="messages">
                                @defining(CodeComment.count(pull.fromProject, commit.getId)){ numOfComment =>
                                    @if(numOfComment > 0) {
                                    <span class="number-of-comments"><i class="ico ico-comment-bubble"></i> @numOfComment</span>
                                    }
                                }
                                <a href="@routes.PullRequestApp.commitView(pull.toProject.owner, pull.toProject.name, pull.number, commit.getId())">
                                    @commit.getMessage()
                                </a>
                            </td>
                            <td class="date">@agoString(ago(commit.getAuthorDate()))</td>
                            <td class="author @commit.getAuthorEmail">
                                @defining(User.find.where.eq("email", commit.getAuthorEmail).findUnique) { user =>
                                @if(user != null) {
                                <a href="@routes.UserApp.userInfo(user.loginId)" class="avatar-wrap">
                                    <img src="@user.avatarUrl" alt="@user.name" width="32" height="32"/>
                                </a>
                                } else {
                                <div class="avatar-wrap">
                                    <img src="@urlToPicture(commit.getAuthorEmail(), 32)" width="32" height="32"/>
                                </div>
                                }
                                }
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="__changes" class="tab-pane @if(activeTab == "changes"){ active }">
                <pre>
@patch
                </pre>
            </div>
        </div>
        <div class="board-footer board-actrow">
            <button id="watch-button" type="button" class="nbtn medium blue @if(pull.getWatchers.contains(UserApp.currentUser())) { active }" data-toggle="button">
                @if(pull.getWatchers.contains(UserApp.currentUser())) {
                    @Messages("project.unwatch")
                } else {
                    @Messages("project.watch")
                }
            </button>
            @if(pull.isOpen()){
                @if(isSafe && isAllowed(UserApp.currentUser(), pull.asResource(), Operation.ACCEPT)){
                    <a href="@routes.PullRequestApp.accept(project.owner, project.name, pull.number)" class="nbtn orange medium">@Messages("pullRequest.accept")</a>
                }
                @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.REJECT)) {
                    <a href="@routes.PullRequestApp.reject(project.owner, project.name, pull.number)" class="nbtn black medium">@Messages("pullRequest.reject")</a>
                }
                @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.DELETE)) {
                    <a href="@routes.PullRequestApp.cancel(project.owner, project.name, pull.number)" class="nbtn gray medium">@Messages("pullRequest.cancel")</a>
                }
                @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.UPDATE)) {
                    <a href="@routes.PullRequestApp.editPullRequestForm(pull.toProject.owner, pull.toProject.name, pull.number)" class="nbtn gray medium">@Messages("button.edit")</a>
                }
            }

            @if(pull.isRejected()){
                @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.REOPEN)) {
                    <a href="@routes.PullRequestApp.open(project.owner, project.name, pull.number)" class="nbtn orange medium">@Messages("pullRequest.reopen")</a>
                }
                @if(isAllowed(UserApp.currentUser(), pull.asResource(), Operation.DELETE)) {
                    <a href="@routes.PullRequestApp.cancel(project.owner, project.name, pull.number)" class="nbtn gray medium">@Messages("pullRequest.cancel")</a>
                }
            }
        </div>
        @if(pull.isClosed()) {
        <div class="alert alert-info">
            <a href="@routes.UserApp.userInfo(pull.receiver.loginId)"><img src="@pull.receiver.avatarUrl" width="25" height="25" class="img-rounded"></a>
            <a href="@routes.UserApp.userInfo(pull.receiver.loginId)">@pull.receiver.name</a>@Messages("merged.the.pullrequest")
            @if(UserApp.currentUser().equals(pull.contributor)) {
                @if(canDeleteBranch) {
                <code>@pull.fromBranch</code> @Messages("delete.frombranch.message")
                <button class="nbtn black medium pull-right" data-request-method="delete" data-request-uri="@routes.PullRequestApp.deleteFromBranch(project.owner, project.name, pull.id)">@Messages("delete.branch")</button>
                }
                @if(canRestoreBranch) {
                <code>@pull.fromBranch</code> @Messages("restore.frombranch.message")
                <a href="@routes.PullRequestApp.restoreFromBranch(project.owner, project.name, pull.id)" class="nbtn orange medium pull-right">@Messages("restore.branch")</a>
                }
            }
        </div>
        }

        <div class="board-comment-wrap">
            <div class="comment-header"><strong>@Messages("comment")</strong> <strong class="num">@comments.size</strong></div>
            @if(comments.size > 0) {
            <ul class="comments" id="comments">
                @for(comment <- comments){
                <li id="comment-@comment.id" class="comment">
                    <a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap pull-left mt20">
                        <img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
                    </a>
                    <div class="media-body">
                        @if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
                        <a class="pull-right close" href="@routes.SimpleCommentApp.deleteComment(comment.id)">&times;</a>
                        }
                        <div class="comment-body markdown-wrap markdown-before" markdown="true">@comment.contents</div>
                        <p class="commenter">
                            <a href="@routes.UserApp.userInfo(comment.authorLoginId)"><strong>@comment.authorLoginId</strong></a>
                            <span class="date"><a href="#comment-@comment.id">@utils.TemplateHelper.agoString(comment.ago())</a></span>
                        </p>
                        <div class="attachments" resourceType="@ResourceType.ISSUE_COMMENT" resourceId="@comment.id"></div>
                    </div>
                </li>
                }
            </ul>
            }

            @views.html.commentForm(project, ResourceType.SIMPLE_COMMENT, routes.SimpleCommentApp.newComment(ResourceType.PULL_REQUEST.resource() + "_" + pull.id).toString())
        </div>
    </div>

@views.html.markdown(project)

<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("mention")">

<script type="text/javascript" src="@getJSLink("lib/mentionjs/mention")"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $yobi.loadModule("git.View", {
            "sWatchUrl"     : "@routes.WatchApp.watch(pull.asResource.asParameter)",
            "sUnwatchUrl"   : "@routes.WatchApp.unwatch(pull.asResource.asParameter)",
            "sFilesURL" : "@routes.AttachmentApp.getFileList",
            "sUploadURL": "@routes.AttachmentApp.uploadFile"
        });

        yobi.Mention({
            target:'comment-editor',
            @if(commits.isEmpty()) {
                url : "@Html(routes.ProjectApp.mentionListAtPullRequest(pull.toProject.owner, pull.toProject.name, "", pull.id).toString)"
            } else {
                url : "@Html(routes.ProjectApp.mentionListAtPullRequest(pull.toProject.owner, pull.toProject.name, commits.get(0).getId, pull.id).toString)"
            }
        });
    });
</script>
}
