@(project: Project, pull: PullRequest, commitId: String = null)

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import utils.TemplateHelper.DiffRenderer._
@import utils.AccessControl._
@import models.enumeration
@import scala.collection.JavaConversions._

@projectLayout(Messages("menu.pullRequest"), project, utils.MenuType.PULL_REQUEST) {
@projectMenu(project, utils.MenuType.PULL_REQUEST, "main-menu-only")
<div class="page-wrap-outer">
    <div class="project-page-wrap">
        <div class="code-browse-wrap">
            @partial_info(project, pull, "changes")
            @partial_branch(pull)

            <div id="commits" class="btn-group auto mt10">
                <button class="btn dropdown-toggle auto" data-toggle="dropdown">
                    <span class="d-label">@if(commitId == null) { All } else { @shortId(commitId) }</span>
                    <span class="d-caret"><span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-value="All">
                        <a href="@routes.PullRequestApp.pullRequestChanges(project.owner, project.name, pull.number)">All</a>
                    </li>
                    <li class="divider"></li>
                    @for(commit <- pull.pullRequestCommits if commit.state == PullRequestCommit.State.CURRENT){
                    <li data-value="@commit.commitId">
                        <a href="@routes.PullRequestApp.specificChange(project.owner, project.name, pull.number, commit.commitId)">
                            <strong class="blue-txt mr10">@commit.commitShortId</strong>
                            <span>@commit.getCommitMessage.split("\n")(0)</span>
                        </a>
                    </li>
                    }
                </ul>
            </div>

            <div class="pullRequest-changes">
                <button type="button" class="ybtn ybtn-default btn-toggle-reviewcards">
                    <i class="yobicon-minimize"></i>
                    <i class="yobicon-restore"></i>
                </button>

                <div class="diffs-wrap">
                    <div class="diff-body mt20">
                        @if(pull.isMerging == false && pull.isConflict == false){
                            @views.html.partial_diff(pull.getDiff(commitId), pull.getCodeCommentThreadsForChanges(commitId), pull.toProject, pull.toProject)
                        } else {
                            @partial_state(project, pull, false, false)
                        }
                        <div class="btnPop"><button type="button" class="ybtn ybtn-info ybtn-mini"><i class="yobicon-comments"></i></button></div>
                    </div>

                    @** BlockComment **@
                    @if(isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.REVIEW_COMMENT)){
                        @common.reviewForm(project, ResourceType.REVIEW_COMMENT, routes.PullRequestApp.newComment(project.owner, project.name, pull.id, commitId).toString())
                    }
                    @** // BlockComment **@
                </div>

                <div class="review-wrap">
                    <ul class="nav nav-tabs mt20" style="margin-bottom:10px;">
                        <li class="active"><a href="#reviewcards-open" data-toggle="tab">@Messages("issue.state.open")</a></li>
                        <li><a href="#reviewcards-closed" data-toggle="tab">@Messages("issue.state.closed")</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="reviewcards-open" class="tab-pane active">
                            @for(thread: CodeCommentThread <- pull.getCodeCommentThreadsForChanges(commitId)) {
                            <div class="review-card @thread.state.toString().toLowerCase()">
                                <div class="content">@thread.getFirstReviewComment().getContents()</div>
                                <div class="date" title="@utils.JodaDateUtil.getDateString(thread.createdDate)">
                                    @utils.JodaDateUtil.momentFromNow(thread.createdDate)
                                </div>
                            </div>
                        </div>

                        <div id="reviewcards-closed" class="tab-pane">

                        </div>
                    </div>
                    }
                </div>
            </div>

            @** BlockComment **@
            @if(isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.REVIEW_COMMENT)){
                @common.reviewForm(project, ResourceType.REVIEW_COMMENT, routes.PullRequestApp.newComment(project.owner, project.name, pull.id, commitId).toString())
            }
            @** // BlockComment **@
        </div>

        <div class="board-comment-wrap">
            <hr class="nm">
            <ul class="comments" id="comments">
            @renderNonRangedThreads(pull.commentThreads.toList, commitId, Html(""))
            </ul>
            @common.commentForm(project, ResourceType.REVIEW_COMMENT, routes.PullRequestApp.newComment(project.owner, project.name, pull.id, commitId).toString())
        </div>

        <div id="minimap" class="minimap-outer">
            <div class="minimap-wrap">
                <div class="minimap-curr"></div>
                <div class="minimap-links"></div>
            </div>
        </div>
    </div>
</div>

@common.markdown(project)
@common.mergely()
@common.commentDeleteModal("#__changes")

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mentionjs/mention.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/mentionjs/mention.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.CodeCommentBox.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.CodeCommentBlock.js")"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // yobi.Mention
        @defining(ifElse(pull.getCurrentCommits.isEmpty,
            routes.ProjectApp.mentionListAtPullRequest(pull.toProject.owner, pull.toProject.name, "", pull.id).toString(),
            routes.ProjectApp.mentionListAtPullRequest(pull.toProject.owner, pull.toProject.name, pull.getCurrentCommits.get(0).getCommitId, pull.id).toString()
        )){ mentionURL =>
        yobi.Mention({
            target:'comment-editor',
            url   : "@Html(mentionURL)"
        });
        }

        // code.Diff
        $yobi.loadModule("code.Diff", {
            "welDiff"      : $("#pull-request-changes"),
            "bCommentable" : @isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.REVIEW_COMMENT)
        });

        $("button.moreBtn").on("click", function(){
            $(this).next("pre.commitMsg.desc").toggleClass("hidden");
        });

        $("button.btn-toggle-reviewcards").on("click", function(){
            $(".pullRequest-changes").toggleClass("diffs-only");
        });
    });
</script>
}
