@(project: Project, resultIssues: Page[Issue])
@import utils.TemplateHelper._

@for(issue <- resultIssues.getList()){
  <tr>
      <td>@issue.id</td>
      <td>@Messages(issue.state.state)</td>
      <td><a href="@routes.IssueApp.issue(project.owner, project.name, issue.id)">
              @issue.title @if(issue.comments.size > 0){[@issue.comments.size]}</a></td>
      <td>
        @if(issue.assignee == null){
        <em>@Messages("issue.noAssignee")</em>
        } else {
        <em>@issue.assigneeName</em>
        }
      </td>
      <td>@agoString(issue.ago())</td>
  </tr>
}
