@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@

@(group: Organization, project: Project, searchResult: SearchResult)

@import utils.TemplateHelper._
@import utils.JodaDateUtil

@defining(searchResult.getPostComments) { page =>
    @if(page.getList.size > 0) {
    <ul class="search-list-wrap">
        @for(comment <- page.getList) {
            @defining(User.findByLoginId(comment.authorLoginId)){ user =>
            <li class="search-list-item">
                <div class="title-wrap">
                    <span class="post-id">#@comment.posting.getNumber</span>
                    <a href="@routes.BoardApp.post(comment.posting.project.owner, comment.posting.project.name, comment.posting.getNumber)#comment-@comment.id">
                        Re) @comment.posting.title
                    </a>
                </div>
                <div class="search-content">
                @defining(searchResult.makeSnippets(comment.contents, 40)) { snippets =>
                    @for(snippet <- snippets) {
                    <p class="search-content-body">
                        @snippet @if(snippet.size < comment.contents.size) { ..... }
                    </p>
                    }
                }
                </div>
                <div class="search-meta-info">
                    @if(project == null) {
                    <a href="@routes.ProjectApp.project(comment.posting.project.owner, comment.posting.project.name)" class="project-link meta-item">
                        @comment.posting.project.owner/@comment.posting.project.name
                    </a>
                    }
                    @if(user.name){
                        <a href="@routes.UserApp.userInfo(user.loginId)" class="meta-item" data-toggle="tooltip" data-placement="top" title="@user.loginId">
                            @user.getDisplayName
                        </a>
                    } else {
                        <span class="meta-item">@Messages("posting.noAuthor")</span>
                    }

                    <span class="meta-item" title="@JodaDateUtil.getDateString(comment.createdDate)">
                        @agoOrDateString(comment.createdDate)
                    </span>               
                </div>                
            </li>
            }
        }
    </ul>
    <!-- pagination.js will fill here. -->
    <div id="pagination"></div>

    <script type="text/javascript">
        $(document).ready(function(){
            yobi.Pagination.update($("#pagination"), @page.getTotalPageCount);
        });
    </script>
    } else {
        <div class="empty-result"></div>
    }
}
