@(title:String, form: Form[Milestone], project: Project)

@import utils.TemplateHelper._
@import models.enumeration._

@projectLayout(title, project, utils.MenuType.MILESTONE) {
<div class="page">
	@projectMenu(project, utils.MenuType.MILESTONE, "")

    <div class="form-wrap milestone frm-wrap">
        <form class="nm" action="@routes.MilestoneApp.newMilestone(project.owner, project.name)" method="post">
            <div class="inner left">
                <div class="title-wrap">
                    <label for="title">@Messages("milestone.form.title")</label>
                    <input type="text" name="title" id="title" placeholder="">
                </div>
                <div class="content-wrap">
                    <label for="contents">@Messages("milestone.form.content")</label>
                    <textarea id="contents" name="contents" markdown="true"></textarea>
                </div>
                
                @common.fileUploader(ResourceType.MILESTONE, null)
                
                <div class="actions mt20">
                    <button type="submit" class="ybtn ybtn-success">@Messages("button.save")</button>
                    <a href="@routes.MilestoneApp.milestones(project.owner, project.name)" class="ybtn">@Messages("button.cancel")</a>
                </div>
            </div>

            <div class="inner right bubble-wrap gray">
                <p>@Messages("milestone.form.state")</p>
                <div>
               		<input type="radio" name="state" value="@State.OPEN" id="milestone-open" class="radio-btn" checked="checked"><label for="milestone-open" class="bold">@Messages("milestone.state.open")</label>
               		&nbsp;
               		<input type="radio" name="state" value="@State.CLOSED" id="milestone-close" class="radio-btn"><label for="milestone-close" class="bold">@Messages("milestone.state.closed")</label>
                </div>
                <hr/>
                <p>@Messages("milestone.form.dueDate")</p>
                <label for="dueDate">
                    <input type="text" name="dueDate" id="dueDate" class="validate due-date">
                </label>
                <div id="datepicker" class="date-picker"></div>

            </div>
        </form>
    </div>
</div>

@common.markdown(project)

<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("mention")">
<script type="text/javascript" src="@getJSLink("lib/mentionjs/mention")"></script>

<link rel="stylesheet" type="text/css" href="@getCSSLink("pikaday")" />
<script type="text/javascript" src="@getJSLink("lib/moment.min")"></script>
<script type="text/javascript" src="@getJSLink("lib/pikaday")"></script>
<script type="text/javascript">
	$(document).ready(function() {
	    // yobi.milestone.Write
		$yobi.loadModule("milestone.Write", {
			"elDueDate"   : $("#dueDate"),
			"elDatePicker": $("#datepicker")
		});

        // yobi.Mention
        yobi.Mention({
            "target": "contents",
            "url"   : "@routes.ProjectApp.mentionList(project.owner, project.name)"
        });
	});
</script>
}
