@(title: String, form: Form[Milestone], milestoneId: Long, project: Project)

@import utils.TemplateHelper._
@import models.enumeration._
@implicitField = @{ helper.FieldConstructor(simpleForm) }

@main(title, project, utils.MenuType.MILESTONE) {
<div class="page">
	@prjmenu(project, utils.MenuType.MILESTONE, "")

	<div class="form-wrap milestone frm-wrap">
		<form class="nm" action="@routes.MilestoneApp.editMilestone(project.owner, project.name, milestoneId)" method="post">
		<div class="inner left">
			<dl>
				<dt>
					<label for="title">@Messages("milestone.form.title")</label>
				</dt>
				<dd>
					@helper.input(form("title")){(id, name, value, args) =>
						<input type="text" name="@name" id="@id" class="text" value="@value">
					}
				</dd>
		
				<dt>
					<label for="contents">@Messages("milestone.form.content")</label>
				</dt>
				<dd>
					@helper.input(form("contents")){(id, name, value, args) =>
					<textarea class="textarea" id="@id" name="@name">@value</textarea>
					}
				</dd>
			</dl>
	
			<div class="actions">
				<button type="submit" class="nbtn orange medium">@Messages("button.save")</button>
				<a href="@routes.MilestoneApp.milestones(project.owner, project.name)" class="nbtn medium">@Messages("button.cancel")</a>
			</div>
		</div>
	
		<div class="inner right bubble-wrap gray">
			<p>@Messages("milestone.form.state")</p>
			<div>
				<input type="radio" name="state" value="@State.OPEN" id="milestone-open" class="radio-btn" @if(form("state").value.equals(State.OPEN.name)) { checked="checked" }><label for="milestone-open" class="bold">@Messages("milestone.state.open")</label>&nbsp;
				<input type="radio" name="state" value="@State.CLOSED" id="milestone-close" class="radio-btn" @if(form("state").value.equals(State.CLOSED.name)) { checked="checked" }><label for="milestone-close" class="bold">@Messages("milestone.state.closed")</label>
			</div>
			<hr/>
			<p>@Messages("milestone.form.dueDate")</p>
			<label for="dueDate">
				@helper.input(form("dueDate")){(id, name, value, args) =>
				<input type="text" name="@name" id="@id" class="validate due-date" value="@value">
				}
			</label>
			<div id="datepicker" class="date-picker"></div>
		</div>
		</form>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="@getCSSLink("pikaday")" />
<script type="text/javascript" src="@getJSLink("lib/moment.min")"></script>
<script type="text/javascript" src="@getJSLink("lib/pikaday")"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$hive.loadModule("milestone.Write", {
			"elDueDate"   : $("#dueDate"),
			"elDatePicker": $("#datepicker")
		});
	});
</script>
}