@(title: String, form: Form[Milestone], projectName: String, milestoneId: Long, project: Project)

@import helper.twitterBootstrap._

@main(title, project) {
    @helper.form(action=routes.MilestoneApp.updateMilestone(projectName, milestoneId)){
        @helper.inputText(form("title"), '_showConstraints -> false, '_label-> Messages("label.title"))
        @helper.textarea(form("contents"), '_showConstraints -> false, '_label-> Messages("label.contents"))
        @helper.input(form("dueDate"), '_showConstraints -> false, '_label-> Messages("label.dueDate")) { (id, name, value, args) =>
            <input type="text" name="@name" value="@value" id="dueDate" />
        }
        <a href="@routes.MilestoneApp.manageMilestones(projectName)" class="btn">@Messages("button.cancel")</a>
        <input type="submit" class="btn btn-primary" value="@Messages("button.save")"/>
    }
}