@(title: String, milestones: List[models.Milestone], projectInst: Project, mCondition: MilestoneApp.MilestoneCondition)
@import scala.collection.immutable._
@import utils.TemplateHelper._
@makeSortLink(_sort:String) = @{
    var _direction = "asc";
    if(mCondition.sort.equals(_sort)) {
        if(_direction.equals(mCondition.direction)) {
            _direction = "desc"
        }
    }
    buildQueryString(routes.MilestoneApp.milestones(projectInst.owner, projectInst.name),
      Map("state"->mCondition.state, "sort"->_sort, "direction"->_direction)
    )
}
@makeIssuesLink(mId: Long, _state: String) = @{
  buildQueryString(routes.IssueApp.issues(projectInst.owner, projectInst.name, _state),
    Map("milestone"->mId.toString)
  )
}
@sortMark(_sort: String) = @{
    /* TODO It will be chnaged. */
    if(mCondition.sort.equals(_sort)) {
        if(mCondition.direction.equals("desc")){
        "▼"
        } else {
        "▲"
        }
    }
}
@makeMilestoneListLink(_state: String) = @{
  buildQueryString(routes.MilestoneApp.milestones(projectInst.owner, projectInst.name),
    Map("state"->_state)
  )
}

@project.projectMngMain(title, projectInst) {
    <h1 class="page-title"><span class="gray">@projectInst.owner/@projectInst.name/</span>Milestone</h1>
    <div>
        <div style="position: relative;">
            <ul class="nav nav-tabs" id="milestone_list">
                <li class="@if(mCondition.state.equals("all")){active}">
                <a href="@makeMilestoneListLink("all")">@Messages("milestone.state.all")</a>
                </li>
                <li class="@if(mCondition.state.equals("open")){active}">
                <a href="@makeMilestoneListLink("open")">@Messages("milestone.state.open")</a>
                </li>
                <li class="@if(mCondition.state.equals("closed")){active}">
                <a href="@makeMilestoneListLink("closed")">@Messages("milestone.state.closed")</a>
                </li>
            </ul>
            <div style="position: absolute; top: 10px; right: 0;">
                <a href="@makeSortLink("dueDate")">@Messages("sort.by.dueDate") @sortMark("dueDate")</a>
                <a href="@makeSortLink("completionRate")">@Messages("sort.by.completionRate")@sortMark("completionRate")</a>
            </div>
        </div>
    @if(milestones == null || milestones.isEmpty()){
        <p>@Messages("milestone.is.empty")</p>
    }else{
    <table class="table">
        <tbody>
            @for(milestone <- milestones){
            <tr>
                <td>
                    <h3><a href="@makeIssuesLink(milestone.id,"all")">@milestone.title</a><br /></h3>
                    @Messages("label.dueDate") @milestone.getDueDateString<br />
                    @milestone.contents
                </td>
                <td>
                    <a href="@makeIssuesLink(milestone.id,"closed")">@milestone.numClosedIssues</a> <span>@Messages("issue.state.closed")</span>
                    <a href="@makeIssuesLink(milestone.id,"open")">@milestone.numOpenIssues</a> <span>@Messages("issue.state.open")</span>
                    <div class="progress">
                        <div class="bar" style="width: @milestone.completionRate%;"></div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>

    }
    <div style="text-align: right">
        <a class="btn btn-primary" href="@routes.MilestoneApp.manageMilestones(projectInst.owner, projectInst.name)" >@Messages("milestone.menu.manage")</a>
    </div> 
}
