@(message: String, milestones: List[models.Milestone], projectName: String, state: String, sort: String, direction: String, projectInst:Project)
@makeSortLink(_sort:String) = @{
    var _direction = "asc";
    if(sort.equals(_sort)) {
        if(_direction.equals(direction)) {
            _direction = "desc"
        }
    }
    "/%s/milestones?state=%s&sort=%s&direction=%s".format(projectName, state, _sort, _direction)
}
@makeIssuesLink(mId: Long, _state: String) = @{
    "/issueList?milestone=%d&state=%s".format(mId, _state)
}
@sortMark(_sort: String) = @{
    /* TODO It will be chnaged. */
    if(sort.equals(_sort)) {
        if(direction.equals("desc")){
        "▼"
        } else {
        "▲"
        }
    }
}
-@project.projectMngMain(message, projectInst) {
    <div>
        <div style="position: relative;">
            <ul class="nav nav-tabs" id="milestone_list">
                <li class="@if(state.equals("all")){active}">
                <a href="@routes.MilestoneApp.milestones(projectName,"all")">@Messages("milestone.state.all")</a>
                </li>
                <li class="@if(state.equals("open")){active}">
                <a href="@routes.MilestoneApp.milestones(projectName,"open")">@Messages("milestone.state.open")</a>
                </li>
                <li class="@if(state.equals("closed")){active}">
                <a href="@routes.MilestoneApp.milestones(projectName,"closed")">@Messages("milestone.state.closed")</a>
                </li>
            </ul>
            <div style="position: absolute; top: 10px; right: 0;">
                <a href="@makeSortLink("dueDate")">@Messages("sort.by.dueDate") @sortMark("dueDate")</a>
                <a href="@makeSortLink("completionRate")">@Messages("sort.by.completionRate")@sortMark("completionRate")</a>
            </div>
        </div>
    @if(milestones == null || milestones.isEmpty()){
        <p>@Messages("milestone.is.empty")</p>
    }else{
    <table class="table">
        <tbody>
            @for(milestone <- milestones){
            <tr>
                <td>
                    <h3><a href="@makeIssuesLink(milestone.id,"all")">@milestone.title</a><br /></h3>
                    @Messages("label.dueDate") @milestone.getDueDateString<br />
                    @milestone.contents
                </td>
                <td>
                    <a href="@makeIssuesLink(milestone.id,"closed")">@milestone.numClosedIssues</a><span>@Messages("issue.state.closed")</span>
                    <a href="@makeIssuesLink(milestone.id,"open")">@milestone.numOpenIssues</a> <span>@Messages("issue.state.open")</span>
                    <div class="progress">
                        <div class="bar" style="width: @milestone.completionRate%;"></div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>
    <div style="text-align: right">
        <a class="btn btn-primary" href="@routes.MilestoneApp.manageMilestones(projectName)" >@Messages("milestone.menu.manage")</a>
    </div>
    }
}