@(title: String, milestones: List[models.Milestone], projectInst: Project, mCondition: MilestoneApp.MilestoneCondition)
@import scala.collection.immutable._
@import utils.TemplateHelper._

@makeSortLink(_sort:String) = @{
    var _direction = "asc";
    if(mCondition.sort.equals(_sort)) {
        if(_direction.equals(mCondition.direction)) {
            _direction = "desc"
        }
    }
    buildQueryString(routes.MilestoneApp.milestones(projectInst.owner, projectInst.name),
      Map("state"->mCondition.state, "sort"->_sort, "direction"->_direction)
    )
}
@makeIssuesLink(mId: Long, _state: String) = @{
  buildQueryString(routes.IssueApp.issues(projectInst.owner, projectInst.name, _state),
    Map("milestone"->mId.toString)
  )
}
@sortMark(_sort: String) = @{
    /* TODO It will be chnaged. */
    if(mCondition.sort.equals(_sort)) {
        if(mCondition.direction.equals("desc")){
        "down"
        } else {
        "up"
        }
    } else {
        "up hidden"
    }
}
@makeMilestoneListLink(_state: String) = @{
  buildQueryString(routes.MilestoneApp.milestones(projectInst.owner, projectInst.name),
    Map("state"->_state)
  )
}

@project.projectMngMain(title, projectInst) {
    <h1 class="page-title"><span class="gray">@projectInst.owner/@projectInst.name/</span>Milestone</h1>
    <div class="tab-wrap">
        <div class="pull-right btns">
            <a href="@routes.MilestoneApp.manageMilestones(projectInst.owner, projectInst.name)" class="n-btn small gray">MANAGE</a>
            <a href="@routes.MilestoneApp.newMilestone(projectInst.owner, projectInst.name)" class="n-btn small blue">NEW MILESTONE</a>
        </div>
        <ul class="nav nav-tabs">
            <li class="@if(mCondition.state.equals("all")){active}">
                <a href="@makeMilestoneListLink("all")">All Milestones</a>
            </li>
            <li class="@if(mCondition.state.equals("open")){active}">
                <a href="@makeMilestoneListLink("open")">Open Milestones</a>
            </li>
            <li class="@if(mCondition.state.equals("closed")){active}">
                <a href="@makeMilestoneListLink("closed")">Closed Milestones</a>
            </li>
        </ul>
    </div>
    <div class="filter-wrap milestone">
        <div class="filters">
            <a href="@makeSortLink("dueDate")" class="filter"><i class="ico ico-sort @sortMark("dueDate")"></i>완료일순</a>
            <a href="@makeSortLink("completionRate")" class="filter"><i class="ico ico-sort @sortMark("completionRate")"></i>완료율순</a>
        </div>
    </div>
    <ul class="milestones">
        @for(milestone <- milestones){
        <li class="milestone">
            <div class="infos">
                <ul class="contributors">
                    <li class="contributor">
                        <a href="/uname" class="img-rounded"><img src="/assets/images/default-avatar-34.png"></a>
                    </li>
                    <li class="contributor">
                        <a href="/uname" class="img-rounded"><img src="/assets/images/default-avatar-34.png"></a>
                    </li>
                    <li class="contributor">
                        <a href="/uname" class="img-rounded"><img src="/assets/images/default-avatar-34.png"></a>
                    </li>
                </ul>
                <div class="meta-info">
                    <strong class="version"></strong>
                    <span class="title">@milestone.title</span>
                    <span class="sp">|</span>
                    <span class="due-date">완료일 <strong>@milestone.getDueDateString</strong></span>
                </div>
                <div class="progress-wrap">
                    <div class="progress">
                        <div class="bar orange" style="width: @milestone.completionRate%;"></div>
                    </div>
                    <div class="pull-left">
                        <a href="@makeIssuesLink(milestone.id,"closed")">완료 @milestone.numClosedIssues (40%)</a>
                    </div>
                    <div class="pull-right">
                        <a href="@makeIssuesLink(milestone.id,"open")">미완료 @milestone.numOpenIssues (60%)</a>
                    </div>
                </div>
                <div class="desc">
                    @milestone.contents
                </div>
            </div>
            <div class="completion-rate @if(milestone.completionRate == 100){done}">@milestone.completionRate%</div>
        </li>
        }
    </ul>
}
