@(message: String, milestones: List[models.Milestone], projectName: String, sort: String, direction: String, projectInst: Project)
@completionRateName(completionRate: Int) = @{
    /* TODO It will be chnaged. */
    if(completionRate == 100) Messages("milestone.state.closed")
    else Messages("milestone.state.open")
}
@sortMark(_sort: String) = @{
    /* TODO It will be chnaged. */
    if(sort.equals(_sort)) {
        if(direction.equals("desc")){
            "▼"
        } else {
            "▲"
        }
    }
}
@makeSortLink(_sort:String) = @{
    var _direction = "asc";
        if(sort.equals(_sort)) {
            if(_direction.equals(direction)) {
            _direction = "desc"
        }
    }
    routes.MilestoneApp.manageMilestones(projectName, _sort, _direction)
}
@project.projectMngMain(message, projectInst) {
    <div>
    @if(milestones == null || milestones.isEmpty()){
        <p>@Messages("milestone.is.empty")</p>
    }else{
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>
                        <a href="@makeSortLink("title")">@Messages("label.title") @sortMark("title")</a>
                    </td>
                    <td>@Messages("label.contents")</td>
                    <td>
                        <a href="@makeSortLink("dueDate")">@Messages("label.dueDate") @sortMark("dueDate")</a>
                    </td>
                    <td>
                        <a href="@makeSortLink("completionRate")">@Messages("label.state") @sortMark("completionRate")</a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
            @for(milestone <- milestones){
                <tr>
                    <td>
                        <a href="@routes.MilestoneApp.editMilestone(projectName, milestone.id)">@milestone.title</a>
                    </td>
                    <td>@milestone.contents</td>
                    <td>@milestone.getDueDateString</td>
                    <td>@completionRateName(milestone.completionRate)</td>
                    <td><a href="@routes.MilestoneApp.deleteMilestone(projectName, milestone.id)">@Messages("button.delete")</a></td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div style="text-align: right">
        <a class="btn btn-primary" href="@routes.MilestoneApp.newMilestone(projectName)" >@Messages("milestone.menu.new")</a>
    </div>
    }
}
