@(title: String, milestone: models.Milestone, project: Project, issueState:State)
@import scala.collection.immutable._
@import utils.TemplateHelper._
@import utils.AccessControl._

@urlToList = {@routes.MilestoneApp.milestones(project.owner, project.name)}

@makeIssuesLink(mId: Long, _state: String) = @{
    buildQueryString(routes.IssueApp.issues(project.owner, project.name, _state),
        Map("milestoneId"->mId.toString)
    )
}

@getTabLinkByState(state:State) = {
	@routes.MilestoneApp.milestone(project.owner, project.name, milestone.id)?state=@state.state
}

@main(title, project, utils.MenuType.MILESTONE) {
<div class="page">
	@prjmenu(project, utils.MenuType.MILESTONE, "")
    <h3>
        <a href="@routes.MilestoneApp.milestone(project.owner, project.name, milestone.id)" class="title">@milestone.title</a>
        <small>
            @if(milestone.dueDate != null) {
            <span class="due-date">@Messages("label.dueDate") <strong>@milestone.getDueDateString</strong></span>
            <span class="date">(@milestone.until)</span>
            }
            <span class="badge badge-issue-@milestone.state.state.toLowerCase margin-left-5">@Messages("milestone.state." + milestone.state.state)</span>
        </small>
    </h3>

    <div class="progress">
        <div class="bar orange" style="width: @milestone.getCompletionRate%;"></div>
    </div>
    <div class="progress-label clearfix">
        <div class="pull-left">
            <a href="@makeIssuesLink(milestone.id,"closed")">@Messages("issue.state.closed") <strong>@milestone.getCompletionRate%</strong></a>
        </div>
        <div class="pull-right">
            <a href="@makeIssuesLink(milestone.id,"open")">@Messages("issue.state.open") <strong>@{100 - milestone.getCompletionRate}%</strong></a>
        </div>
    </div>

    <div class="milestone-desc">
        <div markdown="true" class="markdown-wrap">@milestone.contents</div>
    </div>

	<ul class="nav nav-tabs">
    @for(state <- Array(State.OPEN, State.CLOSED)) {
        <li @if(issueState == state) { class="active" }>
            <a href="@getTabLinkByState(state)">
                @Messages("issue.state." + state.name.toLowerCase())
                <span class="num-badge">@Issue.countIssuesBy(project.id, state, null, null, milestone.id, null)</span>
            </a>
        </li>
    }
    </ul>

	<div class="issues">
		@issue.partial_massupdate(project, IssueApp.SearchCondition.emptySearchCondition)
        @{
	        if(issueState == State.OPEN) {
	        	issue.partial_list(project, milestone.sortedByNumberOfOpenIssue(), IssueApp.SearchCondition.emptySearchCondition,0,0)
	        } else if(issueState == State.CLOSED) {
	        	issue.partial_list(project, milestone.sortedByNumberOfClosedIssue(), IssueApp.SearchCondition.emptySearchCondition,0,0)
	        } else {
	        	issue.partial_list(project, milestone.sortedByNumberOfIssue(), IssueApp.SearchCondition.emptySearchCondition,0,0)
	        }
        }

	</div>

    <div class="actrow right-txt" style="padding: 15px 0;">
        @if(isAllowed(UserApp.currentUser(), milestone.asResource(), Operation.DELETE)){
        <a href="@routes.MilestoneApp.deleteMilestone(project.owner, project.name, milestone.id)" class="nbtn medium red pull-left">@Messages("milestone.delete")</a>
        }

        @if(isAllowed(UserApp.currentUser(), milestone.asResource(), Operation.UPDATE)){
            @if(milestone.state == State.OPEN) {
                <a href="@routes.MilestoneApp.close(project.owner, project.name, milestone.id)" class="nbtn medium blue">@Messages("milestone.close")</a>
            }
            @if(milestone.state == State.CLOSED) {
                <a href="@routes.MilestoneApp.open(project.owner, project.name, milestone.id)" class="nbtn medium white">@Messages("milestone.open")</a>
            }
            <a href="@routes.MilestoneApp.editMilestoneForm(project.owner, project.name, milestone.id)" class="nbtn medium">@Messages("button.edit")</a>
        }
        <a href="@routes.MilestoneApp.milestones(project.owner, project.name)" class="nbtn medium orange">@Messages("button.list")</a>
    </div>


</div>

@markdown(project)

}