@(title: String, milestone: models.Milestone, project: Project)
@import scala.collection.immutable._
@import utils.TemplateHelper._

@urlToList = {@routes.MilestoneApp.milestones(project.owner, project.name)}

@makeIssuesLink(mId: Long, _state: String) = @{
    buildQueryString(routes.IssueApp.issues(project.owner, project.name, _state),
        Map("milestone"->mId.toString)
    )
}

@main(title, project, utils.MenuType.MILESTONE) {
<div class="page">
	@prjmenu(project, utils.MenuType.MILESTONE, "")
    <h3>
        <a href="@routes.MilestoneApp.milestone(project.owner, project.name, milestone.id)" class="title">@milestone.title</a>
        <small>
            @if(milestone.dueDate != null) {
            <span class="due-date">@Messages("label.dueDate") <strong>@milestone.getDueDateString</strong></span>
            <span class="date">(@milestone.until)</span>
            }
            <span class="badge badge-issue-@milestone.state.state.toLowerCase">@Messages("issue.state." + milestone.state.state)</span>
        </small>
    </h3>

    <div class="progress">
        <div class="bar bar-success" style="width: @milestone.getCompletionRate%;"></div>
    </div>
    <div class="progress-label clearfix">
        <div class="pull-left">
            <a href="@makeIssuesLink(milestone.id,"closed")">@Messages("milestone.state.closed") <strong>@milestone.getCompletionRate%</strong></a>
        </div>
        <div class="pull-right">
            <a href="@makeIssuesLink(milestone.id,"open")">@Messages("issue.state.open") <strong>@{100 - milestone.getCompletionRate}%</strong></a>
        </div>
    </div>

    <hr>
    <div class="desc">
        @milestone.contents
    </div>

    <hr>
    <ol class="issue-list">
        @for(issue <- milestone.issues){
        <li class="issue">
            <div class="num"><a href="@routes.IssueApp.issue(project.owner, project.name, issue.getNumber)">@issue.getNumber</a></div>
            <div class="attach-wrap">
                @if(Attachment.findByContainer(issue.asResource).size > 0){
                <i class="ico ico-clip"></i>
                }
            </div>
            <div class="contents">
                <p class="title">
                    <a href="@routes.IssueApp.issue(project.owner, project.name, issue.getNumber)">@issue.title</a>
                    @for(label <- issue.labels.toList.sortBy(r => (r.category, r.name))) {
                    <button class="issue-label" data-labelId="@label.id" data-color="@label.color">@label.name</button>
                    }
                </p>
                <p class="infos nm">by
                    <a href="@routes.UserApp.userInfo(issue.authorLoginId)" class="author">@Option(issue.authorLoginId).orElse(Option(Messages("issue.noAuthor"))).get</a>
                    <span class="date">@agoString(issue.ago)</span>
                </p>
            </div>
            <div class="right-panel">
                <div class="state @issue.state.toString.toLowerCase">@Messages("issue.state." + issue.state.toString.toLowerCase)</div>
                <div class="comment-wrap">
                    <i class="ico ico-comment-bubble"></i><span class="num">@issue.comments.size()</span>
                </div>
                @if(issue.assignee != null) {
                <a href="@routes.UserApp.userInfo(issue.assignee.user.loginId)" class="avatar-wrap img-rounded pull-right">
                    <img src="@issue.assignee.user.avatarUrl" width="32" height="32" alt="@issue.assignee.user.name"></a>
                }
            </div>
        </li>
        }
    </ol>

    <div class="actrow pull-right">
        <a href="@routes.MilestoneApp.editMilestoneForm(project.owner, project.name, milestone.id)" class="nbtn medium black">@Messages("button.delete")</a>
        <a href="@routes.MilestoneApp.editMilestoneForm(project.owner, project.name, milestone.id)" class="nbtn medium">@Messages("button.edit")</a>
        <a href="@routes.MilestoneApp.milestones(project.owner, project.name)" class="nbtn medium orange">@Messages("button.list")</a>
    </div>


</div>
}