.gnb-outer .gnb-inner .gnb-menu-wrap .gnb-menus .menu.active { color: #5dd4ff }

/* issue common */
.user-picture { border: 1px solid #cccccc; border-radius: 4px; }

.info .author { color: #999999; }
.info .author a { color: #696969; }
.info p { margin: 0px; }

/* issue list */
body { font-size: 12px; }
.issue-list { color: #333333; }
.issue-list td { border-color: #cdcdcd; }
.issue-list tr:first-child td { border-top: none; }
.issue-list tr:last-child td { border-bottom: 1px solid #cdcdcd; }
.issue-list td.no { font-size: 11px; color: #b2b2b2; }
.issue-list td.info { width: 100%; }
.issue-list td.state { font-weight: bold; }
.issue-list td.state.opened { color: #51AACC; }
.issue-list td.state.closed { color: #bbbbbb; }
.issue-list td.comments { color: #4489a4; }
.issue-list td.assignee { min-width: 34px; }

p.ordering { text-align: right; }
p.ordering a { color: #949494 }
p.ordering a[selected] { color: #666666 }

/* dashboard */
.dashboard { background-color: #ececec; padding: 10px; border-radius: 6px; }
.dashboard dl { margin: 0px; }
.dashboard dl div { display: inline-block; background-color: #ffffff; border-radius: 6px; box-shadow: 0px 1px 0px #c5c5c5; padding: 10px 15px 15px 10px; }
.dashboard dl div.active { box-shadow: inset 0px 1px 0px #c5c5c5; }
.dashboard dt, dd { display: inline; }
.dashboard dt { font-weight: normal;}
.dashboard dt span { font-weight: bold; }
.dashboard dd { font-family: Din; font-size: 30px; font-weight: bold; letter-spacing: -1px; text-shadow: #c9c9c9 0px -1px 0px; }
.dashboard dt.all { color: #666666 }
.dashboard dd.all { color: #f28149 }
.dashboard dt.open { color: #666666 }
.dashboard dd.open { color: #51aacc }

.dashboard hr { border-top-color: #d4d4d4; border-bottom-color: #ffffff; margin: 10px 0px 10px 0px; }

.dashboard form { background-color: #fff; padding: 15px 10px 15px 10px; border-radius: 6px; border-bottom: 1px solid #c5c5c5; margin: 0px; }
.dashboard form.form-search button { margin: 0px 0px 0px 7px; }
.dashboard .btn-flat { background-color: #fff; border: 1px solid; border-color: #e1e1e1 #c4c4c4 #c4c4c4 #e1e1e1; color: #707070; background: none; }
.dashboard .btn-small { font-weight: bold; }

/* properties */
.properties { background-color: #f6f6f6; }
.properties { border-top: 1px solid #e2e2e2; }
.properties .controls button { margin-left: 5px; }
.properties .control-group { padding-bottom: 9px; padding-top: 10px; margin: 0px;}
.properties div.control-group {
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #e2e2e2;
}

/* label */
.labels { background-color: #f6f6f6; }
.labels { border-top: 1px solid #e2e2e2; }
.labels .controls button { margin-left: 5px; }
.labels .control-group { padding-bottom: 9px; padding-top: 10px; margin: 0px;}
.labels .controls button.btn.active { text-shadow: none; }
.labels div.control-group {
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #e2e2e2;
}

.issue-label {
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
  min-width: 20px;
  min-height: 20px;
  margin-left: 3px;
}
.issue-label.active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.labels input { margin-left: 7px; }

.labels a.del-link {
  border: none;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  opacity: 0.35;
}
.labels a.del-link:hover { opacity: 0.7; }

.active.active-dimgray { color: dimgray }
.active.active-white { color: white }
.active .active-dimgray { color: dimgray }
.active .active-white { color: white }

/* issue */
.number { color: #51aacc; }

article hgroup { padding: 14px 0px 13px 0px; border-color: rgb(224, 224, 224); border-style: solid; border-width: 1px 0px 1px 0px; }
article .issue-info-group { border-top: 2px solid rgb(251, 250, 248); padding-top: 20px; }
article .issue-info-group .assignee { color: #333333; font-size: 11px; margin-bottom: 0px; }
article .issue-info-group .no-assignee { color: rgb(173, 173, 173); }
article .issue-info-group .assignee-name { color: #5c5c5c; font-size: 12px; font-weight: bold; margin-bottom: 0px; }
article .issue-info { float: left; }
article .issue-etc-info { float: none; color: #646464; font-size: 11px; }
article .title { color: #000000; font-size: 14px; font-weight: bold; }
article .body { color: #666666; margin-top: 22px; } /* 34px = 22px + 9px of <p> + (line height 18px - font size 12px) / 2 */

/* comment */
.comment-area {
  margin-top: 40px;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #666666;
}
.comment-area .info {
  color: #222222;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.comment-area .comments { border-top: 1px solid #ffffff; border-bottom: 1px solid #e6e6e6; }
.comment-area .comments { padding-left: 20px; padding-right: 20px; } /* 40px = 31px + 9px of <p> */
.comment-area .comment {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 15px;
  padding-bottom: 6px;
}/* 15 = 6px + 9px of <p> */
.comment-area .comment .author { color: #646464; font-weight: bold; }
.comment-area .comment .date { color: #bdbdbd; }
.comment-area .comment:last-child { border-bottom: none; }
.comment-area #comment-form { padding-left: 20px; padding-top: 17px; border-top: 1px solid #ffffff; }
.comment-area .comment .span11 { margin-left: 0px; }

#issue-form input.title { width: 100%; }
#issue-form textarea.textbody  { width: 100%; }

#issue-form .file-attachment { padding: 20px; padding-top: 15px; border-radius: 6px; background-color: #f5f5f5; }
#issue-form .attachment-list { border-radius: 4px; background-color: #dfdfdf; padding: 20px; }
#issue-form .attachment-list li { list-style-type: none; }
#issue-form .file-attachment .close { margin-left: 10px; float: none; }

#advanced-search-form { margin-top: 15px; }
