@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(organization: Organization, favored:Boolean, isLast:Boolean = false)
@import utils.TemplateHelper._

@isAllowShowCount() = @{
    UserApp.currentUser().isSiteManager || UserApp.currentUser().isAdminOf(organization)
}

@defining(UserApp.currentUser().getFavoriteProjects){ favoriteProjects =>
<li class="@if(isLast){favored} org-li">
    <div class="org-list project-flex-container all-orgs">
        <div class="project-item project-item-container">
            <div class="flex-item site-logo">
                <i class="project-avatar">@if(hasOrganizationLogo(organization)){<img class="logo" src="@urlToOrganizationLogo(organization)">}else{<span class="dummy-25px"> </span>}</i>
            </div>
            <div class="projectName-owner all-org-names flex-item">
                <div class="project-name org-name flex-item"><a href="@routes.OrganizationApp.organization(organization.name)" target="_blank">@organization.name</a></div>
                <div class="project-owner flex-item">@if(isAllowShowCount){@organization.projects.size()}</div>
            </div>
        </div>
        <div class="star-org flex-item" data-organization-id="@organization.id">
            <i class="star @if(favored){starred} material-icons">star</i>
        </div>
    </div>
    <ul class="project-ul">
        @for(project <- organization.projects){
            @allProjectList_partial(project, favoriteProjects.contains(project))
        }
    </ul>
</li>
}
