@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(currentUser:models.User)

@import utils.TemplateHelper._
@import utils.JodaDateUtil
@import utils.MenuType._

@siteLayout(utils.Config.getSiteName, utils.MenuType.SITE_HOME) {
    @if(currentUser == User.anonymous){
    @partial_intro()
    } else {
    <div class="page-wrap-outer">
        <div class="page-wrap">
            <div class="site-guide-outer hide">
                <h3>
                    <span>@Messages("app.welcome",utils.Config.getSiteName) - @Messages("app.description")</span>
                </h3>
                <table class="welcome-table table borderless">
                    <tr>
                        <td>
                            <a href="@routes.ProjectApp.newProjectForm()" class="ybtn ybtn-success">
                            @Messages("button.newProject")
                            </a>
                        </td>
                        <td>@Messages("app.welcome.project.desc")</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@routes.OrganizationApp.newForm()" class="ybtn ybtn-success">
                            @Messages("title.newOrganization")
                            </a>
                        </td>
                        <td>@Messages("app.welcome.group.desc")</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@routes.ProjectApp.projects()" class="ybtn ybtn-success">
                            @Messages("title.projectList")
                            </a>
                        </td>
                        <td>@Messages("app.welcome.searchProject.desc")</td>
                    </tr>
                </table>
            </div>
            <div class="guide-toggle">
                <button class="btn-transparent" id="toggleIntro"><i class="yobicon-resizev"></i></button>
            </div>
            <div class="page on-fold-intro">
                <div class="row-fluid content-container">
                    <div class="span8 main-stream hide-in-mobile">
                        @views.html.common.mySeriesMenuTab(TAB_NOTI)
                        <ul class="activity-streams notification-wrap unstyled">
                            @partial_notifications(0, 20)
                        </ul>
        	        </div>
                    <div class="span4 span-hard-wrap">
                        <ul class="nav nav-tabs nm">
                            <li class="active">
                                <a href="#myPorjectList" data-toggle="tab">
                                    @Messages("title.project")
                                </a>
                            </li>
                            <li>
                                <a href="#myOrganizationList" data-toggle="tab">
                                    @Messages("title.organization")
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-box">
                            <div class="tab-searchbox">
                                <div class="search-bar">
                                    <input name="mylist-filter" id="mylist-filter" class="textbox full" type="text" value="" data-toggle="item-search" data-items="my-item">
                                    <button type="button" class="search-btn"><i class="yobicon-search"></i></button>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane myproject-list-wrap active" id="myPorjectList">
                                    <div class="subtab-wrap">
                                        <ul class="nav-subtab unstyled">
                                            <li class="active">
                                                <a href="#recentlyVisited" data-toggle="tab">
                                                    @Messages("title.recently.visited")
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#createdByMe" data-toggle="tab">
                                                    @Messages("title.createdByMe")
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#watching" data-toggle="tab">
                                                    @Messages("title.watching")
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#joinmember" data-toggle="tab">
                                                    @Messages("title.joinmember")
                                                </a>
                                            </li>
                                        </ul>    
                                    </div>
                                    <div class="tab-content">
                                        @myProjectList(currentUser)
                                    </div>
                                </div>
                                <div class="tab-pane myorganization-list-wrap" id="myOrganizationList">
                                    @myOrganizationList(currentUser)
                                </div>
                            </div>
                        </div>     
        	       </div>
                </div>
            </div>
        </div>
    </div>
    }
    <script type="text/javascript">
        $(document).ready(function(){
            $("#toggleIntro").click(function(){
                $(".site-guide-outer").toggleClass("hide");
                localStorage.setItem("yobi-intro", !$(".site-guide-outer").hasClass("hide"));
            });

            if(localStorage.getItem("yobi-intro") != "false"){
                $(".site-guide-outer").removeClass("hide");
            }

            $('.notification-wrap').on('click','[data-toggle="learnmore"]',function(event) {
                var sTargetId = $(this).data('target'),
                    welMessage = $('#'+sTargetId),
                    nHeight;

                if(event.target.localName =='a' || event.target.localName =='img') {
                    return ;
                }

                welMessage.toggleClass('nowrap');

                nHeight = (welMessage.hasClass('nowrap')) ? '' : $(welMessage).find('.message').height();

                $(welMessage).css('min-height',nHeight);
            });

        });
    </script>
}
