@(currentUser:models.User)
@import utils.TemplateHelper._

<ul class="unstyled my-project-item">
@defining(Organization.findOrganizationsByUserLoginId(UserApp.currentUser.loginId)) { organizations =>
    @for(organization <- organizations){
        <li class="my-list-item" data-value="@organization.name">
            @if(hasOrganizationLogo(organization)){<img src="@urlToOrganizationLogo(organization)">}else{<span class="dummy-25px"> </span>}<a href="@routes.OrganizationApp.organization(organization.name)">
                <span class="bold">@organization.name</span>
            </a>
        </li>
    }
}
</ul>
