@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(currentUser:User)
@import utils.TemplateHelper._

@displayProjects(title:String, projects:List[Project], isActive:Boolean = false) = {
    @if(projects.isEmpty) {
        <div id="@title" class="no-result tab-pane user-ul @if(isActive){active}">@Messages("title.no.results")</div>
    } else {
        <ul class="tab-pane user-ul @if(isActive){active}" id="@title">
        @for(project <- projects){
            @myProjectList_partial(project, false)
        }
        </ul>
    }
}
        <div>
            <div class="search-result">
                <div class="tab-pane myproject-list-wrap" >
                    <div class="group">
                        <input class="search-input project-search" type="text" id="query" autocomplete="off" placeholder="@Messages("title.type.name")">
                        <span class="bar"></span>
                    </div>
                    <div class="subtab-wrap subtab-group">
                        <ul class="nav-subtab unstyled">
                            <li class="active">
                                <a href="#recentlyVisited" data-toggle="tab">
                                @Messages("title.recently.visited")
                                </a>
                            </li>
                            <li>
                                <a href="#createdByMe" data-toggle="tab">
                                @Messages("title.createdByMe")
                                </a>
                            </li>
                            <li>
                                <a href="#watching" data-toggle="tab">
                                @Messages("title.watching")
                                </a>
                            </li>
                            <li>
                                <a href="#joinmember" data-toggle="tab">
                                @Messages("title.joinmember")
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        @views.html.index.displayProjects("recentlyVisited", currentUser.getVisitedProjects, true)
                        @displayProjects("watching", currentUser.getWatchingProjects("name ASC"))
                        @displayProjects("createdByMe", Project.findProjectsCreatedByUser(currentUser.loginId, "createdDate desc"))
                        @displayProjects("joinmember", Project.findProjectsJustMemberAndNotOwner(currentUser, "name ASC"))
                    </div>
                </div>
            </div>
        </div>

