@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(project:Project, favored:Boolean, isLast:Boolean = false)
@import utils.TemplateHelper._

<li class="user-li @if(isLast){favored}" data-location="@routes.ProjectApp.goConventionMenu(project.owner, project.name)">
    <div class="project-list project-flex-container">
        <div class="project-item project-item-container">
            <div class="flex-item site-logo">
                <i class="project-avatar">@if(hasProjectLogo(project)){<img class="logo" src="@urlToProjectLogo(project)">}else{<span class="dummy-25px"> </span>}</i>
            </div>
            <div class="projectName-owner flex-item">
                <div class="project-name flex-item">@project.name @if(project.isPrivate){<i class="yobicon-lock yobicon-small"></i>}</div>
                <div class="project-owner flex-item"><a href="@routes.UserApp.userInfo(project.owner)" >@project.owner</a></div>
            </div>
        </div>
        <div class="star-project flex-item" data-project-id="@project.id">
            <i class="star @if(favored){starred} material-icons">star</i>
        </div>
    </div>
</li>

