@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@import com.feth.play.module.pa.views.html._

<div class="siteintro-bg row">
<div class="siteintro">
    <div class="siteintro-cover">
        <div class="siteintro-wrap">
            <h1 class="site-heading">21st Century Software Development Platform</h1>
            <ul class="site-features">
                <li>Just focus on what you have to do</li>
            </ul>
        </div>
        <div class="signup-btn">
            <a href="@routes.UserApp.signupForm()" class="ybtn ybtn-success ybtn-padding">
                @Messages("button.signup",utils.Config.getSiteName)
            </a>
        </div>
    </div>
</div>
<div class="feature">
    <h2><span>@Messages("title.features")</span></h2>
    <ul class="feature-wrap row">
        <li>
            <div class="feature-image"><i class="yobicon-cgicenter"></i></div>
            <div class="feature-info">
                <h3 class="feature-title">@Messages("title.unlimitedProjects")</h3>
                <p class="feature-desc">@Messages("site.features.unlimitedProjects")</p>
            </div>
        </li>
        <li>
            <div class="feature-image"><i class="yobicon-code"></i></div>
            <div class="feature-info">
                <h3 class="feature-title">@Messages("title.codeManagement")</h3>
                <p class="feature-desc">@Messages("site.features.codeManagement")</p>
            </div>
        </li>
        <li>
            <div class="feature-image"><i class="yobicon-articles"></i></div>
            <div class="feature-info">
                <h3 class="feature-title">@Messages("title.issueTracker")</h3>
                <p class="feature-desc">@Messages("site.features.issueTracker")</p>
            </div>
        </li>
        <li>
            <div class="feature-image"><i class="yobicon-lock"></i></div>
            <div class="feature-info">
                <h3 class="feature-title">@Messages("title.privateProject")</h3>
                <p class="feature-desc">@Messages("site.features.privateRepositories")</p>
                </div>
        </li>
        <li>
            <div class="feature-image"><i class="yobicon-preview"></i></div>
            <div class="feature-info">
                <h3 class="feature-title">@Messages("title.codeReview")</h3>
                <p class="feature-desc">@Messages("site.features.codeReview")</p>
            </div>
        </li>
        <li>
            <div class="feature-image"><i class="yobicon-friends"></i></div>
            <div class="feature-info">
                <h3 class="feature-title">@Messages("title.workTeam")</h3>
                <p class="feature-desc">@Messages("site.features.workTeam")</p>
            </div>
        </li>
    </ul>
</div>
</div>
