@(title:String, issueForm:Form[Issue], project:Project)
@import helper._
@import scala.collection.mutable.Map
@import models.enumeration.ResourceType
@import models.enumeration.Operation
@import utils.AccessControl._
@import utils.TemplateHelper._
@import controllers.UserApp

@projectLayout(Messages(title), project, utils.MenuType.ISSUE) {
@projectMenu(project, utils.MenuType.ISSUE, "main-menu-only")
<div class="project-page-wrap">
	<div class="content-wrap frm-wrap">
	@form(action = routes.IssueApp.newIssue(project.owner, project.name), 'id -> "issue-form", 'enctype -> "multipart/form-data" ) {
    <div class="row-fluid">
        <div class="span12">
            <dl>
                <dt>
                    <label for="title">@Messages("title")</label>
                </dt>
                <dd>
                	@defining(issueForm.errors().get("title")) { errors =>
                    <input type="text" id="title" name="title" value="" class="text title zen-mode @if(errors != null) {error}" maxlength="250" tabindex="1">
	                    @if(errors != null) {
							<div class="message">
							@for(error <- errors) {
								<div>@Messages(error.message)</div>
							}
							</div>
						}
					}
                </dd>
            </dl>
        </div>

        <div class="row-fluid">
            <div class="span9">
                <dl>
                    <dd style="position: relative;">
                        <div id="mode-select">
                            <input type="radio" name="edit-mode" id="edit-mode" value="edit" checked="checked" class="radio-btn">
                            <label for="edit-mode" style="margin-right:3px;">Edit</label>
                            <input type="radio" name="edit-mode" id="preview-mode" value="preview" class="radio-btn">
                            <label for="preview-mode">Preview</label>
                        </div>
                        <a href="#" class="go-zen"><i class="s s--zen">Edit in Zen Mode</i></a>
                        @help.markdown()
                        <div class="textarea-box">
                            <textarea id="body" name="body" markdown="true" class="zen-mode content nm" tabindex="2" data-label="@Messages("issue.error.emptyBody")"></textarea>
                        </div>
                    </dd>
                </dl>

                @** fileUploader **@
                @if(!UserApp.currentUser.isAnonymous) {
                    @common.fileUploader(ResourceType.ISSUE_POST, null)
                }
                @** end of fileUploader **@

                <div class="actrow right-txt">
                    <button type="submit" class="ybtn ybtn-success">@Messages("button.save")</button><!--
                 --><a href="javascript:history.back();" class="ybtn">@Messages("button.cancel")</a>
                </div>
            </div>
            <div class="span3">
                @if(isProjectResourceCreatable(UserApp.currentUser(), project, ResourceType.ISSUE_ASSIGNEE)) {
                <dl class="issue-option">
                     <dt>@Messages("issue.assignee")</dt>
                     <dd>
                        <div id="assignee" class="btn-group auto" data-name="assignee.user.id">
                            <button class="btn dropdown-toggle auto" data-toggle="dropdown">
                                <span class="d-label">@Messages("issue.assignee.selectDefault")</span>
                                <span class="d-caret"><span class="caret"></span></span>
                            </button>
                            <ul class="dropdown-menu">
                            @for(member <- project.members()) {
                                <li data-value="@member.user.id">
                                    <a href="javascript:void(0)" class="usf-group">
                                        <span class="avatar-wrap smaller">
                                            <img src="@User.findByLoginId(member.user.loginId).avatarUrl" width="20" height="20">
                                        </span>
                                        <strong class="name">@member.user.name</strong>
                                        <span class="loginid"> <strong>@{"@"}</strong>@member.user.loginId</span>
                                    </a>
                                </li>
                            }
                            </ul>
                        </div>
                     </dd>
                </dl>
                }

                @if(isProjectResourceCreatable(UserApp.currentUser(), project, ResourceType.ISSUE_MILESTONE)) {
                    <dl id="milestoneOption" class="issue-option">
                        <dt>@Messages("milestone")</dt>
                        <dd>
                        @defining(Milestone.options(project.id)) { milestones =>
                            @if(milestones.isEmpty()) {
                                <a href="@routes.MilestoneApp.newMilestoneForm(project.owner, project.name)" target="_blank" class="ybtn ybtn-success ybtn-small">@Messages("milestone.menu.new")</a>
                            } else {
                                <div id="milestoneId" class="btn-group auto" data-name="milestoneId">
                                    <button class="btn dropdown-toggle auto" data-toggle="dropdown">
                                        <span class="d-label">@Messages("issue.milestone.selectDefault")</span>
                                        <span class="d-caret"><span class="caret"></span></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @milestones.map{ v =>
                                        <li data-value="@v._1"><a>@v._2</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                        </dd>
                    </dl>
                }

                <dl id="labels" class="issue-option">
                    <dt>
                        @Messages("label.select")
                        @if(isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.ISSUE_LABEL)){
                        <button id="manage-label-link" type="button" class="btn-transparent"><i class="yobicon-cog"></i></button>
                        }
                    </dt>
                    <dd>
                        <fieldset class="labels issue-form-labels"></fieldset>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    } @** end of form **@
	</div>
</div>

@common.markdown(project)

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/mentionjs/mention.css")">
<script id="tplRelIssue" type="text/x-jquery-tmpl">
<li class="issue-item"><a href="${link}" class="title-link" target="_blank"><strong class="issue-id">#${id}</strong> ${title}</a><span class="date">${date}</span></li>
</script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/mentionjs/mention.js")"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    // yobi.Label
        yobi.Label.init({
            "sURLLabels": "@routes.IssueLabelApp.labels(project.owner, project.name)",
            "sURLPost"  : "@routes.IssueLabelApp.newLabel(project.owner, project.name)"
        });

        // yobi.issue.Write
		$yobi.loadModule("issue.Write", {
			"sMode"		   : "new",
            "sIssueFormURL": "@routes.IssueApp.newIssueForm(project.owner, project.name)",
			"sIssueListURL": "@routes.IssueApp.issues(project.owner, project.name)",
            "elTextarea"   : $("#body"),
            "elMilestoneRefresh": $("#milestoneOption .yobicon-refresh")
		});

        // yobi.Mention
        yobi.Mention({
            "target": "body",
            "url"   : "@routes.ProjectApp.mentionList(project.owner, project.name)"
        });
    });
</script>
}
