@(title:String, issueForm:Form[Issue], issueId:Long,  project:Project)
@import helper._
@import scala.collection.mutable.Map
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@isVisible(resource: models.enumeration.Resource)(content: => Html) = @{
  roleCheck(session.get("userId"), project.id, resource, models.enumeration.Operation.EDIT){
    content
  }
}

@main(Messages(title), project) {

<!-- FIXEME 
(1) 수정했을 시에, 수정시간으로 업데이트 되는 것이 아니라, 본 글이 원래 작성된 시간을 그대로 가지고 있을 것!
(2) 매니저 및 멤버가 해당 이슈를 수정시에, 작성자가 변하지 않아야 함.
--> 
    @form(action = routes.IssueApp.updateIssue(project.owner, project.name, issueId), 
            'enctype -> "multipart/form-data",
            'class -> "form-horizontal"){
    <fieldset>
    	@inputText(
    	   issueForm("title"), 
    	   '_showConstraints -> false, 
           '_label-> Messages("post.new.title"),
           'class -> "input-xxlarge")

    	@textarea(
    	   issueForm("body"), 
    	   '_showConstraints -> false, 
           '_label-> Messages("post.new.contents"),
           'rows -> 16,
           'class -> "input-xxlarge textbody")

    	@inputFile(
    	   issueForm("filePath"),
    	   '_label -> Messages("post.new.filePath"))
    </fieldset>
    	</br></br>
    	
    	 <fieldset>
            <div class="well">
            <legend><b>@Messages("issue.new.environment")</b></legend>
                <div class="well form-inline">
                        @selectEx(
                            issueForm("osType"), 
                            options(Issue.osTypes),
                            '_label-> Messages("issue.new.environment.osType"),
                            '_default -> Messages("issue.new.selectDefault.osType"),
                            '_showConstraints -> false)
                        @selectEx(
                            issueForm("browserType"), 
                            options(Issue.browserTypes),
                            '_label-> Messages("issue.new.environment.browserType"),
                            '_default -> Messages("issue.new.selectDefault.browserType"),
                            '_showConstraints -> false)
                        @selectEx(
                            issueForm("dbmsType"), 
                            options(Issue.dbmsTypes),
                            '_label-> Messages("issue.new.environment.dbmsType"),
                            '_default -> Messages("issue.new.selectDefault.dbmsType"),
                            '_showConstraints -> false)
                </div>
            </div>
        </fieldset>
    	
    	
    	
    	@if(ProjectUser.isMember(session.get("userId").toLong, project.id)){
    	<fieldset>
            <div class="well">
                <legend><b>@Messages("issue.new.detailInfo")</b></legend>
                <div class="well form-inline">
                @isVisible(models.enumeration.Resource.ISSUE_CATEGORY) {
                    @selectEx(
                            issueForm("issueType"), 
                            options(Issue.issueTypes),
                            '_label-> Messages("issue.new.detailInfo.issueType"),
                            '_default -> Messages("issue.new.selectDefault.issueType"),
                            '_showConstraints -> false)
                    }
                    @isVisible(models.enumeration.Resource.ISSUE_ASSIGNEE) {        
                        @select(
                            issueForm("assigneeId"), 
                            options(ProjectUser.options(project.id)),
                            '_label-> Messages("issue.new.detailInfo.assignee"),
                            '_default -> Messages("issue.new.selectDefault.assignee"),
                            '_showConstraints -> false)
                    }        
            <!-- FIXME 컴포넌트 관련 스펙이 정해지면 수정할것 -->
                    @isVisible(models.enumeration.Resource.ISSUE_COMPONENT) {  
                        @select(
                            issueForm("componentName"), 
                            options = options(
                                        "component_1"->"Component id 1"),
                            '_label-> Messages("issue.new.detailInfo.component"),
                            '_default -> Messages("issue.new.selectDefault.component"),
                            '_showConstraints -> false)
                     }
                     @isVisible(models.enumeration.Resource.ISSUE_MILESTONE) {
                        @select(
                            issueForm("milestoneId"), 
                            options(Milestone.options(project.id)),
                            '_label-> Messages("issue.new.detailInfo.milestone"),
                            '_default -> Messages("issue.new.selectDefault.milestone"),
                            '_showConstraints -> false)
                     }
                </div>      
            </div>
        </fieldset>
        <fieldset>
            <div class="well">
                <legend><b>@Messages("issue.new.result")</b></legend>
                <div class="well form-inline">
                     @isVisible(models.enumeration.Resource.ISSUE_IMPORTANCE) {    
                        @selectEx(
                            issueForm("importance"), 
                            options(Issue.importances),
                            '_label-> Messages("issue.new.result.importance"),
                            '_default -> Messages("issue.new.selectDefault.importance"),
                            '_showConstraints -> false)
                      }
                      @isVisible(models.enumeration.Resource.ISSUE_DIAGNOSISRESULT) {      
                        @selectEx(
                            issueForm("diagnosisResult"), 
                            options(Issue.diagnosisResults),
                            '_label-> Messages("issue.new.result.diagnosisResult"),
                            '_default -> Messages("issue.new.selectDefault.diagnosisResult"),
                            '_showConstraints -> false)
                       }     
                </div>      
            </div>
        </fieldset>
    	}
    	<input type="hidden" value="@issueForm("authorId").value" name="authorId"/>
    	<input type="submit" class="btn" value=@Messages("button.save") />
    	<input type="reset" class="btn" value=@Messages("button.reset") />
    }

    @board.postVaildate()

@views.html.markdown(Map("#body" -> "edit"))
}
