@(title:String, issueForm:Form[Issue], issue:Issue,  project:Project)
@import helper._
@import scala.collection.mutable.Map
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@import models.enumeration.ResourceType
@import models.enumeration.Operation
@import utils.AccessControl._
@import models.enumeration._

@main(Messages(title), project, utils.MenuType.ISSUE) {

<div class="page">
	@prjmenu(project, utils.MenuType.ISSUE, "main-menu-only")
  
	<div class="content-wrap frm-wrap">  
    
    @form(action = routes.IssueApp.editIssue(project.owner, project.name, issue.id), 'id -> "issue-form", 'enctype -> "multipart/form-data") {
    <input type="hidden" name="authorId" value="@issue.authorId">
    
    <dl>
    	<dt>
			<label for="title"><!-- <strong class="secondary-txt">#@issue.id</strong>-->@Messages("post.new.title")</label>
    	</dt>
    	<dd>
    		<input type="text" id="title" name="title" value="@issue.title" class="text title" maxlength="250" tabindex="1">
    	</dd>
    	<dd>
    		<textarea id="body" name="body" markdown="true" class="text content" tabindex="2">@issue.body</textarea>
    	</dd>
    </dl>

	@** fileUploader **@
    @if(UserApp.currentUser() != UserApp.anonymous) {
	<div class="content-footer">
		<div class="attach-wrap">
			<div class="avatar-wrap">
				<img src="@User.findByLoginId(session.get("loginId")).avatarUrl" width="32" height="32">
			</div>
			<div id="upload" class="attach-info-wrap" resourceType="@ResourceType.ISSUE_POST" resourceId="@issue.id">
				<div>
					<span class="progress-num">0%</span> <span class="sp-line">&nbsp;</span>
					<strong>total</strong> <span class="total-num">0Mb</span>
				</div>
				<div class="progress-wrap">
					<div class="progress n4">
						<div class="bar orange" style="width: 0%;"></div>
					</div>
				</div>
			</div>

			<div class="btn-wrap">
				<div class="nbtn medium white fake-file-wrap">
					<i class="ico ico-plus-blue"></i>@Messages("button.upload")<!-- 
				--> <input type="file" class="file" name="filePath">
				</div>
			</div>
		</div>
		<script type="text/template" id="tplAttachedFile"><!--
				--><li class="attached-file" data-name="${fileName}" data-href="${fileHref}" data-mime="${mimeType}" data-size="${fileSize}">
				<strong>${fileName}(${fileSizeReadable})</strong><!--
				--><a class="attached-delete"><i class="ico btn-delete"></i></a></li>
			</script>

		<div class="attached-files-wrap">
			<ul class="attached-files"></ul>
		</div>
	</div>
	}
	@** end of fileUploader **@

	<br>
	
	<!-- issue options -->
	<ul id="options" class="options unstyled issue-options">
		@if(isAllowed(UserApp.currentUser(), issue.stateAsResource(), Operation.UPDATE)){
		<li class="option">
             <div class="option-label">@Messages("issue.state")</div>
             <div class="option-desc">
             	<div id="state" class="btn-group" data-name="state">
					<button class="btn dropdown-toggle large" data-toggle="dropdown">
						<span class="d-label">@Messages("issue.state")</span>
						<span class="d-caret"><span class="caret"></span></span>
					</button>
					<ul class="dropdown-menu">
						<li data-value="@State.OPEN.name" @if(issue.state == State.OPEN){data-selected="true" class="active"}><a href="javascript:void(0)">@Messages("issue.state.open")</a></li>
						<li data-value="@State.CLOSED.name" @if(issue.state == State.CLOSED){data-selected="true" class="active"}><a href="javascript:void(0)">@Messages("issue.state.closed")</a></li>
					</ul>
				</div>
             </div>
		</li>
		}

		@if(isAllowed(UserApp.currentUser(), issue.assigneeAsResource(), Operation.UPDATE)){
		<li class="option">
             <div class="option-label">@Messages("issue.new.detailInfo.assignee")</div>
             <div class="option-desc">
             	<div id="assignee" class="btn-group" data-name="assignee.user.id">
					<button class="btn dropdown-toggle large" data-toggle="dropdown">
						<span class="d-label">@Messages("issue.new.selectDefault.assignee")</span>
						<span class="d-caret"><span class="caret"></span></span>
					</button>
					<ul class="dropdown-menu">
						@ProjectUser.options(project.id).map{ v =>
						<li data-value="@v._1" @if(issue.assignee != null && issue.assignee.user.id.toString() == v._1){data-selected="true" class="active"}><a href="javascript:void(0)">@v._2</a></li>
						}
					</ul>
				</div>
             </div>
		</li>
		}
		
		@if(isAllowed(UserApp.currentUser(), issue.milestoneAsResource(), Operation.UPDATE)){
		<li class="option">
             <div class="option-label">@Messages("issue.new.detailInfo.milestone")</div>
             <div class="option-desc">
				<div id="milestoneId" class="btn-group" data-name="milestoneId">
					<button class="btn dropdown-toggle large" data-toggle="dropdown">
						<span class="d-label">@Messages("issue.new.selectDefault.milestone")</span>
						<span class="d-caret"><span class="caret"></span></span>
					</button>
					<ul class="dropdown-menu">
						@Milestone.options(project.id).map{ v =>
						<li data-value="@v._1" @if(issue.milestone != null && issue.milestone.id.toString() == v._1){data-selected="true" class="active"}><a href="javascript:void(0)">@v._2</a></li>
						}
					</ul>
				</div>
             </div>
		</li>
		}
	</ul>
	
	<!-- issue.label js module appends a label selector here. -->
	<p class="option-label">@Messages("label.select")</p>
	<fieldset class="labels issue-form-labels form-horizontal bubble-wrap gray"></fieldset>

	<div class="actions">
	 	<button type="submit" class="nbtn orange medium">@Messages("button.save")</button><!--
	 --><a href="javascript:history.back();" class="nbtn medium last">@Messages("button.cancel")</a> 
	</div>
	@** <!-- @routes.IssueApp.issues(project.owner, project.name, "all") --> **@

	} @** end of form **@
	</div>
</div>

@markdown()

<script type="text/javascript">
	$(document).ready(function(){
		// hive.Label
		var htOptLabel = {
			"sURLLabels"   : "@routes.IssueLabelApp.labels(project.owner, project.name)", 
			"sURLPost"     : "@routes.IssueLabelApp.newLabel(project.owner, project.name)",
			"htActive"     : {@for(label <- issue.labels) { "@label.id":"@label.color", }"":""}
		};

        @if(isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.ISSUE_LABEL)){
			htOptLabel.bEditable = true;
		}
		
		// hive.issue.Write
		$hive.loadModule("issue.Write", {
			"sMode"			 : "edit",
			"elTextarea"	 : $("#body"),
			"sUploaderAction": "@routes.AttachmentApp.uploadFile",
			"htOptLabel"     : htOptLabel
		});
	});
</script>

}
