@(title: String, currentPage: Page[Issue], projectId: Long, currentSortBy: String, currentOrder: String, currentFilter: String, status: String, commentedCheck: Boolean, fileAttachedCheck: Boolean)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@****************************************
* Helper generating navigation links    *
****************************************@
@link(projectId:Long, newPage:Int, newSortBy:String, status:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.IssueApp.list(projectId, newPage, sortBy, order, currentFilter, status)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(projectId, 0, key, status)">@title</a>
    </th>
}

@main(title){
<div id = "issue_page">
	<div class="row">
		<div span="span6">
			<div class="pull-right">
				<!-- 검색 기능 재구현할것-->
				<select id="selectMilestone">
							<option class="blank" value="">--마일스톤--</option>
							@Milestone.options(projectId).map { v => <option value="@v._1" >@v._2</option>}
				</select>
				<form class="form-search" action="@routes.IssueApp.search(projectId, currentFilter)" method="GET" id="searchForm">
					<input type="text" name="filter" value="@currentFilter" placeholder="이슈 검색..">
					<input type="hidden" name="projectId" value="@projectId">
					<button type="submit" id="searchSubmit" class="btn"> <i class="icon-search"> </i></button>
				</form>
				<a class="btn btn-primary" href="@routes.IssueApp.newIssue(projectId)" >새 이슈</a>
			</div>
		</div>
	</div>
	<div>
		<ul class="nav nav-tabs" id="issue_list">
			<li class="@if(status.equals("all")){active}"><a href="@routes.IssueApp.list(projectId, 0, "date", "desc", "", "all", false, false)">전체</a></li>
			<li class="@if(status.equals("open")){active}"><a href="@routes.IssueApp.list(projectId, 0, "date", "desc", "", "open", false, false)">미해결</a></li>
			<li class="@if(status.equals("closed")){active}"><a href="@routes.IssueApp.list(projectId, 0, "date", "desc", "", "closed", false, false)">해결</a></li>
		</ul>
		@if(currentPage.getTotalRowCount == 0){
			<div class="well span11">
				<em>등록된 이슈가 없습니다</em>
			</div>
		}else{
		<div class="pull-right">
			<form class="form-inline" id="checkboxForm" action="@routes.IssueApp.search(projectId, currentFilter, 0, "date","desc",status, commentedCheck, fileAttachedCheck)" method="GET">
				<input type="hidden" name="projectId" value="@projectId">
				<input type="hidden" name="filter" value="@currentFilter">
				<input type="hidden" name="status" value="@status">
		        <div class="control-group">
		            <label class="control-label" for="inlineCheckboxes"></label>
		            
		            <div class="controls inline">
		            	<fieldset>
		              	<label class="checkbox inline">
		                	<input type="checkbox" name="commentedCheck" id="commentCheckId" value="1"> 댓글
		             	</label>
		            	<label class="checkbox inline">
		                	<input type="checkbox" name="fileAttachedCheck" id="fileAttachedCheckId" value="1"> 첨부파일
		              	</label>
		              	</fieldset>
		            	
		            	<a href="@routes.IssueApp.extractExcelFile()"><i class ="icon-download-alt"></i>EXCEL</a>
		            	</div>
		        </div>
		    </form>
		</div>

			<table class="table">
				<thead>
					<tr>
						@header("id", "#")
						@header("status", "상태")
						@header("title", "제목")
						@header("assignee.name", "담당자")
						@header("date", "작성일")
					</tr>
				</thead>
				<tbody>
				
					@for(issue <- currentPage.getList()){
						<tr>
							<td>@issue.id</td>
							<td>@issue.status()</td>
							<td><a href="@routes.IssueApp.issue(issue.id, projectId)">@issue.title @if(issue.commentCount > 0){[@issue.commentCount]} @if(issue.filePath != null){<i class="icon-file">}</a></td>
							<td>
								@if(issue.assignee == null){
								<em>미배정</em>						
							} else {
								@issue.assignee.name
							}
							</td>
							<td>@issue.date.format("dd MMM yyyy")</td>

				</tr>
				}
			</tbody>
		</table>

		<div class="row">
			<div class="span6 offset4">
				<div id="pagination" class="pagination">
	            <ul>
	                @if(currentPage.hasPrev) {
	                    <li class="prev">
	                        <a href="@link(projectId, currentPage.getPageIndex - 1, null,status)">&larr; Previous</a>
	                    </li>
	                } else {
	                    <li class="prev disabled">
	                        <a>&larr; Previous</a>
	                    </li>
	                }
	                <li class="current">
	                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
	                </li>
	                @if(currentPage.hasNext) {
	                    <li class="next">
	                        <a href="@link(projectId, currentPage.getPageIndex + 1, null,status)">Next &rarr;</a>
	                    </li>
	                } else {
	                    <li class="next disabled">
	                        <a>Next &rarr;</a>
	                    </li>
	                }
	            </ul>
	        	</div>
	   		</div>
			<div class="span2">
	            <a class="btn pull-right" href=""><i class="icon-ok"></i>자동알림</a>
	        </div>
		</div>
	</div>
</div>
}
	<script>
	$(document).ready(function() {
			$("#checkboxForm").bind("change check", function(){
				if($("#commentCheckId").is(":checked") && $("#fileAttachedCheckId").is(":checked")) {
					alert("commentedCheck and fileAttachedCheck");
					return $("form[id='checkboxForm']").submit();
				}
				else if($("#commentCheckId").is(":checked")) {
					return $("form[id='checkboxForm']").submit();
				}
				else if($("#fileAttachedCheckId").is(":checked")) {
				
					return $("form[id='checkboxForm']").submit();
				} else {
					alert("unchecked");
					return false;
				}
			});	
		});
	</script>

}
