@(title: String, currentPage: Page[Issue], projectId: Long, currentSortBy: String, currentOrder: String, currentFilter: String, status: Int)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String, status:Int) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.IssueApp.list(projectId, newPage, sortBy, order, currentFilter, status)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key, status)">@title</a>
    </th>
}

@main(title){
<div class="row">
	<div span="span12">
		<div class="pull-right">
			<form class="form-search form-inline">
				<label class="control-label" for="selectMilestone"></label>
<!--TODO Options으로 바꿀것-->
				<a class="controls">
					<select id="selectMilestone">
						<option>마일스톤</option>
						<option>마일스톤3</option>
					</select>
				</a>
				<form action="@link(0, "statusType",status)" method="GET">
					<label class="control-label" for="searchIssueButton">검색</label>
					<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Search by issue title...">
					<button type="submit" id="searchsubmit" class="btn">
						<i class="icon-search"></i>
					</button>
					<a class="btn btn-primary" href="@routes.IssueApp.newIssue(projectId)" >새 이슈</a>
				</form>
			</form>
		</div>
	</div>
</div>

<div>
	<ul class="nav nav-tabs" id="issue_list">
		<li class="@if(status.equals(0)){active}"><a href="@routes.IssueApp.list(projectId, 0, "", "", "", 0)">전체</a></li>
		<li class="@if(status.equals(5)){active}"><a href="@routes.IssueApp.list(projectId, 0, "", "", "", 5)">미해결</a></li>
		<li class="@if(status.equals(6)){active}"><a href="@routes.IssueApp.list(projectId, 0, "", "", "", 6)">해결</a></li>
	</ul>

	<div class="pull-right">
          <div class="control-group">
            <label class="control-label" for="inlineCheckboxes"></label>
            <div class="controls">
              <label class="checkbox inline">
                <input type="checkbox" id="fineOnlyCommented" value="fineOnlyCommented"> 댓글
              </label>
              <label class="checkbox inline">
                <input type="checkbox" id="fineOnlyFileattached" value="fineOnlyFileattached"> 첨부파일
              </label>
              <label class="checkbox inline">
               <a href="@routes.IssueApp.extractExcelFile()"><i class ="icon-download-alt"></i>EXCEL</a>
           </label>
            </div>
          </div>
</div>

	@if(currentPage.getTotalRowCount == 0){

		<div class="well">
			<em>등록된 이슈가 없습니다</em>
		</div>

	}else{


		<table class="table">
			<thead>
				<tr>
					@header("id", "#")
					@header("status", "상태")
					@header("title", "제목")
					@header("responsibleMember.name", "담당자")
					@header("date", "작성일")
				</tr>
			</thead>
			<tbody>
			
				@for(issue <- currentPage.getList()){
					<tr>
						<td>@issue.id</td>
						<td>@issue.status()</td>
						<td><a href="@routes.IssueApp.issue(issue.id, projectId)">@issue.title [@issue.commentCount]</a></td>
						<td>
							@if(issue.responsibleMember == null){
							<em>미배정</em>						
						} else {
							@issue.responsibleMember.name
						}
						</td>
						<td>@issue.date.format("dd MMM yyyy")</td>

			</tr>
			}
		</tbody>
	</table>

	<div class="row">
		<div class="span6 offset4">
			<div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null,status)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null,status)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        	</div>
   		</div>
		<div class="span2">
            <a class="btn pull-right" href=""><i class="icon-ok"></i>자동알림</a>
        </div>
	</div>
</div>
	

	} }