@(title: String, currentPage: Page[Issue], param:support.SearchCondition, project:Project)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@header(label:String, sortBy:String) = {
    <th>
        <a sortBy="@sortBy" href="@routes.IssueApp.issues(project.name, param.stateType)">@label</a>
        @if(sortBy == param.sortBy){
        @if(param.orderBy == "desc"){
        <i class="icon-chevron-down"></i>
        } else {
        <i class="icon-chevron-up"></i>
        }
        }
    </th>
}

@main(Messages(title), project){
<div id = "issue_page">
	<div class="row">
		<div span="span6">
			<div class="pull-right">
				<form id="searchForm" class="form-search form-inline" action="@routes.IssueApp.issues(project.name, param.stateType)" method="GET" >
					<select id="milestone" name="milestone">
						<option class="blank" value ="">@Messages("issue.menu.milestoneSelectDefault")</option>@Milestone.options(project.id).map { v => <option id="changeMilestone" name ="milestone" value="@v._1" >@v._2</option>}
					</select>
					<input type="hidden" name="sortBy" value="@param.sortBy">
          			<input type="hidden" name="orderBy" value="@param.orderBy">
					<input type="text" name="filter" value="@param.filter" placeholder=@Messages("issue.menu.searchDefault")>
					<input type="hidden" name="stateType" value="@param.stateType">
					<button type="submit" id="searchSubmit" class="btn"> <i class="icon-search"> </i></button>
				
				<a class="btn btn-primary" href="@routes.IssueApp.newIssue(project.name)" >@Messages("issue.menu.new")</a>
				</form>
			</div>
		</div>
	</div>
	<div>
		<ul class="nav nav-tabs" id="issue_list">
			<li class="@if(param.stateType.equals("all")){active}">
				<a href="@routes.IssueApp.issues(project.name,"all")">@Messages("issue.stateType.all")</a></li>
			<li class="@if(param.stateType.equals("open")){active}">
				<a href="@routes.IssueApp.issues(project.name, "open")">@Messages("issue.stateType.open")</a></li>
			<li class="@if(param.stateType.equals("closed")){active}">
				<a href="@routes.IssueApp.issues(project.name, "closed")">@Messages("issue.stateType.closed")</a></li>
		</ul>
				
		@if(currentPage.getTotalRowCount == 0){
			<div class="well span11">
				<em>@Messages("issue.is.empty")</em>
			</div>
		}else{
		<div class="pull-right">
			<form class="form-inline" id="checkboxForm" action="@routes.IssueApp.issues(project.name, param.stateType)" method="GET">
				
				<input type="hidden" name="filter" value="@param.filter">
				<input type="hidden" name="stateType" value="@param.stateType">
		        <div class="control-group">
		            <label class="control-label" for="inlineCheckboxes"></label>
		            
		            <div class="controls inline">
		            	<fieldset>
		              	<label class="checkbox inline">
		                	<input type="checkbox" name="commentedCheck" id="commentCheckId" value="1"> @Messages("checkbox.commented")
		             	</label>
		            	<label class="checkbox inline">
		                	<input type="checkbox" name="fileAttachedCheck" id="fileAttachedCheckId" value="1"> @Messages("checkbox.fileAttached")
		              	</label>
		              	<a href="@routes.IssueApp.extractExcelFile(project.name)"><i class ="icon-download-alt"></i>@Messages("button.excelDownload")</a>
		            	</fieldset>
		            </div>
		        </div>
		    </form>
		</div>

			<table class="table">
				<thead>
					<tr>
						@header(Messages("label.id"),"id")
						@header(Messages("label.state"), "state")
						@header(Messages("label.title"), "title")
						@header(Messages("label.assignee"), "assigneeId")
						@header(Messages("label.date"), "date")
					</tr>
				</thead>
				<tbody>
				
					@for(issue <- currentPage.getList()){
						<tr>
							<td>@issue.id</td>
							<td>@issue.state()</td>
							<td><a href="@routes.IssueApp.issue(project.name, issue.id)">@issue.title @if(issue.numOfIssueComments > 0){[@issue.numOfIssueComments]} @if(issue.filePath != null){<i class="icon-file">}</a></td>
							<td>
								@if(issue.assigneeId == null){
								<em>@Messages("issue.no.assignee")</em>						
							} else {
								<em>@User.findLoginIdById(issue.assigneeId)</em>
							}
							</td>
							<td>@issue.date.format("dd MMM yyyy")</td>

						</tr>
					}
			</tbody>
		</table>

		<div class="row">  
    <div class="span6 offset4">
        @pagination(currentPage, 5, "pagination");
    </div>
    <div class="span2">
        <a class="btn pull-right" href=""><i class="icon-ok"></i>@Messages("button.autoNotification")</a>
    </div>
  </div>
 

	</div>
</div>
}
	<script>
		$("#checkboxForm").bind("change check", function(){
				if($("#commentCheckId").is(":checked") && $("#fileAttachedCheckId").is(":checked")) {
					return $("form[id='checkboxForm']").submit();
				}
				else if($("#commentCheckId").is(":checked")) {
					return $("form[id='checkboxForm']").submit();
				}
				else if($("#fileAttachedCheckId").is(":checked")) {
				
					return $("form[id='checkboxForm']").submit();
				} else {
					return false;
				}
			});	
		$("th a").click(function(){
			    var key = $(this).attr("sortBy");
			    var $input = $("#searchForm input[name=sortBy]");
			    if(key !== $input.val())
			    {
			        $input.val(key)
			    }
			    else
			    {
			        $input = $("#searchForm input[name=orderBy]");
			        if($input.val() === "desc")
			            $input.val("asc");
			        else if($input.val() === "asc")
			            $input.val("desc");
			    }    
	    $("#searchForm").submit();
			    return false;
			});
			  
	    $("pagination").click(function(){
			  
			});
			  
		$("#searchForm").submit(function(){
				  
			});
		$("select[id='milestone']").change(function(){
				$(this).parent("form[id='searchForm']").submit();
			});
	</script>
}
