@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@import com.avaje.ebean.Page
@import models.support.SearchCondition
@(title: String, currentPage: Page[Issue], param: SearchCondition, project:Project)

@projectLayout(project.name + " - " + Messages(title), project, utils.MenuType.ISSUE){
@projectMenu(project, utils.MenuType.ISSUE, "main-menu-only")
<link rel="stylesheet" href="@routes.IssueLabelApp.labelStyles(project.owner, project.name)" type="text/css" />
<div class="page-wrap-outer">
  <div class="project-page-wrap">
    @partial_list_wrap(title, currentPage, param, project)
  </div>
</div>

@common.select2()
@common.calendar()

<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.pageslide.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.twoColumnMode.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.showSubtask.js")"></script>
<script type="text/javascript">
  $(function(){
    // issue.List
    $yobi.loadModule("issue.List");

    // ShortcutKey
    yobi.ShortcutKey.setKeymapLink({
      "N": "@routes.IssueApp.newIssueForm(project.owner, project.name)"
    });

    var $titlePrefix = $(".title-prefix");
    $titlePrefix
            .on("mouseover", function (e) {
              $(".title-prefix:contains('" + e.target.innerText + "')")
                      .addClass("title-prefix-hover");
            })
            .on("mouseleave", function (e) {
              $titlePrefix.removeClass("title-prefix-hover");
            });
  });
</script>
}
