@(title: String, currentPage: com.avaje.ebean.Page[Issue], param:IssueApp.SearchCondition, project:Project)

@import helper._
@import utils.TemplateHelper._
@import utils.AccessControl._
@import scala.collection.immutable.Map
@import scala.collection.mutable.ArrayBuffer
@import models.enumeration._

@urlToList = {@routes.IssueApp.issues(project.owner, project.name, param.state, "html", currentPage.getPageIndex + 1)}

@getPageListUrl(pageIndex:Integer) = {@routes.IssueApp.issues(project.owner, project.name, param.state, "html", pageIndex + 1)}

@makeFilterLink(fieldName:String, orderBy:String, orderDir:String, fieldText:String) = {
	@if(orderBy.equals(fieldName)) {
		<a href="@urlToList&orderBy=@fieldName&orderDir=@if(orderDir.equals("desc")){asc}else{desc}" class="filter active"><i class="ico btn-gray-arrow @if(orderDir.equals("desc")){ down }"></i>@fieldText</a>
	} else {
	    <a href="@urlToList&orderBy=@fieldName&orderDir=asc" class="filter"><i class="ico btn-gray-arrow"></i>@fieldText</a>
	}
}

@main(Messages(title), project, utils.MenuType.ISSUE){
<div class="page">
	@prjmenu(project, utils.MenuType.ISSUE, "main-menu-only")
	<div class="header-wrap">

		<div class="search-wrap projects">
			<div class="inner">
				<form id="search" action="@routes.IssueApp.issues(project.owner, project.name, param.state)" method="get">
                    <div class="btn-group text-right">
                    @for(state <- Array(State.ALL, State.OPEN, State.CLOSED)) {
                        <a href="@routes.IssueApp.issues(project.owner, project.name, state.state)" class="btn small @if(param.state == state.state) { active }">
                            <span class="desc @state.state"><strong>@Messages("issue.state." + state.name.toLowerCase())</strong> </span>
                            <span class="num-badge">@Issue.countIssues(project.id, state)</span>
                        </a>
                    }
                    </div>
					<input type="hidden" name="orderBy" value="@param.orderBy" class="h-value order">
					<input type="hidden" name="state"   value="@param.state">
					<input type="text"   name="filter"  class="text" placeholder="@Messages("project.searchPlaceholder")" value="@param.filter"><!--
					 --><button type="submit" class="btn search-btn">@Messages("issue.search")</button>
	                <a href="#search" class="btn-advanced"><i class="ico"></i>@Messages("issue.advancedSearch")</a>

					<div id="advanced-search-form" class="srch-advanced form-horizontal">
						<fieldset class="properties">
							<div class="control-group">
								<label class="control-label">@Messages("author")</label>
								<div class="controls">
									<input type="text" name="authorLoginId" class="input-medium">
								</div>
							</div>
                            <div class="control-group">
                                <label class="control-label">@Messages("assignee")</label>
                                <div class="controls">
                                    <div class="btn-group" data-name="assigneeId">
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="d-label">@Messages("order.all")</span>
                                            <span class="d-caret"><span class="caret"></span></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li data-value="" data-selected="true" class="active"><a>@Messages("order.all")</a></li>
                                            <li data-value="@User.anonymous.id"><a>@Messages("noAssignee")</a></li>
                                            @for(assignee <- project.assignees) {
                                            <li data-value="@assignee.user.id"><a>@assignee.user.name (@assignee.user.loginId)</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
							<div class="control-group">
								<label class="control-label">@Messages("milestone")</label>
								<div class="controls">
									<div class="btn-group" data-name="milestoneId">
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="d-label">@Messages("milestone.state.all")</span>
											<span class="d-caret"><span class="caret"></span></span>
										</button>
										<ul class="dropdown-menu">
											<li data-value="" data-selected="true" class="active"><a>@Messages("milestone.state.all")</a></li>
											<li data-value="0"><a>@Messages("noMilestone")</a></li>
											@for(milestone <- Milestone.findByProjectId(project.id)) {
											<li data-value="@milestone.id"><a>@milestone.title</a></li>
											}
										</ul>
									</div>
								</div>
							</div>
						</fieldset>
						<!-- issue.label module make 'labels' fieldset as label filter and editor -->
						<fieldset class="labels"></fieldset>
					</div>
				</form>
				<!--  -->
				<div class="actrow">
				    <a href="@routes.IssueApp.newIssueForm(project.owner, project.name)" class="nbtn medium orange">@Messages("issue.menu.new")</a>
                </div>
			</div>
		</div>
	</div>

@if(currentPage.getList().size() > 0){
	@if(currentPage.getList().size() > 1){
	<div class="filter-wrap board">
		<div class="filters">
			@makeFilterLink("state", param.orderBy, param.orderDir, Messages("order.state"))
			@makeFilterLink("createdDate", param.orderBy, param.orderDir, Messages("order.date"))
			@makeFilterLink("numOfComments", param.orderBy, param.orderDir, Messages("order.comments"))
		</div>
	</div>
	}
    
    @if(ProjectUser.isMember(UserApp.currentUser().id, project.id)){
        @partial_massupdate(project, param)
    }
    @partial_list(project, currentPage.getList, param, currentPage.getPageIndex, currentPage.getTotalPageCount)
} else {
	<div class="error-wrap">
		<i class="ico ico-err1"></i>
		<p>@Messages("issue.is.empty")</p>
	</div>
}

	<div class="write-btn-wrap">
		<a href="@routes.IssueApp.issues(project.owner, project.name, param.state, "xls")" class="nbtn medium white pull-left"><i class="ico ico-download"></i>@Messages("issue.downloadAsExcel")</a>
	</div>

	<div id="pagination">
		<!-- pagination.js will fill here. -->
	</div>

    @help.keymap("issueList", project)
</div>

<script type="text/javascript">
    $(document).ready(function(){
        hive.ShortcutKey.setKeymapLink({
           "N": "@routes.IssueApp.newIssueForm(project.owner, project.name)"
           @if(currentPage.getPageIndex > 0){
          ,"A": "@getPageListUrl(currentPage.getPageIndex - 1)"
           }
           @if(currentPage.getTotalPageCount > 1 && (currentPage.getPageIndex + 1 != currentPage.getTotalPageCount)){
          ,"S": "@getPageListUrl(currentPage.getPageIndex + 1)"
           }
        });
    });
</script>

}
