@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(title: String, currentPage: com.avaje.ebean.Page[Issue], param:
models.support.SearchCondition, project:Project)

@import utils.MenuType._
@siteLayout(Messages("issue.myIssue"), utils.MenuType.SITE_HOME) {
    <div class="page-wrap-outer">
        <div class="page-wrap">
            @views.html.common.mySeriesMenuTab(TAB_MY_ISSUES)

            @views.html.issue.my_partial_search(title, currentPage, param, project)
        </div>
    </div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.pageslide.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.twoColumnMode.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.showSubtask.js")"></script>
    <script type="text/javascript">
      $(function(){
          $yobi.loadModule("issue.List");

          var $setDefaultLoginPage = $("#setDefaultLoginPage");
          $setDefaultLoginPage.on('click', function(){
              $.post("@routes.UserApp.setDefaultLoginPage()?path=" + $setDefaultLoginPage.data("url"))
                      .done(function (data) {
                          $yobi.notify("Set to default: " + data.defaultLoginPage, 3000);
                          $setDefaultLoginPage.hide();
                      })
                      .fail(function (data) {
                          $yobi.alert("set Default page failed: " + data);
                      });
          });

          /// label text color adjustment
          $(document).on({
              "pjax:complete": labelTextColorAdjust
          });
          function labelTextColorAdjust() {
              $(".title-cell > .label").each(function () {
                  var $this = $(this);
                  $this.removeClass("dimgray white")
                          .addClass($yobi.getContrastColor($this.css('background-color')))
              });
          }

          labelTextColorAdjust();
      });
    </script>
}
