@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@import models.support.SearchCondition
@(param:SearchCondition)

@currentUserId = @{
    UserApp.currentUser().id
}

<ul class="lst-stacked unstyled">
    @if(!UserApp.currentUser().isAnonymous()){
    <li @if(param.assigneeId == currentUserId){ class="active"}>
        <a pjax-filter href="#"
            data-author-id=""
            data-assignee-id="@currentUserId"
            data-commenter-id=""
            data-milestone-id="@param.milestoneId"
            data-mention-id=""
            data-sharer-id="">
            @Messages("issue.list.assignedToMe")
        </a>
    </li>
    <li @if(param.authorId == currentUserId){ class="active"}>
        <a pjax-filter href="#"
            data-author-id="@currentUserId"
            data-assignee-id=""
            data-commenter-id=""
            data-milestone-id="@param.milestoneId"
            data-mention-id=""
            data-sharer-id="">
            @Messages("issue.list.authoredByMe")
        </a>
    </li>
    <li @if(param.commenterId == currentUserId){ class="active"}>
        <a pjax-filter href="#"
        data-author-id=""
        data-assignee-id=""
        data-commenter-id="@currentUserId"
        data-milestone-id="@param.milestoneId"
        data-mention-id=""
        data-sharer-id="">
        @Messages("issue.list.commentedByMe")
        </a>
    </li>
    <li @if(param.mentionId == currentUserId){ class="active"}>
        <a pjax-filter href="#"
            data-author-id=""
            data-assignee-id=""
            data-commenter-id=""
            data-milestone-id="@param.milestoneId"
            data-mention-id="@currentUserId"
            data-sharer-id="">
            @Messages("issue.list.mentionedOfMe")
        </a>
    </li>
    <li @if(param.sharerId == currentUserId){ class="active"}>
        <a pjax-filter href="#"
        data-author-id=""
        data-assignee-id=""
        data-commenter-id=""
        data-milestone-id="@param.milestoneId"
        data-mention-id=""
        data-sharer-id="@currentUserId">
        @Messages("issue.list.sharedWithMe") (@IssueSharer.getNumberOfIssuesSharedWithUser(currentUserId))
        </a>
    </li>
    }
</ul>
