@(title:String, issueForm:Form[Issue], project:Project)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(Messages(title), project) {
	<div class="page-header">
		<h1>@Messages(title)</h1>
	</div>
    @form(action = routes.IssueApp.saveIssue(project.name), 
    				'enctype -> "multipart/form-data",
    				'class -> "form-horizontal"){
    	<fieldset>
    	@inputText(
    		issueForm("title"), 
    		'_showConstraints -> false, 
    		'_label-> Messages("label.title"))
    	@textarea(
    		issueForm("body"), 
    		'_showConstraints -> false,
    		'_label-> Messages("label.contents"))
    	</fieldset>
    	<i class = "icon-file"></i>@Messages("post.new.fileAttach") <a id="fileUpload" data-toggle="modal" href="#askFilePath" class="btn">@Messages("button.selectFile")</a>
		<div class="modal hide" id="askFilePath">
		    	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">@Messages("button.popup.exit")</button>
			            <h3>@Messages("post.popup.fileAttach.title")</h3>
			    </div>
			    <div class="modal-body">
			        <p> @Messages("post.popup.fileAttach.contents")</p>
			        @inputFile(issueForm("filePath"))
			    </div>
			    <div class="modal-footer">
			        <a href="#" class="btn" data-dismiss="modal">@Messages("button.cancel")</a>
			        <a href="#" class="btn btn-primary" data-dismiss="modal">@Messages("button.confirm")</a>
			    </div>
			 </div>
		<fieldset>
		</br></br>
			<div class="well">
	    		<h4>@Messages("issue.new.detailInfo")</h4>
	    		<div class="well form-inline">
				  	@select(
				    		issueForm("issueType"), 
				    		options = options(
				    					"1"->"치명결함", 
				    					"2"->"중결함", 
				    					"3"->"경결함", 
				    					"4"->"단순개선", 
				    					"5"->"권고사항"),
				    		'_label-> Messages("issue.new.detailInfo.issueType"),
				    		'_default -> Messages("issue.new.selectDefault.issueType"),
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("assigneeId"), 
				    		options(ProjectUser.options(project.id)),
				    		'_label-> Messages("issue.new.detailInfo.assignee"),
				    		'_default -> Messages("issue.new.selectDefault.assignee"),
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("componentName"), 
				    		options = options(
				    					"컴포넌트"->"Component id 1"),
				    		'_label-> Messages("issue.new.detailInfo.component"),
				    		'_default -> Messages("issue.new.selectDefault.component"),
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("milestoneId"), 
				    		options(Milestone.options(project.id)),
				    		'_label-> Messages("issue.new.detailInfo.milestone"),
				    		'_default -> Messages("issue.new.selectDefault.milestone"),
				    		'_showConstraints -> false)
				</div>		
	    	</div>
	    </fieldset>
	    <fieldset>
    		<div class="well">
    			<h4> @Messages("issue.new.environment")</h4>
    			<div class="well form-inline">
				    	@select(
				    		issueForm("osType"), 
				    		options = options(
				    			"1"->"Windows", 
				    			"2"->"MacOS", 
				    			"3"->"Linux"),
				    		'_label-> Messages("issue.new.environment.osType"),
				    		'_default ->  Messages("issue.new.selectDefault.osType"),
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("browserType"), 
				    		options = options(
				    					"IE"->"IE",
				    					"Firefox"->"Firefox",
				    					"Chrome"->"Chrome",
				    					"Opera"->"Opera", 
				    					"Safari"->"Safari"),
				    		'_label-> Messages("issue.new.environment.browserType"),
				    		'_default -> Messages("issue.new.selectDefault.browserType"),
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("dbmsType"), 
				    		options = options(
				    					"PostgreSQL"->"PostgreSQL", 
				    					"CUBRID"->"CUBRID", 
				    					"MySQL"->"MySQL"),
				    		'_label-> Messages("issue.new.environment.dbmsType"),
				    		'_default -> Messages("issue.new.selectDefault.dbmsType"),
				    		'_showConstraints -> false)
				</div>
    		</div>
    	</fieldset>
    	<fieldset>
    		<div class="well">
    			<h4> @Messages("issue.new.result")</h4>
    			<div class="well form-inline">
				    	@select(
				    		issueForm("importance"), 
				    		options = options(
						    			"1"->"매우중요", 
						    			"2"->"중요", 
						    			"3"->"보통", 
						    			"4"->"낮음", 
						    			"5"->"매우낮음"),
				    		'_label-> Messages("issue.new.result.importance"),
				    		'_default -> Messages("issue.new.selectDefault.importance"),
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("diagnosisResult"), 
				    		options = options(
				    					"1"->"버그확인", 
				    					"2"->"수정됨", 
				    					"3"->"수정안함", 
				    					"4"->"버그아님",
				    					"5"->"응답대기", 
				    					"6"->"재현불가", 
				    					"7"->"중복", 
				    					"8"->"잘동작함"),
				    		'_label-> Messages("issue.new.result.diagnosisResult"),
				    		'_default -> Messages("issue.new.selectDefault.diagnosisResult"),
				    		'_showConstraints -> false)
				</div>		
    		</div>
    	</fieldset>
	<div class="row pull-right">
			<div class="actions">
				<input type="submit" class="btn btn-primary" value="@Messages("button.save")"> 
				<a href="@routes.IssueApp.list(project.name, "all")" class="btn">@Messages("button.cancel")</a>
			</div>
    </div>
 }
}