@(title:String, issueForm:Form[Issue], project:Project)

@import helper._
@import scala.collection.mutable.Map
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@isVisible(resource: models.enumeration.Resource)(content: => Html) = @{
  roleCheck(session.get("userId"), project.id, resource, models.enumeration.Operation.EDIT){
    content
  }
}

@main(Messages(title), project) {
	<div class="page-header">
		<h1>@Messages(title)</h1>
	</div>
    @form(action = routes.IssueApp.saveIssue(project.owner, project.name), 
    				'enctype -> "multipart/form-data",
    				'class -> "form-horizontal") {
    	<fieldset>
    	@inputText(
    		issueForm("title"), 
    		'_showConstraints -> false, 
    		'_label-> Messages("post.new.title"))
    	@textarea(
    		issueForm("body"), 
    		'_showConstraints -> false,
    		'_label-> Messages("post.new.contents"))
    	</fieldset>

    	<i class = "icon-file"></i>@Messages("post.new.fileAttach") <a id="fileUpload" data-toggle="modal" href="#askFilePath" class="btn">@Messages("button.selectFile")</a>
	       <div class="modal hide" id="askFilePath">
		    	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">@Messages("button.popup.exit")</button>
			            <h3>@Messages("post.popup.fileAttach.title")</h3>
			    </div>
			    <div class="modal-body">
			        <p> @Messages("post.popup.fileAttach.contents")</p>
			        @inputFile(issueForm("filePath"))
			    </div>
			    <div class="modal-footer">
			        <a href="#" class="btn" data-dismiss="modal">@Messages("button.cancel")</a>
			        <a href="#" class="btn btn-primary" data-dismiss="modal">@Messages("button.confirm")</a>
			    </div>
	       </div>
		</br></br>

		<fieldset>
            <div class="well">
                <legend><b>@Messages("issue.new.environment")</b></legend>
                <div class="well form-inline">
                        @selectEx(
                            issueForm("osType"), 
                            options(Issue.osTypes),
                            '_label-> Messages("issue.new.environment.osType"),
                            '_default ->  Messages("issue.new.selectDefault.osType"),
                            '_showConstraints -> false)
                        
                        @selectEx(
                            issueForm("browserType"), 
                            options(Issue.browserTypes),
                            '_label-> Messages("issue.new.environment.browserType"),
                            '_default -> Messages("issue.new.selectDefault.browserType"),
                            '_showConstraints -> false)
                        @selectEx(
                            issueForm("dbmsType"), 
                            options(Issue.dbmsTypes),
                            '_label-> Messages("issue.new.environment.dbmsType"),
                            '_default -> Messages("issue.new.selectDefault.dbmsType"),
                            '_showConstraints -> false)
                </div>
            </div>
        </fieldset>

		<fieldset>
			<div class="well">
	    		<legend><b>@Messages("issue.new.detailInfo")</b></legend>
	    		<div class="well form-inline">
                @isVisible(models.enumeration.Resource.ISSUE_CATEGORY) {		  	
				  	@selectEx(
				    		issueForm("issueType"), 
				    		options(Issue.issueTypes),
				    		'_label-> Messages("issue.new.detailInfo.issueType"),
				    		'_default -> Messages("issue.new.selectDefault.issueType"),
				    		'_showConstraints -> false)
				    	}
				  @isVisible(models.enumeration.Resource.ISSUE_ASSIGNEE) {
				    	@select(
				    		issueForm("assigneeId"), 
				    		options(ProjectUser.options(project.id)),
				    		'_label-> Messages("issue.new.detailInfo.assignee"),
				    		'_default -> Messages("issue.new.selectDefault.assignee"),
				    		'_showConstraints -> false)
                        }
				  @isVisible(models.enumeration.Resource.ISSUE_COMPONENT) {  	
				    	@select(
				    		issueForm("componentName"), 
				    		options = options(
				    					"component_1"->"Component id 1"),
				    		'_label-> Messages("issue.new.detailInfo.component"),
				    		'_default -> Messages("issue.new.selectDefault.component"),
				    		'_showConstraints -> false)
				    	}
				   @isVisible(models.enumeration.Resource.ISSUE_MILESTONE) {
				    	@select(
				    		issueForm("milestoneId"), 
				    		options(Milestone.options(project.id)),
				    		'_label-> Messages("issue.new.detailInfo.milestone"),
				    		'_default -> Messages("issue.new.selectDefault.milestone"),
				    		'_showConstraints -> false)
				        }
				</div>		
	    	</div>
	               
	    </fieldset>
    	<fieldset>
    		<div class="well">
    			<legend><b>@Messages("issue.new.result")</b></legend>
    			<div class="well form-inline">
                    @isVisible(models.enumeration.Resource.ISSUE_IMPORTANCE) {				    	
				    	@selectEx(
				    		issueForm("importance"), 
				    		options(Issue.importances),
				    		'_label-> Messages("issue.new.result.importance"),
				    		'_default -> Messages("issue.new.selectDefault.importance"),
				    		'_showConstraints -> false)
				    	}
				    @isVisible(models.enumeration.Resource.ISSUE_DIAGNOSISRESULT) {
				    	@selectEx(
				    		issueForm("diagnosisResult"), 
				    		options(Issue.diagnosisResults),
				    		'_label-> Messages("issue.new.result.diagnosisResult"),
				    		'_default -> Messages("issue.new.selectDefault.diagnosisResult"),
				    		'_showConstraints -> false)
				    	}
				</div>		
    		</div>
    	</fieldset>

	<div class="row pull-right">
			<div class="actions">
				<input type="submit" class="btn btn-primary" value="@Messages("button.save")"> 
				<a href="@routes.IssueApp.issues(project.owner, project.name, "all")" class="btn">@Messages("button.cancel")</a>
			</div>
    </div>
 }

@views.html.markdown(Map("#body" -> "edit"))
}
