@(title:String, issueForm:Form[Issue], project:Project)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(title, project) {
	<div class="page-header">
		<h1>@title</h1>
	</div>
    @form(action = routes.IssueApp.saveIssue(project.name), 
    				'enctype -> "multipart/form-data",
    				'class -> "form-horizontal"){
    	<fieldset>
    	@inputText(
    		issueForm("title"), 
    		'_showConstraints -> false, 
    		'_label-> "제목")
    	@textarea(
    		issueForm("body"), 
    		'_showConstraints -> false,
    		'_label-> "이슈 내용")
    	</fieldset>
    	<i class = "icon-file"></i>첨부파일 <a id="fileUpload" data-toggle="modal" href="#askFilePath" class="btn">파일 선택</a>
		<div class="modal hide" id="askFilePath">
		    	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">×</button>
			            <h3>첨부파일 선택</h3>
			    </div>
			    <div class="modal-body">
			        <p> 첨부할 파일을 선택해주세요.</p>
			        @inputFile(issueForm("filePath"))
			    </div>
			    <div class="modal-footer">
			        <a href="#" class="btn" data-dismiss="modal">취소</a>
			        <a href="#" class="btn btn-primary" data-dismiss="modal">확인</a>
			    </div>
			 </div>
		<fieldset>
		</br></br>
			<div class="well">
	    		<h4> 세부정보</h4>
	    		<div class="well form-inline">
				  	@select(
				    		issueForm("issueType"), 
				    		options = options(
				    					"1"->"치명결함", 
				    					"2"->"중결함", 
				    					"3"->"경결함", 
				    					"4"->"단순개선", 
				    					"5"->"권고사항"),
				    		'_label-> "유형 : ",
				    		'_default -> "-- 유형을 고르시오 --",
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("assigneeId"), 
				    		options(ProjectUser.options(project.id)),
				    		'_label-> "담당자 : ",
				    		'_default -> "-- 담당자를 고르시오 --",
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("componentName"), 
				    		options = options(
				    					"컴포넌트"->"Component id 1"),
				    		'_label-> "컴포넌트 : ",
				    		'_default -> "-- 컴포넌트를 고르시오 --",
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("milestone.id"), 
				    		options(Milestone.options(project.id)),
				    		'_label-> "마일스톤 : ",
				    		'_default -> "-- 마일스톤을 고르시오 --",
				    		'_showConstraints -> false)
				</div>		
	    	</div>
	    </fieldset>
	    <fieldset>
    		<div class="well">
    			<h4> 환경</h4>
    			<div class="well form-inline">
				    	@select(
				    		issueForm("osType"), 
				    		options = options(
				    			"1"->"Windows", 
				    			"2"->"MacOS", 
				    			"3"->"Linux"),
				    		'_label-> "운영체제 : ",
				    		'_default -> "-- 운영체제를 고르시오 --",
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("browserType"), 
				    		options = options(
				    					"IE"->"IE",
				    					"Firefox"->"Firefox",
				    					"Chrome"->"Chrome",
				    					"Opera"->"Opera", 
				    					"Safari"->"Safari"),
				    		'_label-> "브라우저 : ",
				    		'_default -> "-- 브라우저를 고르시오 --",
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("dbmsType"), 
				    		options = options(
				    					"PostgreSQL"->"PostgreSQL", 
				    					"CUBRID"->"CUBRID", 
				    					"MySQL"->"MySQL"),
				    		'_label-> "DBMS : ",
				    		'_default -> "-- DB를 고르시오 --",
				    		'_showConstraints -> false)
				</div>
    		</div>
    	</fieldset>
    	<fieldset>
    		<div class="well">
    			<h4> 확인 결과</h4>
    			<div class="well form-inline">
				    	@select(
				    		issueForm("importance"), 
				    		options = options(
						    			"1"->"매우중요", 
						    			"2"->"중요", 
						    			"3"->"보통", 
						    			"4"->"낮음", 
						    			"5"->"매우낮음"),
				    		'_label-> "중요도 : ",
				    		'_default -> "-- 중요도를 고르시오 --",
				    		'_showConstraints -> false)
				    	@select(
				    		issueForm("diagnosisResult"), 
				    		options = options(
				    					"1"->"버그확인", 
				    					"2"->"수정됨", 
				    					"3"->"수정안함", 
				    					"4"->"버그아님",
				    					"5"->"응답대기", 
				    					"6"->"재현불가", 
				    					"7"->"중복", 
				    					"8"->"잘동작함"),
				    		'_label-> "진단유형 : ",
				    		'_default -> "-- 진단유형을 고르시오 --",
				    		'_showConstraints -> false)
				</div>		
    		</div>
    	</fieldset>
	<div class="row pull-right">
			<div class="actions">
				<input type="submit" class="btn btn-primary" value="저장"> 
				<a href="@routes.IssueApp.list(project.name, 0,"date", "desc", "", "all", false, false)" class="btn">취소</a>
			</div>
    </div>
 }
}

            
