@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@(issue:models.Issue, numOfAvatars:Int = 3, numOfNames:Int = 5)

@import utils.TemplateHelper._

<div class="voter-list-wrap">
    <ul class="voter-list">
        @if(issue.isVotedBy(UserApp.currentUser)){
            <li>@Html(getUserAvatar(UserApp.currentUser, "smaller"))</li>
        }

        @defining(VoteApp.getVotersExceptCurrentUser(issue.voters)) { issueVoters =>
            @for(voter <- VoteApp.getVotersForAvatar(issueVoters, numOfAvatars)) {
                <li>@Html(getUserAvatar(voter, "smaller"))</li>
            }
            @if(issueVoters.size > numOfAvatars) {
                <li data-toggle="tooltip" data-html="true"
                    title="
                    @for(voter <- VoteApp.getVotersForName(issueVoters, numOfAvatars, numOfNames)) {
                        @voter.name <br>
                    }
                    @if(issueVoters.size > numOfAvatars + numOfNames) {
                            &hellip;
                    }">
                    <a href="#voters" data-toggle="modal">
                    @Messages("issue.voters.more", issueVoters.size - numOfAvatars)
                    </a>
                </li>
            }
        }
    </ul>
</div>
