@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(project:Project, parentIssueId:Long, currentIssueId:Long)

@showOption = @{Option(parentIssueId).isDefined || Option(currentIssueId).isDefined}
@hasChildIssue = @{Option(currentIssueId).isDefined && Issue.finder.byId(currentIssueId).hasChildIssue}
@import utils.TemplateHelper._

<div class="subtask-wrap @if(showOption){show}">
    <div class="span3">
        <select id="targetProjectId" name="targetProjectId" data-format="projects" data-placeholder="@Messages("organization.choose.projects")" data-toggle="select2" data-container-css-class="fullsize" @if(!showOption){disabled}>
            <option value="@project.id" data-avatar-url="@urlToProjectLogo(project)">@project.name</option>
            @for(movableProject <- UserApp.currentUser().getIssueMovableProject) {
                @if(movableProject.id != project.id) {
                    <option value="@movableProject.id" data-owner="@movableProject.owner /" data-avatar-url="@urlToProjectLogo(movableProject)">@movableProject.name</option>
                }
            }
        </select>
    </div>
    <div class="span6">
        <select id="parentId" name="parentIssueId" data-format="issues" data-placeholder="@Messages("organization.choose.projects")" data-toggle="select2" data-container-css-class="fullsize" @if(!showOption){disabled}>
            <option value="" selected>@if(hasChildIssue){이미 부모 이슈입니다.}else{@Messages("issue.subtask.select")}</option>
            @if(Option(parentIssueId).isDefined){
                @defining(Issue.finder.byId(parentIssueId)) { issue =>
                    <option value="@issue.id" selected>#@issue.getNumber. @issue.title</option>
                }
            }
            @for(issue <- Issue.findParentIssueByProject(project, "", 300).filter(issue => issue.id != currentIssueId)) {
                @if(issue.parent == null && !hasChildIssue && issue.id != parentIssueId) {
                    <option value="@issue.id">#@issue.getNumber. @issue.title </option>
                }
            }
        </select>
    </div>
</div>
