@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@import models.support.SearchCondition
@(project:Project, issueList:Collection[Issue], searchCondition:SearchCondition, pageIndex:Int, totalPageCount:Int)

@import java.util
@import utils.JodaDateUtil
@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration.State


@issueLabels(issue:Issue) = {@for(label <- issue.labels.toList.sortBy(r => (r.category.name, r.name))) {@label.category.name,@label.id,@label.name,@label.category.id,@label.category.isExclusive|}}

<ul class="post-list-wrap row-fluid">
@for(issue <- issueList){
    @defining(User.findByLoginId(issue.authorLoginId)){ user =>
    <li class="post-item title" id="issue-item-@issue.id" data-item="issue-item" data-value="@user.loginId @issue.getNumber @issue.title" href="@routes.IssueApp.issue(project.owner, project.name, issue.getNumber)">
        <div class="span9 span-hard-wrap">
            @if(ProjectUser.isMember(UserApp.currentUser().id, project.id)){
            <label for="issue-@issue.id" class="mass-update-check hide-in-mobile">
                <input id="issue-@issue.id" type="checkbox" name="checked-issue" data-toggle="issue-checkbox" data-issue-id="@issue.id" data-issue-labels="@issueLabels(issue)">
            </label>
            }
            <div for="issue-@issue.id" class="issue-item-row">
                <div class="title-wrap">
                    <a href="@routes.IssueApp.issue(project.owner, project.name, issue.getNumber)" class="title">
                    <span class="post-id">#@issue.getNumber</span>
                    </a>
                    @if(issue.weight > 0) {<span class="weight-up-arrow" data-toggle="tooltip" data-placement="right" title="@Messages("issue.weight") @issue.weight"><i class="yobicon-angle-circled-up"></i></span>}
                    @if(issue.weight < 0) {<span class="weight-down-arrow" data-toggle="tooltip" data-placement="right" title="@Messages("issue.weight") @issue.weight"><i class="yobicon-angle-circled-down"></i></span>}
                        @showHeaderWordsInBracketsIfExist(issue.title)
                    <a href="@routes.IssueApp.issue(project.owner, project.name, issue.getNumber)" class="title">
                        @removeHeaderWords(issue.title)
                    </a>
                </div>
                <div class="infos">
                    @if(user.name){
                        <a href="@routes.UserApp.userInfo(user.loginId)" class="infos-item infos-link-item" data-toggle="tooltip" data-placement="bottom" title="@user.loginId">
                            @user.getDisplayName
                        </a>
                    } else {
                        <span class="infos-item">@Messages("issue.noAuthor")</span>
                    }

                    <span class="infos-item" data-toggle="tooltip" data-placement="bottom" title="@JodaDateUtil.getDateString(issue.createdDate)">
                        @agoOrDateString(issue.createdDate)
                    </span>

                    @partial_list_subtask(project, issue)

                    @if(project.menuSetting.milestone && issue.milestone != null) {
                    <span class="mileston-tag">
                        <a href="@routes.MilestoneApp.milestone(project.owner, project.name, issue.milestone.id)" data-toggle="tooltip" data-placement="bottom" title="@Messages("milestone")">
                            @issue.milestone.title
                        </a>
                    </span>
                    }

                    @if(issue.comments.size > 0 || issue.voters.size > 0 || issue.sharers.size > 0) {
                    <span class="infos-item item-count-groups">
                    @if(issue.comments.size>0){
                        @views.html.common.commentCount(routes.IssueApp.issue(project.owner, project.name, issue.getNumber).toString + "#comments", issue.comments.size, true)
                    }
                    @if(issue.voters.size>0){
                        @views.html.common.voteCount(routes.IssueApp.issue(project.owner, project.name, issue.getNumber).toString + "#vote", issue.voters.size, true)
                    }
                    @if(issue.sharers.size > 0){
                        @views.html.common.sharerCount(issue.sharers.size, true)
                    }
                    </span>
                    }

                    @for(label <- issue.labels.toList.sortBy(r => (r.category.name, r.name))) {
                        <a href="#" class="label issue-label list-label active" data-category-id="@label.category.id" data-label-id="@label.id">@label.name</a>
                    }
                    <div class="child-issue-list hide">
                    @if(issue.hasChildIssue){
                        @partial_view_childIssueListOnly(issue, project)
                    }
                    </div>
                </div>
            </div>
        </div>
        <div class="span3 hide-in-mobile">
            <div class="mt5 pull-right">
                @if(issue.assigneeName != null) {
                    <a href="@routes.UserApp.userInfo(issue.assignee.user.loginId)" class="avatar-wrap assinee" data-toggle="tooltip" data-placement="top" title="@Messages("issue.assignee"): @issue.assigneeName">
                        <img src="@issue.assignee.user.avatarUrl" width="32" height="32" alt="@issue.assigneeName">
                    </a>
                } else {
                   <div class="empty-avatar-wrap">&nbsp;</div>
                }
            </div>
            @if(issue.dueDate != null) {
            <div class="mr20 mt10 pull-right
                 @if(issue.state == State.CLOSED){darkgray-txt}
                 @if(issue.state == State.OPEN && issue.isOverDueDate){overdue}"
                 @if(issue.state == State.OPEN){
                    data-toggle="tooltip" data-placement="top" title="@issue.getDueDateString"
                 }>
                <i class="yobicon-clock2 mr3 vmiddle"></i>
                <span class="vmiddle">
                @if(issue.state == State.OPEN){
                    @if(issue.isOverDueDate) {
                        @Messages("issue.dueDate.overdue")
                    } else {
                        @issue.until
                    }
                } else {
                    @issue.getDueDateString
                }
                </span>
            </div>
            }       
        </div>
    </li>
    }
}
</ul>
