@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@(project:Project, issue:Issue)

@import utils.TemplateHelper._
@import models.enumeration.State


@if(issue.hasChildIssue) {
    @defining(Issue.countByParentIssueIdAndState(issue.id, State.OPEN)) { openIssueCount =>
        @defining(Issue.countByParentIssueIdAndState(issue.id, State.CLOSED)) { closedIssueCount =>
            @defining(getPercent(closedIssueCount.toDouble, openIssueCount + closedIssueCount)) { percentage =>
                <div class="subtask-progress upload-progress @if(percentage == 100){done-outline} else {red-outline}">
                    <div class="bar @if(percentage == 100) {done} else {red}" style="width: @percentage%;" title="Subtask"></div>
                </div>
                <span class="subtask-progress completion-ratio @if(percentage == 100){txt-green}">@if(percentage != 100){@closedIssueCount/}@(closedIssueCount + openIssueCount)</span>
            }
        }
    }
}
@if(issue.parent != null){
    <span class="infos-item subtask">
    @defining(Issue.finder.byId(issue.parent.id)) { parentIssue =>
        <a href="@routes.IssueApp.issue(parentIssue.project.owner, parentIssue.project.name, parentIssue.getNumber)">#@parentIssue.getNumber @parentIssue.title.take(10).trim()@if(parentIssue.title.size > 10){...}</a>
    }
    </span>
}
