@(project:Project, param:IssueApp.SearchCondition)

<form id="mass-update-form" class="mass-update-form pull-left" action="@routes.IssueApp.massUpdate(project.owner, project.name)" method="post">
    <div class="btn-group check-all">
        <label for="check-all">
            <input type="checkbox" id="check-all" data-target="checked-issue"/>
        </label>    
    </div>
    <div id="state" class="btn-group" data-name="state">
        <button class="btn dropdown-toggle medium" data-toggle="dropdown" disabled="disabled">
            <span class="d-label">@Messages("issue.update.state")</span>
            <span class="d-caret"><span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li data-value="@State.OPEN.name"><a>@Messages("issue.state.open")</a></li>
            <li data-value="@State.CLOSED.name"><a>@Messages("issue.state.closed")</a></li>
        </ul>
    </div>

    <div id="assignee" class="btn-group" data-name="assignee.id">
        <button class="btn dropdown-toggle medium" data-toggle="dropdown" disabled="disabled">
            <span class="d-label">@Messages("issue.update.assignee")</span>
            <span class="d-caret"><span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li data-value="@User.anonymous.id"><a>@Messages("noAssignee")</a></li>
            @if(ProjectUser.isMember(UserApp.currentUser().id, project.id)){
                <li data-value="@UserApp.currentUser().id"><a>@Messages("issue.assignToMe")</a></li>
            }
            <li class="divider"></li>
            @for(member <- project.members()) {
                <li data-value="@member.user.id"><a>@member.user.name (@member.user.loginId)</a></li>
            }
        </ul>
    </div>

    <div id="milestone" class="btn-group" data-name="milestone.id">
        <button class="btn dropdown-toggle medium" data-toggle="dropdown" disabled="disabled">
            <span class="d-label">@Messages("issue.update.milestone")</span>
            <span class="d-caret"><span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li data-value="-1"><a>@Messages("noMilestone")</a></li>
            @for(milestone <- Milestone.findByProjectId(project.id)) {
                <li data-value="@milestone.id"><a>@milestone.title</a></li>
            }
        </ul>
    </div>

    <div id="attaching-label" class="btn-group" data-name="attachingLabel.id">
        <button class="btn dropdown-toggle medium" data-toggle="dropdown" disabled="disabled">
            <span class="d-label">@Messages("issue.update.attachLabel")</span>
            <span class="d-caret"><span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
        @for(label <- IssueLabel.findByProject(project)) {
            <li data-value="@label.id"><a>@label</a></li>
        }
        </ul>
    </div>

    <div id="detaching-label" class="btn-group" data-name="detachingLabel.id">
        <button class="btn dropdown-toggle medium" data-toggle="dropdown" disabled="disabled">
            <span class="d-label">@Messages("issue.update.detachLabel")</span>
            <span class="d-caret"><span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
        @for(label <- IssueLabel.findByProject(project)) {
            <li data-value="@label.id"><a>@label</a></li>
        }
        </ul>
    </div>

    <button href="#deleteConfirm" data-toggle="modal" class="nbtn medium red" disabled="disabled" style="margin-left:10px;">@Messages("issue.delete")</button>

    @** Confirm to delete post **@
    <div id="deleteConfirm" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Messages("issue.delete")</h3>
        </div>
        <div class="modal-body">
            <p>@Messages("post.delete.confirm")</p>
        </div>
        <div class="modal-footer">
            <a id="delete" class="btn btn-danger med">@Messages("button.yes")</a>
            <a class="btn med" data-dismiss="modal">@Messages("button.no")</a>
        </div>
    </div>

</form>
