@(title:String, issue:Issue, issueForm:Form[Issue], commentForm:Form[Comment],project:Project)
@import helper._
@import scala.collection.mutable.Map
@import models.enumeration.ResourceType
@import models.enumeration.Operation
@import models.Milestone
@import java.text.SimpleDateFormat
@import java.security.MessageDigest
@import utils.TemplateHelper._
@import utils.AccessControl._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@getTitle(issue:Issue, project:Project) = {
	#@issue.getNumber @issue.title
	@** Messages(title) **@
}

@main(getTitle(issue, project).toString(), project, utils.MenuType.ISSUE){
<div class="page board-view">
	@prjmenu(project, utils.MenuType.ISSUE, "main-menu-only")

	@** Post Info **@
	<div class="board-header issue">
		<div class="board-id div"><strong class="secondary-txt">#@issue.getNumber</strong></div>
		<h1 class="title div">@issue.title</h1>
		<div class="date div">@agoString(issue.ago)</div>
		<div class="div">
			<span class="badge badge-issue-@issue.state.state.toLowerCase">@Messages("issue.state." + issue.state.state)</span>
		</div>
	</div>

	@** Content body **@
	<div class="board-body">
		<div class="author-info">
			<a href="@routes.UserApp.userInfo(issue.authorLoginId)" class="avatar-wrap pull-left">
				<img src="@User.findByLoginId(issue.authorLoginId).avatarUrl" width="32" height="32" alt="@issue.authorName">
			</a>
			<div class="media-body">
				<p>
					@**<!-- author  -->**@
					@Messages("issue.author")
					<a href="@routes.UserApp.userInfo(issue.authorLoginId)" @if(issue.assigneeName != null){ class="gray-txt" }>
						<strong>@Option(issue.authorLoginId).orElse(Option(Messages("issue.noAuthor"))).get</strong>
					</a>
					&nbsp;&middot;&nbsp;

					@**<!-- assignee  -->**@
					@Messages("issue.assignee")
					@if(issue.assigneeName == null){
					<a href="#" class="gray-txt">
						<strong>@Messages("issue.noAssignee")</strong>
					</a>
					} else {
					<a href="@routes.UserApp.userInfo(issue.assignee.user.loginId)">
						<strong>@issue.assigneeName</strong>
					</a>
					}
				</p>

				@** status **@
				<p>
					@**<!-- comment
					@Messages("comment") <strong class="num">@issue.comments.size</strong>
					-->**@

					@**<!-- milestone  -->**@
					@Messages("milestone")
					@if(issue.milestone != null) {
						<a href="@routes.MilestoneApp.milestone(project.owner, project.name, issue.milestone.id)"><strong class="num">@issue.milestone.title</strong></a>
					} else {
						<a href="#" class="gray-txt"><strong>@Messages("none")</strong></a>
					}
				</p>
			</div>
    	</div>
    	<div class="content" markdown="true">@issue.body</div>
    	<div class="attachments" resourceType="@ResourceType.ISSUE_POST" resourceId="@issue.id"></div>
	</div>

	<div class="board-footer board-actrow">
		@** labels **@
		<p class="labels-wrap pull-left">
		@for(label <- issue.labels.toList.sortBy(r => (r.category, r.name))) {
			<button class="issue-label" data-labelId="@label.id" style="background-color:@label.color">@label.name</button>
		}
		</p>

		@if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {
		<a href="@routes.IssueApp.editIssueForm(project.owner, project.name, issue.getNumber)" class="nbtn medium orange">@Messages("button.edit")</a>
		}

		@if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.DELETE)) {
		<a href="#deleteConfirm" data-toggle="modal" class="nbtn medium black">@Messages("button.delete")</a>
		}

		<a href="@routes.IssueApp.issues(project.owner, project.name,"open")" class="nbtn medium">@Messages("button.list")</a>

		<a href="@routes.IssueApp.newIssueForm(project.owner, project.name)" class="nbtn medium last">@Messages("issue.menu.new")</a>
	</div>

	@** Comment **@
	<div class="board-comment-wrap">
		<div class="comment-header"><strong>@Messages("comment")</strong> <strong class="num">@issue.comments.size</strong></div>

	@if(issue.comments.size > 0) {
		<ul class="comments">
		@for(comment <- issue.comments){
			<li class="comment" id="comment-@comment.id">
				<a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap pull-left">
		        	<img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
	        	</a>
				<div class="media-body">
					@if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
					<a class="pull-right close" href="@routes.IssueApp.deleteComment(project.owner, project.name, issue.getNumber, comment.id)">&times;</a>
					}

                    <div class="comment-body" markdown="true">@comment.contents</div>
					<p class="commenter">
						<a href="@routes.UserApp.userInfo(comment.authorLoginId)"><strong>@comment.authorLoginId</strong></a>
                        <span class="date"><a href="#comment-@comment.id">@utils.TemplateHelper.agoString(comment.ago())</a></span>
					</p>
					<div class="attachments" resourceType="@ResourceType.ISSUE_COMMENT" resourceId="@comment.id"></div>
				</div>
			</li>
		}
		</ul>
	}

    @if(isProjectResourceCreatable(User.findByLoginId(session.get("loginId")), project, models.enumeration.ResourceType.BOARD_POST)){
		@form(routes.IssueApp.newComment(project.owner, project.name, issue.getNumber), 'id -> "comment-form", 'enctype -> "multipart/form-data"){
		<div class="write-comment-box">
			<div class="write-comment-wrap">
				<textarea id="comment-editor" name="contents" class="text comment" markdown="true"></textarea>
				<button class="comment-btn">@Messages("button.comment.new")</button>
			</div>

	        @** fileUploader **@
	        @if(!UserApp.currentUser.isAnonymous) {
	            @fileUploader(ResourceType.ISSUE_COMMENT, null)
	        }
	        @** end of fileUploader **@
		</div>
		}
		@** end of form **@
	} else {
		<div class="write-comment-box">
			<div class="write-comment-wrap">
				<textarea class="text comment disabled" disabled="disabled">@Messages("auth.unauthorized.comment")</textarea>
				<button class="comment-btn disabled">@Messages("button.comment.new")</button>
			</div>
		</div>
	}
	</div>
	@** // Comment **@

    @help.keymap("issueDetail", project)

    <button type="button" class="btn small white
        @if(issue.getWatchers.contains(UserApp.currentUser())) { active } else { inactive }"
        data-toggle="button" id="watch-button">
        @Messages("notification.watch")
    </button>
</div>

<script type="text/x-jquery-tmpl" id="tplAttachedFile"><!--
	--><li class="attached-file" data-name="${fileName}" data-href="${fileHref}" data-mime="${mimeType}" data-size="${fileSize}">
    <strong>${fileName}(${fileSizeReadable})${notice}</strong><!--
	--><a class="attached-delete"><i class="ico btn-delete"></i></a></li>
</script>

@**<!--
<div class="board-footer">
  @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {
	<a href="@routes.IssueApp.editIssueForm(project.owner, project.name, issue.id)" class="nbtn orange medium">@Messages("button.edit")</a>
  }
  @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.DELETE)) {
	<a href="#deleteConfirm" data-toggle="modal" class="nbtn medium black">@Messages("button.delete")</a>
  }
	<a href="@routes.IssueApp.issues(project.owner, project.name,"open")" class="nbtn medium">@Messages("button.list")</a>
</div>
 -->**@

@** Confirm to delete post **@
<div id="deleteConfirm" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>@Messages("issue.delete")</h3>
	</div>
	<div class="modal-body">
		<p>@Messages("post.delete.confirm")</p>
	</div>
	<div class="modal-footer">
		<a class="btn btn-danger med" href="@routes.IssueApp.deleteIssue(project.owner, project.name, issue.getNumber)">@Messages("button.yes")</a>
		<a href="#" class="btn med" data-dismiss="modal">@Messages("button.no")</a>
	</div>
</div>

@markdown(project)

<script type="text/javascript">
	$(document).ready(function(){
		// hive.Label
		var htOptLabel = {
			"bEditable"    : false,
			"sURLLabels"   : "@routes.IssueLabelApp.labels(project.owner, project.name)",
			"sURLPost"     : "@routes.IssueLabelApp.newLabel(project.owner, project.name)"
		};

		// hive.issue.View
		$hive.loadModule("issue.View", {
			"sAction"       : "@routes.AttachmentApp.uploadFile",
			"htOptLabel"    : htOptLabel,
            "sWatchUrl"     : "@routes.IssueApp.watch(project.owner, project.name, issue.getNumber)",
            "sUnwatchUrl"   : "@routes.IssueApp.unwatch(project.owner, project.name, issue.getNumber)"
		});

	    // hive.ShortcutKey
        hive.ShortcutKey.setKeymapLink({
            "N": "@routes.IssueApp.newIssueForm(project.owner, project.name)",
            "L": "@routes.IssueApp.issues(project.owner, project.name,"open")"
            @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {
           ,"E": "@routes.IssueApp.editIssueForm(project.owner, project.name, issue.getNumber)"
            }
        });
	});
</script>

}
