@(title:String, issue:Issue, issueForm:Form[Issue], commentForm:Form[Comment],project:Project)
@import helper._
@import scala.collection.mutable.Map
@import models.enumeration.ResourceType
@import models.enumeration.Operation
@import models.Milestone
@import java.text.SimpleDateFormat
@import java.security.MessageDigest
@import utils.TemplateHelper._
@import utils.AccessControl._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@getTitle(issue:Issue, project:Project) = {
	#@issue.getNumber @issue.title
	@** Messages(title) **@
}
@isFirstState(state:State) = {@if(issue.state.state == Issue.availableStates.get(0).state()){dirty}}

@main(getTitle(issue, project).toString(), project, utils.MenuType.ISSUE){
<div class="page board-view">
	@prjmenu(project, utils.MenuType.ISSUE, "main-menu-only")

	@** Post Info **@
	<div class="board-header issue">
		<div class="board-id div"><strong class="secondary-txt">#@issue.getNumber</strong></div>
		<h1 class="title div">@issue.title</h1>
		<div class="date div">@agoString(issue.ago)</div>
		<div class="div btn-group btn-flat">
        @for(state <- Issue.availableStates){
            @if( state.state == issue.state.state ){
            <a @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {href="@routes.IssueApp.nextState(project.owner, project.name, issue.getNumber)"} class="btn active @isFirstState(issue.state) no-gradient">@Messages("issue.state." + issue.state.state)</a>
            } else {
            <a @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {href="@routes.IssueApp.nextState(project.owner, project.name, issue.getNumber)"} class="btn no-gradient">@Messages("issue.state." + state.state)</a>
            }
        }

		</div>
	</div>

	@** Content body **@
	<div class="board-body">
		<div class="author-info">
			<a href="@routes.UserApp.userInfo(issue.authorLoginId)" class="avatar-wrap pull-left">
				<img src="@User.findByLoginId(issue.authorLoginId).avatarUrl" width="32" height="32" alt="@issue.authorName">
			</a>
			<div class="media-body" style="overflow:visible;display:inline-block;">
				<form id="issueUpdateForm" action="@routes.IssueApp.massUpdate(project.owner, project.name)" method="post">
				<input type="hidden" name="issues[0].id" value="@issue.id" /> 
				<p class="pull-left">
					@**<!-- author  -->**@
					@Messages("issue.author")
					<a href="@routes.UserApp.userInfo(issue.authorLoginId)" @if(issue.assigneeName != null){ class="gray-txt" }>
                    <strong>
					    @if(issue.authorLoginId != null){
                        @issue.authorLoginId (@issue.authorName)
					    } else {
					    @Messages("issue.noAuthor")
					    }
                    </strong>
					</a>
                    
                    &nbsp;&middot;&nbsp;
                    
					@**<!-- assignee  -->**@
					@Messages("issue.assignee")&nbsp;&nbsp;
					<div id="assignee" class="btn-group" data-name="assignee.id">
				        <button class="btn dropdown-toggle large" data-toggle="dropdown">
				        	@if(issue.assigneeName != null){
				            <span class="d-label">@issue.assignee.user.loginId (@issue.assigneeName)</span>
				            } else {
				            <span class="d-label">@Messages("noAssignee")</span>
				            }
				            <span class="d-caret nlb"><span class="caret"></span></span>
				        </button>
				        <ul class="dropdown-menu">
				            <li data-value="@User.anonymous.id"><a>@Messages("noAssignee")</a></li>
				            @if(ProjectUser.isMember(UserApp.currentUser().id, project.id)){
				                <li data-value="@UserApp.currentUser().id"><a>@Messages("issue.assignToMe")</a></li>
				            }
				            <li class="divider"></li>
				            @for(member <- project.members()) {
				                <li data-value="@member.user.id"><a>@member.user.loginId (@member.user.name)</a></li>
				            }
				        </ul>
				    </div>
				</p>
				<p class="pull-left">
					@**<!-- milestone  -->**@
					@Messages("milestone")&nbsp;&nbsp;
					<div id="milestone" class="btn-group" data-name="milestone.id">
				        <button class="btn dropdown-toggle large" data-toggle="dropdown">
				        	@if(issue.milestone != null) {
				            <span class="d-label">@issue.milestone.title</span>
				        	} else {
				        	<span class="d-label">@Messages("noMilestone")</span>
				        	}
				            <span class="d-caret nlb"><span class="caret"></span></span>
				        </button>
				        <ul class="dropdown-menu">
				            <li data-value="-1"><a>@Messages("noMilestone")</a></li>
				            @for(milestone <- Milestone.findByProjectId(project.id)) {
				                <li data-value="@milestone.id"><a>@milestone.title</a></li>
				            }
				        </ul>
				    </div>
				</p>
				</form>
			</div>
    	</div>
    	<div class="content markdown-wrap" markdown="true">@issue.body</div>
    	<div class="attachments" resourceType="@ResourceType.ISSUE_POST" resourceId="@issue.id"></div>
	</div>

	<div class="board-footer board-actrow">
		@** labels **@
		<p class="labels-wrap pull-left">
		@for(label <- issue.labels.toList.sortBy(r => (r.category, r.name))) {
			<a href='@routes.IssueApp.issues(project.owner, project.name, issue.state.state(), "html", 1)&labelIds=@label.id' class="label issue-label" data-labelId="@label.id" data-color="@label.color" style="background:@label.color">@label.name</a>
		}
		</p>

        <button id="watch-button" type="button" class="nbtn medium blue @if(issue.getWatchers.contains(UserApp.currentUser())) { active }" data-toggle="button">
            @if(issue.getWatchers.contains(UserApp.currentUser())) {
                @Messages("project.unwatch")
            } else {
                @Messages("project.watch")
            }
        </button>

        @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.DELETE)) {
        <a href="#deleteConfirm" data-toggle="modal" class="nbtn medium red">@Messages("button.delete")</a>
        }

		@if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {
		<a href="@routes.IssueApp.editIssueForm(project.owner, project.name, issue.getNumber)" class="nbtn medium black">@Messages("button.edit")</a>
		}

		<a href="@routes.IssueApp.issues(project.owner, project.name, "open")" class="nbtn medium" data-button="historyBack">@Messages("button.list")</a>
		
		<a href="@routes.IssueApp.newIssueForm(project.owner, project.name)" class="nbtn medium orange last">@Messages("issue.menu.new")</a>
	</div>

	@** Comment **@
	<div id="comments" class="board-comment-wrap">
		<div class="comment-header"><strong>@Messages("comment")</strong> <strong class="num">@issue.comments.size</strong></div>

	    @if(issue.comments.size > 0) {
		<ul class="comments">
		@for(comment <- issue.comments){
			<li class="comment" id="comment-@comment.id">
				<a href="@routes.UserApp.userInfo(comment.authorLoginId)" class="avatar-wrap pull-left">
		        	<img src="@User.findByLoginId(comment.authorLoginId).avatarUrl" width="32" height="32" alt="@comment.authorLoginId">
	        	</a>
				<div class="media-body">
					@if(isAllowed(UserApp.currentUser(), comment.asResource(), Operation.DELETE)){
					<a class="pull-right close" href="@routes.IssueApp.deleteComment(project.owner, project.name, issue.getNumber, comment.id)">&times;</a>
					}
                    <div class="comment-body markdown-wrap" markdown="true">@comment.contents</div>
					<p class="commenter">
						<a href="@routes.UserApp.userInfo(comment.authorLoginId)"><strong>@comment.authorLoginId</strong></a>
                        <span class="date"><a href="#comment-@comment.id">@utils.TemplateHelper.agoString(comment.ago())</a></span>
					</p>
					<div class="attachments" resourceType="@ResourceType.ISSUE_COMMENT" resourceId="@comment.id"></div>
				</div>
			</li>
            }
		</ul>
	    }

        @views.html.commentForm(project, ResourceType.ISSUE_COMMENT, routes.IssueApp.newComment(project.owner, project.name, issue.getNumber).toString())
    </div>
	@** // Comment **@

    @help.keymap("issueDetail", project)
</div>

<script type="text/x-jquery-tmpl" id="tplAttachedFile"><!--
	--><li class="attached-file" data-name="${fileName}" data-href="${fileHref}" data-mime="${mimeType}" data-size="${fileSize}">
    <strong>${fileName}(${fileSizeReadable})${notice}</strong><!--
	--><a class="attached-delete"><i class="ico btn-delete"></i></a></li>
</script>

@**<!--
<div class="board-footer">
  @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {
	<a href="@routes.IssueApp.editIssueForm(project.owner, project.name, issue.id)" class="nbtn orange medium">@Messages("button.edit")</a>
  }
  @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.DELETE)) {
	<a href="#deleteConfirm" data-toggle="modal" class="nbtn medium black">@Messages("button.delete")</a>
  }
	<a href="@routes.IssueApp.issues(project.owner, project.name,"open")" class="nbtn medium">@Messages("button.list")</a>
</div>
 -->**@

@** Confirm to delete post **@
<div id="deleteConfirm" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>@Messages("issue.delete")</h3>
	</div>
	<div class="modal-body">
		<p>@Messages("post.delete.confirm")</p>
	</div>
	<div class="modal-footer">
		<a class="btn btn-danger med" href="@routes.IssueApp.deleteIssue(project.owner, project.name, issue.getNumber)">@Messages("button.yes")</a>
		<a href="#" class="btn med" data-dismiss="modal">@Messages("button.no")</a>
	</div>
</div>

@markdown(project)

<script type="text/javascript">
	$(document).ready(function(){
		// yobi.Label
		var htOptLabel = {
			"bEditable"    : false,
			"sURLLabels"   : "@routes.IssueLabelApp.labels(project.owner, project.name)",
			"sURLPost"     : "@routes.IssueLabelApp.newLabel(project.owner, project.name)"
		};

		// yobi.issue.View
		$yobi.loadModule("issue.View", {
			"sAction"       : "@routes.AttachmentApp.uploadFile",
			"htOptLabel"    : htOptLabel,
            "sWatchUrl"     : "@routes.IssueApp.watch(project.owner, project.name, issue.getNumber)",
            "sUnwatchUrl"   : "@routes.IssueApp.unwatch(project.owner, project.name, issue.getNumber)",
            "welMilestone"  : $("#milestone"),
    		"welAssignee"   : $("#assignee"),
    		"welIssueUpdateForm" : $("#issueUpdateForm"),
    		"sIssueCheckBoxesSelector": "[type=checkbox][name=checked-issue]",
		});

	    // yobi.ShortcutKey
        yobi.ShortcutKey.setKeymapLink({
            "N": "@routes.IssueApp.newIssueForm(project.owner, project.name)",
            "L": "@routes.IssueApp.issues(project.owner, project.name,"open")"
            @if(isAllowed(UserApp.currentUser(), issue.asResource(), Operation.UPDATE)) {
           ,"E": "@routes.IssueApp.editIssueForm(project.owner, project.name, issue.getNumber)"
            }
        });
	});
</script>

}
