<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{site/layout :: head(#{userinfo.accountSetting})}">
</head>
<body class="theme-default">
<div id="main" class="main">
    <div th:replace="~{site/layout :: gnb}"></div>

    <div class="site-breadcrumb-outer">
      <div class="site-breadcrumb-inner">
        <h3 th:text="#{userinfo.accountSetting}">사용자 설정</h3>
      </div>
    </div>
    <div class="page-wrap-outer">
      <div class="page-wrap">
        <div th:replace="~{user/partial_edit_tabmenu :: tabmenu('password')}"></div>

        <form id="frmPassword" method="post" th:action="@{/user/resetPassword}">
          <input type="hidden" name="loginId" th:value="${user.loginId}" />
          <dl>
            <dt th:text="#{user.currentPassword}">현재 비밀번호</dt>
            <dd class="mt10">
              <input type="password" id="oldPassword" name="oldPassword" value="" autocomplete="off" />
            </dd>
            <dt th:text="#{user.newPassword}">새 비밀번호</dt>
            <dd class="mt10">
              <input type="password" id="password" name="password" value="" autocomplete="off" />
            </dd>
            <dt th:text="#{validation.retypePassword}">새 비밀번호 확인</dt>
            <dd class="mt10">
              <input type="password" id="retypedPassword" name="retypedPassword" value="" autocomplete="off" />
            </dd>
            <dd>
              <button type="submit" class="ybtn ybtn-success" th:text="#{userinfo.changePassword}">비밀번호 변경</button>
            </dd>
          </dl>
        </form>
        <hr/>
        <div class="mt10">
            <dl>
              <dt th:text="#{site.resetPasswordEmail.desc}">비밀번호가 기억나지 않으십니까?</dt>
              <dd class="mt10">
                <a th:href="@{/lostPassword}" class="ybtn ybtn-fail" th:text="#{site.resetPasswordEmail.title}">비밀번호 재설정 메일 보내기</a>
              </dd>
            </dl>
          </div>
      </div>
    </div>
    <footer th:replace="~{site/layout :: footer}"></footer>
    <div th:replace="~{site/layout :: scripts}"></div>
</div>
<script type="text/javascript">
    $(function(){
        $yobi.loadModule("user.Setting");
    });
</script>
</body>
</html>
