<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{site.resetPasswordEmail.title})}">
</head>
<body class="theme-default">
<div id="main" class="main">
  <div th:replace="~{site/layout :: gnb}"></div>
  <div class="page full">
    <div class="center-wrap tag-line-wrap reset-password">
      <h1 class="title" th:utext="#{title.resetPasswordFor(${siteName})}">비밀번호 재설정</h1>
      <p class="tag-line" th:text="#{app.description}">21세기 소프트웨어 개발 플랫폼</p>
    </div>

    <div class="login-form-wrap frm-wrap">
      <div class="alert alert-success" th:if="${isSent}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 th:text="#{site.mail.sended}">메일을 발송하였습니다.</h4>
      </div>

      <div class="alert alert-error" th:if="${errorMessage}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 th:text="#{site.mail.fail}">메일 발송에 실패했습니다.</h4>
        <span th:utext="${#messages.msgOrNull(errorMessage) ?: errorMessage}"></span>
      </div>

      <form method="post" th:action="@{/lostPassword}">
        <dl>
          <dd>
            <input type="text" id="loginId" name="loginId" required="required" th:placeholder="#{user.loginId}" class="text" th:value="${currentUser != null ? currentUser.loginId : null}">
          </dd>
          <dd>
            <input type="text" id="emailAddress" name="emailAddress" required="" th:placeholder="#{user.email}" class="text" th:value="${currentUser != null ? currentUser.email : null}">
          </dd>
        </dl>

        <div class="btns-row">
          <button type="submit" class="ybtn ybtn-primary ybtn-large ybtn-fullsize" th:text="#{button.confirm}">확인</button>
        </div>
      </form>
    </div>
  </div>

  <footer th:replace="~{site/layout :: footer}"></footer>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
</body>
</html>
