<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{title.resetPassword})}">
</head>
<body class="theme-default">
<div id="main" class="main">
  <div th:replace="~{site/layout :: gnb}"></div>
  <div class="page full">
    <div class="center-wrap tag-line-wrap reset-password">
      <h1 class="title">Yona</h1>
      <p class="tag-line" th:text="#{app.description}">21세기 프로젝트 호스팅 소프트웨어</p>
    </div>

    <div class="login-form-wrap frm-wrap">
      <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}" style="margin: 10px 0; color: #b94a48; background-color: #f2dede; border: 1px solid #eed3d7; padding: 8px 14px; border-radius: 4px; text-align: left;"></div>

      <form th:action="@{/user/reset-password}" method="POST" name="passwordReset">
        <input type="hidden" name="hashString" th:value="${hash}" />
        <dl>
          <dd>
            <input id="password" name="password" type="password" class="text password" th:placeholder="#{user.password}" autocomplete="off" required autofocus>
          </dd>
          <dd>
            <input id="retypedPassword" name="retypedPassword" type="password" class="text password" th:placeholder="#{validation.retypePassword}" autocomplete="off" required>
          </dd>
        </dl>

        <div class="btns-row">
          <button type="submit" class="ybtn ybtn-primary ybtn-fullsize" th:text="#{button.confirm}">확인</button>
        </div>
      </form>
    </div>
  </div>

  <footer th:replace="~{site/layout :: footer}"></footer>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
<script type="text/javascript" src="/javascripts/lib/validate.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $yobi.loadModule("resetPassword");
    });
</script>
<script type="text/javascript" src="/javascripts/service/yobi.resetPassword.js"></script>
</body>
</html>
