<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{error.forbidden})}">
</head>
<body class="theme-default">
<div id="main" class="main">
  <div th:replace="~{site/layout :: gnb}"></div>
  <div class="page-wrap-outer">
      <div class="project-page-wrap">
          <div class="error-wrap">
              <i class="ico ico-err2"></i>
              <p th:text="${messageKey != null} ? #{__${messageKey}__} : #{error.forbidden}">접근 권한이 없습니다.</p>
              <a href="/" class="ybtn ybtn-info" th:text="#{menu.home}">홈</a>
          </div>
      </div>
  </div>
</div>
<footer th:replace="~{site/layout :: footer}"></footer>
<th:block th:replace="~{site/layout :: scripts}"></th:block>
</body>
</html>
