<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{error.notfound})}">
</head>
<body class="theme-default">
<div id="main" class="main">
  <div th:replace="~{site/layout :: errorGnb}"></div>
  <div class="page-wrap-outer">
      <div class="project-page-wrap">
          <div class="error-wrap">
              <i class="ico ico-err2"></i>
              <p th:text="${messageKey != null} ? #{__${messageKey}__} : #{error.notfound}">존재하지 않는 페이지입니다.</p>
              <a href="/" class="ybtn ybtn-info" th:text="#{menu.home}">홈</a>
          </div>
      </div>
  </div>
</div>
<footer class="page-footer-outer">
  <div class="page-footer">
    <span class="provider">Copyright &copy; <a href="http://navercorp.com/" target="_blank">NAVER Corp.</a> Supported by <a href="https://developers.naver.com/d2/" target="_blank" class="d2-program"><span class="d2">D2</span><span class="program"> Program</span></a></span>
  </div>
</footer>
<th:block th:replace="~{site/layout :: scripts}"></th:block>
</body>
</html>
