@(message: String, members: List[ProjectUser], project:Project, roles: List[Role])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@memberRole(userRole: String) = {
    @for(role <- roles){
        <option value="@role.id" @(if(role.name.equals(userRole)) "selected" else "")>@role.name</option>
    }
}

@projectMngMain(message, project) {
    <table class="table">
        @for(member <- members){
            <tr>
                <td>@member.user.loginId</td>
                <td>
	                <form action="@routes.ProjectApp.updateMember(member.user.id, project.name)" method="post">
	                    <select id="role" name="id">
	                        @memberRole(member.role.name)
	                    </select>
	                </form>
                </td>
                <td>
                    <a class="btn btn-danger" href="@routes.ProjectApp.deleteMember(member.user.id, project.name)">@Messages("button.delete")</a>
                </td>
            </tr>
        }
        <tr>
            <form action="@routes.ProjectApp.newMember(project.name)" method="post" id="addNewMember">
	            <td colspan="2">
	                <input type="text" id="loginId" name="loginId" class="span8"
	                placeholder="@Messages("project.members.addMember")">
	            </td>
	            <td>
	                <input type="submit" class="btn btn-primary" value="@Messages("button.add")">
	            </td>
            </form>
    </table>
    
    <script>  
        $(document).ready(function(){
            $("select[id='role']").change(function(){
                $(this).parent("form").submit();
            });
        })
    </script>
}
