@(message: String, members: List[ProjectUser], project:Project, roles: List[Role])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@memberRole(userRole: String) = {
    @for(role <- roles){
        <option value="@role.id" @(if(role.name.equals(userRole)) "selected" else "")>@role.name</option>
    }
}

@projectMngMain(message, project) {
    <table class="table">
        @for(member <- members){
            <tr>
                <td>@member.user.loginId</td>
                <td>
	                <form action="@routes.ProjectApp.updateMember(project.owner, project.name, member.user.id)" method="post">
	                    <select id="role" name="id">
	                        @memberRole(member.role.name)
	                    </select>
	                </form>
                </td>
                <td>
                    <a id="deletion" data-toggle="modal" class="btn btn-danger" href="#alertDeletion@member.user.loginId">@Messages("button.delete")</a>
                </td>
            </tr>
            
            <div class="modal hide" id="alertDeletion@member.user.loginId">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>@Messages("project.member.delete")</h3>
                </div>
                <div class="modal-body">
                    <p>@Messages("project.member.deleteConfirm")</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">@Messages("button.no")</a>
                    <a href="@routes.ProjectApp.deleteMember(project.owner, project.name, member.user.id)" class="btn btn-danger">@Messages("button.yes")</a>
                </div>
            </div>
        }
        <tr>
            <form action="@routes.ProjectApp.newMember(project.owner, project.name)" method="post" id="addNewMember">
	            <td colspan="2">
	                <input type="text" id="loginId" name="loginId" class="span8"
	                placeholder="@Messages("project.members.addMember")">
	            </td>
	            <td>
	                <input type="submit" class="btn btn-primary" value="@Messages("button.add")">
	            </td>
            </form>
    </table>
    
    <script>  
        $(document).ready(function(){
            $("select[id='role']").change(function(){
                $(this).parent("form").submit();
            });
        })
    </script>
}
