@(project:Project)
@import utils._
@import models.enumeration.ResourceType;
@import utils.TemplateHelper._
@import utils.AccessControl._

<div class="gnb-inner">
	<div class="gnb-menu-wrap">
		<a href="@routes.Application.index()" class="logo"><span>@Messages("hive.name")</span></a>

		<h1 class="page-title">
			<span class="gray">/ <a href="@routes.UserApp.userInfo(project.owner)">@project.owner</a> /</span><!--
	 	--> <a href="@routes.ProjectApp.project(project.owner, project.name)">@project.name</a>
		</h1>

        @usermenu(project)
	</div>
</div>