@(title:String, newProjectForm:Form[Project])

@import playRepository.RepositoryService

@home(title){
    <div class="page">
        <div class="form-wrap new-project">
            <div class="bread-crumb-wrap">
                <h1 class="title orange">New Project</h1>
                <div class="bread-crumb">
                    <a href="/"><i class="ico ico-home"></i></a>
                    <i class="ico ico-location-arrow"></i>
                    <span>new project</span>
                </div>
            </div>
            <form action="@routes.ProjectApp.saveProject()" method="post">
                <label for="name">
                    <input id="project-name" type="text" name="name" class="text" placeholder="새 프로젝트 이름을 입력해주세요.">
                </label>
                <label for="overview">
                    <textarea id="description" name="overview" class="text textarea" placeholder="프로젝트 설명을 입력해주세요."></textarea>
                </label>
                <ul class="options unstyled">
                    <li class="option">
                        <div class="option-label">공개설정</div>
                        <div class="option-desc">
                            <input name="share_option" type="radio" checked="checked" id="public" value="true" class="radio-btn-"><label for="public" class="bg-radiobtn">공개</label>
                            <input name="share_option" type="radio" id="private" value="false" class="radio-btn-"><label for="private" class="bg-radiobtn">비공개</label>
                            <span class="note">비공개 프로젝트도 프로젝트 이름, 설명, 로그 등은 모든 사용자가 볼 수 있습니다.</span>
                        </div>
                    </li>
                    <li class="option">
                        <div class="option-label">코드관리시스템</div>
                        <div class="option-desc">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn" id="vcs_msg">Git</button>
                                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                                <ul class="dropdown-menu" id="vcs_dropdown">
                                    @RepositoryService.vcsTypes.map{ v =>
                                        <li><a href="#!/git" value="@v._1">@Messages(v._2)</a></li>
                                    }
                                    <!-- 여기가 일반 input이 아니라서 submit시에 자료를 넣어줘야 할듯...-->
                                </ul>
                                <input type="hidden" name="vcs" id="vcs" value="GIT"/>
                            </div>
                        </div>
                    </li>
                    <li class="option">
                        <div class="option-label">이용약관 <i class="ico ico-que-mark"></i></div>
                        <div class="option-desc">
                            <input type="checkbox" class="stipulation checkbox" autocomplete="off" id="stipulation" name="accept"><label for="stipulation" class="bg-checkbox">본인은 약관에 대한 안내를 읽었으며 동의 합니다.</label>
                        </div>
                    </li>
                </ul>
                <div class="actions">
                    <button class="btn-transparent n-btn orange med">SAVE</button>
                    <a href="/" class="n-btn gray med cancel">CANCEL</a>
                </div>
            </form>
        </div>
    </div>
    <script>
    $("#vcs_dropdown").click(function(e){
      var data = $(e.srcElement).attr("value");
      var msg = $(e.srcElement).text();
      $("#vcs").attr("value",data);
      $("#vcs_msg").text(msg);
    });
    </script>
}
