@(title:String, newProjectForm:Form[Project])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@home(title){
  <div class="page-header">
    <h1>@Messages(title)</h1>
  </div>

    @form(action = routes.ProjectApp.saveProject, 
                    'class -> "form-horizontal"){
        <div class="row">
            <fieldset>
                <div class="icon-question-sign" href = "#" id="project_name" rel="popover"
                    data-content="@Messages("project.name.alert")"
                    data-original-title="@Messages("project.name.rule")"
                ></div>
                @inputText(
                    newProjectForm("name"),
                    '_label -> Messages("project.name"),
                    '_help -> Messages("input.mandatory")
                )
                <div class="alert alert-danger hide" id="nameAlert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>@Messages("project.name.alert")</strong>
                </div>
                
                @textarea(
                    newProjectForm("overview"),
                    '_label -> Messages("project.description"),
                    'cols -> 50,
                    '_help -> Messages("input.optional")
                )
                
                <div class="icon-question-sign" href = "#" id="share_option_explanation" rel="popover"
                    data-content="@Messages("project.shareOption.private.description")"
                    data-original-title="@Messages("project.shareOption")"
                ></div>
                @inputRadioGroup(
                    newProjectForm("share_option"),
                    options = options("false"->Messages("project.shareOption.private"), "true"->Messages("project.shareOption.public")),
                    '_label -> Messages("project.shareOption")
                )
                 @inputRadioGroup(
                    newProjectForm("isAuthorEditable"),
                    options = options("false"->Messages("project.isAuthorEditable.off"), "true"->Messages("project.isAuthorEditable.on")),
                    '_label -> Messages("project.isAuthorEditable")
                )
                @selectEx(
                    newProjectForm("vcs"),
                    options(Project.vcsTypes), 
                    '_label -> Messages("project.vcs")
                )
                
                <div class="icon-question-sign" href = "#" id="terms" rel="popover"
                    data-content="약관 ..."
                    data-original-title="@Messages("project.agreement")"
                ></div>
                @checkbox(
                     newProjectForm("accept"), 
                    '_label -> None,
                    '_text -> Messages("project.new.agreement"),
                    '_showConstraints -> false
                      )
                <div class="alert alert-danger hide" id="acceptAlert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>@Messages("project.new.agreement.alert")</strong>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="actions">
                <center><input type="submit" class="btn btn-primary" value="@Messages("project.create")" id="save"></center>
            </div>
        </div>
    }
    <script>nforge.require(["project.nameCheck", "project.popovers", "project.acceptCheck"], "save");</script> 

    
}