@(title:String, newProjectForm:Form[Project])

@import playRepository.RepositoryService

@home(title, utils.MenuType.NEW_PROJECT){
    <div class="page">
        <div class="form-wrap new-project">
            <form action="@routes.ProjectApp.newProject()" method="post" name="newproject" class="frm-wrap">
            	<dl>
            		<dt>
            			<div class="n-alert" data-errType="name">
		                    <div class="n-inner orange">
		                        <span class="msg">@Messages("project.wrongName")</span>
		                        <a href="#!/close" class="ico btn-delete"></a>
		                    </div>
		                </div>
            			<label for="project-name">@Messages("project.name.placeholder")</label>
            		</dt>
            		<dd>
            			<input id="project-name" type="text" name="name" class="text" placeholder="@Messages("project.name.alert")" maxlength="250">
            		</dd>
            		
            		<dt>
						<label for="description">@Messages("project.description.placeholder")</label>
					</dt>
					<dd>
						<textarea id="description" name="overview" class="text textarea.span4" style="resize:vertical;"></textarea>
					</dd>
            	</dl>

                <ul class="options unstyled">
                    <li class="option">
                        <div class="option-label">@Messages("project.shareOption")</div>
                        <div class="option-desc">
                            <input name="share_option" type="radio" checked="checked" id="public" value="true" class="radio-btn"><label for="public" class="bg-radiobtn label-public">공개</label>
                            <input name="share_option" type="radio" id="private" value="false" class="radio-btn"><label for="private" class="bg-radiobtn label-private">비공개</label>
                            <span class="note">@Messages("project.private.notice")</span>
                        </div>
                    </li>
                    <li class="option">
                        <div class="option-label">@Messages("project.vcs")</div>
                        <div class="option-desc">
							<div class="btn-group" data-name="vcs">
								<button class="btn dropdown-toggle large" data-toggle="dropdown">
									<span class="d-label"></span> 
									<span class="d-caret"><span class="caret"></span></span>
								</button>
								<ul class="dropdown-menu">
                                    @RepositoryService.vcsTypes.map{ v =>
                                        <li data-value="@v._1" @if(v._1 == "GIT"){ data-selected="true" class="active" }><a href="javascript:void(0)">@Messages(v._2)</a></li>
                                    }
								</ul>
							</div>
                        </div>
                    </li>
                    
                    @**
                    <!-- 
                    <li class="option">
                        <div class="option-label">이용약관 <a href="#agreement" data-toggle="modal"><i class="ico ico-que-mark"></i></a></div>
                        <div id="agreement" class="modal hide fade">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>이용약관</h3>
                          </div>
                          <div class="modal-body">
                            <pre>@agreements()</pre>
                          </div>
                          <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                          </div>
                        </div>
                        <div class="option-desc">
	                        <div class="n-alert" data-errType="accept">
			                    <div class="n-inner orange">
			                        <span class="msg">@Messages("project.new.agreement.alert")</span>
			                        <a href="#!/close" class="ico btn-delete"></a>
			                    </div>
			                </div>
                            <input type="checkbox" class="stipulation checkbox checkbox-btn" autocomplete="off" id="stipulation" name="accept"><label for="stipulation" class="bg-checkbox label-agreement">본인은 약관에 대한 안내를 읽었으며 동의 합니다.</label>
                        </div>
                    </li>
                     -->
                    **@
                </ul>
                <div class="actions">
                    <button class="nbtn orange medium">@Messages("project.create")</button>
                    <a href="/" class="nbtn medium black">@Messages("button.cancel")</a>
                </div>
            </form>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function(){
    	$hive.loadModule("project.New", {
    		"sFormName": "newproject"
    	});
    });
</script>
}
