@(project:Project)
@** 프로젝트 설정 서브메뉴 **@

@makeSubMenu(call:Call, name:String, count:Integer) = {
    <li class="@isActiveSubMenu(call)"><a href="@call">@name@if(count>0){<span class="num-badge">@count</span>}</a></li>
}

@isActiveSubMenu(calls: Call*) = @{
    var menuState = ""
    for(call <- calls) {
        if(call.toString().equals(request().path())) {
            menuState = "active"
        }
    }
    menuState
}

<ul class="nav nav-tabs">
    @makeSubMenu(routes.ProjectApp.settingForm(project.owner, project.name),  Messages("project.setting"), 0)
    @makeSubMenu(routes.ProjectApp.members(project.owner, project.name),      Messages("project.member"), project.enrolledUsers.size)
    @makeSubMenu(routes.ProjectApp.deleteForm(project.owner, project.name),   Messages("project.delete"), 0)
    @makeSubMenu(routes.ProjectApp.transferForm(project.owner, project.name),   Messages("project.transfer"), 0)
</ul>
