@(message: String, project: Project) 

@main(message, project, utils.MenuType.PROJECT_HOME) {
<div class="page">
	@prjmenu(project, utils.MenuType.PROJECT_HOME, "")
    
    <div class="bubble-wrap dark-gray project-home">
        <div class="inner logo">
            <div class="logo-wrap">
              <img src="@defining(Attachment.findByContainer(project.asResource)) @{ files =>
              if (files.size > 0) "/files/" + files.head.id
              else routes.Assets.at("images/bg-default-project.jpg")}"/>
            </div>
        </div>
        <div class="inner project-info">
            <header>
                <h3>프로젝트 정보</h3>
                <!--<div class="project-status">
                    <i class="ico ico-like"></i>
                    <span class="num">100</span>
                    <span class="sp">|</span>
                    <i class="ico ico-activity high"></i>
                </div>-->
            </header>
            <ul class="infos">
                <li class="info">
                    <strong>라이센스 :</strong> GPL v2
                </li>
                <li class="info">
                    <strong>@Messages("project.tags") :</strong>
                    @for(tag <- project.tags) {
                    <span class='label label-info'>@tag.name</span>
                    }
                </li>
                <li class="info">
                    <strong>프로그래밍 언어 :</strong> PHP, Python, Java
                </li>
                <li class="info">
                    <strong>코드관리 :</strong> @project.vcs
                </li>
            </ul>
        </div>
        <div class="inner member-info">
            <header>
                <h3>개발자 정보</h3>
            </header>
            <div class="member-wrap">
                <ul class="project-members">
                    @for(member <- User.findUsersByProject(project.id)){
                    <li class="member">
                    <a href="@routes.UserApp.userInfo(member.loginId)">
                        <img src="@member.avatarUrl" alt="@member.loginId" class="user-thumb"></a>
                        <a href="@routes.UserApp.userInfo(member.loginId)"><strong>@member.loginId</strong></a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="bubble-wrap dark-gray readme">
        @if(project.readme == null) {
            @Messages("project.readme")
        } else {
        <div class="readme-wrap">
           <header><i class="ico ico-readme-book"></i><strong>README.md</strong></header>
           <div class="readme-body" markdown="true">
               @project.readme
           </div>
        </div>
        }
	@markdown()
    </div>
</div>
}
