
@(message: String, project: Project, histories: List[models.History] )

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import models.enumeration._
@import utils.AccessControl._

@main(message, project, utils.MenuType.PROJECT_HOME) {
<div class="page">
	@prjmenu(project, utils.MenuType.PROJECT_HOME, "")

    <div class="input-prepend project-hometop-wrap">
    	<div class="vcs-wrap pull-left">
    		<span class="clone-label"><strong class="@project.vcs">@project.vcs</strong></span><!-- 
    	 --><input id="repositoryURL" type="text" class="text repo-url" readonly="readonly" value="@CodeApp.getURL(project.owner, project.name)">
        </div>
        <div class="issue-wrap btn-group pull-right">
            <button class="btn" disabled="true">@Messages("menu.issue")</button>
            <a href="@routes.IssueApp.issues(project.owner, project.name, State.OPEN.state)" class="btn">
                @Messages("issue.state.open") <strong class="num open">@Issue.countIssues(project.id, State.OPEN)</strong> 
            </a>
            <a href="@routes.IssueApp.issues(project.owner, project.name, State.CLOSED.state)" class="btn">
                @Messages("issue.state.closed") <strong class="num">@Issue.countIssues(project.id, State.CLOSED)</strong> 
            </a>
        </div>
    </div>

    <div class="bubble-wrap dark-gray project-home">
        <div class="inner logo">
            <div class="logo-wrap">
              <img src="@defining(Attachment.findByContainer(project.asResource)) @{ files =>
              if (files.size > 0) "/files/" + files.head.id
              else routes.Assets.at("images/bg-default-project.jpg")}"/>
            </div>
        </div>
        <div class="inner project-info">
            <header>
                <h3>@Messages("project.info")</h3>
                @if(isAllowed(UserApp.currentUser(), project.tagsAsResource(), Operation.UPDATE)){
                <button type="button" class="btn btn-small" data-toggle="button" id="tag-editor-toggle">@Messages("button.edit")</button>
                }
            </header>
            <ul class="infos" id="tags">
                <!-- tags are added here by hive.project.Home.js -->
            </ul>
            <ul>
                <input name="newTag" type="text" class="text hidden" style="margin-bottom:0px;" data-provider="typeahead" autocomplete="off"/>
                <button id="addTag" type="button" class="btn-transparent n-btn med gray hidden">@Messages("button.add")</button>
            </ul>
        </div>
        <div class="inner member-info">
            <header>
                <h3>@Messages("project.members")</h3>
            </header>
            <div class="member-wrap">
                <ul class="project-members">
                    @for(member <- User.findUsersByProject(project.id)){
                    <li class="member">
                    	<a href="@routes.UserApp.userInfo(member.loginId)" class="avatar-wrap img-rounded pull-left small">
                        	<img src="@member.avatarUrl" alt="@member.loginId" width="24" height="24">
                        </a>
                        <a href="@routes.UserApp.userInfo(member.loginId)" class="name">
                        	<strong>@member.loginId (@member.name)</strong>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @if(histories.size > 0) {
        <table class="table table-hover">
            <tbody>
                @for(history <- histories.iterator()) {
                    <tr>
                        <td>@agoString(ago(history.getWhen()))</td>
                        <td><a href="@history.getUserPageUrl()">@history.getWho()</a></td>
                        <td>@history.getWhat()</td>
                        <td><a href="@history.getUrl()">@history.getHow()</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="bubble-wrap dark-gray readme">
        @if(project.readme == null) {
            <p class="default">
                @Messages("project.readme")
            </p>
        } else {
        <div class="readme-wrap">
           <header><i class="ico ico-readme-book"></i><strong>README.md</strong></header>
           <div class="readme-body" markdown="true">
               @project.readme
           </div>
        </div>
        }
	    @markdown()
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $hive.loadModule("project.Home", {
        "sURLProjectTags": "@routes.ProjectApp.tags(project.owner, project.name)",
        "sURLTags"       : "@routes.TagApp.tags()",
        "nProjectId"     : @project.id
    });
});
</script>
}
