@(message: String)(projectForm: Form[Project], projectInst:Project)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@projectMngMain(message, projectInst) {
    @form(action = routes.ProjectApp.saveSetting(projectInst.owner, projectInst.name), 'class -> "form-horizontal", 'enctype -> "multipart/form-data", 'id -> "saveSetting"){
        <div class="row">
            <fieldset>    
                <input type="hidden" name="id" value="@projectForm("id").value.toLong">             
                <div class="icon-question-sign" href = "#" id="project_name" rel="popover"
                    data-content="@Messages("project.name.alert")"
                    data-original-title="@Messages("project.name.rule")"
                ></div>
                @inputText(
                    projectForm("name"),
                    '_label -> Messages("project.name"),
                    '_help -> Messages("input.mandatory")
                )
                <div class="alert alert-danger hide" id="nameAlert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>@Messages("project.name.alert")</strong>
                </div>
                
                @textarea(
                    projectForm("overview"),
                    '_label -> Messages("project.description"),
                    '_help -> Messages("input.optional")
                )
                
                <div class="thumbnail">
                @if(projectForm("logoPath").value != null) {
                    <img src="http://localhost:9000/assets/uploadFiles/@projectForm("logoPath").value" alt="" width="234" height="168">
                    
                } else {
                    <img src="@routes.Assets.at("images/project_image_default.jpg")" alt="" width="234" height="168">
                }
                    <p>@Messages("project.logo.type")</p>
                    <p>@Messages("project.logo.fileSize")</p>
                    <p>@Messages("project.logo.size")</p>
                </div>                                
                                
                @inputFile(
                    projectForm("logoPath"),
                    '_label -> Messages("project.logo")
                )
                <div class="alert alert-danger hide" id="logoTypeAlert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>@Messages("project.logo.alert")</strong>
                </div>
                
                <div class="icon-question-sign" href = "#" id="share_option_explanation" rel="popover"
                    data-content="@Messages("project.shareOption.private.description")"
                    data-original-title="@Messages("project.shareOption")"
                ></div>
                @inputRadioGroup(
                    projectForm("share_option"),
                    options = options("false"->Messages("project.shareOption.private"), "true"->Messages("project.shareOption.public")),
                    '_label -> Messages("project.shareOption")
                )
                @inputRadioGroup(
                    projectForm("isAuthorEditable"),
                    options = options("false"->Messages("project.isAuthorEditable.off"), "true"->Messages("project.isAuthorEditable.on")),
                    '_label -> Messages("project.isAuthorEditable")
                )
                
                @inputText(
                    projectForm("siteurl"),
                    '_label -> Messages("project.siteurl"),
                    '_showConstraints -> false
                )
                <div class="alert alert-danger hide" id="urlAlert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>@Messages("project.siteurl.alert")</strong>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="actions">
                <input type="submit" class="btn btn-primary" value="@Messages("button.save")" id="save">
            </div>
        </div>
    }
    
    <div class="alert alert-danger hide" id="acceptAlert">
        <a class="close" data-dismiss="alert">×</a>
        <strong>@Messages("project.delete.alert")</strong>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><strong>@Messages("project.delete")</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p align="left"><strong>@Messages("project.delete.description")</strong></p>
                    <p align="right">
                        <input type="checkbox" id="accept"> <span>@Messages("project.delete.accept")</span>
                    </p>
                    <a id="deletion" data-toggle="modal" href="#alertDeletion" class="btn btn-danger">@Messages("project.delete")</a>
                </td>    
            </tr>
        </tbody>
    </table>
    
    <div class="modal hide" id="alertDeletion">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Messages("project.delete.requestion")</h3>
        </div>
        <div class="modal-body">
            <p> @Messages("project.delete.description")</p>
            <p> @Messages("project.delete.reaccept") </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Messages("button.no")</a>
            <a href="@routes.ProjectApp.deleteProject(projectInst.owner, projectInst.name)" class="btn btn-danger">@Messages("button.yes")</a>
        </div>
    </div>

    <script>nforge.require(["project.logoCheck", "project.popovers", "project.nameCheck", "project.urlCheck", "project.acceptCheck"], "deletion");</script>    
}
