@(currPage: String, projectInst: Project)
@isActiveMenu(calls: Call*) = @{
    var menuState = ""
    for(call <- calls) {
        if(call.toString().equals(request().path().toString())) {
            menuState = "active"
        }
    }
    menuState
}
@defining(projectInst.id+ " " + projectInst.id) { fullName =>
    <div>Hello @fullName</div>
}
@defining((projectInst.id,projectInst.name)){ case (projectId, projectName)=>
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">@Messages("project.sidebar")</li>
            <li class="@isActiveMenu(routes.ProjectApp.setting(projectName))">
                <a href="@routes.ProjectApp.setting(projectName)"><i class="icon-cog"></i>@Messages("project.sidebar.setting")</a>
            </li>
            <li class="@isActiveMenu(routes.ProjectApp.members(projectName))">
                <a href="@routes.ProjectApp.members(projectName)"><i class="icon-user"></i>@Messages("project.sidebar.memberList")</a>
            </li>
            <li class="@isActiveMenu(routes.MilestoneApp.milestones(projectName),routes.MilestoneApp.manageMilestones(projectName))">
                <a href="@routes.MilestoneApp.milestones(projectName)"><i class="icon-gift"></i>@Messages("project.sidebar.milestone")</a>
            </li>
            <li class="@isActiveMenu(routes.Application.index())">
                <a href="#"><i class="icon-wrench"></i>@Messages("project.sidebar.plugin")</a>
            </li>
            <li class="divider"></li>
            <li class="@isActiveMenu(routes.Application.index())">
                <a href="#"><i class="icon-book"></i>@Messages("project.sidebar.help")</a>
            </li>
        </ul>
    </div> <!-- /well -->
}
