@(currPage: String,id: Long)
@chooseMenu(targets: String*) = @{
    var menuState =""
    for(target <- targets)  {
        if(target.equals(currPage)){
            menuState = "active"
        }
    }
    menuState
}
<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">프로젝트 관리</li>
        <li class="@chooseMenu("프로젝트 설정")">
            <a href="@routes.ProjectApp.setting(id)"><i class="icon-cog"></i>설정</a>
        </li>
        <li class="@chooseMenu("맴버")">
            <a href="#"><i class="icon-user"></i>멤버</a>
        </li>
        <li class="@chooseMenu("마일스톤 리스트","마일스톤 관리")">
            <a href="@routes.MilestoneApp.milestones(id)"><i class="icon-gift"></i>마일스톤</a>
        </li>
        <li class="@chooseMenu("플러그인")">
            <a href="#"><i class="icon-wrench"></i>플러그인</a>
        </li>
        <li class="divider"></li>
        <li class="@chooseMenu("Help")">
            <a href="#"><i class="icon-book"></i>Help</a>
        </li>
    </ul>
</div> <!-- /well -->
