@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@(message: String, webhooks: List[models.Webhook], project:Project)

@import utils.TemplateHelper._
@import utils.AccessControl._

@projectLayout(message, project, utils.MenuType.PROJECT_SETTING) {
  @projectMenu(project, utils.MenuType.PROJECT_SETTING, "")
  <div class="page-wrap-outer">
    <div class="project-page-wrap webhook-editor-wrap">
      @partial_settingmenu(project)

      @if(isProjectResourceCreatable(UserApp.currentUser, project, ResourceType.WEBHOOK)) {
      <form id="formNewWebhook" action="@routes.ProjectApp.newWebhook(project.owner, project.name)" method="post" class="new-webhook-wrap">
        <strong class="form-legend">@Messages("project.webhook.new")</strong>
        <div class="form-wrap">
          <div>
            <input type="text" name="payloadUrl" class="input-webhook-payload" maxlength="2000" autocomplete="off" placeholder="@Messages("project.webhook.payloadUrl")">
            <input type="text" name="secret" class="input-webhook-secret" maxlength="250" autocomplete="off" placeholder="@Messages("project.webhook.secret")">
            <select class="form-control" title="add details or not" name="webhookType">
              <option value="SIMPLE">SIMPLE Version (no details)</option>
              <option value="DETAIL_SLACK">DETAIL Version (for slack) </option>
              <option value="DETAIL_HANGOUT_CHAT">DETAIL Version (for Hangout Chat) </option>
            </select>
            <label for="gitPushOnly">@Messages("project.webhook.gitPushOnly")</label>
            <input type="checkbox" id="gitPushOnly" name="gitPushOnly" class="form-check-input">
          </div>
        </div>
        <button type="submit" class="ybtn ybtn-primary btn-submit">@Messages("project.webhook.add")</button>
        <div>
        @Html(Messages("project.webhook.help"))
        </div>
      </form>
      }

      <div id="webhooksList" class="webhook-list-wrap">
        @partial_webhooks_list(project, webhooks)
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
      $yobi.loadModule("project.Webhook", {
        "form": "#formNewWebhook",
        "list": "#webhooksList"
      });
    });
  </script>
}
