html, body {
    min-height: 100%;
}

body {
   background      : @base-background;
   background-color: @base-background-color;  
   font-family: @base-font-family;
}
input, button, select, textarea { font-family: @base-font-family !important; }

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    &:hover { outline: none !important; color: @link-hover-color; text-decoration: underline; }
    &:focus { outline: none !important; color: @link-hover-color; text-decoration: underline; }
}

.btn-transparent { border: 0; padding: 0; background: transparent; }
.d-link { color: @blue; }
.nm { margin: 0 !important; }
.hidden {
    display: none !important;
    visibility: hidden !important;
}

/** pagination **/
.page-navigation-wrap {
    text-align: center;
    .page-nums {
        margin: 0;
        padding: 0;
        list-style: none;
        .inline-block;
        font-size: 0;
        .page-num {
            .inline-block;
            padding: 0 10px;
            font-size: 12px;
            color: #8E9094;
            .current {
                color: @orange; /*#4489A4;*/
                font-weight: bold;
            }
            &.ikon {
                &:nth-child(4n-2) { //--- prev
                    padding-right: 10px;
                }
                &:nth-child(5n-2) { //--- next
                    padding-left: 10px;
                }
                padding: 0 5px;
                span {
                    font-size: 11px;
                    color: @orange; /*#4489A4;*/
                    &.off {
                        color: #8E9094;
                    }
                }
            }
        }
    }
}

/** file uploader **/
.progress {
    height: 7px;
    margin-bottom: 5px;
    background:#b1b1b1;
    .box-shadow(inset 0px 1px 1px rgba(0,0,0,0.25));
    .bar {
        &.orange { background:@orange; .box-shadow(none); } // #f28149
        &.blue   { background:@blue;   .box-shadow(none); }
    }
}

/** images **/
.img-rounded {
    .border-radius(3px) !important;
    border: 1px solid #ccc;
}
.avatar-wrap {
    width:32px; height:32px; 
    vertical-align:middle;
    overflow:hidden; display:inline-block;
    
    &.small { width:24px; height:24px;   }
    &.mid   { width:64px; height:64px;   }
    &.large { width:128px; height:128px; }
}

/** text style **/
.bold { font-weight:bold; }
.gray-txt      { color:@gray-cc !important; }
.orange-txt    { color:@orange !important; }
.primary-txt   { color:@orange !important; }
.secondary-txt { color:@secondary !important; }
.center-txt    { text-align:center; }
.right-txt     { text-align:right; }

/** background **/
.bgblack  { background:#000; }
.bgwhite  { background:#fff; }
.bgblue   { background:@blue; /*#56B5D9;*/ }
.bgorange { background:@orange; }
.vmiddle  { vertical-align:middle !important; }

/** issue label **/
.issue-label {
    /*.border-radius(3px);*/
    border:none; padding:2px 4px; /*3px 10px;*/
    font-size:11px; font-weight:bold;
    box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3);
    margin-right:5px; -webkit-transition-duration:0.25s;
    &:last-of-type { margin:0; }
    
    .del-link {
        margin-left:8px; padding:8px 4px;
        -webkit-transition-duration:inherit;
        &:hover { background:rgba(0,0,0,.2); }
    }
    
    &.active {
        .border-radius(2px);
        &.active-white   { color:#fff; }
        &.active-dimgray { color:#696969; }
    }
}

/** alert **/
.n-alert {
    display:none;
    overflow: hidden;
    
    .n-inner {
        cursor:pointer;
        
        float: left;
        font-size: 11px;
        border: 1px solid #FAC7AB;
        /*border: 1px solid #93C0C8;*/
        color: @orange; /*#4092A1;*/
        background-color: #FFF0E8; /*#E8f6f9;*/
        padding: 0 7px;
        line-height: 25px;
        .border-radius(2px);
    }
    margin-bottom: 5px;
}
/*
.mandatory-text-wrap {
    overflow:hidden; position:relative;
}
.mandatory-text-flag {
    position:absolute;
    right:-7px; top:-7px; 
    width:14px; height:14px; 
    background:#f00;
    -webkit-transform:rotate(45deg);
}
*/

/** form elements **/
.radio-btn {
   .inline-block;
   vertical-align:top;
   margin:2px !important;
}
.form-label {
   margin:0px 5px;
}
