// readme style
.markdown-wrap {
  font-size: 14px;
  clear: both;
  overflow:auto;

  a {
      color:#4183c4;
      text-decoration:none;
  }

  a:hover {
      color:#4183c4;
      text-decoration:underline;
  }

  a:active {
      color:#4183c4;
      text-decoration:none;
  }

  h1 {
    margin:1em 0 15px;
    font-size:2.5em;
  }

  h2 {
    margin:1em 0 15px;
    border-bottom:1px solid #bbb;
    font-size:2.0em;
  }

  h3 {
    font-size:1.5em;
  }

  h4 {
    font-size:1em;
  }

  hr {
    height:1px;
    margin:10px 0;
    border:0;color:#ccc;
    background-color:#ccc;
  }

  p {
    margin : 15px 0;
  }

  blockquote {
      p { font-size:1em; }
  }

  code {
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family:@fixed-font-family;

    .title {
      font-size:inherit;
    }
  }

  blockquote{
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
  }

  img{
    max-width:100%;
    margin:10px 0; padding: 10px;
    border:1px solid rgba(0,0,0,0.1);
    .box-shadow(2px 2px 5px rgba(0,0,0,0.15));
    .box-sizing(border-box);
  }

  ul {
     padding:0px 20px;
     line-height:20px;
     list-style:disc;
  }

   li{
     line-height:24px;
  }

  ul ul, ol ul {
    list-style:circle;
  }

  ul ul ul, ol ul ul, ol ol ul, ul ol ul {
    list-style:square;
  }

  

  ol{
     padding:0px 20px;
     line-height:20px;
     list-style:decimal;
  }

  pre {
    background-color:#f8f8f8;
    padding: 10px;
    margin:10px 0;
    word-break : normal;

    code {
      marign : 0;
      padding: 0;
      border : none;
    }
  }

  table {
    border-collapse:collapse;
        margin: 15px 15px;

    th {
      padding:5px;
      border:1px solid #dcddde;
      background-color:#f7f7f7;
    }

    td {
      padding:5px;
      border:1px solid #dcddde;
    }

  }
     &.markdown-before {
       visibility : hidden;
   }

  .popover {
    max-width: 400px;
  }
  .popover-title {
    font-size: 14px;
    font-weight: bold;
  }
}
