code {
  white-space: inherit;
  word-break: break-all;
}

.markdown-wrap {
  font-size: 1.1em;
  clear: both;
  overflow: auto;
  font-family: @base-font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 15px 20px !important;

  word-wrap: break-word;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  ul, ol {
    padding: 0 0 5px 2.5em;
    font-weight: normal;
    margin-left: 0;
  }

  li {
    margin-bottom: 5px;
  }
  li > ul {
    margin-bottom: 0;
    :last-of-type {
      padding-bottom: 0;
    }
    pre {
      padding-bottom: 10px !important;
    }
    padding: 5px 0 0 2.5em;
  }

  li > p {
    margin-top: 8px;
    margin-bottom: 2px;
  }

  a {
    color: #4183c4;
    text-decoration: none;
  }

  a:hover {
    color: #4183c4;
    text-decoration: underline;

    span {
      text-decoration: none;
    }
  }

  a:active {
    color: #4183c4;
    text-decoration: none;
  }

  .anchor() {
    .head-anchor {
      margin-left: 3px;
      opacity: 0;
    }
    &:hover {
      .head-anchor {
        opacity: 1;
      }
    }
  }

  h1,
  h2,
  h3 {
    line-height: 40px;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 2.0em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
    .anchor();
    width: 95%;
    font-weight: 600;
  }

  h2 {
    line-height: 1.25;
    font-size: 1.5em;
    width: 95%;
    padding: 0 0 0.3em 0;
    border-bottom: 1px solid #eaecef;
    .anchor();
  }

  h3 {
    margin: 1em 0 5px;
    font-size: 1.25em;
    padding: 0;
    .anchor();
  }

  h4 {
    font-size: 1.25em;
    margin-top: 1.2em;
    padding: 0;
    .anchor();
  }

  h5 {
    font-size: 1em;
    margin-top: 20px;
    .anchor();
  }

  hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    color: #ccc;
    background-color: #ccc;
  }

  p {
    margin: 0 0 12px 0;
    line-height: 1.6em;
  }

  blockquote {
    p {
      font-size: 0.9em;
      font-weight: normal;
    }
  }

  code {
    padding: 5px 5px 2px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: @fixed-font-family;
    font-size: 13px;

    .title {
      font-size: inherit;
    }
  }

  blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
  }

  li > img {
    max-width: 80%;
  }

  p > input[type='checkbox'] {
    vertical-align: text-top;
  }

  li > input[type='checkbox'] {
    vertical-align: top;
  }

  img {
    max-width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .box-sizing(border-box);
    max-height: 600px;
  }

  > ul {
    line-height: 20px;
    list-style: disc;
    margin-bottom: 16px;
  }

  li {
    line-height: 1.6em;
  }

  ul ul, ol ul {
    list-style: circle;
  }

  ul ul ul, ol ul ul, ol ol ul, ul ol ul {
    list-style: square;
  }

  ol {
    line-height: 1.6em;
    list-style: decimal;
  }

  pre {
    font-size: 1em;
    background-color: #EFEFEF;
    padding: 10px;
    margin: 10px 0;
    word-break: normal;
    border: none;

    code {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  table {
    border-collapse: collapse;
    margin: 15px 15px;

    th {
      padding: 5px;
      border: 1px solid #dcddde;
      background-color: #f7f7f7;
      min-width: 45px;
    }

    td {
      padding: 5px;
      border: 1px solid #dcddde;
      word-break: break-all;
    }

  }
  &.markdown-before {
    visibility: hidden;
  }

  .popover {
    max-width: 400px;
  }
  .popover-title {
    font-size: 14px;
    font-weight: bold;
  }
}
