// temporary
.pop-watch {
    .content { padding: 10px 25px; }
    .brow { text-align:center; padding:10px 0; }
    
    ul {
        margin: 0px;
        padding: 5px;
        li { display: list-item; }
    }
}
