// Variables.less
// -----------------------------------------------------

// GLOBAL VALUES
// --------------------------------------------------

// Path
@base-image-path:   "/assets/images";
@base-webfont-path: "/assets/images/webfont";

// Typography
@base-font-family:"Lato", "Helvetica Neue", "Helvetica", "Tahoma", "나눔고딕", "NanumGothic", "NanumGothicOTF", "맑은고딕", "Malgun Gothic", dotum, Arial; 
/*'Droid Sans', Tahoma;*/
/*, '돋움', Dotum, Arial, sans-serif;*/
@base-font-size  : 13px;
@base-line-height: 18px;
@base-text-color : @gray-33;
@base-width      : 95%; /*960px;*/
/*
@font-face {
    font-family:'Droid Sans';
    src: url('@{base-webfont-path}/DroidSans.eot');
    src: url('@{base-webfont-path}/DroidSans.eot?#iefix') format('embedded-opentype'),
         url('@{base-webfont-path}/DroidSans.woff') format('woff'),
         url('@{base-webfont-path}/DroidSans.ttf') format('truetype'),
         url('@{base-webfont-path}/DroidSans.svg#DroidSans') format('svg');
    font-weight: 400;
    font-style: normal;
}
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('http://themes.googleusercontent.com/static/fonts/lato/v6/zLhfkPOm_5ykmdm-wXaiuw.eot');
  src: local('Lato Light'), local('Lato-Light'), 
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/zLhfkPOm_5ykmdm-wXaiuw.eot') format('embedded-opentype'), 
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('http://themes.googleusercontent.com/static/fonts/lato/v6/nQhiC-wSiJx0pvEuJl8d8A.eot');
  src: local('Lato Regular'), local('Lato-Regular'), 
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/nQhiC-wSiJx0pvEuJl8d8A.eot') format('embedded-opentype'), 
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff'),
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/v0SdcGFAl2aezM9Vq_aFTQ.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('http://themes.googleusercontent.com/static/fonts/lato/v6/sBtfDPlEIwvKKU53nAG7AQ.eot');
  src: local('Lato Bold'), local('Lato-Bold'), 
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/sBtfDPlEIwvKKU53nAG7AQ.eot') format('embedded-opentype'), 
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff') format('woff'),
       url('http://themes.googleusercontent.com/static/fonts/lato/v6/DvlFBScY1r-FMtZSYIYoYw.ttf') format('truetype');
}

// Color
@white  : #FFF;
@black  : #000;
@orange : #F36C22;
@purple : #8d008d;
@blue   : #5DBBE0;
@blue2  : #51AACC;
@darkgray: #878787;
@green: #007fca;

@gray-d4: #D4D4D4;
@gray-ec: #ECECEC;
@gray-f7: #F7F7F7;
@gray-ea: #EAEAEA;
@gray-87: #878787;
@gray-11: #111;
@gray-33: #333;
@gray-99: #999;
@gray-66: #666;
@gray-cc: #CCC;
@gray-52: #5D5D5D;
@gray-f2: #F2F2F2;
@gray-d9: #D9D9D9;

// new color scheme

@yobi-cyan : #6C8DAC;
@yobi-cyan-dark :#4A7EAF;
@yobi-cyan-light : #f2f4f5;
@yobi-green : #24A05F;
@yobi-green-dark : #179157;
@yobi-blue : #3A7EE5;
@yobi-blue-dark :#206EE5;
@yobi-purple : #9B59B6;
@yobi-purple-dark :#8E44AD;
@yobi-yello : #F1C40F;
@yobi-yello-dark : #F39C12;
@yobi-orange : #FF7332;
@yobi-orange-dark : #E95E01;
@yobi-red : #C93426;
@yobi-red-dark : #B13427;
@yobi-white :#FFF;
@yobi-white-dark :#F2F2F2;
@yobi-gray :#95A5A6;
@yobi-gray-dark :#7F8C8D;
@yobi-disabled : #d5dbdb;
@yobi-inverse : #383838;
@yobi-inverse-dark : #222222;
@yobi-inverse-light : #3e3e3e;

@yobi-primary : @yobi-orange;
@yobi-link : @yobi-blue;
@yobi-background : @yobi-white;
@yobi-background-gnv : #383838;

@yobi-btn-default : @yobi-white;
@yobi-btn-default-hover : @yobi-white;
@yobi-btn-primary : @yobi-primary;
@yobi-btn-primary-hover : @yobi-orange-dark;
@yobi-btn-success : @yobi-green;
@yobi-btn-success-hover : @yobi-green-dark;
@yobi-btn-info : @yobi-blue;
@yobi-btn-info-hover : @yobi-blue-dark;
@yobi-btn-inverse : @yobi-inverse;
@yobi-btn-inverse-hover : @yobi-inverse-dark;
@yobi-btn-danger : @yobi-red;
@yobi-btn-danger-hover : @yobi-red-dark;
@yobi-btn-warning : @yobi-yello;
@yobi-btn-warning-hover : #f5d313;
@yobi-btn-disabled : @yobi-white-dark;
@yobi-btn-disabled-hover : #cacfd2;

// State color
@state-open: @yobi-green-dark;
@state-closed: @yobi-red-dark;
@state-rejected: @yobi-orange-dark;
@state-warning: @yobi-yello-dark;
@state-changed: @yobi-blue-dark;

@primary         : @orange;
@secondary       : @blue2;
@link-color      : @primary;
@link-hover-color: @primary;

@search-bar-bg-color: #fff;
@search-bar-border-color:#aaabac;
@search-input-color:#898989;

@gnb-logo-bg-color:@orange;
@gnb-bg-color     :#f3f4f6;
@gnb-border-bottom:1px solid #c7c9ca;

@gnb-link-color          : #111;
@gnb-link-hover-color    : @orange;
@gnb-link-active-color   : @orange;

@gnb-action-color: @white;
@gnb-action-signout-color: #868D96;
@gnb-action-separate-border-color: @gray-cc;

@submenu-selected-color: #337581;

@activity-separate-border-color: #E7E7E7;
