@(userForm:Form[User], user:User)

@import helper._
@import utils.TemplateHelper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@home("Users Info", utils.MenuType.USER) {

<div class="page-wrap container">
    <div class="page">
        <div>
            <div><h1 class="page-title">@user.loginId</h1></div>
        </div>
    @helper.form(action=routes.UserApp.editUserInfo()){
        <section class="user-box">
            <div class="user-info-box">
                <div class="whoami-wrap">
                    <p class="uname">
                        @helper.inputText(userForm("name"), '_label -> null, 'class -> "span2")
                    </p>
                    <p class="name">(@user.loginId)</p>
                    <img src="@user.avatarUrl" width="127" height="127" class="img-rounded">

		            <div id="picPath">123*123, 이미지파일</div>
		                <input id="attachmemt" type="file" name="filePath"/>
		                <div id ="progress" class="progress progress-warning">
		                <div class="bar"></div>
		            </div>                
                </div>

                <div class="user-location info-box">
                    <p class="u-location"><i class="ico ico-location"></i>
                    @helper.inputText(userForm("email"),'_showConstraints -> false,'_label -> null, 'class -> "span2")</p>
                </div>
                
                <input class="btn" type="submit" value="@Messages("button.save")"/>
    }
                <hr/>
                <div class="user-other-info info-box">
                    <p class="since"><strong>MEMBER SINCE</strong></p>
                    <p><span class="since">@user.getDateString</span></p>
                    <p class="social-btns">
                        <a href="http://twitter.com/nforge"><i class="ico btn-tw"></i></a>
                        <a href="http://facebook.com/nforge"><i class="ico btn-fb"></i></a>
                        <a href="http://me2.com/nforge"><i class="ico btn-m2"></i></a>
                    </p>
                </div>
            </div>
            <div class="user-stream-box">
                <ul class="nav nav-tabs user-stream-tab">
                    <li class="active"><a href="user-setting.html">Repositories</a></li>
                    <!-- li><a href="user-activities.html">Activities</a></li-->
                </ul>
                <!-- div class="user-stream-wrap">
                    <div class="filter-wrap user-setting">
                        <div class="filters">
                            <a href="/html/user-setting.html" class="filter"><i class="ico btn-gray-arrow"></i>전체</a>
                            <a href="/html/user-activities.html?order=staus" class="filter active"><i class="ico btn-gray-arrow down"></i>상태순</a>
                        </div>
                    </div>
                </div-->
                <ul class="user-streams">
                @for(project <- user.myProjects()){                
                    <li class="user-stream">
                        <h3 class="project-name">
                            <a href="@routes.ProjectApp.project(project.owner, project.name)">@project.owner/@project.name</a></h3> 
                            <a href="@routes.UserApp.leave(project.owner, project.name)" class="btn">탈퇴</a>                                                           
                        <div class="stream-desc-wrap">
                            <div class="stream-desc">
                                <!-- p class="nm">최근 활동 관련 영역입니다.</p-->
                                <p class="date">Last updated @agoString(project.ago)</p>
                            </div>
                            <!-- div class="project-status">
                                <i class="ico ico-like"></i><span class="num">1</span>
                                <i class="ico ico-activity high"></i>
                            </div-->
                        </div>
                    </li>
                }
                </ul>
                <div>
                <form name="passwordReset" action="@routes.UserApp.resetUserPassword()" method="post">
                <input type="hidden" name="loginId" value="@user.loginId" />
                <hr />
                <dl>
                <dt>@Messages("user.password")</dt>
                <dd><input type="password" name="oldPassword" value="" autocomplete="off" /></dd>
                <dt>@Messages("user.newPassword")</dt>
                <dd><input type="password" id="password" name="password" value="" autocomplete="off" /></dd>
                <dt>@Messages("validation.retypePassword")</dt>
                <dd><input type="password" id="retypedPassword" name="retypedPassword" value="" autocomplete="off" /></dd>
                </dl>
                <input class="btn" type="submit" value="@Messages("button.save")" />
                </form>
                <hr />
                </div>
            </div>
        </section>
    </div>
</div>

	<script type="text/javascript" src="@getJSLink("lib/validate")"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$hive.loadModule("user.ResetPassword");
	});
	</script>
    
    <script src="@getJSLink("lib/jquery/jquery.form")" type="text/javascript"></script>
    <script type="text/javascript">
    (function(){
      var progressbar = $("#progress .bar");
      var attachment = $("#attachmemt");
      var notification = $("#noti");
      
      attachment.click(function(e){
        setProgressBar(0);
      });
      attachment.change(function(event) {
        if (attachment.val() !== "") {
          var filename = _getFileNameOnly(attachment.val());
          var form = $('<form>')
            .attr('method', 'post')
            .attr('enctype', 'multipart/form-data')
            .attr('action', "@routes.AttachmentApp.uploadFile");
          console.log(form);
          form.append(attachment);
          form.ajaxForm(fileUploadOptions);
          form.submit();
          notification.text(filename + ' is uploading...');
        }
      });
      function setProgressBar(value){
        progressbar.css("width", value + "%");
        progressbar.text(value + "%");
      }
      
      var fileUploadOptions = {
        beforeSubmit: function() {
          var filename = _getFileNameOnly(attachment.val());

          // show message box
          if (filename === "") {
            notification.text('Choose a file to be attached.');
            return false;
          }

          return true;
        },

        success: function(responseBody, statusText, xhr) {
          var file, link;
          file = responseBody;

          if (!(file instanceof Object) || !file.name || !file.url) {
            notification.text('Failed to upload - Server error.');
            setProgressBar(0);
            return;
          }
          
          $("#picPath").text(file.name);

          notification.text(file.name + ' is uploaded successfully.');

          setProgressBar(100);
        },

        error: function(responseBody, statusText, xhr) {
          notification.text('Failed to upload.');
          setProgressBar(0);
        },

        uploadProgress: function(event, position, total, percentComplete) {
          setProgressBar(percentComplete);
        }
      };
      
      function _getFileNameOnly(filename) {
        var fakepath = 'fakepath';
        var fakepathPostion = filename.indexOf(fakepath);
        if (fakepathPostion > -1) {
          filename = filename.substring(fakepath.length + fakepathPostion + 1);
        }
        return filename;
      };
      $.ajax("@routes.AttachmentApp.getFileList()", {
        success : function(data){
          console.log(data);
        }
      });
    })();
    </script>
}
