@(user:User)

@home("Users Info", utils.MenuType.USER) {
<div class="page">
  <div>name : @user.name</div>
  <div>
    email : @user.email <a href="@routes.UserApp.edit()" class="btn">수정</a>
  </div>
  <div>
  프로젝트 갯수 : @user.myProjects().size()
  </div>
  <div>
    <ul>
    @for(project <- user.myProjects()){
        <li>
            <form action="@routes.UserApp.leave(project.owner, project.name)" method="post">
                @project.name <input type="submit" class="btn btn-danger" value="탈퇴">
            </form>
        </li>
    }
    </ul>
  </div>
</div>
}
