@(user:User)

@home("Users Info", utils.MenuType.USER) {
<div class="page">

	<h1 class="page-title">
		@user.loginId
	</h1>
	@if(user.loginId == session.get("loginId")){
		  <a href="@routes.UserApp.editUserInfoForm()" class="btn">수정</a>
	}
	
	<div class="bubble-wrap dark-gray project-home">
		<div class="inner logo">
            <div class="logo-wrap">
                @if(user.avatarPath != null) {
                <img src="@routes.AttachmentApp.getFile(user.avatarPath)" />
                } else {
                <img src="@routes.Assets.at("images/default-avatar-128.png")" />
                }
            </div>
        </div>
        <div class="inner project-info">
            <header>
                <h3>프로파일 정보</h3>
            </header>
            <ul class="infos">
                <li class="info">
                    <strong>로그인 아이디 :</strong> @user.loginId
                </li>
                <li class="info">
                    <strong>이름 :</strong> @user.name
                </li>
                <li class="info">
                    <strong>이메일 :</strong> @user.email
                </li>
            </ul>
        </div>
        <div class="inner member-info">
            <header>
                <h3>프로젝트 정보</h3>
            </header>
            <div class="member-wrap">
                <ul class="project-members">
                    @for(project <- user.myProjects()){
                    <li class="member">
                        <a href="@routes.ProjectApp.project(project.owner, project.name)"><strong>@project.name</strong></a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
}
