@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@import play.data.Form
@(message:String, authInfoForm: Form[AuthInfo], redirectUrl:String)
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.PlayAuthenticate._;
@import play.mvc.Http._;
@import utils.TemplateHelper._

@siteLayout(message, utils.MenuType.NONE) {
<div class="page full">
  <div class="center-wrap tag-line-wrap login">
    <h1 class="title">
      @Html(Messages("title.loginFor", utils.Config.getSiteName))
    </h1>
    <p class="tag-line">@Messages("app.description")</p>
  </div>
  <div class="login-form-wrap frm-wrap">
    <form action="@routes.UserApp.login()" method="POST">
      <input type="hidden" name="redirectUrl" value="@redirectUrl" />
      @if(UserApp.useSocialLoginOnly){
        <div class="btns-row nm">
        @Messages("app.warn.support.social.login.only")
        </div>
      } else {
      <dl>
        <dt>
          <label for="loginIdOrEmailD">@Messages("user.login.key")</label>
        </dt>
        <dd>
          <input id="loginIdOrEmailD" name="loginIdOrEmail" type="text" class="text email" autocomplete="off">
        </dd>

        <dt class="mt10">
          <label for="password">@Messages("user.password")</label>
        </dt>
        <dd>
          <input id="password" name="password" type="password" class="text password" autocomplete="off">
        </dd>
      </dl>

      <div class="btns-row">
        <button type="submit" class="ybtn ybtn-primary ybtn-large ybtn-fullsize">@Messages("button.login")</button>
      </div>
      }

      <div class="btns-row nm">
      @currentAuth() { auth =>
        @if(auth == null) {
          @forProviders() { p =>
            @if(isAllowedOAuthProvider(p.getKey)) {
              <a href="@p.getUrl()" class="ybtn oauth-login-btn">@Html(providerWithLogo(p.getKey()))</a>
            }
          }
        }
      }
      </div>
      @if(!UserApp.useSocialLoginOnly) {
      <div class="act-row mt5">
        <div class="remember-me-wrap pull-left">
          <input id="remember-me" type="checkbox" name="rememberMe" class="checkbox" checked>
          <label for="remember-me" class="bg-checkbox">@Messages("title.rememberMe")</label>
        </div>

        <div class="links-wrap pull-right">
          <a href="@routes.PasswordResetApp.lostPassword">@Messages("title.forgotpassword")</a>
        </div>
      </div>
      }
    </form>
  </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#loginIdOrEmail').focus();
    });
</script>
}
