@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(project:Project, user:User)
@import utils.JodaDateUtil._
@import utils.TemplateHelper._

<li class="project">
    <div class="info-wrap">
        <div class="pull-left">
            <a href="@routes.ProjectApp.project(project.owner, project.name)" class="avatar-wrap small">
                <img src="@urlToProjectLogo(project)">
            </a>
        </div>
        <div class="pull-left" style="margin-left: 10px;">
            <div class="header">
                <a href="@routes.ProjectApp.project(project.owner, project.name)" class="project-name">@project.name</a>
                @if(project.isPrivate){ <i class="yobicon-lock yobicon-small"></i> }
                @if(project.isForkedFromOrigin){
                    <i class="yobicon-split yobicon-white vmiddle"></i>
                    <span> <a href="@routes.ProjectApp.project(project.originalProject.owner, project.originalProject.name)">@project.originalProject.owner/@project.originalProject.name</a></span>
                }
            </div>
            <div class="desc">@project.overview</div>
            <div class="name-tag">
                @Html(Messages("project.onmember", User.findUsersByProject(project.id).size)) <a href="@routes.UserApp.userInfo(project.owner)" class="owner-name-small">@project.owner</a> <span title="@getDateString(project.createdDate)">@agoOrDateString(project.createdDate)</span>
                @if(project.lastPushedDateAgo() != null) {, @Messages("project.codeUpdate") <span title="@getDateString(project.lastPushedDate)">@agoOrDateString(project.lastPushedDate)}</span>
            </div>
        </div>
    </div>
    <div class="stats-wrap pull-right">
        <div class="stats">
            @if(UserApp.currentUser.loginId != project.owner ){
                @if(User.isWatching(project)){
                    <a href="@routes.WatchProjectApp.unwatch(project.owner, project.name)" class="ybtn watchBtn">
                        <i class="yobicon-eye-open yobicon-middle yobicon-white"></i>
                        @Messages("notification.unwatch")
                        <span class="num-badge">@project.getWatchingCount</span>
                    </a>
                }
                @if(!User.isWatching(project) && project.isPublic) {
                    <a href="@routes.WatchProjectApp.watch(project.owner, project.name)" class="ybtn watchBtn">
                        <i class="yobicon-eye-close yobicon-middle yobicon-white"></i>
                        @Messages("notification.watch")
                        <span class="num-badge">@project.getWatchingCount</span>
                    </a>
                }
            }

            @if(user.loginId != project.owner && user.loginId == UserApp.currentUser.loginId && ProjectUser.isMember(user.id, project.id)){
            <a href="@routes.UserApp.leave(project.owner, project.name)" data-projectName="@project.name" class="nbtn black medium last leaveProject">
                <i class="yobicon-trash"></i> @Messages("userinfo.leaveProject")
            </a>
            }

        </div>
    </div>
</li>
@loginUser() = {
    @UserApp.currentUser
}
