@(project:Project, user:User)
@import utils.JodaDateUtil
@import utils.TemplateHelper._

<li class="project">
    <div class="info-wrap">
        <div class="pull-left">
            <a href="@routes.ProjectApp.project(project.owner, project.name)" class="avatar-wrap large">
                <img src="@urlToProjectLogo(project)">
            </a>
        </div>
        <div class="pull-left" style="margin-left: 10px;">
            <div class="header">
                <a href="@routes.UserApp.userInfo(project.owner)" class="owner-name-small">@project.owner</a> / <a href="@routes.ProjectApp.project(project.owner, project.name)" class="project-name">@project.name</a>
                @if(!project.isPublic){ <i class="yobicon-lock yobicon-small"></i> }
            </div>
            @if(project.isForkedFromOrigin()){
            <div class="forked label">
                <i class="yobicon-split yobicon-white vmiddle"></i>
                @Messages("fork.original")
                <span>/ <a href="@routes.UserApp.userInfo(project.originalProject.owner)">@project.originalProject.owner</a> / </span>
                <a href="@routes.ProjectApp.project(project.originalProject.owner, project.originalProject.name)">@project.originalProject.name</a>
            </div>
            }
            <div class="desc tag">
                @for(label <- project.labels) {
                <span class="project-label @label.category.toLowerCase()">@label.name</span>
                }
            </div>
            <div class="desc">@project.overview</div>
            <div class="name-tag">
                @Messages("project.create") <strong>@JodaDateUtil.momentFromNow(project.createdDate, lang.language)</strong> 
                @if(project.lastPushedDateAgo() != null) {, @Messages("project.codeUpdate") <strong>@JodaDateUtil.momentFromNow(project.lastPushedDate.getTime(), lang.language)}</strong>
            </div>
        </div>
    </div>
    <div class="stats-wrap pull-right">
        <div class="members">
            <ul class="unstyled">
            @for(member <- User.findUsersByProject(project.id)){
                <li>
                    <a href="@routes.UserApp.userInfo(member.loginId)" class="avatar-wrap">
                        <img src="@member.avatarUrl" alt="@member.name">
                    </a>
                </li>
            }
            </ul>
        </div>

        <div class="stats">
            @Html(Messages("project.onmember", User.findUsersByProject(project.id).length))<br/>

            @if(session.get("loginId") != project.owner ){
                @if(User.isWatching(project)){
                    <a href="@routes.WatchProjectApp.unwatch(project.owner, project.name)" class="nbtn blue medium watchBtn">
                        <i class="yobicon-eye-open yobicon-middle yobicon-white"></i>
                        @Messages("notification.watch")
                        <span class="num-badge">@project.watchingCount</span>
                    </a>
                }
                @if(!User.isWatching(project) && project.isPublic) {
                    <a href="@routes.WatchProjectApp.watch(project.owner, project.name)" class="nbtn  medium watchBtn">
                        <i class="yobicon-eye-close yobicon-middle yobicon-white"></i>
                        @Messages("notification.watch")
                        <span class="num-badge">@project.watchingCount</span>
                    </a>
                }
            }

            @if(user.loginId != project.owner && user.loginId == session.get("loginId") ){
            <a href="@routes.UserApp.leave(project.owner, project.name)" data-projectName="@project.name" class="nbtn black medium last leaveProject">
                <i class="yobicon-trash"></i> @Messages("userinfo.leaveProject")
            </a>
            }

        </div>
    </div>
</li>
@loginUser() = {
    @User.findByLoginId(session.get("loginId"))
}
