@(post:Posting, project:Project)
@import utils.JodaDateUtil
@import utils.TemplateHelper._

@defining(User.findByLoginId(post.authorLoginId)){ user =>
<li class="post-item">
    <a href="@routes.ProjectApp.project(project.owner, project.name)" class="avatar-wrap mlarge">
        <img src="@urlToProjectLogo(project)" alt="@project.owner / @project.name"/>
    </a>
    <div class="title-wrap">
        <a href="@routes.ProjectApp.project(project.owner, project.name)" class="title project">
            @post.project.name
        </a>
        <span class="post-id">@post.getNumber</span>
        @if(post.notice){<span class="label label-notice">@Messages("post.notice")</span>&nbsp;}
        <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)" class="title">
            @post.title
        </a>
    </div>
    <div class="infos">
        @if(user.name){
            <a href="@routes.UserApp.userInfo(user.loginId)" class="infos-item infos-link-item" data-toggle="tooltip" data-placement="top" title="@user.loginId">
                @user.name
            </a>
        } else {
            <span class="infos-item">@Messages("post.noAuthor")</span>
        }

        <span class="infos-item" title="@JodaDateUtil.getDateString(post.createdDate)">
            @agoOrDateString(post.createdDate)
        </span>

        @if(post.numOfComments >0){
            <a href="@routes.BoardApp.post(project.owner, project.name, post.getNumber)#comments" class="infos-item infos-icon-link">
                <i class="yobicon-comments"></i>
                <span class="size">@post.numOfComments</span>
            </a>
        }
    </div>
</li>
}
