@(message: String, newUserForm: Form[User], hashString: String)
@import utils.TemplateHelper._

@home(message, utils.MenuType.NONE) {
	<div class="page full">
        <div class="center-wrap tag-line-wrap signup">
            <h1 class="title"><span class="high-light">Password Reset </span></h1>
        </div>
        <div class="signup-form-wrap frm-wrap">
            <form action="@routes.PasswordResetApp.resetPassword()" method="POST" name="passwordReset">
            	<dl>
					<dt>
						<label for="password">@Messages("user.password")</label>
					</dt>
					<dd>
						<input type="password" class="text password" id="password" placeholder="" autocomplete="off" name="password">
					</dd>
					
					<dt>
						<label for="retypedPassword">@Messages("validation.retypePassword")</label>
					</dt>
					<dd>
						<input type="password" class="text password" id="retypedPassword" placeholder="" autocomplete="off" name="retypedPassword">
					</dd>
            	</dl>

                <input type="hidden" name="hashString" value="@hashString">
                <div class="btns-row">
                    <button type="submit" class="n-btn orange sign-up">@Messages("button.confirm")</button>
                </div>
            </form>
        </div>
    </div>
    
    <script type="text/javascript" src="@getJSLink("lib/validate")"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                $hive.loadModule("resetPassword");
            });
    </script>
}

