@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(message: String, newUserForm: play.data.Form[User], hashString: String)
@import utils.TemplateHelper._

@siteLayout(message, utils.MenuType.NONE) {
<div class="page full">
  <div class="center-wrap tag-line-wrap reset-password">
    <h1 class="title">
      @Html(Messages("title.resetPasswordFor", utils.Config.getSiteName))
    </h1>
    <p class="tag-line">@Messages("app.description")</p>
  </div>

  <div class="login-form-wrap frm-wrap">
    <form action="@routes.PasswordResetApp.resetPassword()" method="post" name="passwordReset">
      <input type="hidden" name="hashString" value="@hashString">
      <dl>
        <dd>
          <input id="password" type="password" name="password" class="text password" placeholder="@Messages("user.password")" autocomplete="off">
        </dd>
        <dd>
          <input id="retypedPassword" type="password" name="retypedPassword" class="text password" placeholder="@Messages("validation.retypePassword")" autocomplete="off">
        </dd>
      </dl>

      <div class="btns-row">
        <button type="submit" class="ybtn ybtn-primary ybtn-fullsize">@Messages("button.confirm")</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/validate.js")"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $yobi.loadModule("resetPassword");
    });
</script>
}
