@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(title: String, currentPage: com.avaje.ebean.Page[Issue], param:
models.support.SearchCondition, organization: Organization)
@organizationLayout(organization.name, utils.MenuType.NONE, organization) {
    @header(organization)
    @menu(organization)
    <div class="page-wrap-outer">
        <div class="page-wrap">
            @views.html.organization.group_issue_search_partial(title, currentPage, param, organization)
        </div>
    </div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.pageslide.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.twoColumnMode.js")"></script>
    <script type="text/javascript">
      $(function(){
        $yobi.loadModule("issue.List");

        $("#projects" ).on("change", function(){
            $("#search" ).submit();
        });
      });
    </script>
    @common.select2()
}

