@(org:Organization)

@import utils.TemplateHelper._
@import utils.JodaDateUtil

<div class="project-header-outer" style="background-image:url()">
    <div class="project-header-inner">
        <div class="project-header-wrap">
            <div class="project-header-avatar">
                <img src="" />
            </div>
            <div class="project-breadcrumb-wrap">
                <div class="project-breadcrumb">
                    <span class="project-author"><a href="">@org.name</a></span>
                </div>
            </div>                        
        </div>    
    </div>
</div>
