@(message: String, sender: String, errorMessage: String, isSent: Boolean)

@siteLayout(message, utils.MenuType.NONE) {
<div class="lost-password">
	<form id="mailForm" method="post" action="@routes.PasswordResetApp.requestResetPasswordEmail()" class="span7 form-horizontal">
		<div class="control-group controls">
			<h3 class="title">[@Messages("app.name")] @Messages("site.resetPasswordEmail.title")</h3>
		</div>

        @if(isSent) {
		<div class="control-group controls">
            @Messages("site.mail.sended")
		</div>
        }
        @if(errorMessage) {
		<div class="control-group controls">
			@Messages("site.mail.fail")<br/>
			@Html(Messages(errorMessage))
		</div>
        }
		<div class="control-group">
			<label name="from" class="control-label">@Messages("user.loginId")</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="yobicon-user"></i></span>
					<input type="text" name="loginId" required="required" placeholder="@Messages("user.yourLoginId")">
				</div>
			</div>
		</div>

		<div class="control-group">
			<label name="to" class="control-label">@Messages("user.email")</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="yobicon-email"></i></span>
					<input type="text" name="emailAddress" required="" placeholder="@Messages("user.yourEmail")">
				</div>
			</div>
		</div>

		<div class="controls">
			<button type="submit" class="ybtn ybtn-info"><strong>@Messages("button.confirm")</strong></button>
		</div>
	</form>
</div>
}
