@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(message: String, sender: String, errorMessage: String, isSent: Boolean)

@import org.apache.commons.lang.StringUtils

@siteLayout(message, utils.MenuType.NONE) {
<div class="page full">
  <div class="center-wrap tag-line-wrap reset-password">
    <h1 class="title">
      @Html(Messages("title.resetPasswordFor", utils.Config.getSiteName))
    </h1>
    <p class="tag-line">@Messages("app.description")</p>
  </div>

  <div class="login-form-wrap frm-wrap">
    @if(isSent){
		<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>@Messages("site.mail.sended")</h4>
		</div>
    }

    @if(errorMessage){
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>@Messages("site.mail.fail")</h4>
      @Html(Messages(errorMessage))
    </div>
    }

    <form method="post" action="@routes.PasswordResetApp.requestResetPasswordEmail()">
      <dl>
        <dd>
          <input type="text" id="loginId" name="loginId" required="required" placeholder="@Messages("user.loginId")" class="text" @if(!UserApp.currentUser().isAnonymous){value="@UserApp.currentUser().loginId"}>
        </dd>
        <dd>
          <input type="text" id="emailAddress" name="emailAddress" required="" placeholder="@Messages("user.email")" class="text" @if(!UserApp.currentUser().isAnonymous){value="@UserApp.currentUser().email"}>
        </dd>
      </dl>

      <div class="btns-row">
        <button type="submit" class="ybtn ybtn-primary ybtn-large ybtn-fullsize">@Messages("button.confirm")</button>
      </div>
    </form>
  </div>
</div>
}
