@(message: String, sender: String, errorMessage: String, isSent: Boolean)

@siteLayout(message, utils.MenuType.NONE) {
<div class="page full">
  <div class="center-wrap tag-line-wrap signup">
    <h1 class="title">
      @Html(Messages("title.resetPasswordFor", utils.Config.getSiteName))
    </h1>
    <p class="tag-line">@Messages("app.description")</p>
  </div>

  <div class="signup-form-wrap frm-wrap">
    @if(isSent){
		<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>@Messages("site.mail.sended")</h4>
		</div>
    }

    @if(errorMessage){
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>@Messages("site.mail.fail")</h4>
      @Html(Messages(errorMessage))
    </div>
    }

    <form method="post" action="@routes.PasswordResetApp.requestResetPasswordEmail()">
      <dl>
        <dt>
          <label for="loginId">@Messages("user.loginId")</label>
        </dt>
        <dd>
          <input type="text" id="loginId" name="loginId" required="required" placeholder="@Messages("user.yourLoginId")" class="text">
        </dd>

        <dt>
          <label for="emailAddress">@Messages("user.email")</label>
        </dt>
        <dd>
          <input type="text" id="emailAddress" name="emailAddress" required="" placeholder="@Messages("user.yourEmail")" class="text">
        </dd>
      </dl>

      <div class="btns-row mt20">
        <button type="submit" class="ybtn ybtn-success">@Messages("button.confirm")</button>
      </div>
    </form>
  </div>
</div>
}
