@(message: String, notConfiguredItems: List[String], sender: String, errorMessage: String, sended: Boolean)

@siteMngMain(message) {
<div class="title_area">
    <h2 class="fl">@Messages(message)</h2>
</div>

<form id="mailForm" method="post" action="@routes.SiteApp.sendMail()" class="span9 form-horizontal">
    @if(errorMessage) {
    <div class="alert alert-error">
        <p>@Messages("site.mail.fail")</p>
        <p>@Html(Messages(errorMessage))</p>
    </div>
    }
    
    @if(sended) {
    <div class="alert alert-success">
        @Messages("site.mail.sended")
    </div>
    }

    @if(notConfiguredItems != null && notConfiguredItems.size() > 0) {
    <div class="alert alert-error">
        <p>@Html(Messages("site.mail.notConfigured", "/admin/mailconf"))</p>
        <ul>
        @for(item <- notConfiguredItems.iterator()) {
            <li>@item</li>
        }
        </ul>
    </div>
    }
  
    <div class="control-group">
        <label name="from" class="control-label">@Messages("site.mail.from")</label>
        <div class="controls">
            <input type="text" name="from" value="@sender" required="" placeholder="@Messages("site.mail.fromPlaceholder")">
        </div>
    </div>
    
    <div class="control-group">
        <label name="to" class="control-label">@Messages("site.mail.to")</label>
        <div class="controls">
            <input type="text" name="to" required="" placeholder="@Messages("site.mail.toPlaceholder")">
        </div>
    </div>
    
    <div class="control-group mr10">
        <label name="subject" class="control-label">@Messages("site.mail.subject")</label>
        <div class="controls">
            <input type="text" name="subject">
        </div>
    </div>
    
    <div class="control-group mr10">
        <label name="body" class="control-label">@Messages("site.mail.body")</label>
        <div class="controls">
            <textarea id="body" name="body" cols="32" rows="16" class="input-xlarge textbody"></textarea>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">
            <strong>@Messages("site.mail.send")</strong>
        </button>
    </div>
</form>

}