@(message: String)

@siteMngMain(message) {
<div class="title_area">
    <h2 class="fl">@Messages(message)</h2>
</div>

<div>
    <p>
        <input id="mailtoAll" type="radio" name="mailingType" value="all">
        <label for="mailtoAll" class="radio">@Messages("site.massMail.toAll")</label>
    </p>
    <p>
        <input id="mailtoPrj" type="radio" name="mailingType" value="projects" checked>@Messages("site.massMail.toProjects"):
        <label for="mailtoPrj" class="radio">
            <span id="selected-projects"><!-- project names are added here by yobi.site.MassMail.js --></span>
            <input id="input-project" type="text" class="text uname" data-provider="typeahead" autocomplete="off" placeholder="@Messages("project.name")"/>
            <button id="select-project" type="submit" class="btn btn-primary" data-loading-text="@Messages("site.massMail.loading")">
                <strong>@Messages("button.add")</strong>
            </button>
        </label>
    </p>
</div>

<button id="write-email" type="submit" class="btn btn-primary">
    <strong>@Messages("mail.write")</strong>
</button>

<script type="text/javascript">
  $(document).ready(function(){
    $yobi.loadModule("site.MassMail", {
        "sURLMailList": "@routes.SiteApp.mailList()",
        "sURLProjects": "@routes.ProjectApp.projects()"
    });
  });
</script>
}
