@(message: String, currentPage: com.avaje.ebean.Page[User], userState: UserState, query: String)

@thead(title: String) = {
<h3 class="h_setting">@title</h3>
<table class="bbs_type1">
<caption>@title</caption>
<colgroup>
    <col style="width:20%" />
    <col style="width:20%" />
    <col style="width:32%" />
    <col />
</colgroup>
<thead>
<tr>
    <th scope="col">@Messages("user.loginId")</th>
    <th scope="col">@Messages("user.name")</th>
    <th scope="col">@Messages("user.email")</th>
    <th scope="col" class="last">&nbsp;</th>
</tr>
</thead>
}

@listItem(user: models.User) = {
<tr>
    <td><a href="@routes.UserApp.userInfo(user.loginId)">@user.loginId</a></td>
    <td class="c">@user.name</td>
    <td><a href="#alertEdit-@user.loginId" data-toggle="modal">@user.email</a></td>
    <td class="btn_area c">
        @if(!(user.state == UserState.DELETED)){
        <a class="btn" data-request-method="post" data-request-uri="@routes.SiteApp.toggleAccountLock(user.loginId, user.state.name(), query)">@Messages("button" +
                ".user.makeAccountUnlock."+ (user.state == UserState.LOCKED))</a>
        <a class="btn btn-danger" data-toggle="modal" href="#alertDeletion-@user.loginId">@Messages("button.delete")</a>

        <div id="alertDeletion-@user.loginId" class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>@Messages("site.user.delete")</h3>
            </div>
            <div class="modal-body">
                <p>@Messages("site.user.deleteConfirm")</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-request-method="delete" data-request-uri="@routes.SiteApp.deleteUser(user.id)" class="btn btn-danger">@Messages("button.yes")</button>
                <button type="button" class="btn" data-dismiss="modal">@Messages("button.no")</button>
            </div>
        </div>

        <div id="alertEdit-@user.loginId" class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>@Messages("site.user.emailEdit")</h3>
            </div>
            <form method="post" action="#">
                <div class="modal-body">
                    <p>@Messages("site.user.editConfirm")</p>
                    <input />
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">@Messages("button.cancel")</a>
                    <input type="submit" class="btn btn-danger" value="@Messages("button.save")"/>
                </div>
            </form>
        </div>
        }
    </td>
</tr>
}

@siteMngLayout(message) {
    <div class="title_area">
        <h2 class="fl">@Messages("site.sidebar.userList")</h2>
        <form class="form-search fr" action="@routes.SiteApp.userList()">
            <input type="text" class="input-medium search-query input-xlarge" name="query" placeholder="@Messages("site.userList.search")" value="@query">
            <button type="submit" class="btn">@Messages("title.search")</button>
        </form>
    </div>

    <div class="section39">
        @thead(Messages("site.userList.locked"))
        <tbody>
        @for(user <- currentPage.getList()) {
        @if(user.state == UserState.LOCKED){
            @listItem(user)
        }
        }
        </tbody>
        </table>
    </div>

    <div class="section39">
        @thead(Messages("site.userList.deleted"))
        <tbody>
        @for(user <- currentPage.getList()) {
            @if(user.state == UserState.DELETED){
                @listItem(user)
            }
        }
        </tbody>
    </table>
    </div>

    <div class="section0">
        @thead(Messages("site.userList.unlocked"))
        <tbody>
        @for(user <- currentPage.getList()) {
        @if(user.state == UserState.ACTIVE){
            @listItem(user)
        }
        }
        </tbody>
        </table>

        <div class="row-fluid mt30">
            <center>@partial_paginationForUserList(currentPage, 5, "pagination")</center>
        </div>
    </div>
}
