@(project: Project, branches: List[playRepository.GitBranch], head: playRepository.GitBranch)

@import utils.JodaDateUtil._
@import java.net.URLEncoder
@import utils.AccessControl._

@getShowCommitURL(gitBranch:playRepository.GitBranch) = @{
    var queryString = "?branch=" + URLEncoder.encode(gitBranch.getName, "UTF-8");
    routes.CodeHistoryApp.show(project.owner, project.name, gitBranch.getHeadCommit.getId) + queryString;
}

@deleteBranchURL(branch:String) =@{
    var branchName = URLEncoder.encode(branch, "UTF-8");
    routes.BranchApp.deleteBranch(project.owner, project.name, branchName);
}

@goToBranchURL(branch:String) =@{
    var branchName = URLEncoder.encode(branch, "UTF-8");
    routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, branchName, "");
}

@projectLayout(Messages("title.branches"), project, utils.MenuType.CODE) {
<div class="page">
    @projectMenu(project, utils.MenuType.CODE, "main-menu-only")

    <div class="bubble-wrap dark-gray repo-wrap">
        <div class="code-browse-wrap">
            <ul class="nav nav-tabs" style="margin-bottom:20px;">
                <li>
                    <a href="@routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, "HEAD", "")">@Messages("code.files")</a>
                </li>
                <li>
                    <a href="@routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)">@Messages("code.commits")</a>
                </li>
                @if(project.isGit()) {
                <li class="active">
                    <a href="@routes.BranchApp.branches(project.owner, project.name)">@Messages("title.branches")</a>
                </li>
                }
            </ul>

            <table class="table">
                <thead>
                    <tr>
                        <th>@Messages("title.branches")</th>
                        <th>@Messages("userinfo.daysAgo.prefix") @Messages("code.commitMsg")</th>
                        <th>@Messages("userinfo.daysAgo.prefix") @Messages("code.commitDate")</th>
                        <th>@Messages("userinfo.daysAgo.prefix") @Messages("code.author")</th>
                        @if(isAllowed(UserApp.currentUser(), project.asResource(), Operation.DELETE)) {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: aliceblue">
                        <td>
                            <a href="@goToBranchURL(head.getName)" class="blue-txt">
                                <strong>@head.getShortName</strong>
                            </a>
                            <code>HEAD</code>
                        </td>
                        <td>
                            <a href="@getShowCommitURL(head)" class="blue-txt">
                                @head.getHeadCommit.getShortMessage
                            </a>
                        </td>
                        <td>
                            @momentFromNow(head.getHeadCommit.getCommitterDate, lang.language)
                        </td>
                        <td>
                            @if(head.getUser != null) {
                                <img src="@head.getUser.avatarUrl" height="25" width="25">
                                <a href="@routes.UserApp.userInfo(head.getUser.loginId)" class="blue-txt">@head.getUser.name</a>
                            } else {
                                <img src="@utils.GravatarUtil.getAvatar(head.getHeadCommit.getCommitterEmail, 25)" height="25" width="25">
                                    @head.getHeadCommit.getCommitterName
                            }
                        </td>
                        <td></td>
                    </tr>
                @for(branch <- branches.iterator()) {
                    <tr>
                        <td>
                            <a href="@goToBranchURL(branch.getName)" class="blue-txt"><strong>@branch.getShortName</strong></a>
                        </td>
                        <td>
                            <a href="@getShowCommitURL(branch)" class="blue-txt">
                                @branch.getHeadCommit.getShortMessage
                            </a>
                        </td>
                        <td>
                            @momentFromNow(branch.getHeadCommit.getCommitterDate, lang.language)
                        </td>
                        <td>
                            @if(branch.getUser != null) {
                                <img src="@branch.getUser.avatarUrl" height="25" width="25">
                                <a href="@routes.UserApp.userInfo(branch.getUser.loginId)" class="blue-txt">@branch.getUser.name</a>
                            } else {
                                <img src="@utils.GravatarUtil.getAvatar(branch.getHeadCommit.getCommitterEmail, 25)" height="25" width="25">
                                    @branch.getHeadCommit.getCommitterName
                            }
                        </td>
                        @if(isAllowed(UserApp.currentUser(), project.asResource(), Operation.DELETE)) {
                            <td>
                                <a class="ybtn ybtn-danger" data-request-method="delete" href="@deleteBranchURL(branch.getName)">
                                @Messages("button.delete")
                                </a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

}
