<html>
<head>
    <!-- Include the required JavaScript libraries: -->
    <script src='/assets/javascripts/jquery-1.9.0.js' type="text/javascript"></script>
    <script src='/assets/javascripts/jquery-ui.custom.js' type="text/javascript"></script>
    <script src='/assets/javascripts/jquery.cookie.js' type="text/javascript"></script>

    <link rel='stylesheet' type='text/css' href='/assets/stylesheets/dynatree/skin/ui.dynatree.css'>
    <script src='/assets/javascripts/jquery.dynatree.js' type="text/javascript"></script>

    <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
    <script type="text/javascript">

        // adaptorForDynatree adaptor function is used for existed function
        // Also, it pass the below tests
        //
        // it("file & folder combine", function() {
        //     //Given
        //     var target = {
        //         "attachment": {
        //             "type": "folder",
        //             "msg": "add folders",
        //             "author": "doortts",
        //             "date": "Mon Jan 28 14:21:07 KST 2013"
        //         },
        //         "favicon.ico": {
        //             "type": "file",
        //             "msg": "add folders",
        //             "author": "doortts",
        //             "date": "Mon Jan 28 14:21:07 KST 2013"
        //         }
        //     };
        //     var expected = [
        //         {title: "attachment", isFolder: true, isLazy: true},
        //         {title: "favicon.ico"}
        //     ];
        //     //When
        //     var result = adaptorForDynatree(target);
        //     //Then
        //     assert.deepEqual(result, expected);
        // });

    var result = [];
    function adaptorForDynatree(target){
        result = [];
        _.each(target, function(value, key, list){
            if(value.type === "folder") {
                result.push({ title: key, isFolder: true, isLazy: true});
            } else {
                result.push({ title: key});
            }
        })
        return _.sortBy(result, function(elm){
            return -elm.hasOwnProperty("isFolder");
        })
    }

    // Traverse the path of selected tree item
    function getTreePath(node){
        var path = "";
        var title = "";
        if( node.getParent() && node.getParent().data.title !== null ){
            path = getTreePath(node.getParent()) + "/" + node.data.title;
        } else {
            path = node.data.title;
        }
        return path;
    }
    </script>

    <script type="text/javascript">
    var rootPath = "/hobi/vintage/code/!/";
    $(function(){
        $.ajax({
            url: rootPath,
            success: function(result, textStatus){
                treeInit(adaptorForDynatree(result.data));
            }
        });
    });

    function treeInit(initData){
        $("#tree").dynatree({
            fx: { height: "toggle", duration: 200 },
            autoFocus: false,
            isLazy: true,
            onLazyRead: function(node){

                $.ajax({
                    url: rootPath + getTreePath(node),
                    success: function(result, textStatus) {
                       // Called after nodes have been created and the waiting icon was removed.
                       // 'this' is the options for this Ajax request
                       if(result){
                            node.setLazyNodeStatus(DTNodeStatus_Ok);
                            node.addChild(adaptorForDynatree(result.data));
                       }else{
                            // Server returned an error condition: set node status accordingly
                            node.setLazyNodeStatus(DTNodeStatus_Error, {
                                tooltip: result.faultDetails,
                                info: result.faultString
                            });
                       }
                    },
                    error: function(node, XMLHttpRequest, textStatus, errorThrown) {
                       // Called on error, after error icon was created.
                        console.log(node);
                       },
                    cache: false // Append random '_' argument to url to prevent caching.
                });
            },
            onActivate: function(node) {
                // A DynaTreeNode object is passed to the activation handler
                // Note: we also get this event, if persistence is on, and the page is reloaded.
                alert("You activated " + getTreePath(node));
            },
            title: "/",
            children: initData
        });
    }
    </script>

</head>
<body>
    <!-- Add a <div> element where the tree should appear: -->
    <div id="tree"> </div>
</body>
</html>