@(project:Project, branches:List[String])

@branchItemType(itemType:String) = @{
	if(itemType == "heads"){
		"branch"
	} else {
		itemType
	}
}

@makeBranchItem(branch:String) = {
	@defining(branch.split('/')){ names =>
		@if(names(0).equals("refs") && names.length == 3){
			<li data-value="@branch"><a href="#"><!--
			 --><span class="label @branchItemType(names(1))">@branchItemType(names(1))</span><!--
			 -->@names(2)
			</a></li>
		} else {
			<li data-value="@branch"><a href="#">@branch</a></li>
		}
	}
}

@main(Messages("menu.code"), project, utils.MenuType.CODE){
<div class="page">

	@prjmenu(project, utils.MenuType.CODE, "main-menu-only")

	<ul class="nav nav-tabs hive-tabs">
		<li class="active">
			<a href="@routes.CodeApp.codeBrowser(project.owner, project.name)">@Messages("code.files")</a>
		</li>
		<li>
			<a href="@routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)">@Messages("code.commits")</a>
		</li>
	</ul>

	<div class="bubble-wrap dark-gray repo-wrap">
		<div class="inner-bubble repo-info">
			<span class="clone-label"><strong class="@project.vcs">@project.vcs</strong>@Messages("code.repoUrl")</span><!-- 
			 --><input id="repositoryURL" type="text" class="text repo-url" readonly="readonly" value="@CodeApp.getURL(project.owner, project.name)"><!-- 
             --><a id="copyURL" href="#!/copy-url" class="copy-btn btn">COPY TO CLIPBOARD</a>

            <div id="branches" class="btn-group branches" data-name="branch" data-activate="manual">
				<button data-toggle="dropdown" class="btn dropdown-toggle bgwhite d-label"></button>
				<button data-toggle="dropdown" class="btn dropdown-toggle bgwhite"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					@for(branch <- branches){
						@makeBranchItem(branch)
					}
				</ul>
			</div>
			<!--
			<div class="btn-group branches">
				<button data-toggle="dropdown" class="btn dropdown-toggle d-label bgwhite" id="selected-branch" data-branch="HEAD"></button>
				<button data-toggle="dropdown" class="btn dropdown-toggle bgwhite"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					@for(name <- branches){
					<li><a href="#" class="branch-item" data-branch="@name">@name</a></li>
					}
				</ul>
			</div>
			 -->
		</div>
		<hr class="double-sp" />
		<div class="code-browse-wrap">
			<div id="breadcrumbs" class="code-browse-header">Revision </div>
			<div class="directory-wrap cell">
				<div class="directory-header">
					<strong>FOLDER NAME</strong>
				</div>
				<div id="folderList" class="directories"></div>
			</div>
			<div class="btnResize cell"></div>
			<div class="sp-wrap cell"></div>
			
			@** 파일 목록 **@
			<div id="fileList" class="file-wrap cell">
				<table class="code-table sources">
					<thead class="thead">
						<tr>
							<td class="filename"><strong>FILENAME</strong></td>
							<td class="messages"><strong>COMMIT MESSAGES</strong></td>
							<td class="date"><strong>COMMIT DATE</strong></td>
							<td class="author"><strong>AUTHOR</strong></td>
						</tr>
					</thead>
					<tbody class="tbody contents"></tbody>
				</table>
			</div>
			@** // **@
			
			@** 파일 보기 **@
			<div id="fileView" class="file-wrap cell" style="display:none;">
				<div class="file-header nm">
					<div id="fileInfo" class="file-info">
						<span id="commiter" class="commiter"></span> | 
						<span id="commitDate" class="commitDate"></span> | 
						<span id="revisionNo" class="revision"></span> |
						<span id="commitMessage" calss="commitMsg"></span>
					</div>
					<a id="rawCode" class="btn-transparent btn-raw"><i class="ico ico-raw"></i>raw</a>
				</div>
                <div id='showImage'></div>
				<pre class="code-wrap"></pre>
			</div>
			@** // **@
		</div>
	</div>
</div>

@** fileList item template **@
<script type="text/template" id="tplFileListItem">
<tr>
	<td class="filename {{if type == "folder"}}dynatree-ico-cf{{/if}}">
		{{if type == "folder"}}<span class="dynatree-icon" style="margin-right:2px; vertical-align:middle;"></span>{{/if}}
		<a href="${filePath}" class="dynatree-title">${name}</a>
	</td>
	<td class="messages"><a href="${filePath}">${message}</a></td>
	<td class="date">${dateAgo}</td>
	<td class="author">
		<a href="/${author}" class="img-rounded"><img src="/assets/images/default-avatar-34.png" width="32" height="32"></a>
	</td>
</tr>
</script>
@** // **@

<link rel="stylesheet" type="text/css" href="/assets/stylesheets/hljsstyles/monokai.css" />
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/dynatree/skin/ui.dynatree.css" />

<script type="text/javascript" src="/assets/javascripts/lib/jquery/jquery-ui.custom.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/jquery/jquery.dynatree.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/hljs/hljs.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/hljs/hljs.jquery.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/hljs/languages/allinone.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/moment.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/moment.ko.js"></script>
<!-- <script type="text/javascript" src="/assets/javascripts/service/hive.CodeBrowser.js"></script> -->
<script type="text/javascript" src="/assets/javascripts/lib/underscore.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$hive.loadModule("code.Browser", {
			"sProjectName": "@project.name"
		});
	});
</script>
}