@(msg : String, project:Project, branches:List[String])

@main("코드", project, utils.MenuType.CODE){
<div class="page code-browse">
  @pageTitle(project, "Code Browser")
  <ul class="nav nav-tabs code-tab">
    <li class="active">
      <a href="@routes.CodeApp.codeBrowser(project.owner, project.name)">@Messages("Files")</a>
    </li>
    <li>
      <a href="@routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)">@Messages("Commits")</a>
    </li>
  </ul>
  <span id="breadcrumbs">Breadcrumbs</span>
  <div class="bubble-wrap gray">
    <div class="inner-bubble repo-info">
      <strong class="clone-label">CLONE THIS REPOSITORY</strong>
      <input type="text" class="text repo-url" readonly value="@msg"><a href="#!/copy-url" class="copy-btn">COPY TO CLIPBOARD</a>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle d-label">HEAD</button>
        <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          @for(name <- branches){
          <li><a href="">@name</a></li>
          }
        </ul>
      </div>
    </div>
    <hr class="double-sp"/>
    <div class="code-browse-wrap">
      <div class="code-browse-header">리비전 619e11d0dcae4fa88b56f94d1462faa566e82e16</div>
      <div class="directory-wrap cell">
        <div class="directory-header"><strong>FOLDER NAME</strong></div>
        <!-- note..
            depth : 20px + (depth * 5);
            start depth : 0
            first folder : 20 + (1 * 5 ) = 25px;
            second folder : 20 + (2 * 5 ) = 30px;
         -->
        <ul class="directories" id="folderNav">
          <li class="directory" data-path="/"><a href="#/"><i class="ico btn-folder open"></i>/</a></li>
          <!--
          <li class="directory selected" style="padding-left: 25px;"><a href="#!/folder" data-path="html"><i class="ico btn-folder closed"></i>html</a></li>
          <li class="directory" style="padding-left: 25px;"><a href="#!/folder" data-path="images"><i class="ico btn-folder closed"></i>images</a></li>
          <li class="directory" style="padding-left: 25px;"><a href="#!/folder" data-path="javascript"><i class="ico btn-folder closed"></i>javaspript</a></li>
          <li class="directory" style="padding-left: 25px;"><a href="#!/folder" data-path="psd"><i class="ico btn-folder closed"></i>psd</a></li>
          <li class="directory" style="padding-left: 25px;"><a href="#!/folder" data-path="stylesheets"><i class="ico btn-folder closed"></i>stylesheets</a></li>-->
        </ul>
      </div>
      <div class="sp-wrap cell"></div>
      <div class="file-wrap cell">
        <table class="code-table sources" id="folderView">
          <thead class="thead">
            <tr>
              <td class="filename"><strong>FILENAME</strong></td>
              <td class="messages"><strong>COMMIT MESSAGES</strong></td>
              <td class="date"><strong>COMMIT DATE</strong></td>
              <td class="author"><strong>AUTHOR</strong></td>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr>
              <td class="filename"><a href="/code-file.html?filenema=gitignore">.gitignore</a></td>
              <td class="messages"><a href="/code-commit.html?id=xxxx">fix bug</a></td>
              <td class="date">5 days ago</td>
              <td class="author"><a href="/uname" class="img-rounded"><img src="/images/default-avatar-34.png" width="32" height="32" alt="avatar"></a></td>
            </tr>
          </tbody>
        </table>
        <div id="codeView" class="hide">
          <div>
            <span id="commiter"></span> | <span id="commitDate"></span> | <span id="commitMessage"></span>
            <span class="pull-right"><a id="rawCode" class="btn btn-mini" target="_blank">Raw</a></span>
          </div>
          <hr />
          <div>
            <pre><code style="overflow:hidden"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="/assets/javascripts/hljs.js"></script>
<script type="text/javascript" src="/assets/javascripts/hljs.jquery.js"></script>
<script type="text/javascript" src="/assets/javascripts/languages/allinone.js"></script>
<style>
@@IMPORT url("/assets/stylesheets/hljsstyles/googlecode.css");
</style>
<script src="/assets/javascripts/code.js"></script>
}
