@(project: Project, commitId:String, patch: String)

@import playRepository.RepositoryService
@import java.net.URLEncoder
@import utils.TemplateHelper._

@branchItemType(itemType:String) = @{
    if(itemType == "heads"){
        "branch"
    } else {
        itemType
    }
}

@makeBranchItem(project:Project, branch:String) = {
    @defining(branch.split('/')){ names =>
        @if(names(0).equals("refs") && names.length == 3){
            <li data-value="@branch"><a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(names(2), "UTF-8"))"><!--
             --><span class="label @branchItemType(names(1))">@branchItemType(names(1))</span><!--
             -->@names(2)
            </a></li>
        } else {
            <li data-value="@branch"><a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"))">@branch</a></li>
        }
    }
}

@main(Messages("code.commits") + " @" + commitId, project, utils.MenuType.CODE) {

<div class="page">

	@prjmenu(project, utils.MenuType.CODE, "main-menu-only")

	<div class="code-browse-wrap">
        <div id="branches" class="btn-group branches pull-right" data-name="branch" data-activate="manual">
            <button class="btn dropdown-toggle large" data-toggle="dropdown">
                <span class="d-label"></span>
                <span class="d-caret"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
            @defining(RepositoryService.getRepository(project).getBranches()) { branches =>
                @for(branch <- branches){
                    @makeBranchItem(project, branch)
                }
            }
            </ul>
        </div>
           
	    <ul class="nav nav-tabs" style="margin-bottom:20px;">
	        <li>
                <a href="@routes.CodeApp.codeBrowser(project.owner, project.name)">@Messages("code.files")</a>
	        </li>
	        <li class="active">
                <a href="@routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)">@Messages("code.commits")</a>
	        </li>
	        <li>
                <strong class="commitId">@@@commitId</strong>
	        </li>
	    </ul>

		<div id="commit" style="display: none">@patch</div>
	</div>
	
	<a href="javascript: history.back();" class="nbtn medium pull-right">@Messages("button.list")</a>
	
</div>
<script type="text/javascript" src="@getJSLink("lib/diff")"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$hive.loadModule("code.Diff");
	});
</script>
}
