@(url: String, project: Project, history: List[org.eclipse.jgit.revwalk.RevCommit], page: Integer)

@main(Messages("Commit History"), project) {
<div class="row" id="history">
    <table class="table">
        <tbody>
        @for(commit <- history.iterator()) {
            <tr>
                <td><a href="@routes.CommitsApp.show(project.owner, project.name, commit.getId().name())">@commit.abbreviate(7).name()</a></td>
                <td>@commit.getShortMessage()</td>
                <td>@commit.getAuthorIdent().getName()</td>
                <td>@commit.getAuthorIdent().getWhen()</td>
            </tr>
        }
        </tbody>
    </table>
    <ul class="pager">
        @if(page > 0) {
        <li><a href="@routes.CommitsApp.history(project.owner, project.name)?page=@(page - 1)">@Messages("Newer")</a></li>
        }

        @if(history.get(history.size() - 1).getParentCount() > 0) {
        <li><a href="@routes.CommitsApp.history(project.owner, project.name)?page=@(page + 1)">@Messages("Older")</a></li>
        }
    </ul>
</div>
}
