@(project: Project, history: List[playRepository.Commit], page: Integer, selectedBranch: String, path:String)

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import utils.Url
@import playRepository.RepositoryService
@import java.net.URLEncoder
@import org.joda.time.Duration
@import controllers.CodeApp

@getFilesURL = @{
    if(selectedBranch){
        routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(selectedBranch, "UTF-8"), "")
    } else {
        routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, "HEAD", "")
    }
}
@getHistoryURL = @{
    if(selectedBranch){
        routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(selectedBranch, "UTF-8"), null)
    } else {
        routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)
    }
}
@getShowCommitURL(project:Project, commit:playRepository.Commit, path:String) = @{
    if(selectedBranch){
        var queryString = "?branch=" + URLEncoder.encode(selectedBranch, "UTF-8");
        if(path != null) {
            queryString += "&path=" + path;
        }
        routes.CodeHistoryApp.show(project.owner, project.name, commit.getId()) + queryString;
    } else {
        routes.CodeHistoryApp.show(project.owner, project.name, commit.getId())
    }
}
@getCorrectedPath(filePath:String, fileName:String) = @{
    if((filePath != "") && (filePath.substring(filePath.length() - 1) == "/")){
        filePath + fileName
    } else {
        filePath + "/" + fileName
    }
}
@makeBreadCrumbs(pagePath:String) = @{
    if(pagePath != null){
        var basePath = routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(selectedBranch, "UTF-8"), null).toString()
        var partialPath = ""
        pagePath.split("/").toList.map { p =>
            if(partialPath == ""){
                partialPath = p
            } else {
                partialPath = partialPath + "/" + p
            }
            Html("<a href=\"" + getCorrectedPath(basePath, partialPath) + "\">" + p + "</a>")
        }
    }
}

@projectLayout(Messages("title.commitHistory"), project, utils.MenuType.CODE) {
<div class="page">
    @projectMenu(project, utils.MenuType.CODE, "main-menu-only")

    @if(history.size() > 0) {
    <div class="bubble-wrap dark-gray repo-wrap">
        <div class="code-browse-wrap">
            @if(path != null){
            <div id="breadcrumbs" class="code-browse-header">
                <a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(selectedBranch, "UTF-8"), "")">@project.name</a>
                @makeBreadCrumbs(path)
            </div>
            }

            @if(path == null){
            <div id="branches" class="btn-group branches pull-right" data-name="branch" data-activate="manual">
                <button class="btn dropdown-toggle large" data-toggle="dropdown">
                    <span class="d-label">@if(selectedBranch){ @selectedBranch } else { HEAD }</span>
                    <span class="d-caret"><span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    @defining(RepositoryService.getRepository(project).getBranches()) { branches =>
                        @for(branch <- branches){
                            @partial_branchitem(project, branch, "history", "")
                        }
                    }
                </ul>
            </div>

            <ul class="nav nav-tabs" style="margin-bottom:20px;">
                <li>
                    <a href="@getFilesURL">@Messages("code.files")</a>
                </li>
                <li class="active">
                    <a href="@getHistoryURL">@Messages("code.commits")</a>
                </li>
            </ul>
            }

            <div id="history" class="commit-wrap">
                <table class="code-table commits@if(path != null){ mt10}">
                    <thead class="thead">
                        <tr>
                            <td class="commit-id"><strong>@{"@"}</strong></td>
                            <td class="messages"><strong>@Messages("code.commitMsg")</strong></td>
                            @if(path != null){
                            <td class="browse"></td>
                            }
                            <td class="date"><strong>@Messages("code.commitDate")</strong></td>
                            <td class="author"><strong>@Messages("code.author")</strong></td>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @for(commit <- history.iterator()) {
                        @defining(getShowCommitURL(project, commit, path)){ showCommitURL =>
                        <tr>
                            <td class="commit-id">
                                <a href="@showCommitURL" title="@Messages("code.showCommit")">
                                    @commit.getShortId()
                                </a>
                            </td>
                            <td class="messages">
                                @defining(CommitComment.count(project, commit.getId, path)){ numOfComment =>
                                @if(numOfComment > 0) {
                                <span class="number-of-comments"><i class="yobicon-comments"></i> @numOfComment</span>
                                }
                                }

                                @defining(commit.getMessage()){ commitMsg =>
                                @if(commitMsg.startsWith("Merge pull request")){
                                    @defining(commitMsg.split(" ")(3)) { pullRequestIdPart =>
                                        @defining(pullRequestIdPart.replace("#", "").toLong) { pullRequestId =>
                                        <a href="@showCommitURL">
                                            @defining(commitMsg.indexOf(" #")) { indexOfPullRequestStart =>
                                                @commitMsg.split("\n")(0).substring(0, indexOfPullRequestStart)
                                            }
                                        </a>
                                        <a href="@routes.PullRequestApp.pullRequest(project.owner, project.name, pullRequestId)" class="secondary-txt">
                                            #@pullRequestId
                                        </a>
                                        <a href="@showCommitURL">
                                            @defining(commitMsg.indexOf(commitMsg.split(" ")(3)) + commitMsg.split(" ")(3).length) { indexOfPullRequestIdEnd =>
                                            @commitMsg.split("\n")(0).substring(indexOfPullRequestIdEnd)
                                            }
                                        </a>
                                        }
                                    }
                                } else {
                                    <a href="@showCommitURL">@commitMsg.split("\n")(0)</a>
                                }

                                @if(commitMsg.split("\n").length > 1){
                                    <button type="button" class="more">&hellip;</button>
                                    <pre class="hidden">@commitMsg.replace(commitMsg.split("\n")(0)+"\n", "")</pre>
                                }
                                }
                            </td>
                            @if(path != null){
                            <td class="browse">
                                <a href="@routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, commit.getShortId(), path)" title="@Messages("code.showCodeAtThisCommit")" class="ybtn">
                                    @Messages("code.showCode")
                                </a>
                            </td>
                            }
                            <td class="date">@momentFromNow(commit.getAuthorDate())</td>
                            <td class="author @commit.getAuthorEmail">
                                @(commit.getAuthor, commit.getAuthorEmail, commit.getAuthorName) match {
                                case (user: User, _, _) if !user.isAnonymous => {

                                    <a href="@routes.UserApp.userInfo(commit.getAuthor.loginId)" class="avatar-wrap">
                                    @if(user.avatarUrl == UserApp.DEFAULT_AVATAR_URL){
                                        @if(commit.getAuthorEmail != null) {
                                            <img src="@urlToPicture(commit.getAuthorEmail, 32)">
                                        } else {
                                            <img src="@urlToPicture(commit.getAuthor.email, 32)">
                                        }
                                    } else {
                                        <img src="@commit.getAuthor.avatarUrl" alt="@commit.getAuthor.name" width="32" height="32"/>
                                    } </a>
                                }
                                case (_, email, _) if email != null => {
                                    <span class="avatar-wrap">
                                        <img src="@urlToPicture(commit.getAuthorEmail, 32)">
                                    </span>
                                }
                                case (_, _, name) if name != null => {
                                    <span>@commit.getAuthorName</span>
                                }
                                case (_, _, _) => {
                                    <span>@User.anonymous.name</span>
                                }
                                }
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="actrow margin-top-20">
            @if(page > 0) {
            <a href="@getHistoryURL?page=@(page - 1)" class="ybtn pull-left">@Messages("code.newer")</a>
            }

            @if(history.get(history.size() - 1).getParentCount() > 0) {
            <a href="@getHistoryURL?page=@(page + 1)" class="ybtn pull-left">@Messages("code.older")</a>
            }
        </div>
    </div>
    } @** end of if(history.size) **@
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("button.more").click(function(){
        $(this).next("pre").toggleClass("hidden");
    });

    var htKeyMap = {};
    @if(page > 0){
    htKeyMap.A = "@getHistoryURL?page=@(page - 1)";
    }
    @if(history.get(history.size() - 1).getParentCount() > 0) {
    htKeyMap.S = "@getHistoryURL?page=@(page + 1)";
    }
    if(htKeyMap.A || htKeyMap.S){
        yobi.ShortcutKey.setKeymapLink(htKeyMap);
    }
});
</script>
}
