@(project: Project, history: List[playRepository.Commit], page: Integer, selectedBranch: String)

@import utils.JodaDateUtil._
@import utils.TemplateHelper._
@import utils.Url
@import playRepository.RepositoryService
@import java.net.URLEncoder
@import org.joda.time.Duration
@import controllers.CodeApp

@main(Messages("title.commitHistory"), project, utils.MenuType.CODE) {
<div class="page">
	@prjmenu(project, utils.MenuType.CODE, "main-menu-only")

	@defining(
		if(selectedBranch) {
			routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(selectedBranch, "UTF-8"))
		} else {
			routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)
		}
	){url =>
    <ul class="nav nav-tabs hive-tabs">
		<li>
			<a href="@routes.CodeApp.codeBrowser(project.owner, project.name)">@Messages("code.files")</a>
		</li>
		<li class="active">
			<a href="@url">@Messages("code.commits")</a>
		</li>
	</ul>

    @if(history.size() > 0) {
	<div class="bubble-wrap dark-gray repo-wrap">
		<div class="inner-bubble repo-info">
			<span class="clone-label"><strong class="@project.vcs">@project.vcs</strong>@Messages("code.repoUrl")</span><!--
			 --><input id="repositoryURL" type="text" class="text repo-url" readonly="readonly" value="@CodeApp.getURL(project.owner, project.name)"><!--
             --><a id="copyURL" href="#!/copy-url" class="copy-btn btn">COPY TO CLIPBOARD</a>
             
             <div id="branches" class="btn-group branches" data-name="branch" data-activate="manual">
				<button class="btn dropdown-toggle large" data-toggle="dropdown">
					<span class="d-label">@if(selectedBranch){ @selectedBranch } else { HEAD }</span>
					<span class="d-caret"><span class="caret"></span></span>
				</button>
			@defining(RepositoryService.getRepository(project).getBranches()) { branches =>
				@if(branches.length > 0) {
				<ul class="dropdown-menu">
					@branches.map { branch =>
						@defining(routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"))) { url =>
						<li><a href="@url">@branch</a></li>
						}
					}
				</ul>
				}
			}
			</div>
		</div>
		<hr class="double-sp" />

		<div class="code-browse-wrap">
			<div class="commit-wrap" id="history">
				<table class="code-table commits">
					<thead class="thead">
						<tr>
							<td class="commit-id"><strong>@@</strong></td>
							<td class="messages"><strong>COMMIT MESSAGES</strong></td>
							<td class="date"><strong>COMMIT DATE</strong></td>
							<td class="author"><strong>AUTHOR</strong></td>
						</tr>
					</thead>
					<tbody class="tbody">
						@for(commit <- history.iterator()) {
						<tr>
							<td class="commit-id">
								<a href="@routes.CodeHistoryApp.show(project.owner, project.name, commit.getId())">
									@commit.getShortId()
									<i class="ico ico-gray-arrow-right"></i>
								</a>
							</td>
							<td class="messages">@commit.getMessage()</td>
							<td class="date">@agoString(ago(commit.getAuthorDate()))</td>
							<td class="author @commit.getAuthorEmail">@defining(User.find.where.eq("email",
								commit.getAuthorEmail).findUnique) { user => @if(user != null) {
								<a href="@routes.UserApp.userInfo(user.loginId)">
                                    <img src="@user.avatarUrl" alt="@user.name" width="34" height="34"/>
                                </a>
                                } else {
                                <img class="user-picture" src="@urlToPicture(commit.getAuthorEmail(), 34)">
                                }}
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		@if(page > 0) {
        <ul class="pager">
			<li><a href="@url?page=@(page - 1)">@Messages("code.newer")</a></li>
        </ul>
        }

        @if(history.get(history.size() - 1).getParentCount() > 0) {
        <ul class="pager">
			<li><a href="@url?page=@(page + 1)">@Messages("code.older")</a></li>
        </ul>
        }
      </div>
    } @** end of if(history.size) **@

  } @** end of defining url **@
</div>

<!-- <script type="text/javascript" src="/assets/javascripts/service/hive.code.History.js"></script> -->
<script type="text/javascript">
	$(document).ready(function(){
		$hive.loadModule("code.History");
	});
</script>
}