@(project:Project, branches:List[String], recursiveData:List[org.codehaus.jackson.node.ObjectNode], branch:String, path:String)
@import utils.JodaDateUtil
@import utils.TemplateHelper._
@import java.net.URLEncoder

@fieldText(obj:org.codehaus.jackson.JsonNode, field:String) = @{
    if(obj.get(field) != null){
        obj.get(field).getTextValue()
    } else {
        ""
    }
}
@parseFileInfo(files:org.codehaus.jackson.node.ObjectNode) = {
    @fieldText(files, "type") match {
        case "folder" => {
            @showFileList(files.get("data"), fieldText(files, "path"))
        }
        case "file" => {
            @showFileView(files)
        }
    }
}
@showFileList(data:org.codehaus.jackson.JsonNode, listPath:String) = {
<div class="list-wrap" data-type="folder" @if(listPath != ""){data-listPath="@listPath"}>
    <div class="row-fluid listhead">
        <div class="span5 filename"><strong>@Messages("code.filename")</strong></div>
        <div class="span5 commitMsg"><strong>@Messages("code.commitMsg")</strong></div>
        <div class="span1 commitDate"><strong>@Messages("code.commitDate")</strong></div>
        <div class="span1 author"><strong>@Messages("code.author")</strong></div>
    </div>

    @** folders **@
    @for(fileName <- data.getFieldNames()){
        @defining(data.get(fileName)) { file =>
            @if(fieldText(file, "type").eq("folder")){
                @makeFileItem(file, fileName, listPath)
            }
        }
    }

    @** files **@
    @for(fileName <- data.getFieldNames()){
        @defining(data.get(fileName)) { file =>
            @if(!fieldText(file, "type").eq("folder")){
                @makeFileItem(file, fileName, listPath)
            }
        }
    }
</div>
}
@makeFileItem(file:org.codehaus.jackson.JsonNode, fileName:String, listPath:String) = {
    @defining(routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), listPath).toString()) { filePath =>
    @defining(fieldText(file, "type")) { fileType =>
    <div id="cb-@listPath@fileName" class="row-fluid listitem" data-path="@getDataPath(listPath, fileName)">
        <div class="span5 filename">
            <a href="@getCorrectedPath(filePath, fileName)@if(fileType.eq("folder")){#cb-@listPath@fileName}" class="@getFileClass(file)" title="@fileName" @if(fileType.eq("folder")){data-type="folder"} data-targetPath="@getDataPath(listPath, fileName)">
                <span class="dynatree-icon vmiddle"></span>@fileName
            </a>
        </div>
        <div class="span5 commitMsg"><span>@fieldText(file, "msg")</span></div>
        <div class="span1 commitDate">@getFileDate(file, "createdDate")</div>
        <div class="span1 author">@getAvatar(file)</div>
    </div>
    }
    }
}
@getDataPath(listPath:String, fileName:String) = @{if(listPath == ""){fileName}else{getCorrectedPath(listPath, fileName)}}
@getUserLink(userLoginId:String) = @{
    if(userLoginId != null && userLoginId != ""){
        "/" + userLoginId
    } else {
        "javascript:void(); return false;"
    }
}
@getAvatar(file:org.codehaus.jackson.JsonNode) = {
    @defining(fieldText(file, "avatar")) { avatarURL =>
        @if(avatarURL != null){
            <a href="@getUserLink(fieldText(file, "userLoginId"))" class="avatar-wrap smaller">
                <img src="@avatarURL">
            </a>
        }
    }
}
@getFileClass(file:org.codehaus.jackson.JsonNode) = @{
    if(fieldText(file, "name") == ".."){
        "updir"
    } else {
        fieldText(file, "type") match {
            case "folder" => { "dynatree-ico-cf" }
            case _ =>        { "dynatree-ico-c"  }
        }
    }
}
@getFileDate(file:org.codehaus.jackson.JsonNode, field:String) = @{
    JodaDateUtil.momentFromNow(file.get(field).getLongValue)
}
@getCorrectedPath(filePath:String, fileName:String) = @{
    if((filePath != "") && (filePath.substring(filePath.length() - 1) == "/")){
        filePath + fileName
    } else {
        filePath + "/" + fileName
    }
}
@getFileRev(file:org.codehaus.jackson.JsonNode) = @{
    project.vcs match {
        case "GIT" => {
            fieldText(file,"commitId")
        }
        case "Subversion" => {
            fieldText(file, "revisionNo")
        }
        case _ => {
            ""
        }
    }
}
@showFileView(files:org.codehaus.jackson.node.ObjectNode) = {
    @defining(path.substring(path.lastIndexOf("/") + 1)) { fileName =>
    @defining(getFileRev(files)) { revId=>
    @defining(routes.CodeApp.showRawFile(project.owner, project.name, revId, path)) { filePath =>
<div class="file-wrap" data-type="file">
    <div class="file-header nm">
        <div id="fileInfo" class="file-info">
            <span id="commiter" class="commiter">
                @getAvatar(files)
                <a href="@getUserLink(fieldText(files, "userLoginId"))" class="ml5">@fieldText(files,"commiter")</a>
            </span>
            <span id="commitDate" class="commitDate">@getFileDate(files,"createdDate")</span>
            <span id="revisionNo" class="revision">
                <a href="@routes.CodeHistoryApp.show(project.owner, project.name, revId)@if(branch){?branch=@URLEncoder.encode(branch, "UTF-8")}#@path">
                    @if(project.vcs.equals("GIT")){ @revId.substring(0,7) } else { Revision @revId }
                    @defining(CommitComment.count(project, fieldText(files, "commitId"), "/"+path)){ numOfComment =>
                    @if(numOfComment > 0) {
                        <span class="number-of-comments ml5"><i class="yobicon-comments"></i> @numOfComment</span>
                    }
                    }
                </a>
            </span>
            <span id="commitMessage" class="commitMsg">@fieldText(files,"commitMessage")</span>
        </div>
        <div class="pull-right">
            @if(!files.get("isBinary").getBooleanValue()){
            <a href="@filePath" class="ybtn" target="_blank">
                <i class="yobicon-download-alt yobicon-white vmiddle"></i> Raw
            </a>
            }
            <a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), path)" class="ybtn">@Messages("code.history")</a>
        </div>
    </div>
    @** Binary File **@
    @if(files.get("isBinary").getBooleanValue()){
        @if(fieldText(files, "mimeType").indexOf("image/") == 0){
        <div id="showImage" class="image-wrap"><img src="@filePath"></div>
        } else {
        <div id="showFile" class="file-wrap">
            <p>
                <strong class="filename">@fileName</strong><br>
                <span class="filesize">@fieldText(files, "size")</span><br>
                <a href="@filePath" class="filehref ybtn"><i class="yobicon-download-alt yobicon-white vmiddle"></i> @Messages("button.download")</a>
            </p>
        </div>
        }
    } else {
    @** Text(Code) **@
        <div id="codeVal" class="hidden">@if(files.get("data") != null){@fieldText(files, "data")}</div>
        <pre id="showCode" class="code-wrap" data-mimeType="@files.get("mimeType")"></pre>
    }
</div>
    }
    }
    }
}
@makeBreadCrumbs(pagePath:String) = @{
    if(pagePath != null){
        var basePath = routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), "").toString()
        var partialPath = ""
        pagePath.split("/").toList.map { p =>
            if(partialPath == ""){
                partialPath = p
            } else {
                partialPath = partialPath + "/" + p
            }
            Html("<a href=\"" + getCorrectedPath(basePath, partialPath) + "\">" + p + "</a>")
        }
    }
}

@projectLayout(Messages("menu.code"), project, utils.MenuType.CODE){
<div class="page">
    @projectMenu(project, utils.MenuType.CODE, "main-menu-only")

    <div class="code-browse-wrap">
        <div id="breadcrumbs" class="code-browse-header">
            <a href="@routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), "")">@project.name</a>
            @makeBreadCrumbs(path)
        </div>
        <div id="branches" class="btn-group branches pull-right @if(fieldText(recursiveData{0}, "type").eq("file")){mb10}" data-name="branch" data-activate="manual">
            <button class="btn dropdown-toggle large" data-toggle="dropdown">
                <span class="d-label">@branch</span>
                <span class="d-caret"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
            @for(branch <- branches){
                @partial_branchitem(project, branch, "code", path)
            }
            </ul>
        </div>

        @if(fieldText(recursiveData{0}, "type").eq("folder")){
        <ul class="nav nav-tabs">
            @if(path.lastIndexOf("/") > 0){
            <li class="active"><a href="@routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), path.substring(0, path.lastIndexOf("/")))">@Messages("code.files")</a></li>
            } else {
            <li class="active"><a href="@routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), path)">@Messages("code.files")</a></li>
            }
            @if(branch.eq("HEAD")){
            <li><a href="@routes.CodeHistoryApp.historyUntilHead(project.owner, project.name)">@Messages("code.commits")</a></li>
            } else {
            <li><a href="@routes.CodeHistoryApp.history(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), null)">@Messages("code.commits")</a></li>
            }
        </ul>
        }

        <div class="code-viewer-wrap">
            <div id="spin" style="position:fixed; top:50%; left:50%"></div>
            @for(fileInfo <- recursiveData){
                @parseFileInfo(fileInfo)
            }
        </div>
    </div>

</div>

<script id="tplFileListItem" type="text/x-jquery-tmpl">
<div id="cb-${listPath}${fileName}" class="row-fluid listitem" data-path="${targetPath}">
    <div class="span5 filename">
        <a href="${path}" class="${fileClass}" title="${fileName}" data-targetPath="${targetPath}" data-type="${type}">
            <span class="dynatree-icon vmiddle"></span>${fileName}
        </a>
    </div>
    <div class="span5 commitMsg"><span>${commitMsg}</span></div>
    <div class="span1 commitDate">${commitDate}</div>
    <div class="span1 author">${avatarImg}</div>
</div>
</script>

<link rel="stylesheet" type="text/css" href="/assets/stylesheets/dynatree/skin/ui.dynatree.css" />
<script type="text/javascript" src="/assets/javascripts/lib/moment.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/moment.ko.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/ace/ace.js"></script>
<script type="text/javascript" src="/assets/javascripts/lib/spin.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $yobi.loadModule("code.Browser", {
            "sProjectName": "@project.name",
            "sInitialPath": "@path",
            "sMetaInfoURL": "@routes.CodeApp.ajaxRequestWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), "")",
            "sBasePathURL": "@routes.CodeApp.codeBrowserWithBranch(project.owner, project.name, URLEncoder.encode(branch, "UTF-8"), "")"
        });
    });
</script>

}
