<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(#{issue.myIssue})}"></head>
<body class="theme-default">
<div id="main" class="main">
    <div th:replace="~{site/layout :: gnb}"></div>
    <div th:replace="~{site/layout :: breadcrumb}"></div>

    <div class="page-wrap-outer">
        <div class="page-wrap">
            <div th:replace="~{common/mySeriesMenuTab :: menu('my_issues')}"></div>
            <div th:replace="~{issue/my_partial_search :: search}"></div>
        </div>
    </div>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
<!-- yona.twoColumnMode.js가 vanilla로 전환되며 jquery.pageslide.js 의존이 제거됨. -->
<script type="text/javascript" src="/javascripts/service/yona.twoColumnMode.js"></script>
<script type="text/javascript" src="/javascripts/service/yona.showSubtask.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
      $yona.loadModule("issue.List");

      var elSetDefaultLoginPage = document.getElementById("setDefaultLoginPage");
      if (elSetDefaultLoginPage) {
          elSetDefaultLoginPage.addEventListener('click', function(){
              fetch("/user/setDefaultLoginPage?path=" + elSetDefaultLoginPage.dataset.url, {method: "POST"})
                  .then(function(response){
                      if (!response.ok) { return Promise.reject(response); }
                      return response.json();
                  })
                  .then(function (data) {
                      $yona.notify("Set to default: " + data.defaultLoginPage, 3000);
                      elSetDefaultLoginPage.style.display = "none";
                  })
                  .catch(function (data) {
                      $yona.alert("set Default page failed: " + data);
                  });
          });
      }

      document.addEventListener("pjax:complete", labelTextColorAdjust);
      function labelTextColorAdjust() {
          document.querySelectorAll(".title-cell > .label").forEach(function (el) {
              el.classList.remove("dimgray", "white");
              el.classList.add($yona.getContrastColor(getComputedStyle(el).backgroundColor));
          });
      }

      labelTextColorAdjust();
  });
</script>
</body>
</html>
