@(projects:List[Project], orderString:String)

@home("HIVE", utils.MenuType.SITE_HOME) {
    <div class="page">
        <div class="tag-line-wrap tag-line-wrap-index">
            <h1 class="title"><span class="high-light">Software development platform</span></h1>
            <p class="tag-line">
            	<span>Open Source</span> Project. 
            	<span>Code</span> Repository. 
            	<span>Issue</span> Tracker. 
            </p>
        </div>
        <div class="fn-intro-wrap">
            <ul class="intros @if(!session.contains("userId")){ index }">
				<li class="project">
					<strong>프로젝트</strong>
					
					원하는 이름으로
					프로젝트를 원하는 만큼 만들어보세요.
					유일한 한계는 상상력의 한계일 뿐입니다.
				</li>
				<li class="repository">
					<strong>코드 저장소</strong>
					
					작성한 코드는
					모두 이력이 관리되는 형태로 안전하게 서버에 보관됩니다
				</li>
				<li class="tracker">
					<strong>이슈 트래커</strong>
					
					팀이 함께 고민하고
					처리해야 하는 내용들을 적고
					거친 파도를 합심해 헤쳐나가듯 해결해 나갑니다.
				</li>
            </ul>
            
            @if(session.contains("userId")){
            <a href="#" id="toggleIntro"><i class="ico btn-open-close"></i></a>
			<script type="text/javascript">
				$(document).ready(function(){
					$("#toggleIntro").click(function(){
						$(".container").toggleClass("on-fold-intro");
					});		
				});
			</script>
            }
        </div>
        <div class="content-container">
        	@if(session.contains("userId")){
        	
 			<div class="main-stream">
                <ul class="activity-streams unstyled">
                    <li class="activity-stream">
                        <a href="/uname" class="user-thumb-wrap">
                            <img src="@routes.Assets.at("images/default-avatar-64.png")" width="62" height="62" alt="avatar">
                        </a>
                        <div class="activity-desc">
                            <h5 class="header-text">
                                <a href="/username" class="actor">mojomobo</a>님이 <strong class="whereis">issue 707, jquery/jquery-ui</strong>에 새로운 댓글을 달았습니다.
                            </h5>
                            <div class="desc">
                                C++ STL 라이브러리를 사용한 SIP stack 라이브러리 개발 프로젝트입니다. 본 프로젝트의 최종 목표는 C++ SIP stack 라이브러를 사용한 SIP 서버개발입니다.
                            </div>
                            <p class="others">
                                <i class="ico ico-comment-bubble"></i><span class="num">23</span>
                                <i class="ico ico-sp-dot"></i>
                                <i class="ico ico-like"></i><span class="num">0</span>
                                <span class="date">5 days ago</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="right-aside">
                <div class="gray-bubble-wrap">
                    
                    <div class="project-count-wrap">
                        @Messages("project.myproject") <i>&middot;</i><span class="p-num">@projects.size()</span>
                        <div class="project-list-sort">
                            <span class="ordertype-date">
                                @if( orderString == "createdDate desc" ){
                                    <a href="@routes.Application.index()?order=createdDate"><strong>@Messages("order.recent")</strong> <i class="icon-chevron-down"></i></a>
                                } else {
                                    @if( orderString == "createdDate" ){
                                        <a href="@routes.Application.index()?order=createdDate desc"><strong>@Messages("order.recent")</strong> <i class="icon-chevron-up"></i></a>
                                    } else {
                                        <a href="@routes.Application.index()?order=createdDate">@Messages("order.recent")</a>
                                    }
                                }
                            </span><span class="delimeter"> | </span><span class="ordertype-name">
                                @if( orderString == "name desc" ){
                                    <a href="@routes.Application.index()?order=name"><strong>@Messages("order.name")</strong> <i class="icon-chevron-down"></i></a>
                                } else {
                                    @if( orderString == "name" ){
                                        <a href="@routes.Application.index()?order=name desc"><strong>@Messages("order.name")</strong> <i class="icon-chevron-up"></i></a>
                                    } else {
                                        <a href="@routes.Application.index()?order=name">@Messages("order.name")</a>
                                    }
                                }
                            </span>
                        </div>
                    </div>


					<div class="my-projects">
                    <ul class="unstyled">
                        @myProjectList(projects, orderString)
                    </ul>


                    <div class="btn-wrap">
                        <a href="@routes.ProjectApp.newProjectForm()"><i class="ico ico-pencil"></i> @Messages("button.newProject")</a>
                    </div>
                    
                    </div>
                </div>
            </div>
            
        	} else {
            <div class="front">
                <div class="btn-wrap">
                    <a href="@routes.ProjectApp.newProjectForm()"><i class="ico ico-pencil"></i> @Messages("button.newProject")</a>
                </div>
			</div>
			}
        </div>
    </div>
}