@(message: String) 

@home("Welcome to nForge") {
  <div class="row-fluid">
    <div class="span12">    
  	  <div class="hero-unit">
		    <h1>nForge4 Java</h1>
		    <p>Software development platform for <Strong>Open Source</Strong> project.</p>
		    <p>
			    <a class="btn btn-primary btn-large" href="@routes.ProjectApp.newProject()"> @Messages("button.newProject") </a>
		    </p>	    
      </div>  		  
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span9">
    </div>
    <div class="span3">
      @if(session.contains("userId")){    
        <ul class="nav nav-list">
          <li class="nav-header">
            My projects
          </li>
            @views.html.myProjectList()
        </ul>
      }
    </div>
  </div>
  
}
