@(currentUser:models.User)

@import utils.TemplateHelper._
@import utils.JodaDateUtil

@home("app.name", utils.MenuType.SITE_HOME) {
    <div class="page on-fold-intro">
        <div class="row-fluid content-container">
            @if(currentUser != User.anonymous){
	        <div class="span9 main-stream">
                <ul class="activity-streams notification-wrap unstyled">
                    @views.html.partial_notifications(0, 20)
                </ul>
	        </div>
	       
	       <div class="span3">
                <div class="projects-wrap">
                    @myProjectList(currentUser)
                </div>
	       </div>
           } 
        </div>

    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.notification-wrap').on('click','[data-toggle="learnmore"]',function(event) {
                var sTargetId = $(this).data('target'),
                    welMessage = $('#'+sTargetId),
                    nHeight;

                if(event.target.localName =='a' || event.target.localName =='img') {
                    return ;
                }    

                welMessage.toggleClass('nowrap');

                nHeight = (welMessage.hasClass('nowrap')) ? '' : $(welMessage).find('.message').height();

                $(welMessage).css('max-height',nHeight);
               
            });
           
        });
    </script>
}
