@**
* Yona, 21c Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(title: String)(theme:String)(content: Html)
@titleArray = @{title.split(" \\|:\\| ")}
<!DOCTYPE html>
<html lang="@UserApp.currentUser().getPreferredLanguage">
<head>
<meta charset="utf-8">
<title>@titleArray(0)</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="og:title" content="@titleArray(0)" />
<meta property="og:url" content="@play.mvc.Http.Context.current().request().path()" />
<meta property="og:type" content="website" />
<meta property="og:description" content="@{titleArray(titleArray.length-1)}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="@titleArray(0)" />
<meta name="twitter:url" content="@play.mvc.Http.Context.current().request().path()" />
<meta name="twitter:description" content="@{titleArray(titleArray.length-1)}" />
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/yobicon/style.css")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("javascripts/lib/select2/select2.css")"/>
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("javascripts/lib/pikaday/pikaday.css")" />
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/yobi.css")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/usermenu.css")">
<link rel='stylesheet' href="@routes.Assets.at("javascripts/lib/nprogress/nprogress.css")"/>
<script type="text/javascript" src="@routes.Assets.at("javascripts/yona-layout.js")"></script>

</head>

<body class="@theme" id="html-body">
    <div id="main">
    @if(UserApp.isSiteAdminLoggedInSession){
        <div class="admin-logged-in-affix" data-spy="affix" data-offset-top="30">@Messages("user.siteAdminLoggedInAffix") <span class="small-font">@Messages("user.siteAdminLoggedInAffix.maxim")</span></div>
    }
@partial_update_notification()
@content
@common.scripts()
    </div>

    <script type="text/javascript">
        $(function() {
            NProgress.configure({minimum: 0.7});

            /* Set side navigation */
            // Also, see index.scala.html for home page menu sliding actions !!
            var $sidebar = $("#mySidenav");

            $("#main").on("click", function(event){
                if( $sidebar.width() !== 0 && $(event.target).parents("#mySidenav").length == 0) {
                    closeSidebar($sidebar);
                }
            });

            $("#sidebar-open-btn").on("click", function (event) {
                event.stopPropagation();
                if( $sidebar.width() !== 0){
                    closeSidebar($sidebar);
                } else {
                    openSidebar($sidebar);
                    updateStar();
                }
            });

            function closeSidebar($sidebar) {
                $sidebar.width("0").css("border", "none");
                $(".main-stream").removeClass("span8").addClass("span12");
            }

            function openSidebar($sidebar){
                $sidebar.width("420px").css("border", "1px solid #ccc");
                $(".main-stream").removeClass("span12").addClass("span8");
                $(".search-input").focus();
            }

            // used for new project list ui
            $(".right-menu").on('click', ".myProjectList, a[href='#recentlyVisited'], a[href='#createdByMe'], a[href='#watching'], a[href='#joinmember']", function() {
                updateStar();
                setTimeout(function focusToProjectSearchInput() {
                    var $projectSearch = $('.project-search');
                    var $orgSearch = $('.org-search');
                    $projectSearch.focus();
                    if(!$projectSearch.val()){
                        $projectSearch.val($orgSearch.val());
                    }
                    $orgSearch.val("");
                }, 200);

            });

            $('.myOrganizationList').on('click', function focusToOrgSearchInput(){
                setTimeout(function () {
                    var $projectSearch = $('.project-search');
                    var $orgSearch = $('.org-search');
                    $orgSearch.focus();
                    $orgSearch.val($projectSearch.val());
                    $projectSearch.val("");
                }, 200);
            });

            // search by keyword
            $(".search-input").on("keyup", function() {
                var value = $(this).val().toLowerCase().trim();
                $(".user-li").each(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) !== -1);
                });
            }).on("keydown.moveCursorFromInputform", function(e) {
                switch (e.keyCode) {
                    case 27:   // ESC
                        closeSidebar($sidebar);
                        break;
                    default:
                        break;
                }
            });

            $(".project-list > .star-project").on("click", function toggleProjectFavorite(e) {
                e.stopPropagation();
                var that = $(this);
                $.post("@api.routes.UserApi.toggleFoveriteProject("")" + that.data("projectId"))
                        .done(function (data) {
                            if(data.favored){
                                that.find('i').addClass("starred");
                            } else {
                                that.find('i').removeClass("starred");
                            }
                        })
                        .fail(function (data) {
                            $yobi.alert("Update failed: " + JSON.parse(data.responseText).reason);
                        });
            });

            $(".org-list > .star-org").on("click", function toggleOrgFavorite(e) {
                e.stopPropagation();
                var that = $(this);
                $.post("@api.routes.UserApi.toggleFoveriteOrganization("")" + that.data("organizationId"))
                        .done(function (data) {
                            if(data.favored){
                                that.find('i').addClass("starred");
                            } else {
                                that.find('i').removeClass("starred");
                            }
                        })
                        .fail(function (data) {
                            $yobi.alert("Update failed: " + JSON.parse(data.responseText).reason);
                        });
            });

            // This method intended to sync sub tab list of projects
            function updateStar(){
                $.get("@api.routes.UserApi.getFoveriteProjects()")
                        .done(function(data){
                            $(".star-project").each(function () {
                                var $this = $(this);
                                if (data.projectIds.includes($this.data("projectId"))) {
                                    $this.find("i").addClass("starred");
                                } else {
                                    $this.find("i").removeClass("starred");
                                }
                            });
                        });
            }
        });
    </script>
</body>
</html>
