@(title: String)(theme:String)(content: Html)(implicit lang:Lang)
@import utils.TemplateHelper._
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("bootstrap")">
<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("yobi")">
<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("fontawesome/css/font-awesome.min")">
<link rel="stylesheet" type="text/css" media="screen" href="/assets/javascripts/lib/zenform/zen-form.css">

<script type="text/javascript" src="@getJSLink("lib/jquery/jquery-1.9.0")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Common")"></script>
<script type="text/javascript" src="@getJSLink("lib/zenform/zen-form")"></script>
</head>

<body class="@theme">
@content
@scripts()

@uservoice("196721")
@googleAnalytics("UA-40528193-1")

</body>
</html>
