@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@(title: String)(theme:String)(content: Html)(implicit request: RequestHeader)
@titleArray = @{title.split(" \\|:\\| ")}
@currentUser = @{
    UserApp.currentUser()
}

@defaultPage = @{
    if(UserSetting.findByUser(currentUser.id).loginDefaultPage == null) {
        routes.Application.notifications().toString
    } else {
        UserSetting.findByUser(currentUser.id).loginDefaultPage
    }
}

@iframePath = @{
    val hash = request.getQueryString("hash").get
    val path =  request.getQueryString("path").getOrElse(defaultPage)
    if(hash.nonEmpty) {
        path + "#" + hash
    } else {
        path
    }
}

<!DOCTYPE html>
<html lang="@UserApp.currentUser().getPreferredLanguage">
<head>
<meta charset="utf-8">
<title>@titleArray(0)</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="og:title" content="@titleArray(0)" />
<meta property="og:url" content="@play.mvc.Http.Context.current().request().path()" />
<meta property="og:type" content="website" />
<meta property="og:description" content="@{titleArray(titleArray.length-1)}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="@titleArray(0)" />
<meta name="twitter:url" content="@play.mvc.Http.Context.current().request().path()" />
<meta name="twitter:description" content="@{titleArray(titleArray.length-1)}" />
<link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/yobicon/style.css")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("javascripts/lib/select2/select2.css")"/>
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("javascripts/lib/pikaday/pikaday.css")" />
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/usermenu.css")">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/yobi.css")">
<link rel='stylesheet' href="@routes.Assets.at("javascripts/lib/nprogress/nprogress.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/magnific-popup/magnific-popup.css")" />
<script type="text/javascript" src="@routes.Assets.at("javascripts/yona-layout.js")"></script>

</head>

<body class="@theme framed-body" id="html-body">
    <div id="sidebar" class="sidebar hide-in-mobile">
        @if(!currentUser.isAnonymous){
            @sidebar()
        }
    <div id="sidebar-bottom" class="sidebar-bottom" style="
        position: absolute;
        bottom: 8px;
        right: 15px;
        color: gray;
    ">Yona, made by <i class="yobicon-hearts" style="
        color: red;
        vertical-align: middle;
    "></i></div>
    </div>
    <div id="mainFrame" class="show-in-mobile-100vh">
        <iframe name="mainFrame" id="mainFrameId" frameborder="0" class="mainFrame" height="100%" width="100%" src="@iframePath" ></iframe>
        @common.scripts()
    </div>

    <script type="text/javascript">
        $(function() {
            NProgress.configure({minimum: 0.7});

            $('[data-toggle="popover"]').popover();
        });

        //Following three values are used for common/yona.Usermenu.js
        var UsermenuToggleFavoriteProjectUrl = "@api.routes.UserApi.toggleFoveriteProject("")";
        var UsermenuToggleFoveriteOrganizationUrl = "@api.routes.UserApi.toggleFoveriteOrganization("")";
        var UsermenuGetFoveriteProjectsUrl = "@api.routes.UserApi.getFoveriteProjects()";
        var UsermenuToggleFavoriteIssueUrl = "@api.routes.UserApi.toggleFoveriteIssue("")";
        var UsermenuGetFoveriteIssuesUrl = "@api.routes.UserApi.getFoveriteIssues()";
        var UsermenuUrl = "@routes.UserApp.usermenuTabContentList()";

    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/common/yona.Usermenu.js")"></script>

    @if(Application.SEND_YONA_USAGE){
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-102735758-1', 'auto');
        ga('send', 'pageview');
    </script>
    }

</body>
</html>
