@(message:String, userForm:Form[User]) @home(message, utils.MenuType.NONE) {

<div class="page full">
	<div class="center-wrap tag-line-wrap login">
		<h1 class="title">
			<span class="high-light">Log In for</span> HIVE
		</h1>
		<p class="tag-line">Software development platform for Open Source project.</p>
	</div>
	<div class="login-form-wrap frm-wrap">
		<form action="@routes.UserApp.login()" method="POST">
			<dl>
				<dt>
					<label for="loginId">@Messages("user.loginId")</label>
				</dt>
				<dd>
					<input id="loginId" name="loginId" type="text" class="text email" autocomplete="off">
				</dd>

				<dt>
					<label for="password">@Messages("user.password")</label>
				</dt>
				<dd>
					<input id="password" name="password" type="password" class="text password" autocomplete="off">
				</dd>
			</dl>

			<div class="act-row right-txt">
				<input id="remember-me" type="checkbox" name="rememberMe" class="checkbox" autocomplete="off"><!-- 
			 --><label for="remember-me" class="bg-checkbox">@Messages("title.rememberMe")</label>
			  
			 	<a href="@routes.PasswordResetApp.lostPassword()" class="forgot-password"> 
					<span class="label">@Messages("title.forgotpassword")</span>
			 	</a>
			</div>

			<div class="btns-row">
				<button type="submit" class="nbtn orange medium">
					<i class="ico ico-user-white"></i>@Messages("button.login")
				</button><!--
			 --><a href="@routes.UserApp.signupForm()" class="nbtn medium"><i class="ico ico-join"></i>@Messages("title.signup")</a>
			</div>
		</form>
	</div>
</div>

}