@(message:String, userForm:Form[User])

@home(message, utils.MenuType.NONE) {
<div class="page full">
        <div class="center-wrap tag-line-wrap login">
            <h1 class="title"><span class="high-light">Open Source</span> N4</h1>
            <p class="tag-line">Software development platform for Open Source project.</p>
        </div>
        <div class="login-form-wrap">
            <form action="@routes.UserApp.login()" method="POST">
                <label for="email">
                    <input type="text" class="text email" id="email" placeholder="ID" autocomplete="off" name="loginId">
                </label>
                <label for="password">
                    <input type="password" class="text password" id="password" placeholder="PASSWORD" autocomplete="off" name="password">
                </label>
                <div class="act-row">
                    <input type="checkbox" class="checkbox" autocomplete="off" id="remember-me" name ="rememberMe"><label for="remember-me" class="bg-checkbox">REMEMBER ME</label>
                    <a href="/forgot-password" class="forgot-password">FORGOT PASSWORD</a>
                </div>
                <div class="btns-row">
                    <button type="submit" class="n-btn orange log-in"><i class="ico ico-user-white"></i>@Messages("button.login")</button><!--
                 --><a href="@routes.UserApp.signupForm()" class="n-btn blue join"><i class="ico ico-join"></i>Join</a>
                </div>
            </form>
        </div>
    </div>
}
