@(message: String) 

@home(message) {
<div class="page-header">
  <h1>@Messages(message)</h1>
</div>
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4">
    <form class="well" action="@routes.UserApp.authenticate()" method="post">
      <label for="userName">@Messages("user.loginId")</label>
      <input type="text" class="input" id="userName" name="loginId">
      
      <label for="userLoginId">@Messages("user.password")</label>
      <input type="password" class="input" id="userLoginId" name="password">
      
      <label></label>
      <button type="submit" class="btn btn-primary">@Messages("button.login")</button>
    </form>
  </div>
</div>

admin/admin00: site admin <br>
hobi/hobi00: nForge4java(관리자), HelloSocialApp(관리자), Jindo(맴버) <br>
k16wire/k16wire00: nForge4java(맴버), Jindo(관리자) <br>
doortts/doortts00: Jindo(맴버), CUBRID(관리자) <br>
nori/nori00: (아무대도 가입되지 않음.)

}
