@(title:String, project:Project)(content: Html)

@layout(Messages(title))("") {
    @topmenu(project)
    <div class="container page-wrap">
	    <div class="row-fluid">
	        <div class="span2">
	            <h3>@project.name</h3>
	        </div>
	    </div>
	    @views.html.alert()
        @content    
    </div>
    <footer class="page-footer-outer">
        <div class="page-footer">
            <span class="provider">Powered by <strong>nFORGE.</strong></span>
        </div>
    </footer>  
}