@import utils.TemplateHelper._
<style type="text/css">
@@import url(@getCSSLink("hljsstyles/googlecode"));
</style>
<script type="text/javascript" src="@getJSLink("lib/showdown")"></script>
<script type="text/javascript" src="@getJSLink("lib/hljs/hljs")"></script>
<script type="text/javascript" src="@getJSLink("lib/hljs/languages/allinone")"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.form")"></script>
<script type="text/javascript">
	nforge.require("markdown.enable", $("[markdown]"));
</script>
