@(project: Project = null)

@import utils.TemplateHelper._

<link rel="stylesheet" type="text/css" href="@getCSSLink("hljsstyles/googlecode")" />
<script type="text/javascript" src="@getJSLink("lib/showdown")"></script>
<script type="text/javascript" src="@getJSLink("lib/hljs/hljs")"></script>
<script type="text/javascript" src="@getJSLink("lib/hljs/languages/allinone")"></script>
<script type="text/javascript" src="@getJSLink("Markdown.Converter")"></script>
<script type="text/javascript" src="@getJSLink("Markdown.Sanitizer")"></script>
<script type="text/javascript" src="@getJSLink("lib/marked")"></script>
<script type="text/javascript">
$(document).ready(function(){
    var htOptions = {
		"aTarget"   : $("[markdown]"),
		"sTplSwitch": $("#tplMarkdownPreview").text(),
    }

    @if(project != null){
    htOptions.sIssuesUrl = "@routes.IssueApp.issues(project.owner, project.name)";
    htOptions.sProjectUrl = "@routes.ProjectApp.project(project.owner, project.name)";
    }

	hive.Markdown(htOptions);
});
</script>

<script type="text/x-jquery-tmpl" id="tplMarkdownPreview">
<input type="radio" name="edit-mode" id="edit-mode" value="edit" checked="checked" class="radio-btn" />
<label for="edit-mode" style="margin-right:3px;">Edit</label>
<input type="radio" name="edit-mode" id="preview-mode" value="preview" class="radio-btn" />
<label for="preview-mode">Preview</label>
</script>
