@(targets: Map[String, String])
@import utils.TemplateHelper._
<style>
@@IMPORT url(@getCSSLink("hljsstyles/googlecode"));
</style>
<script src="@getJSLink("showdown")" type="text/javascript"></script>
<script src="@getJSLink("hljs")" type="text/javascript"></script>
<script src="@getJSLink("languages/allinone")" type="text/javascript"></script>
<script type="text/javascript">
  @applyMarkdown(key: String) = {
    nforge.require("markdown.@targets.get(key)", "@key");
  }
  @targets.keys.map(applyMarkdown)
</script>
