@(projects:List[Project], orderString:String)
@import utils.TemplateHelper._
@if(projects != null){
    <p class="my-project-head">@Messages("project.createdByMe")</p>
    @for(project <- projects){
        @if(project.isOwner(User.findByLoginId(session.get("loginId")))){
        <li class="my-project">
            <div class="project-header">
                <div class="name-wrap">
                    <a href="@routes.ProjectApp.project(project.owner, project.name)" class="project-name">
                        <strong>
                            @project.name
                            @if(!project.isPublic){
                            <i class="ico ico-lock"></i>
                            }
                        </strong><i class="ico ico-gray-arrow-right"></i>
                    </a>
                </div>
        </li>
        }
    }
    <p class="my-project-head">@Messages("project.belongsToMe")</p>
    @for(project <- projects){
        @if(!project.isOwner(User.findByLoginId(session.get("loginId")))){
            <li class="my-project">
                <div class="project-header">
                    <div class="name-wrap">
                        <a href="@routes.UserApp.userInfo(project.owner)">@project.owner</a> /
                        <strong>
                        <a href="@routes.ProjectApp.project(project.owner, project.name)" class="project-name">
                            @project.name
                            @if(!project.isPublic){
                                <i class="ico ico-lock"></i>
                            }
                        </strong><i class="ico ico-gray-arrow-right"></i>
                    </a>
                </div>
            </li>
        }
    }
}
