@(currentUser:models.User)
@import utils.TemplateHelper._

@displayProjects(title:String, projects:List[Project]) = {
    @if(projects.length > 0) {
    <div class="my-projects">
        <div class="title">@title (@projects.size())</div>
        <ul class="unstyled">
        @for(project <- projects){
            <li class="my-project">
                <div class="project-header">
                    <div class="name-wrap">
                        @if(project.owner != currentUser.loginId) {
                        <a href="@routes.UserApp.userInfo(project.owner)">@project.owner</a> /
                        }
                        <a href="@routes.ProjectApp.project(project.owner, project.name)" class="project-name">
                            <strong>@project.name @if(!project.isPublic){ <i class="yobicon-lock yobicon-small"></i> }</strong>
                        </a>
                    </div>
                </div>
            </li>
        }
        </ul>
    </div>
    }
}

@orderString = @{"createdDate DESC"}
@displayProjects(Messages("project.default.group.watching"), currentUser.getWatchingProjects(orderString))
@displayProjects(Messages("project.createdByMe"), Project.findProjectsCreatedByUser(currentUser.loginId, orderString))
@displayProjects(Messages("project.default.group.member"), Project.findProjectsJustMemberAndNotOwner(currentUser, orderString))
