@(menuType:utils.MenuType)

@import utils.TemplateHelper._
@import utils._

@isActiveMenu(m_type:MenuType) = @{
    if(m_type == menuType){ "active" }
}

<header class="gnb-outer">
    <div class="gnb-inner">
        <a href="@routes.Application.index()" class="logo"><img src="/assets/images/yobi_logo.png"> @Messages("app.name")</a>
        <ul class="gnb">
            <li class="@isActiveMenu(MenuType.PROJECTS)">
                <a href="@routes.ProjectApp.projects()">@Messages("title.projectList")</a>
            </li>
            <li class="@isActiveMenu(MenuType.HELP)">
                <a href="@routes.HelpApp.help()">@Messages("title.help")</a>
            </li>
        </ul>
        @usermenu(null)
    </div>    
</header>