@(menuType:utils.MenuType)

@import utils.TemplateHelper._
@import utils._

@isActiveMenu(m_type:MenuType) = @{
    if(m_type == menuType){ "active" }
}

<header class="gnb-outer">
    <div class="gnb-inner">
        <div class="gnb-menu-wrap">
            <a href="@routes.Application.index()" class="logo"><span>@Messages("hive.name")</span></a>
            <ul class="gnb-menus unstyled">
                <li class="menu @isActiveMenu(MenuType.NEW_PROJECT)">
                    <a href="@routes.ProjectApp.newProjectForm()">@Messages("title.newProject")</a>
                </li>
                <li class="menu @isActiveMenu(MenuType.PROJECTS)">
                    <a href="@routes.ProjectApp.projects()">@Messages("title.projectList")</a>
                </li>
                <li class="menu @isActiveMenu(MenuType.HELP)">
                    <a href="@routes.HelpApp.help()">@Messages("title.help")</a>
                </li>
            </ul>
			@usermenu(null)
        </div>
    </div>

	@** for Site Administrator **@
    @if(session.contains("userId") && session.get("userId").equals("1")){
    <div class="side-menu-wrap">
        <ul class="side-menus unstyled bg">
            <li class="side-menu"><a href="/statistics"><i class="ico ico-statistics"></i></a></li>
            <li class="side-menu"><a href="@routes.SiteApp.userList()"><i class="ico ico-setting"></i></a></li>
        </ul>
    </div>
    }
    @** // **@
</header>