@(page:com.avaje.ebean.Page[_ <: play.db.ebean.Model], divId:String, params: Map[String, String] = scala.collection.immutable.Map[String, String](), action: (Int) => play.api.mvc.Call, submit: String = "")

@{
    var currentPageNum = page.getPageIndex + 1
    var lastPageNum = page.getTotalPageCount()
    makeList(currentPageNum)
}
@makeList(currentPageNum:Int) = {
    <div class="page-navigation-wrap" id="@divId" data-current-page-num="@currentPageNum">
      <form method="GET" action="@action(1)">
      @for(param <- params) {
      <input type="hidden" name="@param._1" value="@param._2">
      }
      <ul class="page-nums">
        @if(page.hasPrev){
            <li class="page-num ikon"><a href="@action(currentPageNum - 1)" class="pg-prev" pageNum="@(currentPageNum - 1)"><i class="ico btn-pg-prev"></i><span>PREV</span></a></li>
        } else {
            <li class="page-num ikon"><i class="ico btn-pg-prev off"></i><span class="off">PREV</span></li>
        }

        <li class="page-num"><input name="pageNum" type="number" min="1" max="@page.getTotalPageCount" class="input-mini" value="@currentPageNum"></li>
        <li class="page-num">/</li>
        <li class="page-num">@page.getTotalPageCount</li>

        @if(page.hasNext) {
            <li class="page-num ikon"><a href="@action(currentPageNum + 1)" class="pg-prev" pageNum="@(currentPageNum + 1)"><span>NEXT</span><i class="ico btn-pg-next"></i></a></li>
        } else {
            <li class="page-num ikon"><span class="off">NEXT</span><i class="ico btn-pg-next off"></i></li>
        }
      </ul>
      </form>
    </div>
}
