@(klass: String, prefix: String, num: Integer, numA: Integer, numB: Integer, content: String, isEndOfLineMissing: Boolean = false)

@import utils.TemplateHelper.DiffRenderer._

<tr class="@klass" data-line="@num" data-type="@klass">
    <td class="linenum">
        <i class="icon-comment"></i>
        <div class="line-number" data-line-num="@Option(numA).getOrElse("")"></div>
        <span class="hidden">@Option(numA).getOrElse("")</span>
    </td>
    <td class="linenum" >
        <div class="line-number" data-line-num="@Option(numB).getOrElse("")"></div>
        <span class="hidden">@Option(numB).getOrElse("")</span>
    </td>
    <td class="code">
        <pre class="diff-partial-codeline">@prefix@content</pre> @if(isEndOfLineMissing){@Html(noNewlineAtEof)}
    </td>
</tr>
