@(klass: String, prefix: String, num: Integer, numA: Integer, numB: Integer, content: String, isEndOfLineMissing: Boolean = false)

@import utils.TemplateHelper.DiffRenderer._

<tr class="@klass" data-line="@num" data-type="@klass"><td class="linenum" data-line-num="@Option(numA).getOrElse("")"><i class="icon-comment"></i><span class="hidden">@Option(numA).getOrElse("")</span></td><td class="linenum" data-line-num="@Option(numB).getOrElse("")"><span class="hidden">@Option(numB).getOrElse("")</span></td><td class="code"><span>@prefix</span>@content @if(isEndOfLineMissing){@Html(noNewlineAtEof)}</td></tr>
