@(project:Project, menuType:utils.MenuType, menuCSS:String)

@import utils._
@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration.ResourceType;

@isActiveMenu(m_type:MenuType) = @{
    if (m_type == menuType) {"active"}
}

@makeSubMenu(call:Call, name:String) = {
	<li class="@isActiveSubMenu(call)"><a href="@call">@name</a></li>
}

@isActiveSubMenu(calls: Call*) = @{
    var menuState = ""
    for(call <- calls) {
        if(call.toString().equals(request().path().toString())) {
            menuState = "active"
        }
    }
    menuState
}

@getPullRequestURL(project:Project) = @{
    if(project.isFork()){
        routes.PullRequestApp.sentPullRequests(project.owner, project.name)
    } else {
        routes.PullRequestApp.pullRequests(project.owner, project.name)
    }
}

<div class="project-menu"><!--  data-spy="affix"> -->
    <div class="project-menu-wrap">
        <div class="project-menu-container main">
            <div class="actrow">
                <button id="btnClone" type="button" class="nbtn medium">
                    <i class="icon-link icon-large vmiddle"></i> @Messages("code.repoUrl")
                </button>
                @if(User.isWatching(project)){
                <a id="btnWatch" href="@routes.WatchProjectApp.unwatch(project.owner, project.name)" class="nbtn medium blue active last">
                    <i class="icon-eye-open icon-large vmiddle"></i> @Messages("project.watch")
                </a>
                }
                @if(!User.isWatching(project) && project.isPublic) {
                <a id="btnWatch" href="@routes.WatchProjectApp.watch(project.owner, project.name)" class="nbtn medium mint last">
                    <i class="icon-eye-close icon-large vmiddle"></i> @Messages("project.watch")
                </a>
                }
            </div>

    		<ul class="unstyled">
			<li class="@isActiveMenu(MenuType.PROJECT_HOME)">
                    <a href="@routes.ProjectApp.project(project.owner, project.name)">
                        <i class="icon-large icon-home"></i>
                        @Messages("title.projectHome")
                    </a>
                </li>
    			<li class="sp-line">|</li>
    			<li class="@isActiveMenu(MenuType.BOARD)">
                    <a href="@routes.BoardApp.posts(project.owner, project.name)">
                        <i class="icon-large icon-bullhorn"></i>
                        @Messages("menu.board") <span class="counter">@Posting.countPostings(project)</span>
                    </a>
                </li>
    			<li class="sp-line">|</li>
			<li class="@isActiveMenu(MenuType.CODE)"><a href="@routes.CodeApp.codeBrowser(project.owner, project.name)">
                    <i class="icon-large icon-code"></i>
                    @Messages("menu.code")</a>
                </li>
                @if(project.vcs.equals("GIT")){
                    <li class="sp-line">|</li>
                    <li class="@isActiveMenu(MenuType.PULL_REQUEST)">
                        <a href="@getPullRequestURL(project)">
                            <i class="icon-large icon-code-fork"></i>
                            @Messages("menu.pullRequest") <span class="counter">@PullRequest.countOpenedPullRequests(project)</span>
                        </a>
                    </li>
                }
    			<li class="sp-line">|</li>
                <li class="@isActiveMenu(MenuType.ISSUE)">
                    <a href="@routes.IssueApp.issues(project.owner, project.name, "all")">
                        <i class="icon-large icon-list-ul"></i>
                        @Messages("menu.issue") <span class="counter">@Issue.countIssues(project.id, State.OPEN)</span>
                    </a>
                </li>
                <li class="sp-line">|</li>
    			<li class="@isActiveMenu(MenuType.MILESTONE)">
                    <a href="@routes.MilestoneApp.milestones(project.owner, project.name)">
                        <i class="icon-large icon-tasks"></i>
                        @Messages("project.milestone") <span class="counter">@Milestone.countOpened(project)</span>
                    </a>
                </li>
    		@if(ProjectUser.roleOf(session.get("loginId"), project).equals("manager")){
    			<li class="sp-line">|</li>
    			<li class="@isActiveMenu(MenuType.PROJECT_SETTING)"><a href="@routes.ProjectApp.settingForm(project.owner, project.name)">@Messages("menu.admin")</a></li>
    		}
    		</ul>
        </div>
	</div>

	@** 프로젝트 설정 서브메뉴 **@
	@if(menuType.equals(MenuType.PROJECT_SETTING)){
		<div class="project-menu-wrap sub">
			<ul class="unstyled on-admin">
				@makeSubMenu(routes.ProjectApp.settingForm(project.owner, project.name),  Messages("project.setting"))
				@makeSubMenu(routes.ProjectApp.members(project.owner, project.name), 	  Messages("project.member"))
				@makeSubMenu(routes.ProjectApp.deleteForm(project.owner, project.name),   Messages("project.delete"))
			</ul>
		</div>
	}
</div>

<script id="tplRepoURL" type="text/x-jquery-tmpl">
    <strong class="clone-label @project.vcs">@project.vcs</strong>
    <p class="repo-wrap">
        <input type="text" class="text repo-url" readonly="readonly" value="@CodeApp.getURLWithLoginId(project)">
        <button type="button" class="btn copy-url">@Messages("code.copyUrl")</button>
    </p>
</script>

<script type="text/javascript">
$(document).ready(function(){
	// 프로젝트 전역 단축키: hive.ShortcutKey
    var htKeyMap = {
        "H": "@routes.ProjectApp.project(project.owner, project.name)",
        "B": "@routes.BoardApp.posts(project.owner, project.name)",
        "C": "@routes.CodeApp.codeBrowser(project.owner, project.name)",
        "I": "@routes.IssueApp.issues(project.owner, project.name,"all")",
        "M": "@routes.MilestoneApp.milestones(project.owner, project.name)"
    @if(project.vcs.equals("GIT")){
       ,"F": "@getPullRequestURL(project)"
    }
    @if(ProjectUser.roleOf(session.get("loginId"), project).equals("manager")){
       ,"Q": "@routes.ProjectApp.settingForm(project.owner, project.name)"
    }
    };

    $hive.loadModule("project.Global", {
        "htKeyMap": htKeyMap,
        "sRepoURL": "@CodeApp.getURLWithLoginId(project)"
    });
});
</script>