@(project:Project, menuType:utils.MenuType, menuCSS:String)

@import utils._
@import utils.TemplateHelper._
@import utils.AccessControl._
@import models.enumeration.ResourceType;

@isActiveMenu(m_type:MenuType) = @{
    if (m_type == menuType) {"class=active"}
    else {"class=inactive"}
}

@getPullRequestURL(project:Project) = @{
    if(project.isFork()){
        routes.PullRequestApp.sentPullRequests(project.owner, project.name)
    } else {
        routes.PullRequestApp.pullRequests(project.owner, project.name)
    }
}

<div class="project-menu">
    <div class="project-menu-wrap">
        <div class="project-menu-container main">
            <div class="actrow">              
                <!-- repo URL -->
                <button id="btnClone" type="button" class="nbtn medium">
                    <i class="icon-link icon-large vmiddle"></i> @Messages("code.repoUrl")
                </button>
                <div id="showRepoURL" class="popover bottom">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <strong class="clone-label @project.vcs">@project.vcs</strong>
                        <p class="repo-wrap">
                            <input type="text" class="text repo-url" readonly="readonly" value="@CodeApp.getURLWithLoginId(project)">
                            <button type="button" class="btn copy-url">@Messages("code.copyUrl")</button>
                        </p>
                    </div>
                </div>
                <!-- // -->
                
                <!-- watch project -->
                <div class="btn-group dbtn-group">
                    @if(User.isWatching(project)){
                    <a href="@routes.WatchProjectApp.unwatch(project.owner, project.name)" class="nbtn medium blue last watchBtn">
                        <i class="icon-eye-open icon-large"></i> @Messages("notification.watch")
                    </a>
                    } else {
                    <a href="@routes.WatchProjectApp.watch(project.owner, project.name)" class="nbtn medium white last watchBtn">
                        <i class="icon-eye-open icon-large"></i> @Messages("notification.watch")
                    </a>
                    }
                    <button class="btn dropdown-toggle small @if(User.isWatching(project)){blue}" data-toggle="dropdown" style="padding:0">
                        <div class="d-caret"><span class="caret"></span></div>
                    </button>
                    <div class="dropdown-menu pull-right pop-watch">
                        @if(User.isWatching(project)){
                        <div class="content">
                            <h5>@Messages("you.are.watching", project.name)</h5>
                            <p>@Messages("notification.help")</p>
                            <ul class="icons-ul">
                                <li><i class="icon-li icon-ok"></i>@Messages("notification.help.new")</li>
                                <li><i class="icon-li icon-ok"></i>@Messages("notification.help.new.comment")</li>
                                <li><i class="icon-li icon-ok"></i>@Messages("notification.help.update.issue") </li>
                            </ul>
                        </div>
                        <div class="brow">
                            <a href="@routes.WatchProjectApp.unwatch(project.owner, project.name)" class="nbtn medium mint watchBtn">
                                <i class="icon-eye-close icon-large"></i> @Messages("project.unwatch")
                            </a>
                        </div>
                        }
                        @if(!User.isWatching(project) && project.isPublic) {
                        <div class="content">
                            <h5>@Messages("you.are.not.watching", project.name)</h5>
                            <p>@Messages("notification.will.help")</p>
                            <ul class="icons-ul">
                                <li><i class="icon-li icon-ok"></i>@Messages("notification.help.new")</li>
                                <li><i class="icon-li icon-ok"></i>@Messages("notification.help.new.comment")</li>
                                <li><i class="icon-li icon-ok"></i>@Messages("notification.help.update.issue") </li>
                            </ul>
                        </div>
                        <div class="brow">
                            <a href="@routes.WatchProjectApp.watch(project.owner, project.name)" class="nbtn medium blue watchBtn">
                                <i class="icon-eye-open icon-large"></i> @Messages("project.watch")
                            </a>
                        </div>
                        }
                    </div>
                </div>
                <!-- // -->
                
                <!-- fork project -->
                @if(project.vcs.equals("GIT")){
                <div class="btn-group dbtn-group">
                    <a href="@routes.PullRequestApp.newFork(project.owner, project.name)" class="nbtn medium orange last">
                        <i class="icon-code-fork icon-large"></i>
                        @Messages("fork")
                        <span class="num-badge">@project.forkingProjects.size()</span>
                    </a>
                    <button class="btn dropdown-toggle small orange" data-toggle="dropdown" style="padding:0">
                        <div class="d-caret"><span class="caret"></span></div>
                    </button>                    
                    <ul class="dropdown-menu">
                        <li class="disabled"><span><i class="icon icon-copy"></i> @Messages("forks") (@project.forkingProjects.size)</span></li>
                        @for(fork <- project.forkingProjects) {
                        <li>
                            <a href="@routes.ProjectApp.project(fork.owner, fork.name)">
                                <span class="gray">@fork.owner / </span><span class="bold">@fork.name</span>
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                }
                <!-- // -->
                
                @if(ProjectUser.roleOf(session.get("loginId"), project).equals(RoleType.GUEST.getLowerCasedName())) {
                <div class="btn-group dbtn-group">
                    @if(User.enrolled(project)){
                    <a href="@routes.EnrollProjectApp.cancelEnroll(project.owner, project.name)" class="nbtn medium blue last enrollBtn">
                        <i class="icon-user icon-large"></i>
                    </a>
                    } else {
                    <a href="@routes.EnrollProjectApp.enroll(project.owner, project.name)" class="nbtn medium white last enrollBtn">
                        <i class="icon-user icon-large"></i> @Messages("member.enrollment.request")
                    </a>
                    }
                    <button class="btn dropdown-toggle small" data-toggle="dropdown" style="padding:0">
                        <div class="d-caret"><span class="caret"></span></div>
                    </button>
                    <div class="dropdown-menu pull-right pop-watch">
                        @if(User.enrolled(project)){
                        <div class="content">
                            <h5>@Messages("you.want.to.be.a.member", project.name)</h5>
                            <p>@Messages("member.enrollment.help")</p>
                        </div>
                        <div class="brow">
                            <a href="@routes.EnrollProjectApp.cancelEnroll(project.owner, project.name)" class="nbtn medium mint enrollBtn">
                                <i class="icon-user icon-large"></i> @Messages("cancel.enrollment")
                            </a>
                        </div>

                        } else {
                        <div class="content">
                            <h5>@Messages("you.may.want.to.be.a.member", project.name)</h5>
                            <p>@Messages("member.enrollment.will.help")</p>
                        </div>
                        <div class="brow">
                            <a href="@routes.EnrollProjectApp.enroll(project.owner, project.name)" class="nbtn medium blue enrollBtn">
                                <i class="icon-user icon-large"></i> @Messages("new.enrollment")
                            </a>
                        </div>
                        }
                    </div>
                </div>
                }
            </div>

            <ul class="unstyled menu-list">
                <li @isActiveMenu(MenuType.PROJECT_HOME)>
                    <a href="@routes.ProjectApp.project(project.owner, project.name)" class="menu-item">
                        <i class="icon-large icon-home"></i>
                        <span class="menu-title">@Messages("title.projectHome")</span>
                    </a>
                </li>
                <li class="sp-line">|</li>
                <li @isActiveMenu(MenuType.BOARD)>
                    <a href="@routes.BoardApp.posts(project.owner, project.name)" class="menu-item">
                        <i class="icon-large icon-bullhorn"></i>
                        <span class="menu-title">@Messages("menu.board")</span>
                        @if(Posting.countPostings(project) > 0){
                        <span class="counter">@Posting.countPostings(project)</span>
                        }
                    </a>
                </li>
                <li class="sp-line">|</li>
                <li @isActiveMenu(MenuType.CODE)>
                    <a href="@routes.CodeApp.codeBrowser(project.owner, project.name)" class="menu-item">
                        <i class="icon-large icon-code"></i>
                        <span class="menu-title">@Messages("menu.code")</span>
                    </a>
                </li>
                @if(project.vcs.equals("GIT")){
                <li class="sp-line">|</li>
                <li @isActiveMenu(MenuType.PULL_REQUEST)>
                    <a href="@getPullRequestURL(project)" data-toggle="tooltip" class="menu-item">
                        <i class="icon-large icon-code-fork"></i>
                        <span class="menu-title">@Messages("menu.pullRequest")</span>
                        @if(PullRequest.countOpenedPullRequests(project) > 0){ 
                        <span class="counter">@PullRequest.countOpenedPullRequests(project)</span>
                        }
                    </a>
                </li>
                }
                <li class="sp-line">|</li>
                <li @isActiveMenu(MenuType.ISSUE)>
                    <a href="@routes.IssueApp.issues(project.owner, project.name, "open")" class="menu-item">
                        <i class="icon-large icon-exclamation-sign"></i>
                        <span class="menu-title">@Messages("menu.issue")</span>
                        @if(Issue.countIssues(project.id, State.OPEN) > 0){
                        <span class="counter">@Issue.countIssues(project.id, State.OPEN)</span>
                        }
                    </a>
                </li>
                <li class="sp-line">|</li>
                <li @isActiveMenu(MenuType.MILESTONE)>
                    <a href="@routes.MilestoneApp.milestones(project.owner, project.name)" class="menu-item">
                        <i class="icon-large icon-pushpin"></i>
                        <span class="menu-title">@Messages("project.milestone")</span>
                        @if(Milestone.countOpened(project) > 0){
                        <span class="counter">@Milestone.countOpened(project)</span>
                        }
                    </a>
                </li>
                @if(ProjectUser.roleOf(session.get("loginId"), project).equals("manager")){
    			<li class="sp-line">|</li>
                <li @isActiveMenu(MenuType.PROJECT_SETTING)>
                    <a href="@routes.ProjectApp.settingForm(project.owner, project.name)" class="menu-item">
                        <i class="icon-large icon-cogs"></i>
                        <span class="menu-title">@Messages("menu.admin")</span>
                    </a>
                </li>
                }
    		</ul>
        </div>
	</div>
</div>
<div style="margin-top: 50px"></div>

<script id="tplRepoURL" type="text/x-jquery-tmpl">
    <strong class="clone-label @project.vcs">@project.vcs</strong>
    <p class="repo-wrap">
        <input type="text" class="text repo-url" readonly="readonly" value="@CodeApp.getURLWithLoginId(project)">
        <button type="button" class="btn copy-url">@Messages("code.copyUrl")</button>
    </p>
</script>

<script type="text/javascript">
$(document).ready(function(){
	// 프로젝트 전역 단축키: yobi.ShortcutKey
    var htKeyMap = {
        "H": "@routes.ProjectApp.project(project.owner, project.name)",
        "B": "@routes.BoardApp.posts(project.owner, project.name)",
        "C": "@routes.CodeApp.codeBrowser(project.owner, project.name)",
        "I": "@routes.IssueApp.issues(project.owner, project.name,"open")",
        "M": "@routes.MilestoneApp.milestones(project.owner, project.name)"
        @if(project.vcs.equals("GIT")){
           ,"F": "@getPullRequestURL(project)"
        }
        @if(ProjectUser.roleOf(session.get("loginId"), project).equals("manager")){
           ,"Q": "@routes.ProjectApp.settingForm(project.owner, project.name)"
        }
    };

    $yobi.loadModule("project.Global", {
        "htKeyMap": htKeyMap,
        "sRepoURL": "@CodeApp.getURLWithLoginId(project)"
    });
});
</script>