@(project:Project, menuType:utils.MenuType, menuCSS:String)

@import utils._
@import models.enumeration.ResourceType;
@import utils.TemplateHelper._
@import utils.AccessControl._

@isActiveMenu(m_type:MenuType) = @{
    if (m_type == menuType) {"active"}
}

@makeSubMenu(call:Call, name:String) = {
	<li class="@isActiveSubMenu(call)"><a href="@call">@name</a></li>
}
@isActiveSubMenu(calls: Call*) = @{
    var menuState = ""
    for(call <- calls) {
        if(call.toString().equals(request().path().toString())) {
            menuState = "active"
        }
    }
    menuState
}

<div class="label inline-block" style="border-radius:3px 3px 0px 0px; padding:5px 10px; font-size:11px">
	<i class="icon-eye-open icon-white" style="vertical-align:bottom;"></i>
     @Messages("role." + ProjectUser.roleOf(session.get("loginId"), project))
</div>

<div class="project-menu @menuCSS">
	<div class="project-menu-wrap main">
		<ul class="unstyled">
			<li class="@isActiveMenu(MenuType.PROJECT_HOME)"><a href="@routes.ProjectApp.project(project.owner, project.name)">@Messages("title.projectHome")</a></li>
			<li class="sp-line">|</li>
			<li class="@isActiveMenu(MenuType.BOARD)"><a href="@routes.BoardApp.posts(project.owner, project.name)">@Messages("menu.board")</a></li>
			<li class="sp-line">|</li>
			<li class="@isActiveMenu(MenuType.CODE)"><a href="@routes.CodeApp.codeBrowser(project.owner, project.name)">@Messages("menu.code")</a></li>
			<li class="sp-line">|</li>
			<li class="@isActiveMenu(MenuType.ISSUE)"><a href="@routes.IssueApp.issues(project.owner, project.name,"all")">@Messages("menu.issue")</a></li>
			<li class="sp-line">|</li>
			<li class="@isActiveMenu(MenuType.MILESTONE)"><a href="@routes.MilestoneApp.milestones(project.owner, project.name)">@Messages("project.milestone")</a></li>
		@if(ProjectUser.roleOf(session.get("loginId"), project).equals("manager")){
			<li class="sp-line">|</li>
			<li class="@isActiveMenu(MenuType.PROJECT_SETTING)"><a href="@routes.ProjectApp.settingForm(project.owner, project.name)">@Messages("menu.admin")</a></li>
		}
		</ul>
	</div>

@** 프로젝트 설정 서브메뉴 **@
@if(menuType.equals(MenuType.PROJECT_SETTING)){
	<div class="project-menu-wrap sub">
		<ul class="unstyled on-admin">
			@makeSubMenu(routes.ProjectApp.settingForm(project.owner, project.name),  Messages("project.setting"))
			@makeSubMenu(routes.ProjectApp.members(project.owner, project.name), 	  Messages("project.member"))
			@makeSubMenu(routes.ProjectApp.deleteForm(project.owner, project.name),   Messages("project.delete"))
		</ul>
	</div>
}
</div>
