@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@import org.apache.commons.lang3.StringUtils
@(title:String, project:Project, menuType:utils.MenuType)(content: Html)

@import utils._

@titleText = @{
    if(StringUtils.isBlank(title)) {
        project.name + " - " + project.owner
    } else {
        Messages(title) + " - " + project.owner + "/" + project.name
    }
}

@layout(titleText)("prj") {
    @common.navbar(menuType, project, null)
    
    @views.html.project.header(project)

    @content

    @common.footer()
}
