@import utils.TemplateHelper._
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Reset Secret</title>
<link rel="stylesheet" type="text/css" media="screen" href="@getCSSLink("bootstrap")">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <div class="container">
        <h1>@Messages("secret.welcome")</h1>

        <p>@Messages("secret.notice")</p>
        <p><strong>@Messages("secret.warning")</strong></p>

        <form action="@routes.Application.fake" method="POST" class="input-append">
            <input type="text" name="seed" class="input-xlarge" autocomplete="off">
            <input type="submit" class="btn">
        </form>

    </div>
</body>
</html>
