@(project:Project)
@isActiveMenu(call: Call) = @{
  if(request().uri().toString().equals(call.toString())){"active"}
}
<ul class="nav nav-pills pull-right">
    <li class="@isActiveMenu(routes.ProjectApp.project(project.name))">
      <a href="@routes.ProjectApp.project(project.name)">@Messages("menu.home")</a>
    </li>
    @roleCheck(session.get("userId"), project.id, models.enumeration.PermissionResource.BOARD, models.enumeration.PermissionOperation.READ){
        <li class="@isActiveMenu(routes.BoardApp.posts(project.name))">
          <a href="@routes.BoardApp.posts(project.name)">@Messages("menu.board")</a>
        </li>
    }
    @roleCheck(session.get("userId"), project.id, models.enumeration.PermissionResource.CODE, models.enumeration.PermissionOperation.READ){
        <li class="@isActiveMenu(routes.CodeApp.view(project.name, ""))">
          <a href="@routes.CodeApp.view(project.name, "")">@Messages("menu.code")</a>
        </li>
    }
    @roleCheck(session.get("userId"), project.id, models.enumeration.PermissionResource.ISSUE, models.enumeration.PermissionOperation.READ){
        <li class="@isActiveMenu(routes.IssueApp.issues(project.name,"open"))">
          <a href="@routes.IssueApp.issues(project.name,"open")">@Messages("menu.issue")</a>
        </li>
    }
    @roleCheck(session.get("userId"), project.id, models.enumeration.PermissionResource.WIKI, models.enumeration.PermissionOperation.READ){
      <!-- TODO -->
       <li class="@isActiveMenu(routes.ProjectApp.newProject())">
         <a href="#">위키</a>
       </li>
    }
    @roleCheck(session.get("userId"), project.id, models.enumeration.PermissionResource.PROJECT, models.enumeration.PermissionOperation.WRITE){
        <li class="@isActiveMenu(routes.ProjectApp.setting(project.name))">
          <a href="@routes.ProjectApp.setting(project.name)">@Messages("menu.admin")</a>
        </li>
    }    
</ul>
