@(project:Project, menuType:utils.MenuType)

@import utils._
@import models.enumeration.ResourceType;
@import utils.TemplateHelper._
@import utils.AccessControl._

@isActiveMenu(m_type:MenuType) = @{
    if(m_type == menuType) {"selected"}
}
    <div class="gnb-inner">
        <div class="gnb-knob left"><i class="ico gnb-left"></i></div>
        <div class="gnb-menu-wrap">
            <a href="@routes.Application.index()" class="logo"></a>
            <ul class="gnb-menus unstyled">
                <li class="menu">
                    <a href="@routes.ProjectApp.project(project.owner, project.name)" class="@isActiveMenu(MenuType.PROJECT_HOME)">PROJECT HOME</a>
                </li>
                <li class="menu">
                    <a href="@routes.BoardApp.posts(project.owner, project.name)" class="@isActiveMenu(MenuType.BOARD)">BOARD</a>
                </li>
                <li class="menu">
                    <a href="@routes.CodeApp.codeBrowser(project.owner, project.name)" class="@isActiveMenu(MenuType.CODE)">CODE</a>
                </li>
                <li class="menu">
                    <a href="@routes.IssueApp.issues(project.owner, project.name,"open")" class="@isActiveMenu(MenuType.ISSUE)">ISSUE</a>
                </li>
                <!-- >li class="menu">
                    <a href="@routes.TaskApp.index(project.owner, project.name)">TASK</a>
                </li-->
            </ul>
            <ul class="gnb-menus right unstyled">
                @if(!UserApp.currentUser().isAnonymous()){
                <li><a href="@routes.UserApp.userInfo(session.get("loginId"))">
                <img class="user-thumb img-rounded" src="@User.findByLoginId(session.get("loginId")).avatarUrl" alt="avatar" width="22" height="22"></a>
                    <a href="@routes.UserApp.userInfo(session.get("loginId"))">@session.get("userName")</a>
                </li>
                <li class="sp-line">|</li>
                <li><a href="@routes.UserApp.logout()" class="d-link signup">@Messages("title.logout")</a></li>
                } else {
                <li><a href="@routes.UserApp.loginForm()" class="d-link signin"><i class="ico ico-user"></i>@Messages("title.login")</a></li>
                <li class="sp-line">|</li>
                <li><a href="@routes.UserApp.signupForm()" class="d-link signup">@Messages("title.signup")</a></li>
                }
                <li class="search-bar">
                    <form action="@routes.SearchApp.contentsSearch(project.owner, project.name)">
                        <input type="text" autocomplete="off" class="query" name="filter" placeholder="현재 프로젝트에서 검색" /><button type="submit" class="ico ico-search btn-transparent"></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="gnb-knob right"><i class="ico gnb-right"></i></div>
    </div>
