@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@import models.resource.Resource
@(container: Resource, resourceType:ResourceType, action:String, parentCommentId:Long)(implicit request: play.api.mvc.RequestHeader)

@import models.enumeration.ResourceType
@import utils.AccessControl._

@isMac = @{requestHeader.headers.get("User-Agent").getOrElse("").contains("Macintosh")}
@ctrlKey = @{if(isMac){"⌘"}else{"CTRL"}}

@if(isResourceCreatable(UserApp.currentUser, container, resourceType)){
    <form action="@action" method="post" enctype="multipart/form-data">
        <input class="parentCommentId" type="hidden" name="parentCommentId" value="@parentCommentId"/>
        <div class="oneline-comment-box">
            <textarea class="editorSeries" name="contents" markdown="true" rows="1" placeholder="@Messages("comment.oneline.comment.placeholder") (@ctrlKey + ENTER)"></textarea>
            <button type="submit" class="ybtn ybtn-success">OK</button>
        </div>
        <div class="notification-receiver">
            <span class="notification-receiver-title">@Messages("notification.receiver.list.title")</span>
            <span class="notification-receiver-list"></span>
        </div>
    </form>
} else {
    <div class="write-comment-box mt20" title="@Messages("error.auth.unauthorized.comment")" data-login="required">
        <div class="write-comment-wrap">
            <div class="textarea-box">
                <textarea class="editorSeries comment disabled" disabled="disabled" style="cursor:text;"></textarea>
            </div>
            <div class="right-txt mt10">
                <span class="ybtn ybtn-disabled">@Messages("button.comment.new")</span>
            </div>
        </div>
    </div>

}
