@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(shortMessage:String, commitMsg:String, linkURL:String = "", forceExpand:Boolean = false)

@import org.apache.commons.lang3.StringUtils

@defining(StringUtils.defaultIfEmpty(shortMessage, Messages("code.commitMsg.empty"))) { msgText =>
    @if(StringUtils.isEmpty(linkURL)){
        <span class="commitMsg short">@Html(msgText)</span>
    } else {
        <a href="@linkURL" class="commitMsg short">@Html(msgText)</a>
    }
}

@if(commitMsg.split("\n").length > 1){
    @if(!forceExpand){<button type="button" class="commitMsg moreBtn"><span>&hellip;</span></button>}
    <pre class="commitMsg desc @if(!forceExpand){hidden}">@Html(commitMsg.replace(commitMsg.split("\n")(0)+"\n", ""))</pre>
}
