@(container: models.resource.Resource, resourceType:ResourceType, action:String)

@import models.enumeration.ResourceType
@import utils.AccessControl._

@if(isResourceCreatable(User.findByLoginId(session.get("loginId")), container, resourceType)){

    <form id="comment-form" action="@action" method="post" enctype="multipart/form-data">
        <div class="write-comment-box">
            <div class="write-comment-wrap">
                <div id="mode-select">
                    <input type="radio" name="edit-mode" id="edit-mode" value="edit" checked="checked" class="radio-btn">
                    <label for="edit-mode" style="margin-right:3px;">Edit</label>
                    <input type="radio" name="edit-mode" id="preview-mode" value="preview" class="radio-btn">
                    <label for="preview-mode">Preview</label>
                </div>
                @help.markdown()
                <div class="textarea-box">
                    <textarea id="comment-editor" name="contents" class="comment" markdown="true"></textarea>
                </div>
                @** fileUploader **@
                @if(!UserApp.currentUser.isAnonymous) {
                    @common.fileUploader(resourceType, null)
                }
                @** end of fileUploader **@
                <div class="right-txt">
                    <button type="button" class="ybtn hidden" id="dynamic-comment-btn"></button>
                    <button type="submit" class="ybtn ybtn-success">@Messages("button.comment.new")</button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function(){
            var welCommentForm = $("#comment-form");

            welCommentForm.on("submit", function(){
                yobi.ui.Spinner.show({"bUseDimmer": true});
                welCommentForm.data("bOnSubmit", true);
            });

            // -- ESC 키를 눌러 폼 전송을 중단하는 경우
            $(window).on("keydown", function(weEvt){
                var bOnSubmit = welCommentForm.data("bOnSubmit");

                if(weEvt.keyCode === 27 && bOnSubmit){
                    yobi.ui.Spinner.hide();
                    welCommentForm.data("bOnSubmit", false);
                }
            });
        });
    </script>
} else {

    <div class="write-comment-box">
        <div class="write-comment-wrap">
            <div class="textarea-box">
                <textarea class="comment disabled" disabled="disabled">@Messages("error.auth.unauthorized.comment")</textarea>
            </div>
            <div class="right-txt mt10">
                <button class="ybtn ybtn-disabled" disabled="disabled">@Messages("button.comment.new")</button>
            </div>
        </div>
    </div>

}
