@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(issue: Issue, project: Project)
@if(issue.comments.size > 0 || issue.voters.size > 0) {
    <span class="item-count-groups">
        @if(issue.comments.size > 0) {
            @commentCount(routes.IssueApp.issue(project.owner, project.name, issue.getNumber).toString + "#comments", issue.comments.size, true)
        }
        @if(issue.voters.size > 0) {
            @voteCount(routes.IssueApp.issue(project.owner, project.name, issue.getNumber).toString + "#vote", issue.voters.size, true)
        }
    </span>
}
