@(commentId:Long, action:String, contents:String)

<div id="comment-editform-@commentId" class="comment-update-form">
    <form action="@action" method="post">
        <input type="hidden" name="id" value="@commentId">

        <div class="write-comment-box">
            <div class="write-comment-wrap">
                @common.editor("contents", contents)

                <div class="right-txt comment-update-button">
                    <button type="button" class="ybtn ybtn-cancel" data-comment-id="@commentId">@Messages("button.cancel")</button>
                    <button type="submit" class="ybtn ybtn-info">@Messages("button.save")</button>
                </div>
            </div>
        </div>
    </form>
</div>
