@(resourceType:ResourceType, resourceId:Long)

@common.uploadForm(resourceType, resourceId, "upload")

<script type="text/x-jquery-tmpl" id="tplAttachedFile">
    <li class="attached-file" data-id="${fileId}" data-name="${fileName}" data-href="${fileHref}" data-mime="${mimeType}" data-size="${fileSize}">
        <i class="yobicon-supportrequest"></i>
        <i class="mimetype"></i>
        <strong class="name">${fileName}</strong>
        <span class="size">${fileSizeReadable}</span>
        <div class="progress-wrap pull-right">
            <div class="upload-progress n4"><div class="bar orange"></div></div>
        </div>
        <button type="button" class="btn-transparent btn-delete pull-right">&times;</button>
        <span class="pull-right nbtn small white btn-insert">@Messages("common.attach.clickToPost")</span>
    </li>
</script>
<script type="text/x-jquery-tmpl" id="tplDropFilesHere">
<div class="upload-drop-here"><div class="msg-wrap"><div class="msg">@Messages("common.attach.dropFilesHere")</div></div></div>
</script>
