@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
<footer class="page-footer-outer">
    <div class="page-footer">
        <span class="provider">Copyright <a href="https://github.com/yona-projects/yona/blob/master/AUTHORS" target="_blank" class="yona-author">Yona authors</a> & © <a href="http://navercorp.com/" target="_blank">NAVER Corp.</a> Supported by <a href="http://d2.naver.com" target="_blank" class="d2-program"><span class="d2">D2</span><span class="program"> Program</span></a></span>
    </div>
</footer>
