@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@import utils.LdapService
@()
@import com.feth.play.module.pa.views.html._
@import utils.TemplateHelper._
@import org.apache.commons.lang3.StringUtils

@isSocialLoginSupport = @{
  val allowedProviders = play.Configuration.root.getString("application.social.login.support", "").replaceAll(" ", "").split(",")
  allowedProviders.nonEmpty && StringUtils.isNotBlank(allowedProviders(0))
}

<div id="loginDialog" class="modal hide loginDialog" tabindex="-1" role="dialog">
  <div class="modal-body">
    <div class="pull-right">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" class="mr10">&times;</button>
    </div>
    <form action="@routes.UserApp.login()" method="post" class="frm-wrap login-form-wrap">
      @if(UserApp.useSocialLoginOnly){
        <div class="btns-row nm">
          @Messages("app.warn.support.social.login.only")
        </div>
      } else {
      <dl>
        <dd>
          <input id="loginIdOrEmailD" name="loginIdOrEmail" type="text" class="text email" autocomplete="off" placeholder="@Messages("user.login.key")">
        </dd>
        <dd>
          <input id="passwordD" name="password" type="password" class="text password" autocomplete="off" placeholder="@Messages("user.password")">
        </dd>
      </dl>

      <div class="error">
        <i class="yobicon-error"></i>
        <span class="error-message"></span>
      </div>

      <div class="btns-row nm">
        <button type="submit" class="ybtn ybtn-primary fullsize">@Messages("button.login")</button>
      </div>
      }

      <div class="btns-row nm">
        @currentAuth() { auth =>
          @if(auth == null) {
            @if(isSocialLoginSupport) {
              @if(!UserApp.useSocialLoginOnly) {
                <div class="social-login-title-line"> @Messages("title.or") </div>
              }
            }
            @forProviders() { p =>
              @if(isAllowedOAuthProvider(p.getKey)) {
                <a href="@p.getUrl" class="ybtn oauth-login-btn">@Html(providerWithLogo(p.getKey))</a>
              }
            }
          } else {
            @if(UserApp.currentUser().isAnonymous){
              <div class="cache-warning">@Messages("browser.cache.refresh.message")</div>
            }
            <a href="@routes.Application.oAuthLogout()" class="ybtn oauth-login-btn">@Messages("title.logout")</a>
          }
        }
      </div>
      @if(!UserApp.useSocialLoginOnly) {
        <div class="act-row right-txt mt20">
          <div class="pull-left">
            <input id="remember-meD" type="checkbox" name="rememberMe" class="checkbox" checked>
            <label for="remember-meD" class="bg-checkbox">@Messages("title.rememberMe")</label>
          </div>

          <a href="@routes.PasswordResetApp.lostPassword()">@Messages("title.resetPassword")</a>
          <span class="gray-txt ml10 mr10">|</span>
          <a href="@routes.UserApp.signupForm">@Messages("title.signup")</a>
        </div>
      }
      </form>
  </div>
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-ui-1.10.4.custom.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.LoginDialog.js")"></script>
