@(project: Project = null)

@import utils.TemplateHelper._

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/lib/highlight/styles/default.css")" />
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/highlight/highlight.pack.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/marked.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/xss.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
    var htOptions = {
        "sTplSwitch": $("#tplMarkdownPreview").text(),
        "bBreaks": ($('[markdown]').hasClass('readme-body')) ? false : true
    };

    @if(project != null){
    htOptions.sIssuesUrl = "@routes.IssueApp.issues(project.owner, project.name)";
    htOptions.sProjectUrl = "@routes.ProjectApp.project(project.owner, project.name)";
    }

    // Reusable markdown renderer
    yobi.Markdown.init(htOptions);
});
</script>

<script type="text/x-jquery-tmpl" id="tplMarkdownPreview">
<input type="radio" name="edit-mode" id="edit-mode" value="edit" checked="checked" class="radio-btn" />
<label for="edit-mode" style="margin-right:3px;">Edit</label>
<input type="radio" name="edit-mode" id="preview-mode" value="preview" class="radio-btn" />
<label for="preview-mode">Preview</label>
</script>
