@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(posting:models.AbstractPosting)

@import utils.TemplateHelper._
@import utils.Markdown

<div id="-yona-posting-history" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="nm">@Messages("change.history")</h5>
    </div>
    <div class="modal-body">
        <p>
            @Html(Markdown.sanitize(posting.history))
        </p>
    </div>
    <div class="modal-footer">
        <button class="ybtn ybtn-info ybtn-small" data-dismiss="modal" aria-hidden="true">@Messages("button.confirm")</button>
    </div>
</div>
