@()
@import utils.TemplateHelper._

@**<!-- yobi.ui.Dialog -->**@
<div id="yobiDialog" class="modal hide fade yobiDialog" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="btn-dismiss"><button type="button" class="btn-transparent" data-dismiss="modal">&times;</button></div>
	<div class="message">
		<p class="center-text msg"></p>
		<p class="center-txt">
			<button type="submit" class="ybtn ybtn-info" data-dismiss="modal">@Messages("button.confirm")</button>
		</p>
	</div>
</div>
@**<!-- //yobi.ui.Dialog -->**@

@**<!-- yobi.ui.Toast -->**@
<div id="yobiToasts" class="yobiToasts"></div>
<script type="text/x-jquery-tmpl" id="tplYobiToast">
<div class="toast" tabindex="-1">
	<div class="btn-dismiss"><button type="button" class="btn-transparent">&times;</button></div>
	<div class="center-text">
        <span class="v"></span>
        <p class="msg"></p>
    </div>
</div>
</script>
@**<!-- //yobi.ui.Toast -->**@

@**<!-- //yobi.ui.Spinner -->**@
<div id="yobiSpinner" class="yobiSpinner">
    <div class="spinContainer"></div>
</div>
@**<!-- //yobi.ui.Spinner -->**@

<script type="text/javascript" src="@routes.Application.jsMessages()"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.tmpl.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.form.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.validate.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.zclip.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.placeholder.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.requestAs.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap-better-typeahead.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap-switch.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/rgbcolor.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/humanize.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/validate.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/spin.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.Attachments.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.Files.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.Mention.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.Markdown.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.Pagination.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ShortcutKey.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ui.Dropdown.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ui.Typeahead.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ui.Dialog.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ui.Toast.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ui.Tabs.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.ui.Spinner.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common/yobi.CodeCommentBox.js")"></script>

<script type="text/javascript">
    $yobi.setScriptPath("@getJSPath");

    $(document).ready(function(){
        // tooltip
        $("[data-toggle=tooltip]").tooltip();

        // jquery.placeholder plugin initiator
        $('input[type=text], textarea').placeholder();

        // current language set!
        if (typeof window.moment == "function" && typeof window.moment.lang == "function") {
            moment.lang("@lang.language");
        }

     	// yobi.Dropdown
     	var sActivation;
        $(".btn-group[data-name]").each(function(i, el){
        	sActivation = $(el).attr("data-activate");
        	if(typeof sActivation == "undefined" || sActivation != "manual"){
        		(new yobi.ui.Dropdown({"elContainer":el}));
        	}
        });

        // yobi.ShortcutKey
        // Set CTRL+ENTER as submit form on INPUT/TEXTAREA
        yobi.ShortcutKey.attach("CTRL+ENTER", function(htInfo){
            if(htInfo.bFormInput){
                $(htInfo.welTarget.parents("form").get(0)).submit();
            }
        });
        @if(session.contains("loginId")){
            yobi.ShortcutKey.setKeymapLink({
            "P": "@routes.UserApp.userInfo(session.get("loginId"))"
        });
        }

        // yobi.Files
        yobi.Files.init({
            "sListURL"  : "@routes.AttachmentApp.getFileList",
            "sUploadURL": "@routes.AttachmentApp.uploadFile"
        });

        // ajax for issue link detail(ui.IssuePreview)
        $(document).on("mouseenter", ".issueLink", function(){
            var welTarget = $(this);

            welTarget.tooltip({
                "title": "@Messages("site.massMail.loading")",
                "placement": "right"
            }).tooltip("show");

            $.getJSON(welTarget.attr("href"), function(htData){
                if(welTarget.tooltip){
                    welTarget.tooltip("hide");
                }

                welTarget.popover({
                    "title"    : htData.title,
                    "content"  : htData.body,
                    "html"     : true,
                    "placement": "right",
                    "trigger"  : "hover"
                }).popover("show");
            });
        });

        $(document).on("mouseleave", ".issueLink", function(){
            var welTarget = $(this);
            welTarget.tooltip("destroy");
            welTarget.popover("hide");
        });

          
        if(navigator.userAgent.match(/MSIE ([0-9])\./)){
           $('.unsupported').show();
        }
        
        // notify flash messages
        @for(key <- flash.keys) {
            $yobi.notify("@Messages(flash.get(key))", 3000);
        }

    });
</script>
