@()
@import utils.TemplateHelper._

@**<!-- yobi.ui.Dialog -->**@
<div id="yobiDialog" class="modal hide fade yobiDialog" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="btn-dismiss"><button type="button" class="btn-transparent" data-dismiss="modal">&times;</button></div>
	<div class="message">
		<p class="center-text msg"></p>
		<p class="center-txt">
			<button type="submit" class="ybtn ybtn-info" data-dismiss="modal">@Messages("button.confirm")</button>
		</p>
	</div>
</div>
@**<!-- //yobi.ui.Dialog -->**@

@**<!-- yobi.ui.Toast -->**@
<div id="yobiToasts" class="yobiToasts"></div>
<script type="text/x-jquery-tmpl" id="tplYobiToast">
<div class="toast" tabindex="-1">
	<div class="btn-dismiss"><button type="button" class="btn-transparent">&times;</button></div>
	<div class="center-text">
        <span class="v"></span>
        <p class="msg"></p>
    </div>
</div>
</script>
@**<!-- //yobi.ui.Toast -->**@

<script type="text/javascript" src="@routes.Application.jsMessages()"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.tmpl")"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.form")"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.validate")"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.zclip.min")"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.placeholder.min")"></script>
<script type="text/javascript" src="@getJSLink("lib/jquery/jquery.requestAs")"></script>
<script type="text/javascript" src="@getJSLink("lib/bootstrap")"></script>
<script type="text/javascript" src="@getJSLink("lib/bootstrap-better-typeahead")"></script>
<script type="text/javascript" src="@getJSLink("lib/bootstrap-switch")"></script>
<script type="text/javascript" src="@getJSLink("lib/rgbcolor")"></script>
<script type="text/javascript" src="@getJSLink("lib/humanize")"></script>
<script type="text/javascript" src="@getJSLink("lib/validate")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Attachments")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Files")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Label")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Mention")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Markdown")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.Pagination")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.ShortcutKey")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.ui.Dropdown")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.ui.Typeahead")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.ui.Dialog")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.ui.Toast")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.ui.Tabs")"></script>
<script type="text/javascript" src="@getJSLink("common/yobi.CodeCommentBox")"></script>

<script type="text/javascript">
    $yobi.setScriptPath("@getJSPath()");

    $(document).ready(function(){
        // tooltip
        $("[data-toggle=tooltip]").tooltip();

        // jquery.placeholder plugin initiator
        $('input[type=text], textarea').placeholder();

        // current language set!
        if (typeof window.moment == "function" && typeof window.moment.lang == "function") {
            moment.lang("@lang.language");
        }

     	// yobi.Dropdown
     	var sActivation;
        $(".btn-group[data-name]").each(function(i, el){
        	sActivation = $(el).attr("data-activate");
        	if(typeof sActivation == "undefined" || sActivation != "manual"){
        		(new yobi.ui.Dropdown({"elContainer":el}));
        	}
        });

        // yobi.ShortcutKey
        // Set CTRL+ENTER as submit form on INPUT/TEXTAREA
        yobi.ShortcutKey.attach("CTRL+ENTER", function(htInfo){
            if(htInfo.bFormInput){
                $(htInfo.welTarget.parents("form").get(0)).submit();
            }
        });
        @if(session.contains("loginId")){
            yobi.ShortcutKey.setKeymapLink({
            "P": "@routes.UserApp.userInfo(session.get("loginId"))"
        });
        }

        // yobi.Files
        yobi.Files.init({
            "sListURL"  : "@routes.AttachmentApp.getFileList",
            "sUploadURL": "@routes.AttachmentApp.uploadFile"
        });

        // ajax for issue link detail)
        $('.issueLink').hover(
            function handleIn() {
                var e=$(this);
                e.tooltip ( { title : 'loading..' } ).tooltip('show');
                $.get(e.attr('href'),function(data) {
                    if( e.tooltip ) e.tooltip('hide');
                    e.popover({
                        title: data.title,
                        content: data.body,
                        placement: 'right',
                        html: 'true',
                        trigger: 'hover'}
                    ).popover('show');
                });

            }, function handleOut(){
                var e=$(this);
                e.tooltip('destroy');
                e.popover('hide');
            });
    });
</script>
