@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@

<script src="@routes.Assets.at("javascripts/lib/select2/select2.js")"></script>
<script src="@routes.Assets.at("javascripts/common/yobi.ui.Select2.js")"></script>
@{
    implicitJavaLang.language match {
        case "ko" => {
            Html("<script src=\"" + routes.Assets.at("javascripts/lib/select2/select2_locale_ko.js") + "\"></script>")
        }
        case "ja" => {
            Html("<script src=\"" + routes.Assets.at("javascripts/lib/select2/select2_locale_ja.js") + "\"></script>")
        }
        case _ => ""
    }
}

<script id="tplSelect2FormatUser" type="text/x-jquery-tmpl">
<div class="usf-group" title="${name} ${loginId}">
    <span class="avatar-wrap smaller"><img src="${avatarURL}" width="20" height="20"></span>
    <strong class="name">${name}</strong>
    <span class="loginid">${loginId}</span>
</div>
</script>
<script id="tplSelect2FormatMilestone" type="text/x-jquery-tmpl">
<div title="[${stateLabel}] ${name}">
    ${name}
</div>
</script>
<script id="tplSelect2Projects" type="text/x-jquery-tmpl">
<div class="usf-group" title="${name}">
    <span class="avatar-wrap smaller"><img src="${avatarURL}" width="16" height="16"></span>
    <span class="loginid">${owner}</span>
    <span class="name">${name}</span>
</div>
</script>
<script id="tplSelect2ProjectsWithoutAvatar" type="text/x-jquery-tmpl">
<div class="usf-group" title="${name}">
    <span class="width25px"></span>
    <span class="loginid">${owner}</span>
    <span class="name">${name}</span>
</div>
</script>

<script id="tplSelect2FormatIssues" type="text/x-jquery-tmpl">
<div title="${name}">
    ${name}
</div>
</script>
