@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp. & NAVER LABS Corp.
* https://yona.io
**@
@(requireLeftMargin: Boolean = true)

<div class="show-subtasks mr10" id="two-column-mode-checkbox" data-toggle="popover"  data-trigger="hover" data-placement="top" title='@Messages("common.show.subtasks")' data-content='@Messages("common.show.subtasks.desc")'>
    <label class="checkbox">
        <div class="show-subtasks-button-border">
            <input id="toggle-show-subtasks" type="checkbox"><span class="show-subtasks-text">@Messages("common.show.subtasks")</span>
        </div>
    </label>
</div>
