@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(requireLeftMargin: Boolean = true)

<div class="two-column-icon mr10 hide-in-mobile" id="two-column-mode-checkbox" title='@Messages("common.two.column.mode")' data-content='@Messages("common.two.column.mode.desc")'>
    <label class="checkbox">
        <div class="two-column-icon-border">
            <input id="two-column-mode" type="checkbox"><span class="two-column-mode-text">@Messages("common.two.column.view")</span>
        </div>
    </label>
</div>
