@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@import org.apache.commons.lang3.StringUtils
@()
@import utils.TemplateHelper._
@import com.feth.play.module.pa.PlayAuthenticate._
@import com.feth.play.module.pa.views.html._
@import play.mvc.Http._;
@orderString = @{"createdDate DESC"}

@currentUser = @{
    UserApp.currentUser()
}

@if(currentUser.isAnonymous){
    @currentAuth() { auth => @{
            if(auth == null) {
                val redirect = Context.current().request().getQueryString("redirectUrl")
                if(StringUtils.isNotEmpty(redirect)) {
                    val url = Context.current().session().put("pa.url.orig", redirect)
                } else {
                    val url = storeOriginalUrl(Context.current())
                }
            }
        }
    }
}

@myOpenIssueCount = @{
    val count = Issue.countOpenIssuesByUser(currentUser)
    if(count > 0) {
        Html("<span class=\"counter-badge\">" + count + "</span>")
    }
}

<div id="mySidenav" class="sidenav">
    <div class="span5 right-menu span-hard-wrap">
        <div class="row-fluid user-menu-wrap">
            <span class="user-menu"><a href="@routes.UserApp.userInfo(currentUser.loginId)">@Messages("userinfo.profile")</a></span>
            <span class="user-menu"><a href="@routes.UserApp.editUserInfoForm()">@Messages("userinfo.accountSetting")</a></span>
            @currentAuth() { auth =>
                @if(auth != null) {
                    <a href="@routes.Application.oAuthLogout"><span class="user-menu logout label">@Messages("title.logout")</span></a>
                } else {
                    <a href="@routes.UserApp.logout()"><span class="user-menu logout label">@Messages("title.logout")</span></a>
                }
            }
        </div>
        <ul class="nav nav-tabs nm">
            <li class="myOrganizationList active">
                <a href="#myOrganizationList" data-toggle="tab">
                @Messages("title.favorite")
                </a>
            </li>
            <li class="myProjectList">
                <a href="#myProjectList" data-toggle="tab">
                @Messages("title.project")
                </a>
            </li>
            <li class="myRecentIssueList">
                <a href="#myRecentIssueList" data-toggle="tab">
                @Messages("title.recently.visited.issue")
                </a>
            </li>
        </ul>
        <div class="tab-content tab-box">
            <div id="usermenu-tab-content-list" class="tab-content">
                Loading...
            </div>
        </div>
    </div>
</div>

<ul class="gnb-usermenu">
    @if( !currentUser.isAnonymous()) {
        @if(!StringUtils.isBlank(Application.NAVBAR_CUSTOM_LINK_NAME)) {
        <li class="gnb-usermenu-item">
            <a href="@Application.NAVBAR_CUSTOM_LINK_URL" class="user-item-btn loggged-in">@Application.NAVBAR_CUSTOM_LINK_NAME</a>
        </li>
        }
       <li class="gnb-usermenu-item" data-toggle="tooltip" data-placement="bottom" title="@Messages("title.shortcut") (A)">
           <a href="@routes.IssueApp.userIssues()" class="user-item-btn loggged-in">@Messages("issue.myIssue")@myOpenIssueCount</a>
        </li>
        <li class="divider"></li>
        @if(currentUser.isSiteManager) {
        <li class="gnb-usermenu-item">
            <a href="@routes.SiteApp.userList()" data-toggle="tooltip" title="@Messages("menu.siteAdmin")" data-placement="bottom" class="usermenu-icon-button show-progress-bar">
                <i class="yobicon-wrench"></i>
            </a>
        </li>
        <li class="divider"></li>
        }
        <li class="gnb-usermenu-dropdown sidebar-open-btn" id="sidebar-open-btn">
            <a href="javascript:void(0);" class="gnb-dropdown-toggle" data-toggle="tooltip" data-placement="bottom" title="@Messages("user.menu"), @Messages("title.shortcut") (F)">
                <span class="avatar-wrap smaller">
                    <img src="@currentUser.avatarUrl(32)" />
                </span>
                <span class="caret"></span>
            </a>
        </li>
      <li class="gnb-usermenu-dropdown">
          <a href="javascript:void(0);" class="gnb-dropdown-toggle dropdwon-box-btn" data-toggle="dropdown">
              <i class="yobicon-plus"></i>
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu flat right">
              <li>
                  <a href="@routes.IssueApp.newDirectIssueForm()">
                  @Messages("issue.menu.new")
                  </a>
              </li>
              <li>
                  <a href="@routes.IssueApp.newDirectMyIssueForm()">
                  @Messages("issue.menu.new.mine")
                  </a>
              </li>
              <li>
                  <hr class="no-margin"/>
              </li>
              <li>
                  <a href="@routes.ProjectApp.newProjectForm()">
                  @Messages("button.newProject")
                  </a>
              </li>
              @if(!currentUser.isGuest){
              <li>
                  <a href="@routes.OrganizationApp.newForm()">
                  @Messages("title.newOrganization")
                  </a>
              </li>
              }
          </ul>
      </li>
      } else {
        <li class="gnb-usermenu-item" id="required-logged-in">
          <a href="@routes.UserApp.loginForm()" class="user-item-btn" data-login="required">
          @Messages("title.login")
          </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="@routes.UserApp.signupForm()" class="ybtn ybtn-success">
                @Messages("title.signup")
            </a>
        </li>
      }
</ul>
