@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
<div class="tab-pane user-project-list active" id="myOrganizationList">
@views.html.index.myOrganizationList(UserApp.currentUser())
</div>
<div class="tab-pane user-project-list" id="myProjectList">
@views.html.index.myProjectList(UserApp.currentUser())
</div>
<div class="tab-pane user-project-list" id="myRecentIssueList">
@views.html.index.myRecentIssueList(UserApp.currentUser())
</div>

