@**
* Yona, 21st Century Project Hosting SW
*
* Copyright Yona & Yobi Authors & NAVER Corp.
* https://yona.io
**@
@(project:Project)
@import utils.TemplateHelper._
@orderString = @{"createdDate DESC"}
<ul class="gnb-usermenu">
    @if( !UserApp.currentUser().isAnonymous()) {
        <li class="gnb-usermenu-item hide-in-mobile">
            <span onclick="openNav()" class="user-item-btn">open</span>
        </li>
       <li class="gnb-usermenu-item hide-in-mobile">
          <a href="@routes.Application.index()" class="user-item-btn">@Messages("notification")</a>
       </li>
       <li class="divider hide-in-mobile"></li>
       <li class="gnb-usermenu-item">
          <a href="@routes.IssueApp.userIssues()" class="user-item-btn">@Messages("issue.myIssue")</a>
        </li>
        <li class="divider"></li>
        @if(UserApp.currentUser.isSiteManager) {
        <li class="gnb-usermenu-item">
            <a href="@routes.SiteApp.userList()" data-toggle="tooltip" title="@Messages("menu.siteAdmin")" data-placement="bottom" class="usermenu-icon-button">
                <i class="yobicon-wrench"></i>
            </a>
        </li>
        <li class="divider"></li>
        }
        <li class="gnb-usermenu-dropdown">
            <a href="javascript:void(0);" class="gnb-dropdown-toggle" data-toggle="dropdown">
                <span class="avatar-wrap smaller">
                    <img src="@UserApp.currentUser().avatarUrl" />
                </span>
                <span class="caret-text">@UserApp.currentUser().name</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu flat right">
                <li class="title">
                    @UserApp.currentUser().name <span class="disabled">@{"@"}@UserApp.currentUser().loginId</span>
                </li>
                <li>
                    <a href="@routes.UserApp.userInfo(UserApp.currentUser().loginId)">@Messages("userinfo.profile")</a>
                </li>
                <li>
                    <a href="@routes.UserApp.editUserInfoForm()">
                        @Messages("userinfo.accountSetting")
                    </a>
                </li>
                <li>
                    <a href="@routes.UserApp.logout()">
                        @Messages("title.logout")
                    </a>
                </li>
                @defining(UserApp.currentUser.getOrganizations(10)) { groups =>
                    <li class="title">
                        @Messages("title.organization")
                        <span class="numberic">@groups.size</span>
                    </li>
                    @if(groups.size > 0) {
                        @for(organization <- groups){
                            <li><a href="@routes.OrganizationApp.organization(organization.name)">@if(hasOrganizationLogo(organization)){<img src="@urlToOrganizationLogo(organization)">}else{<span class="dummy-25px"> </span>} <span class="bold">@organization.name</span></a></li>
                        }
                    } else {
                        <li class="empty">@Messages("organization.is.empty")</li>
                    }
                }
                @defining(UserApp.currentUser.getVisitedProjects){ visitedProjects =>
                    <li class="title">
                        @Messages("project.recently.visited")
                        <span class="numberic">@visitedProjects.size</span>
                    </li>
                    @if(visitedProjects.size > 0) {
                        @for(project <- visitedProjects){
                            <li><a href="@routes.ProjectApp.project(project.owner, project.name)">@if(hasProjectLogo(project)){<img src="@urlToProjectLogo(project)">} else{<span class="dummy-25px"> </span>} <span class="bold">@project.name</span> <span class="darkgray-txt small-font margin-right-15">of @project.owner</span></a></li>
                        }
                    } else {
                        @defining(Project.findProjectsCreatedByUser(UserApp.currentUser.loginId, orderString)) { myProjects =>
                            @if(myProjects.size > 0) {
                                @for(project <- myProjects){
                                    <li>@if(hasProjectLogo(project)){<img src="@urlToProjectLogo(project)">} <a href="@routes.ProjectApp.project(project.owner, project.name)"><span class="bold">@project.name</span> <span class="darkgray-txt small-font margin-right-15">of @project.owner</span></a></li>
                                }
                            } else {
                                <li class="empty">@Messages("project.is.empty")</li>
                            }
                        }
                    }
                }
            </ul>
        </li>
      <li class="gnb-usermenu-dropdown">
          <a href="javascript:void(0);" class="gnb-dropdown-toggle dropdwon-box-btn" data-toggle="dropdown">
              <i class="yobicon-plus"></i>
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu flat right">
              <li>
                  <a href="@routes.ProjectApp.newProjectForm()">
                  @Messages("button.newProject")
                  </a>
              </li>
              <li>
                  <a href="@routes.OrganizationApp.newForm()">
                  @Messages("title.newOrganization")
                  </a>
              </li>
          </ul>
      </li>
      } else {
        <li class="gnb-usermenu-item">
          <a href="@routes.UserApp.loginForm()" class="user-item-btn" data-login="required">
          @Messages("title.login")
          </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="@routes.UserApp.signupForm()" class="ybtn ybtn-success">
                @Messages("title.signup")
            </a>
        </li>
      }
</ul>
